[2015-06-23 15:20] raymondfeng commented on #639
`options` cannot be in place of `filter`. To support that, you need to pass in findById(id, filter, options).

[2015-06-23 15:20] #639 closed

[2015-06-23 15:21] raymondfeng commented on #640
@rus0000 Good catch, can you submit a PR?

[2015-06-23 16:19] rus0000 commented on #640
https://github.com/strongloop/loopback-datasource-juggler/pull/642
We need some tests for transaction propagation.

[2015-06-24 06:56] vespertilian opened #644 "HABTM relationship {order: 'value ASC'} not working at all."
500 Server error with Postgres and wrong order with memory DB.

Sample app with tests here

https://github.com/vespertilian/loopback_filter_test

Connect db then NPM test.

I think this directly relates to the count issue I noted on the forums.
https://groups.google.com/forum/#!topic/loopbackjs/jqmtqaB8k-M

[2015-06-24 19:17] vasumahesh1 commented on #336
Hey @markleusink  This was working perfectly, until I had two embedsMany (One embedsMany within another embedsMany).... Once I got that It said theres a duplicate Index. :/ any thoughts on that?

[code]

Data that was sent...
[code]
so as long as "questionOptions" has one value it inserts by using the transient trick.... Once I put two values in that I get this error!

Bit of a noob here.... But I

[2015-06-24 19:29] f0ysal opened #646 "Filter where or condition is not working"
@bajtos @raymondfeng
The Where Filter or condition is not working as expected

[code]
Which is generating SQL like this

[code]

Or is converting into AND? or there is different syntax for SQL like
[code]

[2015-06-24 19:41] vasumahesh1 commented on #336
Infact its with any embedsMany: If the Inner array was 2 I get the above error. If the quizQuestions was of count two, I get:

[code]

[2015-06-24 20:34] raymondfeng commented on #646
`{a: 1, or: [{b:2}, {c:3}], and: [{d:4}, {e:5}]}` will be translated to:

`(a == 1) AND ( (b == 2) OR (c == 3) ) AND ( ( d == 4 AND e == 5 ) ) `

[2015-06-25 04:17] f0ysal commented on #646
@raymondfeng @bajtos

Thanks what if we want to achieve a SQL like this

[code]

**Is it possible to apply or in the parent clauses??**

[2015-06-25 04:27] raymondfeng commented on #646
{ where: { or: [ { firstname: 'a' }, { lastname: 'b' }]}}

[2015-06-25 04:53] f0ysal commented on #646
Thanks a lot. I am close now

[code]

But I am trying to make SQL like following. I want to put an extra ( ) after clientId = 1 AND ( ... ) like following

[code]

[2015-06-25 04:58] raymondfeng commented on #646
You can use `and` or `or` recursively.

[2015-06-25 05:04] f0ysal commented on #646
Sorry I couldn't pick your answer. I tried to put and inside or but throwing error.

[code]

How to put and extra parenthesis in the *

[2015-06-25 05:28] f0ysal commented on #646
Thanks for the help I fixed it by altering/recursive the and/or

[code]

[2015-06-25 05:28] #646 closed

[2015-06-26 15:44] bajtos commented on #441
Implemented by #599

[2015-06-26 15:44] #441 closed

[2015-06-29 15:21] robinskumar73 commented on #95
Also destroyAll not removing "hasMany" models

[2015-06-30 19:11] fabien opened #649 "Hook 'persist' not using context.data"
It appears that context.data is not always used when actually persisting the data through the connector, for example: https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L2394

I believe the best way would have been: `inst.constructor._forDB(context.data)` - in other places it will probably work, however, explicitly using `context.data` everywhere ensures that replacin

[2015-07-01 06:22] bajtos commented on #649
@PradnyaBaviskar could you please take a look? IIUC, @fabien says that `prototype.updateAttributes` is not using `ctx.data` provided by the "persist" hook, which looks like an unintended bug to me.

I think we should make one more change and set `ctx.data` initially to `typedData`, as that's closer to what is being persisted in the database. The difference will be visible for nested model instance

[2015-07-01 12:02] #623 closed

[2015-07-01 14:10] fabien commented on #649
Actually, I would find it much clearer if `ctx.data` would be used whenever `persist` is called, instead of relying on `data` still pointing to the same object as `ctx.data`. This might not always be the case.

[2015-07-01 15:23] sebastianhaas commented on #336
+1 for @vasumahesh1's issue described above

[2015-07-01 15:48] sebastianhaas commented on #336
To me it seems like id generation for multiple inserts at once is broken. If I insert just one embedded Model at a time, everything works like expected. As soon as try to add more than one objects at once- I get the same error message as @vasumahesh1.

I tried all possible combinations of the options stated above.

[2015-07-01 16:17] bajtos commented on #649
+1 Let's move this discussion to #650 please

[2015-07-01 20:14] mrfelton commented on #631
Looks like this made it into the latest release already. https://github.com/strongloop/loopback-datasource-juggler/commit/8302b2480ddc24c30b650df50424b53699b635c8

[2015-07-01 20:26] jorgeramos opened #651 "Object.keys called on non-object"
I'm using postgresql connector and have an Agency that belongsTo a Charter. Using the API explorer, When I invoke the GET for Agencies/{id} and use the {include:["charter"]} filter the application throws the error below. I dug a little deeper and found the **data** property at that point was actually a JSON string. I was able to circumvent the problem with a try and catch and setting data to JSON.

[2015-07-02 09:46] vasumahesh1 commented on #336
@sebastianhaas Yeah Same ... This is actually blocking my work at the moment :( ... To solve around this issue i ll need to make a custom remote head accepting these values and change the embedsMany to hasMany and manually add the values in each case using `add()` of hasMany ... That way I can do an Embedded Insert ...

[2015-07-02 13:28] EyMaddis opened #653 "Empty Location Object crash server"
It's pretty simple, we have a PUT request on an object which has a geolocation property. If I call it with an empty object as the property value, the server will crash!
It seems that there is a try-catch missing somewhere.

## Stacktrace:

[code]

[2015-07-02 17:10] #631 closed

[2015-07-03 03:52] XinV opened #654 "The release 2.31.0 is crashing the search by regex"

[2015-07-03 06:24] raymondfeng commented on #654
Should be fixed by 2.31.1 now.

[2015-07-03 06:24] #654 closed

[2015-07-03 08:49] #575 closed

[2015-07-03 13:16] PuKoren opened #655 "Count with date comparison returns 0"
Hello,

Until version ```2.30.1```, the following was working. As soon as I upgrade to ```2.31.0``` the ```/count``` built-in method returns always 0 when I use a date comparison:

[code]

My model has the following property:
[code]

[2015-07-03 16:30] raymondfeng commented on #655
should be fixed now by loopback-datasource-juggler@2.32.0

[2015-07-03 16:30] #655 closed

[2015-07-05 10:13] #622 closed

[2015-07-05 10:16] fabien opened #656 "Hook 'loaded' called in non-async loop of find"
If I gather correctly, the `find` method calls the `loaded` hook in a non-async `for` loop. I would have expected `async.each` or similar here:

https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L1385

/cc @raymondfeng @bajtos

[2015-07-05 10:28] fabien commented on #628
The following might work - `$` keys should pass-through as-is.
[code]

I think the query you had will be coerce the object to a boolean (= true).

[2015-07-07 11:11] bajtos commented on #656
Good catch, @fabien!

@PradnyaBaviskar could you PTAL?

[2015-07-08 11:20] jmenashe opened #657 "loopback.getCurrentContext() is null"
This may be related to #631. This method returns null intermittently for some remote methods. I am using loopback v2.13.0, loopback-datasource-juggler v2.32.0, and async 1.0.0. Here is an example:

[code]

[2015-07-08 11:24] jmenashe commented on #657
Since this seems to be a recurring issue with loopback, is there some workaround? If I can't have access to the request context then it means I can't use these remote method handlers at all.

[2015-07-08 15:57] raymondfeng commented on #657
See https://github.com/strongloop/loopback/issues/1495 <https://github.com/strongloop/loopback/issues/1495>

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get DevOps capabilities <http://strongloop.com/node-js-performance/strongop

[2015-07-09 08:39] PuKoren commented on #651
+1

[2015-07-09 13:32] aashuagg opened #658 "How to create datasource dynamically on application start"
This seems to be a trivial issue but I am stuck in this for 2 days and could not find much help from google as well.

I am trying to create datasource at app start instead of hardcoding the parameters in datasources.json. Here is how my server.js looks like:

var loopback = require('loopback');
		var boot = require('loopback-boot');
		var DataSource = require('loopback-datasource-juggler').DataSou

[2015-07-09 15:47] raymondfeng commented on #658
1. You can use server/datasources.local.js to export objects representing datasource configuration. See http://docs.strongloop.com/display/LB/datasources.json#datasources.json-Environment-specificconfiguration.

2. Try the following code:

[code]

[2015-07-09 16:07] fabien opened #659 "Proposal: inclusion for non-relations / method calls"
I'm thinking it would be interesting to be able to expose the result of an (async) prototype method call as part of the normal `include` specification. For example:

[code]

/cc @raymondfeng @bajtos thoughts? I think it can be done quite easily.

[2015-07-10 05:22] aashuagg commented on #658
I removed the DataSource constructor and thats how my server.js looks:

        var loopback = require('loopback');
	var boot = require('loopback-boot');
	var DataSource = require('loopback-datasource-juggler').DataSource;

	var app = module.exports = loopback();

	app.start = function() {
	  // start the web server
	  return app.listen(function() {
	    app.emit('started');
	    console.log('Web

[2015-07-10 23:36] ritch opened #662 "Issue when passing model instance to `create()`"
This fails:

[code]

[2015-07-11 18:13] behrad opened #663 "defining relations between connectors"
Is this supposed to work if we relate two models defined in different data sources/connectors?

for example a mongo model `User` can have a belongsTo relation with `Status` model defined in redis or couchbase connector. !?

[2015-07-11 18:42] raymondfeng commented on #663
Yes.

[2015-07-11 18:42] #663 closed

[2015-07-11 22:49] jorgeramos commented on #651
what's strange here is that I have no problems in my scenario if I call the remote GET /Agencies/{id}/charter

[2015-07-12 13:48] behrad commented on #663
It doesn't seem to be working for me.

I configured

[code]

in my `device.json` model which is defined on mongodb and ran `automigrate`.

and `userStatus` model is defined on redis as below:

[code]

but I have no helper `device.userStatus` in my model and nothing is added to my models.
documents didn't tell me more on how to use/take advantage of `belongsTo` relations.

[2015-07-20 08:36] FELS-Rohit commented on #336
@vasumahesh1  @sebastianhaas
Found a Solution for this Problem
in Answer.json File add Id Properties with following setting

   "id": {
      "type": "string",
      "id": true,
      "defaultFn": "uuid"
    }
Rest all setting Same as @markleusink described Above

[2015-07-20 15:09] FelipeAguayo opened #667 "Problem with ValidationAsync"
every time I do a validation with 'ValidationAsync' I get the following response:

[code]

[2015-07-20 16:35] fabien commented on #656
@PradnyaBaviskar could you have a look, please?

[2015-07-21 19:50] maelena87 commented on #88
+1

[2015-07-23 15:53] jamiis commented on #308
:+1:

[2015-07-24 16:40] dzdidi opened #669 "Model creation with mongoose."

[2015-07-24 17:04] #669 closed

[2015-07-27 17:06] gruzilla commented on #88
+1

[2015-07-27 17:18] spencerfdavis commented on #88
:+1:

[2015-07-28 15:49] raymondfeng opened #670 "Relax the id (primary key) requirement for certain operations, such as find or updateAll"
https://github.com/strongloop-internal/scrum-cs/issues/309

[2015-07-29 00:43] superkhau commented on #552
Bumping up to 3 points because its taking longer than the expected 2 points.

/cc @chandadharap

[2015-07-30 17:26] superkhau commented on #552
Bumping up to a 5 as it's taken 2 days now.

//cc @chandadharap

[2015-07-30 19:32] cooperjbrandon opened #672 "hasMany -> belongsTo relationship using includes with same foreign key as model"
The `includes` filter doesn't work when we have a hasMany relationship on one model with a belongsTo on another when the foreignKey is the same as the table name.

Example. `organization` model hasMany `project`s, and `project`s belongsTo an `organization`. The foreign key here is `organization`, which is the same name as the model. So here are the relations:

organization table:
[code]

project t

[2015-07-30 20:50] raymondfeng commented on #672
The foreignKey cannot be the same as the name of the relation because both are properties of your model instance. For example,

order.userId --> The foreign key value
order.user(...) --> The relation method

[2015-07-30 20:50] #672 closed

[2015-07-30 20:55] cooperjbrandon commented on #672
ahhhh I see now - was not clear before that this was on purpose. thanks raymond.

[2015-07-31 15:51] maelena87 commented on #166
+1 @superkhau Example: /api/spaces/client-a/users?filter[order]=username // result: unordered array
still not solved, right? still getting an unordered array.

[2015-07-31 21:35] hotaru355 opened #673 "Include hasMany of relation does not return empty array"
This PR fixes an issue for the following situation (bug report is a duplicated on loopback-connector-mysql, [issue 100](https://github.com/strongloop/loopback-connector-mysql/issues/100)):

Passport --hasMany--> Owner --hasMany--> Post

if we search for a Passport that does not have any Owners ...
[code]
... we will get the Passport with an empty array of Owners as expected.
[code]

**However**, t

[2015-08-01 22:11] esco opened #675 "validateLengthOf unexpected behavior for min: 0"
When `validateLengthOf` is used with a min of 0, a value of empty string `""` should pass validation `("".length===0)`. The check for validateLengthOf uses [validateLength](https://github.com/strongloop/loopback-datasource-juggler/blob/fa570a951410579bd7fd60c2ba97eb84b8961a84/lib/validations.js#L254) which relies on the [nullCheck](https://github.com/strongloop/loopback-datasource-juggler/blob/fa5

[2015-08-03 01:38] krazineurons opened #676 "Memory Connector fails to link two model instances when mapped with hasAndBelongsToMany"
I am following the instructions here
[HasAndBelongsToMany tutorial on loopback](http://docs.strongloop.com/display/public/LB/HasAndBelongsToMany+relations) and created two Models, Patients and Physicians. Also to note that am using the Memory Connector to try out examples.

The models are prepopulated with the following

[code]

However when launching the Explorer the put request
/Physicians/{id}/

[2015-08-03 15:39] #552 closed

[2015-08-04 04:12] FelipeAguayo opened #677 "Problem with simultaneous requests for embedded models"
when inserting two instances simultaneously, only one is entered. An example of this situation is shown in the following example:

Customer.json
[code]
Email-address.json
[code]

script.js
[code]

console:
[code]
any suggestions for this?

[2015-08-04 04:50] raymondfeng commented on #677
Does it use in-memory DB?

[2015-08-04 12:26] vlamic opened #678 "Default scope options override options provided with rest queries"
Hi,

First of all thank you guys for the amazing framework. I love it!

I'm not sure if it's an issue or I'm mis-using the libraries. What I want to achieve is a default pagination where a query would limit items by default (as my collection could be really large and I don't want someone accidentally trying to return 5 millions of documents). So, I have specified the scope on a model:

[code]

Whe

[2015-08-04 13:19] FelipeAguayo commented on #677
I did this in mongodb and memory db.

[2015-08-04 14:47] jury89 opened #680 "Override the default delete on juggler 2.30.1"
I need to override the default ```destroyAll``` and ```destroyById``` to implement the soft delete and i was watching the procedure described on http://docs.strongloop.com/display/public/LB/Customizing+models#Customizingmodels-Changetheimplementationofbuilt-inmethods

Now, if i well understand, with that procedure i am going to override the two methods after the persistent data source has been att

[2015-08-04 15:24] raymondfeng commented on #680
You could potentially use mixins for this purpose.

- Create a mixin in `common/mixins` as `customizeDelete.js`:
[code]

- In your model definitions, such as `common/models/note.json`, apply the mixin:
[code]

[2015-08-04 16:05] jury89 commented on #680
It works, i just have to define the mixin also in ```server/model-config.json```

[code]

[2015-08-04 16:14] raymondfeng commented on #680
If you use latest version of `slc loopback` to scaffold the app, the "mixins" is added to `server/model-config.json` by default.

[2015-08-04 16:14] #680 closed

[2015-08-04 19:51] raymondfeng commented on #680
Docs WIP: http://docs.strongloop.com/display/LB/Defining+mixins

[2015-08-04 23:08] raymondfeng commented on #677
Here is what's happening:

1. find user 1:  { name: 'Larry Smith', emailList: [], accountIds: [], id: 1 }
2. find user 1:  { name: 'Larry Smith', emailList: [], accountIds: [], id: 1 }
3. email1 created for user from 1
4. email2 created for user from 2 (It doesn't refresh from step 3).

Please note embedsMany relation will store embedded items as a whole. As a result, step 3 and step 4 will overri

[2015-08-04 23:08] #677 closed

[2015-08-05 02:12] FelipeAguayo commented on #677
@raymondfeng: excuse me ... but my doubt is ... then you're going to fix this bug soon ?. Or should I opt for another solution?

[2015-08-05 02:34] raymondfeng commented on #677
The scenario is very similar as you load the same record from DB twice, and add one array item to each of them and save to DB independently without merge. I don't think the framework can deal with the conflict. That's why I think it's an application error, not a loopback bug.

[2015-08-05 02:36] raymondfeng commented on #677
You need to make findById and create email atomic to avoid such race conditions.

[2015-08-05 02:58] FelipeAguayo commented on #677
ok, in that sense you are right (based in my example), but my real situation occurs with API requests. example:

two simultaneous requests:
[post] http://localhost:3000/api/Customers/55c17a197fe0b0c01b31d533/emails

sorry if my example does not clarify this situation. It was difficult to give a valid example for my problem.

[2015-08-05 03:09] FelipeAguayo commented on #677
in my opinion, this is because loopback replaces 'emails' in the parent model with all changes (get a version of the model, make changes and save.), when it should work with the array elements.

[2015-08-05 05:27] fabien commented on #677
@FelipeAguayo this is true, it's a limitation of the way it is currently implemented. Ideally this code should reside in a connector, so it can decide how to handle it more appropriately (think $push, $pull etc. in MongoDB for example). Right now, `emails` is treated no different from any other properties of your model, so the same caveats apply regarding concurrent/non-atomic writes.

[2015-08-05 08:45] jury89 commented on #680
It requires a login which i'm not registered. Is there any public link?

[2015-08-05 10:50] fabien opened #681 "RegExp objects in query should not be coerced to string"
See: https://github.com/strongloop/loopback-datasource-juggler/commit/b8f15987238bda922d3607203f2fdcdead4f250a#commitcomment-12537479

[2015-08-05 15:53] raymondfeng commented on #681
I'm fine to treat it as a shortcut to the newly introduced `regexp`, for example:

`{name: /John.*/i}`should be normalized as `{name: {regexp: /John.*/i}}`

[2015-08-05 15:57] raymondfeng commented on #677
I agree with @fabien. Behind the REST API, LoopBack looks up the customer instance by id, add an email to the array, and save it back to DB (replacing instead of adding the array item).

We need to explore array operators in the future but unfortunately I don't see simple solutions if the DB is relational.

[2015-08-05 17:05] bajtos commented on #656
This should have been fixed by #668.

[2015-08-05 17:05] #656 closed

[2015-08-05 18:11] thefinnomenon opened #682 "ID Assumption in geo.js"
Assumes you are using id as your id column. For me, I have userID as the id column name so obj.id is undefined. Not sure if there is a way to determine what the id column is actually named in the model & use that.

[2015-08-06 00:12] pulkitsinghal commented on #88
@ritch and @raymondfeng - it sounds like it has been almost ready for a long time, where does it stand in the pipeline? https://waffle.io/strongloop/loopback

[2015-08-06 01:28] BerkeleyTrue commented on #128
@raymondfeng This should definitely be remove from docs.

[2015-08-06 16:48] crandmck commented on #128
I "commented out" that section from http://docs.strongloop.com/display/LB/Model+definition+JSON+file, so it won't be visible to general viewers. Sorry it caused problems.  Please mention or comment on https://github.com/strongloop/loopback/issues/523 when this issue is fixed so I add the docs back once it actually works.

[2015-08-06 17:02] ryedin commented on #657
so, something recently changed which broke `.getCurrentContext` in all remote methods? which is why our code that relies on this in all of our `before save` hooks now no longer works?

And you don't intend to fix the `.getCurrentContext` bug, but instead are recommending that we implement this code in https://github.com/strongloop/loopback/issues/1495?

I just want to be clear here. Is that what y

[2015-08-06 17:30] ritch commented on #657
strongloop/loopback#1495 is my proposal for a work around. The downside is that you must manually pass the `options.remoteCtx` to wherever it is needed.

This is certainly concerning. We should fix this. We intend to fix any bug that prevents you to use any aspect of LoopBack. But practically speaking, the `getCurrentContext()` method relies on an extremely obscure and complicated context propagat

[2015-08-06 17:33] ryedin commented on #657
OK, thank you for the detailed response. I will commence adding the context injection and ripping out our reliance on `getCurrentContext()`.

[2015-08-07 19:20] sachinhub opened #684 "Failure in custom validation function results in TypeError: Object false has no method 'add'"
Using custom validation function in model.js file as below

[code]

Is the validation fails, errCb() is called which result in following error on console -

[code]

This is probably happening because in validation.js, the error structure is cleaned as follows -

[code]

Instead of value:fase, shouldn't it be value : new Errors () ?

[2015-08-07 23:50] superkhau commented on #670
As discussed with @raymondfeng, the first task is to come up with a list of areas that need relaxing:

**Memory connector**
- https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/connectors/memory.js#L324

[2015-08-09 01:42] uooq commented on #263
I know that this was asked a long time ago but I found this thread then spent an hour or so figuring out the problem so maybe someone else will benefit:

If your loopback app was generated similarly to mine, then the disableStackTrace setting only applies to things that have made it as far as the strong-remoting rest handler and the handler unknown URLs is wired up in middleware.json via a config

[2015-08-10 21:10] crandmck opened #685 "Document using regular expressions"
Need to update docs for using regex in queries.  See #552 and https://github.com/strongloop/loopback-connector/pull/26.

Presumably we need to add regex syntax to http://docs.strongloop.com/display/LB/Where+filter.
It would also be great to add some examples to one or more of the example apps.

@superkhau IIRC from your preso, the general syntax is:
[code]
Where `expression` is the regular express

[2015-08-11 01:23] superkhau commented on #685
Yes.

Definitely a good one to bring up during sprint planning. It's possible and I assume a few points, maybe 3.

That is correct.

This part I haven't tried out, but it should be the same as any where filter query. For example, using this filter in explorer:

[code]

gives

[code]

Also, is there any change in the use of the like and nlinke operators? I'm guessing these are unaffected, but I wan

[2015-08-11 21:28] doublemarked opened #688 "hasManyThrough relations have a malfunctioning modelInstance.relation.findOne method"
We have created a HasManyThrough relationship between two models. Consider, for example, models `ModelA`, `ModelB`, and a through model of `ModelConnector`. This creates a number of convenience methods on the models,

[code]

The last method does not work. Instead of returning a `ModelB` instance it returns a `ModelConnector` instance.

Please see the following gist which contains a test snapshot,

[2015-08-12 00:19] raymondfeng commented on #670
This is fine as we check idNames.length

Is this link out of date?

This is fine as it checks idNames.length

This is fine as it checks idNames.length

This is fine as it checks idNames.length

This is fine as it checks idNames.length

This is fine as it checks idNames.length

[2015-08-12 20:07] jrschumacher opened #690 "referenceMany undefined function error"
When using a relation like

[code]

The following error will show

[code]

However removing the defined foreign key fixes it.

[code]

[2015-08-12 20:08] jrschumacher commented on #690
cc @kozzztya

[2015-08-13 03:26] pulkitsinghal opened #692 "ID is not cast properly for count method"
For an api call that comes in from remote connector as:
[code]

The connector logs fail to cast the ID from `'blah'` to `ObjectId('blah')`:
[code]

I'm using the following versions of loopback and its components:
[code]

cc @raymondfeng and @ritch - please let me know if this issue belongs elsewhere

[2015-08-13 04:01] raymondfeng commented on #692
count() takes where instead of the full filter object. The argument you have should not have the nested where property.

[2015-08-13 04:01] #692 closed

[2015-08-13 09:50] beeman opened #693 "Filtering fields on second-level related models causes missing data"
When we use `scope { fields: {} }` to filter out the fields we want to use, this only works on certain levels in the structure.

In the example below we see that it works on the first level filter.

It also works as expected on the deepest-level relationships (person/membership/invoice).

It's does not work as expected on the `subscription` relation, when the following filter is added to the `subs

[2015-08-13 12:36] pulkitsinghal commented on #692
@raymondfeng - thank you, ofcourse you are right.

[2015-08-13 21:30] crandmck commented on #685
Added https://docs.strongloop.com/display/LB/Where+filter#Wherefilter-Regularexpressions

[2015-08-13 21:42] superkhau commented on #685
@crandmck Heads up, I'm adding a feature that lets you query regex like this:

[code]

Notice the world 'regexp' is gone as if you use a RegExp literal/object directly, the code will automatically add in the 'regexp' keyword to your query. See https://github.com/strongloop/loopback-datasource-juggler/issues/681

[2015-08-13 21:42] superkhau commented on #685
@crandmck Also, why did you assign to me? Is there something you need me to do? Maybe create a new issue that is not this doc issue?

[2015-08-13 21:58] superkhau commented on #693
Can you provide a link to a test project on Github? See https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-08-13 23:03] crandmck commented on #685
It's in Review state.  Please review the doc referenced above for accuracy and completeness.    That is S.O.P for doc issues.  Normally, if you don't have any comments you could just close the issue; but you can assign back to me to add the work from #681.  Then I can close it (unless you _want_ to review it again).

[2015-08-13 23:25] superkhau commented on #685
TY for the SOP, understood. ;) I will ping you when I merge #681 and you could update it again. Please assign it to me then and I will review it all at once.

[2015-08-14 08:09] mrfelton commented on #610
Also hitting upon this issue. applying a limit to a relationship scope limits the overall number of related items returned instead of the number of related items per parent item.

[2015-08-14 16:49] superkhau commented on #610
Can someone here provide a link to a test project on Github? See https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-08-14 22:15] superkhau commented on #685
@crandmck The feature has been merged. We can now do `{where: {name: /John/i}}`. Please update the docs accordingly and reassign to me when ready for review.

[2015-08-14 22:22] crandmck commented on #685
OK @superkhau a couple questions:
- This new syntax is _in addition_ to that previously implemented (using the `regexp` "operator").
- Using the new syntax, the regular expression is NOT quoted.
- Can you use the new syntax in a REST query? If so, how, e.g. give me simple example here pls.

[2015-08-14 22:40] superkhau commented on #685
Yes, in addition so the other `regexp` syntax is still there. New syntax must NOT be quoted or the code can't differentiate between a RegExp object or a string. So valid args would be `/John/i` or `new RegExp(/John/i), both of which are valid JS regex objects. This syntax does not support rest (this is the whole reason for having the `regexp` syntax as secondary. So we should let the user know tha

[2015-08-14 23:41] crandmck commented on #685
OK @superkhau  I updated https://docs.strongloop.com/display/LB/Where+filter#Wherefilter-Regularexpressions with the new syntax.  PTAL at your convenience.  You can then either close or reassign back to me with comments (if they're straightforward, I'll fix & close; if not, will request a final review).

[2015-08-15 00:13] superkhau commented on #685
The first form accepts regular expression strings, literals and objects (ie. '^John', /John/, new RegExp(/John/)).

The second form doesn't not accept regular expression strings, only literals and objets (ie. /John/, new RegExp(/John/).

---

The rest LGTM.

[2015-08-15 00:20] #681 closed

[2015-08-17 11:58] beeman commented on #693
Thanks for your reply @superkhau.

I have created a test project here: https://github.com/beeman/loopback-sandbox/tree/datasource-juggler-issue-693

Steps to reproduce:

- clone project
- npm install
- node server/server.js

The project starts and creates some sample data.

To display the issue I have created 2 remote methods on a Test model: [`showFilterWorking`](http://localhost:3000/api/Tests/s

[2015-08-17 13:54] mazesoul opened #695 "embedsMany relations dont work with mongo ObjectID"
The embedsMany relation doesn't take into account mongo style ids.

Here are some instances where the code uses `indexOf`and breaks with mongo object based ids:

https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L2273
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L2874
https://github.com/strongloop/lo

[2015-08-17 15:58] raymondfeng commented on #695
Just to make sure: in your case, does the array contain the `equal` but not `same` ObjectID?

[2015-08-17 16:18] mazesoul commented on #695
Exactly. The comparison occurs by identity in indexOf (`===`), and doesn't work with two ObjectID that contain the same string:

[code]

[2015-08-17 16:57] raymondfeng commented on #695
We already have a utility to deal with id comparison - https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L2280. It should be refactored into utils.js and use it for both places.

[2015-08-17 17:27] mazesoul commented on #695
I did saw it but the full-blown refactoring seemed a bit above my head.

[2015-08-17 18:27] crandmck commented on #685
Thanks for the clarification.  I made the corresponding changes to the doc.

[2015-08-17 18:27] #685 closed

[2015-08-18 00:11] superkhau commented on #685
@crandmck I looked a the docs again, the short syntax DOES NOT allow regex strings

[code]

If you pass in `{where: {property: '^john'}}` it will fail, because we can't distinguish this from a regular string.

[2015-08-18 16:35] crandmck commented on #685
Oops.  I understood that from your comment, but forgot to delete that line when I reformatted the section.  Thanks for double-checking.  I fixed it (for real).

[2015-08-18 23:34] crandmck commented on #335
This has largely been addressed, except for issues related to strong-docs.  I'm going to close this in favor of opening more specific issues around API docs.

[2015-08-18 23:34] #335 closed

[2015-08-19 13:18] sebastianhaas commented on #336
Wow, thanks a lot @FELS-Rohit. Works for me.

[2015-08-19 15:00] sachinik19 commented on #678
I'm facing the same issue. I feel the default scope doesn't get override. It's kind of a hard limit which will always supershade the values provided by user.

Is there any way to override it from a Model.js remote function.

[2015-08-19 15:21] sachinik19 commented on #678
Ok. I've found out a solution to do it using a operation hook. Hope it will be of your help

        MyModel.observe('access', function setMaxLimit(ctx, next) {
            var limit = 24;
            var filter = ctx.query;
            if(!filter) { ctx.query = filter = {}; }
            if(!filter.limit || filter.limit > limit) filter.limit = limit;
            next();
        });

    }

[2015-08-19 15:57] MyNameIsURL commented on #263
In the server/config.json file, under the remoting property I changed the property for disableStackTrace from false to true and it removed the stackTrace for me on errors.
[code]

[2015-08-19 15:59] GlennMurphy opened #698 "Huge slowdown introduced in release 2.36.0 when using include filter"
Attempting to get ~1000 items with an include filter including ~10 items per item. On version 3.35.3 this request takes around 1 second.

Once updated to 3.36.0 this request hangs for over 1 minute with node maintaining >98% CPU usage throughout.

It seems the more includes the slower this request takes in the newer versions. Without includes, just returning the ~1000 documents is almost instant.

[2015-08-19 17:05] crandmck opened #700 "Document that REST endpoints are hidden if they require an ID but model definition doesn't have one"
From https://github.com/strongloop/loopback-datasource-juggler/pull/689:

See #705.

[2015-08-23 15:50] wertlex opened #701 "hasMany performance"
Hi guys

We are building app with StrongLoop/Loopback and issue perfrormance problems with hasMany relations. We use Mongo, but this shouldn't really affect because all activity performed in juggler.

For ex:
There are User which hasMany Permissions. If you will do call to GET /users everything will be fine. But once you call GET /users?filter={"include": "permissions"} it will just stuck.

Diving

[2015-08-23 22:19] krazineurons commented on #676
@fabien @raymondfeng can you please take a look at it?

[2015-08-24 13:46] florianheinze opened #702 "Validation not triggered in update/updateAll in dao.js?"
When a model is updated via the update/upadateAll method of the DataAccessObject, the validation is not triggered, at least in my case. If create() is called, the validation is fired.

I guess this is not by design?

I checked the code in dao.js. In all the other methods (create(), updateOrCraete(), findOrCreate(), save(), updateAttributes()) the inst.isValid() is called, but not in the update()/u

[2015-08-24 15:14] wertlex commented on #698
Same for me.

[2015-08-24 17:05] GlennMurphy commented on #698
The solution for me was to downgrade to 3.35.3. Which I think is necessary until the problem is solved.

[2015-08-25 08:17] wertlex commented on #698
@GlennMurphy I digged code a bit - and found few intresting things:
1) looks like join processing is always done on app's side. It is okay for mongo, but looks very strange for SQL.
2) Join done in very strange manner - it includes objects one-by-one and call processTargetObj on each call. This is not very efficent.
3) processTargetObj (function which includes one objects to another) takes about 2

[2015-08-25 13:32] wertlex commented on #698
@GlennMurphy this is how I solved problem in my app:
https://github.com/strongloop/loopback-datasource-juggler/pull/704

[2015-08-25 15:12] raymondfeng commented on #698
@wertlex I'll look into your PR. Thanks!

[2015-08-25 16:23] #701 closed

[2015-08-25 16:34] superkhau commented on #701
@wertlex Did you lose interest in this issue? I just want to make sure you're getting the answer you need, but we usually don't answer questions on GitHub. Please post questions to https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Reporting-issues#question for more details.

[2015-08-25 17:09] superkhau opened #705 "Hide id-dependent REST endpoints"
Connect to #670

[2015-08-25 17:09] superkhau commented on #705
- [ ] Write failing functional tests for the above endpoints
- [ ] Make functional tests pass
  - [ ] Find  out where and when the endpoints are registered (ie. `strong-remoting`)
  - [ ] Modify the code to check for `id`s in the model definition before registering the above endpoints
- [ ] Notify @crandmck for doc updates

[2015-08-25 17:12] wertlex commented on #701
@superkhau I believe this behavior can be a part of https://github.com/strongloop/loopback-datasource-juggler/issues/698

I'm not very confident in what exactly going on there as I'm Loopback newcommer, but those things I saw was a bit strange.

[2015-08-25 17:13] superkhau commented on #705
- [ ] Write failing functional tests for the above endpoints
- [ ] Make functional tests pass
  - [ ] Find  out where and when the endpoints are registered (ie. `strong-remoting`)
  - [ ] Modify the code to check for `id`s in the model definition before registering the above endpoints
- [ ] Notify @crandmck for doc updates

[2015-08-25 17:16] superkhau commented on #701
I see. Yeah, this issue is probably a duplicate then. Thanks for the update. If you need more help, let me know. ;)

[2015-08-25 20:19] zanemcca commented on #610
@superkhau I modified include.test.js to test for for this scenario.
https://github.com/zanemcca/loopback-datasource-juggler

[2015-08-25 20:47] zanemcca commented on #610
I think this [commit](https://github.com/strongloop/loopback-datasource-juggler/commit/d009557a76cc8fe39314c2c1f1b4cdfe2520b4e2) caused the bug.

I like the idea of doing only two DB requests to get the limited included relations and their parents but I'm not aware of a way of doing that without loading all included relations and then limiting from the application code which would defeat the purpo

[2015-08-26 05:46] #670 closed

[2015-08-26 20:41] superkhau opened #706 "Fix primary key checks"
- [x] Update `hasIdDefined` to check is `ids()` empty and `idNames()` empty
- [x] Fix functions that operate on single instances (all `.prototype` functions should not work without a PK defined)

[2015-08-26 23:20] superkhau commented on #706
prototype methods:

- [ ] save
- [ ] destroy/remove/delete
- [ ] updateAttribute(s)

[2015-08-27 07:25] ekussberg opened #708 "Update array element by index in MongoDB"
Hello,
we need functionality to update an element in the array by index, but somehow loopback filters it out and it doesn't happen. In Model.json we have "lineItems" - as array defined. I tried this syntax in Mongodb and it works:

[code]

But in loopback it says object updated, but nothing changed in the object?
In mongodb there is no query when i use the same code in explorer:

[code]

[2015-08-27 14:39] ciokan commented on #111
+1 This is a critical error. I don't even get to catch the error because the server crashes before my code execution just by using a /POST with wrong data.

[2015-08-27 21:58] #706 closed

[2015-08-28 05:58] #695 closed

[2015-08-28 06:02] mazesoul commented on #690
Hi @jrschumacher: I believe the reason you this failure is because you are trying to use the same value for the relation name and the FK property name. Also, a referencesMany relationship doesn't support the foreignKey declaration: https://docs.strongloop.com/display/public/LB/Embedded+models+and+relations#Embeddedmodelsandrelations-ReferencesMany

[2015-09-02 12:10] acao commented on #124
Stumbled across this. If you are looking for this capability, see this:

https://apidocs.strongloop.com/loopback/#persistedmodel-updateall

[2015-09-02 14:38] beeman opened #712 "Make UUID v4 available as an option for defaultFn"
We would like to use the less predictable V4 version of UUID to generate the ID's of our models.

It looks like it's just a matter of adding a new case to [this](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model.js#L275) switch statement, the library that supports UUID v4 is already in place.

I'll add a patch shortly to add this.

Any concerns or reasons not to do th

[2015-09-02 18:47] beeman commented on #712
Already landed in master, closing the issue.

[2015-09-02 18:47] #712 closed

[2015-09-03 11:26] dopeddude opened #714 "App crashes with the error `Error: could not create List from JSON string: "{FR,SA}"`"
The `weekend` property on my model is defined as an array of strings in model.json and on pg db both. The code snippet from model.json is as bellow

[code]

Running query `SELECT weekend as w, weekend[1] as w1, weekend[2] as w2 FROM some_schema.some_table;`  natively on pgsql gives result like `{FR,SA}` for `w` and `FR` for `w1` and `SA` for `w2`, which proves that the data as stored in the table

[2015-09-04 06:05] bteres commented on #673
Any update on this issue?

[2015-09-04 09:14] nennad opened #716 "FK dataLength ignored"
If the PK has a definition like
[code]

dataLength is ignored when the PK is used as a foreignKey in other models

Possible fix https://github.com/strongloop/loopback-datasource-juggler/pull/715

[2015-09-04 09:14] nennad commented on #716
https://github.com/strongloop/loopback-datasource-juggler/pull/715

[2015-09-04 21:50] hotaru355 commented on #673
The issue has been fixed (https://github.com/strongloop/loopback-datasource-juggler/pull/674) and should be closed. @bteres: Do still have problems with the latest release?

[2015-09-04 22:22] superkhau commented on #673
Closing. @bteres Ping if you're still having problems with in the latest release.

[2015-09-04 22:22] #673 closed

[2015-09-07 00:12] zanemcca commented on #610
Hey @superkhau have you had a chance to look at this yet?
What do you think think of my suggestion in my last post?

[2015-09-08 22:11] superkhau commented on #610
I haven't had a chance to look into this yet, will try to get to it this sprint. I'm not sure about the suggestion, but @raymondfeng can give you some feedback here.

@raymondfeng Please advise on the suggestion by @zanemcca ^

[2015-09-08 22:24] raymondfeng commented on #610
If the included models have pagination clause, we cannot use the `inq` operator to find all child instances in one query.

[2015-09-10 09:28] hiddestokvis opened #717 "Invalid date: [object object] on include"
Using the mongodb connector I get an "Invalid date: [object object]" error when I include a model that has a datefield but does not exits.

For example: I have a "Question" model and an "Answer" model. The "Answer" model has a datefield. When I look for Question.find({include:"answer"}) and there is an unanswered question I get this error.

The problem seems to be in the DateType function which ge

[2015-09-11 17:22] superkhau commented on #717
Would you like to submit a patch?

[2015-09-11 22:01] paivaric commented on #84
+1

[2015-09-16 11:54] bajtos commented on #482
FYI: #441 "loaded" a.k.a "after access" hook and  #559 "persist" a.k.a. "afterValidate" hook were implemented quite some time ago.

[2015-09-16 16:45] esco opened #719 "Promises are broken"
My Loopback app is broken after a deploy that updated node_modules. Based on the error it seems like the issue is with `loopback-datasource-juggler`.

Relevant dependencies
[code]

To replicate:

[code]

Visit http://127.0.0.1:3000/explorer/#!/People/test press the "Try it out!" button. You will get the following error:

[code]

Remote method being called:
[code]

Person is a PersistedModel
[code]

[2015-09-16 16:53] raymondfeng commented on #719
Do you have globals.Promise set?

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc. (An IBM Company)

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get DevOps capabilities <http://strongloop.com/node-js-performance/strongops/> like monitoring, debugging and clustering.

[2015-09-16 16:55] esco commented on #719
Good catch, we have it in the app but not in the demo, I'll update to see if its reproducible in the demo. If not then it could be on our side.

[2015-09-16 16:57] esco commented on #719
We're on node 0.12.7 which has Promises natively so theoretically the demo does have Promise in the global namespace, but we're using `bluebird` in our app so I'm going to update the demo to include `bluebird`.

[2015-09-16 17:06] esco commented on #719
@raymondfeng I updated the test repo with bluebird set to `global.Promise`. I still get the same error. Thanks for looking into this.

[2015-09-16 17:13] doublemarked commented on #719
Just to mirror what was said in Gitter about this - I was not able to reproduce the problems here, despite similarities in environment (OSX, Node 0.12.7, strongloop v5.0.0).

[2015-09-16 17:26] doublemarked commented on #719
I figured out how to reproduce it, actually. When I run it as I normally run node apps on my workstation, `node .`, there are no problems. When I run it under the pm according to your instructions, `slc run`, I receive the same error you're reporting. Hm!

[2015-09-16 17:47] senorcris commented on #719
@doublemarked I got similar results by running the app with `node` instead of `slc run`.

[2015-09-16 18:43] esco commented on #719
Awesome, removing slc fixed the issue. I made another issue in the strongloop repo to track the bug. Thanks!

[2015-09-16 18:43] #719 closed

[2015-09-17 02:27] felipetoffolo1 commented on #84
+1

[2015-09-17 09:29] csvan commented on #607
+1, this should absolutely be a feature. I can hardly think of any real-world use case where string uniqueness does not imply case-insensitive uniqueness.

[2015-09-18 21:33] cndreiter commented on #88
+1

[2015-09-21 10:49] csvan commented on #121
+1

[2015-09-22 03:35] superkhau commented on #607
Would any of you guys like to submit a PR?

[2015-09-22 07:26] csvan commented on #607
We currently use internal code to work around this. I will see if I can
extract it and make a useful PR from it when time permits.

On Tue, 22 Sep 2015 05:35 Simon Ho <notifications@github.com> wrote:

--
Best,

Christopher Svanefalk

Web: http://www.csvanefalk.com
GitHub: https://github.com/csvan
LinkedIn: https://www.linkedin.com/in/csvanefalk
Cell: +46762628251
Skype: csvanefalk

[2015-09-22 20:49] CjS77 commented on #88
I've written a mixin that pretty much covers the use cases described here. In particular, in MyModel.js if you write

    ...
    "mixins": {
        "Cascade": {
            "order": {      // order is a hasMany relationship
                "unlink": false
            },
            "products": {  // products is a hasAndBelongsToMany relationship
                "unlink": true
            }

[2015-09-23 12:50] mdartic opened #720 "Filtering relations of a model with an order doesn't seem to work"
Let's have a collection 'state' which references many 'country'.

If I want to order countries by name, for one state, I will make a request like this :

    api/states/:id/countries?filter[order]=name

But, I'm going to have a list ordered by country's id, not by name.

I've searched a little in the code, and, when I do this request, I go through :

    ReferencesMany.prototype.related

https://g

[2015-09-23 22:38] superkhau commented on #720
@raymondfeng Any suggestion here?

[2015-09-26 22:40] esco opened #722 "Bug in mergeQuery util"
I found some use for something like the [`mergeQuery`](https://github.com/strongloop/loopback-datasource-juggler/blob/934786200b0180ed3d3cf45f78986b2019511e79/lib/utils.js#L161) util [loopback-datasource-juggler/lib/utils.js#L161](https://github.com/strongloop/loopback-datasource-juggler/blob/934786200b0180ed3d3cf45f78986b2019511e79/lib/utils.js#L161) in my app and noticed a bug. It seems like the

[2015-09-28 07:54] xixilive opened #723 "What's the best way to format/customize the remote response?"
My question is How to expose a model property which defined by `Object.defineProperty` to remote response.

I've posted at http://stackoverflow.com/questions/32815232/whats-the-best-way-to-format-customize-the-remote-response

Thanks

[2015-09-28 16:03] superkhau commented on #723
Duplicate. Answered on SO.

[2015-09-28 16:03] #723 closed

[2015-09-28 16:18] superkhau commented on #722
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-09-30 08:31] fuioreaa commented on #84
+1

[2015-09-30 17:23] jgpacheco opened #726 "Fetching relating model crash app since version 2.39.0"
I recently update my project dependencies, 'loopback-datasource-juggler' between them, and now my app crash when i try to fetch a related model through an 'owner model'.

Let me explain better the situation. I have a model A that is related with model B ( 'referencesMany' relation type, i am using mongoDB as my backend database ), and when i try to do something like this using the REST API: modelA

[2015-09-30 17:26] raymondfeng commented on #726
Can you provide an isolated test project on github?

[2015-10-01 04:48] vanraizen opened #727 "Encountered several problems trying to work with Embedded Models (sample repo provided)"
There are a few issues that I would like to bring to attention here:

Note: I am referencing https://docs.strongloop.com/display/public/LB/Embedded+models+and+relations

1) Code does not adhere to Embedded objects defined with "forceId": false and ids are created anyways.
2) From the link above, for EmbedsOne the "Helper methods" section defines methods that do not exist: customer.address.create()

[2015-10-02 09:25] fifafu opened #728 "Can not recreate super simpl SQL Query."
Hi,

I have a very simple use case and can't seem to get it to work with Loopback.

Setup:
HasAndBelongsToMany relationship between models "Post" and "Tags". Now I need to get all posts that have specific tags.

In SQL I'd just do  `SELECT Post.* FROM Posts,posts_tags  WHERE Post.id = posts_tags.postId AND posts_tags.tagId IN (2,3)`

Is this really not doable with Loopback?

[2015-10-03 20:36] jgpacheco commented on #726
I will do that in the next days, thanks for the quick answer.

[2015-10-04 19:26] mdartic commented on #720
@raymondfeng @superkhau Do you want me I make a PR ?

[2015-10-05 21:57] superkhau commented on #720
@mdartic Yes please.

[2015-10-05 22:10] superkhau commented on #728
https://docs.strongloop.com/display/public/LB/HasAndBelongsToMany+relations

For future reference, please ask questions on one of our official channels. See https://github.com/strongloop/loopback/wiki/Questions. Closing.

[2015-10-05 22:45] fifafu commented on #728
Well, I think this is a feature request as there is no method I can see in the documentation that would allow me to do what I want (which is in my opinion a pretty basic problem).

If there is a undocumented possibility to filter on related properties this should count as a enhancement request for the documentation.

The only solution I currently see is to query the tag model, use an include filte

[2015-10-06 05:35] superkhau commented on #728
@crandmck Can you verify if we have docs for this?

@fifafu I'm reopening and marking duplicate and major for now as I've seen a few other people report issues with filtering related properties.

[2015-10-06 12:35] cleas opened #729 "Missing callback call in dao.js =>DataAccessObject.find => allCb"
See function allCb of DataAccessObject.find
if you have a query.collect, obj can be null in case related object does not exist. this results in async.each is not ending as the callback is not called for obj's that are null.
It should be
[code]
In practice you will encounter this by requesting a hasAndBelongsToMany relation and the manytomany link table contains entries linking to non existing item

[2015-10-06 16:04] ningsuhen commented on #610
Apart from this, there are few cases where the old way is required. What about we add an option to choose the old method when required? say a flag "optimizeQueries" (or singleQuery or any suggestions) which defaults to true.
[code]

[2015-10-06 16:26] zanemcca commented on #610
I think `optimizeQueries` or `singleQuery` do not accurately reflect that the results will be different.

[2015-10-06 16:28] zanemcca commented on #610
Maybe `consolidateQueries` ?

[2015-10-06 18:03] crandmck commented on #728
AFAIK, we don't support filtering on related properties.  @raymondfeng can comment on the work involved to add this and if there is an existing issue.

[2015-10-06 18:29] raymondfeng commented on #729
Good catch. Can you submit a patch?

[2015-10-06 18:35] raymondfeng commented on #610
@ningsuhen We can introspect the filter object to see if limit/offset/skip is required and decide which function to call. I don't see the need to introduce a new flag.

[2015-10-06 19:39] fifafu commented on #728
@superkhau, thanks a lot for reopening! I think almost every app has the need for such filtering, or am I mistaken? I think relations like Posts <=> Tags are very common in real world applications.

[2015-10-06 19:43] ningsuhen commented on #610
@raymondfeng , I'm just concerned that when a developer sets the limit/offset/skip, it can unintentionally change the performance drastically. With the flag, the developer will be aware of the performance considerations and can only opt for it when it suits (even I think that flag is not a neat solution though).

Additionally, there can also be a case where we might want the current implementation

[2015-10-06 21:34] FelipeAguayo opened #730 "filter with related model's properties"
I have the following situation:

Model:
[code]
values Model:
[code]
OtherModel:
[code]
values OtherModel:
[code]

I want to get the values of "Model 1" that belong to "OtherModel" with state "created".

Example:
* [ GET ] http://localhost:3000/api/Models?filter={"where":{"relOtherModel.state":"created"}}
* Model.find({where:{"relOtherModel.state":"created"}}, function(err, models){});
* Other Solu

[2015-10-06 22:17] nosensezzz commented on #377
Can you update this post after implemented the auto increment?

[2015-10-07 09:59] rjrahul commented on #690
This issue is occurring even when there is no foreignKey property and "property" property is different from relation name.

Error is coming when we are trying to fetch the data using linked API for example GET http://localhost/api/listing/<id>/tags

where i have a relation
listing
   relations
      tags
          type: referencesMany
          model: tags

[2015-10-07 14:57] cleas commented on #729
yes, will take some time, (have to learn the patch process)

[2015-10-07 17:19] FelipeAguayo opened #731 "Unload a element on Operation hook loaded"
I wish I could unload an item in 'loaded' hook, example:

result from datasource: [{id:1, name: 'example'}, {id:2, name: 'example2'}]

[code]

result for request: [{id:1, name: 'example'}]

is possible?

[2015-10-08 10:00] jlvdh commented on #730
Seems related to: https://github.com/strongloop/loopback/issues/517

[2015-10-09 05:27] windyinwind opened #733 "Bug when using fields filter in multiple include"
The bug description is in the [post](https://github.com/strongloop/loopback/issues/1705).

The forked bug repository for reproducing issue is [here](https://github.com/windyinwind/loopback-sandbox).

STR:
1.  create and connect to mysql db according to the definition in datasources.json
2.  create 3 tables(contacts, opportunities, opportunities_contacts ) in mysql according to the 3 model definiti

[2015-10-11 16:37] jgpacheco commented on #726
Looks like this was resolved in version 2.41.0:
    *findByIds would fail when an array of 0 length was passed as its first argument (James Cooke)*

Here is my isolated test project for reference: [Test project] (https://github.com/jgpacheco/loopback-test)

[2015-10-12 14:40] cleas opened #734 "missing check on fkId in relation-definition.js => HasMany.prototype.findById"
The function  HasMany.prototype.findById should check on fkId

[code]

HasMany.prototype.findById makes use of findOne, this function will return first item if fkId is not defined.
I would expect an Error callback if function is called with undefined or empty fkId

[2015-10-12 14:57] listepo opened #735 "[AssertionError] The ids argument must be an array"
Model:
[code]

[code]

Problem in ``` ReferencesMany.prototype.related``` (relation-definition.js)

[code]

[code]

[code]

[code]

[2015-10-12 22:06] listepo commented on #735
Fix this bug:
[code]

[2015-10-13 00:04] raymondfeng commented on #735
Patch pls?

[2015-10-13 06:13] listepo commented on #735
@raymondfeng yes, I will create a PR and test

[2015-10-13 07:45] windyinwind commented on #733
sorry, I noticed I did not use the newest version of "loopback-connector-mysql", after I upated to newest version. it works.  will close this issue

[2015-10-13 09:50] listepo commented on #735
@raymondfeng I found a few places with this problem for ```ReferencesMany```. I think the problem in this codeЖ https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model-builder.js#L477

[2015-10-13 14:55] listepo commented on #735
@raymondfeng, tests have not worked through this code https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/relations.test.js#L4801

[2015-10-13 15:00] listepo commented on #566
+1

[2015-10-13 23:23] #733 closed

[2015-10-13 23:36] superkhau commented on #734
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-14 06:33] superkhau commented on #730
@FelipeAguayo Can you verify if your issue is related to strongloop/loopback#517?

[2015-10-14 06:38] superkhau commented on #731
@bajtos ^

[2015-10-14 06:46] superkhau commented on #690
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-14 06:50] superkhau commented on #728
@fifafu Yes, but unfortunately we have other priorities taking up our time. This issue has been around for awhile it seems: https://github.com/strongloop/loopback/issues/517

[2015-10-14 08:33] bajtos commented on #731
Hi @FelipeAguayo, thank you for reporting this use case. Could you please provide more details on the filtering criteria you would like to apply?

If these criteria are static, then you can use the [access](https://docs.strongloop.com/display/LB/Operation+hooks#Operationhooks-access) hook to add extra filter conditions to all requests.

[code]

[2015-10-14 14:29] FelipeAguayo commented on #730
yes, but i'm working with the mysql connector.

[2015-10-14 14:46] FelipeAguayo commented on #731
the criteria are dynamic, depend on variables that are external to the loaded model, but this can't be validate in Operation Hook 'access'. An example of this would be:

datasource: mysql.

Model:
[code]
values Model:
[code]
OtherModel:
[code]
values OtherModel:
[code]
after load:

[code]

Result values:
[code]

[2015-10-14 14:48] bajtos commented on #731
@FelipeAguayo thank you for the example, now I see why you cannot use `access` hook. I have one more question, what should happen when the client tries to access the model called `three`, e.g. by calling `findById(3)`? Do you expect such call to return 404?

[2015-10-14 15:02] FelipeAguayo commented on #731
yes, i do.

[2015-10-14 18:33] berill commented on #377
hi @raymondfeng, any update around the uuid and autoIncrement support?

[2015-10-14 21:20] superkhau commented on #377
@berill There are no set dates for any features. We take them on as they are prioritized in sprint planning. However, we do accept patches if you want to submit a PR. ;)

[2015-10-14 21:56] berill commented on #377
eheheh @superkhau, didn't mean to sound like I was expecting it to be just done, sorry! ;-)

Was more wondering whether there was any road map around this particular issue.
At the moment, I'm still trying to find my feet with Node and loopback, but won't say not to contribute something back if possible!

[2015-10-14 21:57] superkhau commented on #730
Thanks. I will mark this issue as a duplicate.

[2015-10-14 22:02] superkhau commented on #377
@berill No offense taken, I just wanted to give you a direct answer to make sure there is no confusion. Our public road map is here: https://waffle.io/strongloop/loopback. Feel free to contribute at your own pace, good luck with the learning. If you need any pointers, feel free to get help on one of our supported channels: https://github.com/strongloop/loopback/wiki/Questions. A lot of people ther

[2015-10-15 07:01] bajtos commented on #731
Good, that's what I would expect too.

Ideally, LoopBack should allow filtering using nested/related model properties - see https://github.com/strongloop/loopback/issues/517. In which case your `access` hook could build a query like

[code]

However, because #517 is not very likely to get implemented soon, I think it makes sense to add a new hook, something like "after access" that would allow you

[2015-10-15 07:42] ernie58 commented on #438
I think the data object should be extended with default values when an upsert results in an insert, and that it should not be extended when an upsert results in an update. Makes sense ?

[2015-10-15 16:39] andressrg opened #737 "embedsMany concurrency problem"
Hi,

I found a major issue with embedsMany concurrency.
I'm trying to create some models in parallel using the REST API, inside a embedsMany relationship, and some data gets lost.

I have tried with the MySQL and MongoDB connector and both fail the test.

This is my test case: https://github.com/andressrg/loopback-sandbox/blob/embedsMany-concurrency/test/embedded-creation.js#L13-L46

To reproduce

[2015-10-15 16:44] tbarho commented on #737
:+1:

[2015-10-15 18:18] superkhau commented on #737
https://docs.strongloop.com/display/public/LB/Using+database+transactions

[2015-10-15 19:57] FelipeAguayo commented on #731
@bajtos can you explain this better please?, Does that would use 'after access'?

[2015-10-16 16:12] raymondfeng commented on #735
@listepo There is a problem in your model definition:

[code]

The property name should not be the same as the relation name.

[2015-10-16 16:14] masalinas opened #738 "Can't canonicalize query: BadValue unknown operator from MongoDB"
I add a organization to the administrator using this source code:

administrator.organizations.add(credentials.organization, function(err) {
                if (err) return err;

                console.log('organization ' + organization.name + ' registered');

                // return administrator created
                cb(err, administrator);
            });

I obtain this error:

name: Mongo

[2015-10-16 16:22] listepo commented on #735
@raymondfeng I understand you . But I think that there is not very convenient. This is in the documentation? I think you need to add a feature or generate error.

[2015-10-16 16:29] mdartic commented on #720
I've tried to write the code to fix it.
Implement 2 tests, and modify dao.js to not filter if already specified in the filter (query exactly) parameter.
Hope it will help.

[2015-10-16 17:09] raymondfeng commented on #735
We should generate an error for LoopBack 2.x and re-evaluate the convention for 3.x

[2015-10-17 01:49] superkhau commented on #735
@crandmck ^

[2015-10-19 18:20] superkhau commented on #738
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-19 18:20] #738 closed

[2015-10-19 21:13] crandmck commented on #735
I added a note to docs (https://docs.strongloop.com/display/LB/Creating+model+relations and https://docs.strongloop.com/display/LB/Relation+generator) and created above issue to improve the relation generator CLI tool.

Can this issue be closed now?

[2015-10-19 21:13] listepo commented on #735
:+1:

[2015-10-19 21:13] #735 closed

[2015-10-20 20:32] vanraizen commented on #258
I also mentioned this when this functionality failed to work for me in #727 (plus different stuff)

[2015-10-20 22:42] vanraizen commented on #737
@andressrg even if it worked with transactions the solution wouldn't cover Mongo users. Unless the create() call uses something like the Mongo $push extended operation I don't see how it would ever be safe to use concurrently because it looks like right now the function uses updateAttribute(). I'm facing this problem as well.

[2015-10-21 13:35] gausie opened #740 "Model.create() making duplicate models"
Model.create() seems to be making duplicate models. I'm using it on my User model and it simultaneously persists two duplicate Users to the database, then fails on a duplicate email and username (on both models at once!)

I've done a bit of debugging and it seems that `ObserverMixin.notifyObserversOf` calls `ObserverMixin_notifyBaseObservers`, which then calls `ObserverMixin.notifyObserversOf` aga

[2015-10-21 22:14] SynerG opened #741 "If datasource becomes unavailable, the callback is never invoked"
I have found this problem in multiple ways, but it seems that it all boils down to not invoking the callback that expects the result from a datasource when the datasource becomes unavailable.

To reproduce the problem (using mongo as datasource):
- Run your mongod process
- Run your Loopback app (it will connect to mongo on boot)
- Kill/stop your mongod process
- Invoke a method of an entity that

[2015-10-21 23:03] superkhau commented on #740
Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-22 11:00] bajtos commented on #667
Hi @FelipeAguayo, is this issue still relevant? Could you please create a sample app reproducing the problem per [wiki instructions](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report)?

[2015-10-22 14:02] FelipeAguayo commented on #731
@bajtos: ?

[2015-10-22 14:22] FelipeAguayo commented on #667
@bajtos: Ok, i will try to reproduce the problem.

[2015-10-22 16:54] FelipeAguayo commented on #667
code: https://github.com/FelipeAguayo/loopback-sandbox.git

In this case, when the validationAsync (common/models/model.js) is 'invalid' onError not work.

[2015-10-23 07:22] amok opened #742 "JSON Schema compatibility"
Hi all!
Model definition looks like [JSON Schema](http://jsonapi.org/format/) but isn't. Available validators throw trying validate data using juggler definition schema, there is problem with "required" prop also. Are there any plans to adapt definitions to json-schema format?

[2015-10-23 11:58] mrbatista opened #743 "Protected properties should be included if the include filter is for yourself model"
I’m using the build-in User model and defined a protected e-mail property. If I call a custom remote method, such as User.login, with the include filter (i.e. /api/users/login?include=user) the response does not contain the e-mail property. Please add the possibility to remove protected properties only if the include filter is related with other relations and not with yourself.

Related to this pu

[2015-10-24 14:54] thaiat commented on #698
any news on this issue ?

[2015-10-24 18:04] wertlex commented on #698
@thaiat I have some kind of fix which works for me, but still have no time to finish creating proper PR.

[2015-10-24 18:15] thaiat commented on #698
I m wondering if the include should not be part of the data connector so it can have a specific implementation for each data source?

[2015-10-24 18:21] wertlex commented on #698
@thaiat IMHO it is better to keep current include as fallback and use specific drivers for each DB. I spent about a week digging code and I looks like everything is bad for relational DBs. Joins are made on the app side. Correct me if I'm wrong.

[2015-10-24 18:26] thaiat commented on #698
what I was thinking is that for specific db there is an optimized way to resolve the relationships instead of doing multiple calls and joining in memory
for the caller this should still be transparent

I m
not sure how to override the include in the data connector...

[2015-10-26 07:47] amok commented on #742
...I think, it'll be also good to give simple way to use adapters from mentioned JSON Schema or blueprint specs etc. is it so)?

[2015-10-26 12:18] ernie58 opened #744 "Is it possible to determine when to use validation, and not automatically call it from create or update?"
I'm having a model that has to be validated only when it's getting published (via custom remote method).
When I use loopbacks built-in validation, isValid also get's executed on create and save.
I just want it to be executed in my remote method only

I tried first with validateUpsert-option set to false, and then use upsert for every creation, update-operation. That worked fine, but now I have to

[2015-10-27 00:22] superkhau commented on #744
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See h    ttps://github.com/strongloop/loopback/wiki/Questions for more details.

[2015-10-27 14:03] jamesreimer commented on #372
This issue really should be reopened. I agree with mrfelton on this making validators useless for non-required fields. Obviously you can do your own validation to get around it, but you really shouldn't have to if the validators exist.

[2015-10-27 21:09] oguzhanyalcin opened #745 "Transaction propagation problem on 'include' filter"
When querying persisted models in a transaction with findById method, if we pass an include filter, transaction is released automatically, when gathering the relations. So next queries are getting out of transaction scope. When one tries to commit/rollback the transaction it throws a connection already released error. Sample is below.
[code]

[2015-10-28 21:36] maddes commented on #93
¿Has this been resolved in any newer version?

Notice that this prevents using the ACL resolver.

If I use `find()` or `findOne` with a `where` clause I get `context.modelId = undefined` on the resolver function.

But if I use `findById()` I can filter the access according to custom rules set on the resolver (because I have the id which is being requested).

This bug forces us to either:

    - No

[2015-10-28 22:19] maddes commented on #93
This is a immensely bigger show-stopper than I expected/commented…

How could I ever limit access on the example given?

I have:
- `User`
- `Team`
- `Task`

Relations:
- `User` belongs to a `Team`
- `Team` has many `Task`

ACL:
- `User` has the role `teamMember`
- Role `teamMember` has `READ` access granted to model `Task`
- A dynamic role resolver is added then to further filter when a `teamMembe

[2015-10-29 13:06] beeman commented on #698
I think that we've encountered similar behavior.

In our app we have functionality for exporting the data to CSV. We use the [paginate mixin](https://github.com/fullcube/loopback-ds-paginate-mixin) to fetch the data, than transform it and output it to CSV.

I've enhanced te Paginate mixin to overwrite the limit and the results are clearly better when I decreased the limit from 1000 to 100, as show

[2015-10-30 08:14] ernie58 commented on #744
Hi superkhau

Would it be a good idea to implement above functionality with a setting in the json model definition.
For example: autoValidate (default true), which would automatically apply the validation rules on update or save, (like it is happening now), and when set to false, only would apply the rules when you call the isValid-function manually

If I'd make a pull-request, is there any chance

[2015-10-31 01:27] superkhau commented on #744
Sounds like a good idea to me. @bajtos @ritch @raymondfeng Any opinions on this feature before the user submits a PR?

[2015-10-31 02:47] raymondfeng commented on #744
The CRUD methods now have the `options` argument. We should allow `disableValidation` at various levels.

Sent from my iPhone 6 Plus

[2015-11-02 06:30] oguzhanyalcin commented on #745
My bad, there was another function rolling the transaction back. I'm closing the issue...

[2015-11-02 06:30] #745 closed

[2015-11-02 06:39] superkhau commented on #744
@ernie58 Would you like to give this a shot? We can comment further on the PR itself.

[2015-11-02 12:21] bboalimoe opened #748 "how to overlay the default scope in the model config"
i set the model as follows：

[code]

but when i start a request like this

[code]

the restapi limit filter didn't work as expected , it still outputs 100 items not 2 items

thanks a lot!

[2015-11-02 12:51] bajtos commented on #93
Support for `filter[include]` was added by #564.

@maddes please open a new issue in the loopback project to discuss the implications for custom ACL resolver.

[2015-11-02 22:23] superkhau commented on #748
@crandmck Do we have docs on this? I'm not sure if its even possible.

[2015-11-02 23:11] crandmck commented on #748
Is this an excerpt from UserLocations model file, i.e. `common/models/UserLocations.json` ?

We have some docs on the `scopes` model property: https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Scopes

First, the above excerpt has `scope` instead of `scopes`, but I'm not sure if that's what you're trying to accomplish--this is for a "named query" that

[2015-11-03 04:05] shawncamp commented on #653
This is also an issue when using MongoDB:
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/geo.js#L148

[code]

When using MongoDB 3.0, the data argument will be in the following format

[code]

This is likely not the correct place to fix this issue, however, altering the GeoPoint constructor does work in this condition:

[code]

[2015-11-03 09:45] ernie58 commented on #744
Allright! I'll try to implement this tomorrow. Could you give me a hint, where to find the code concerning the CRUD method options?

[2015-11-03 10:14] bowfeng opened #749 "mongo connector has no return for updateAll/update"
I met an issue with update/updateAll, it has no return to tell me how many documents had been effected, through the dao.js I could tell it returns an object {count:**}, but from the remote access, I didn't see this kind of return.

[2015-11-03 14:29] bajtos commented on #744
Look in `lib/dao.js` - [create](https://github.com/strongloop/loopback-datasource-juggler/blob/46bdb063c46ec16543a7c6f7e16c1c8c1aca1776/lib/dao.js#L159) and [save](https://github.com/strongloop/loopback-datasource-juggler/blob/46bdb063c46ec16543a7c6f7e16c1c8c1aca1776/lib/dao.js#L1852).

The validation is implemented in `lib/validations.js` - see e.g. [isValid](https://github.com/strongloop/loopbac

[2015-11-03 14:44] sebastianhaas opened #750 "EmbedsMany ID's with MongoDB set to String instead of ObjectID"
When posting embedded models to a MongoDB datasource, the embedded instances ID's appear to be of type `String` instead of `ObjectId` like in any other case where we're dealing with IDs.

Please take a look at my test case at https://github.com/sebastianhaas/embeds-many-string-id.

STR:
- `npm install`
- `node .`

This will create an instance of the model `Book` and an embedded instance of `Chapte

[2015-11-04 08:34] bboalimoe commented on #748
@crandmck yes. it's from UserLocation.
i use the knowledge from the below docs

[code]

[2015-11-04 19:39] crandmck commented on #748
I think that is a mistake in the docs.  Can you try changing `scope` to `scopes` and see if that works as expected.  If so, I will update the docs accordingly.

[2015-11-04 21:00] zmijevik opened #753 "linkOneToMany objList is undefined."
I am getting the following error:

    at linkOneToMany (/var/www/vhosts/greenback-api/node_modules/loopback-datasource-juggler/lib/include.js:757:19)

The issue is coming from the following function:

        function targetLinkingTask(next) {
          async.each(targets, linkOneToMany, next);
          function linkOneToMany(target, next) {
            var targetId = target[relation.keyTo];

[2015-11-05 00:00] mrfelton opened #754 "Related items via hasMany relationship duplicated onto parent model when saved"
Got a bit of a serious one here. Essentially, if you load a model instance with some included relationship data, and then call `save()` on the model instance, the data from the child relationships ends up being stored directly on the parent model, and subsequent attempts to load the relationship data retunds duplicated and corrupt data.

I've created a sandbox along with a test case that highlight

[2015-11-05 00:20] zmijevik commented on #753
It turns out the following method triggered the issue:

params contains the following:
<pre>
   {
      skip: 10,
      limit: '10',
      include: [ 'offer', 'location' ],
      where: { subscriber_id: 3 }
   }
</pre>

This would have returned an empty result based on the offset because there are no more than 9 results based on the where filter

loopback-datasource-juggler/lib/include.js 153

Mod

[2015-11-05 00:22] raymondfeng commented on #753
Patch pls?

[2015-11-05 00:25] zmijevik commented on #753
@raymondfeng Are you asking me to provide a patch? I can provide one if you are able to replicate the issue. I wan't to be sure I am not doing something wrong here.

[2015-11-05 00:26] raymondfeng commented on #753
Yes.

[2015-11-05 01:39] mike-aungsan commented on #192
I have similar issues with extending roleMapping and accessToken.

[2015-11-05 03:59] bboalimoe commented on #748
i change as below , the scopes didn't function as scope.in the scope case, all query will be limited to 100,while in scopes case, query all not limited ...that is the scopes restriction didn't work~
@crandmck
[code]

[2015-11-05 09:14] mrfelton commented on #748
There is a related issue with scoped limits here https://github.com/strongloop/loopback-datasource-juggler/issues/610

[2015-11-05 10:46] mrfelton commented on #754
Some observations:

1. When the individual model instances are first created, they are saved to the correct place. That is to say that the parent item is saved as a single document in the correct collection, and the child items are saved individually as standalone documents in the correct collection.

2. When you call `save()` on a model instance that has relationship data included via the `includ

[2015-11-05 19:06] crandmck commented on #748
@superkhau At this point, I don't think this is a doc issue.  If it is, I'm not sure how to address it.

[2015-11-05 22:59] Joesimonsen commented on #610
Zendesk ticket #1211 has been linked to this issue and is now the primary ticket.

[2015-11-05 23:00] Joesimonsen commented on #693
Zendesk ticket #1212 has been linked to this issue and is now the primary ticket.

[2015-11-05 23:00] Joesimonsen commented on #698
Zendesk ticket #1213 has been linked to this issue and is now the primary ticket.

[2015-11-05 23:01] Joesimonsen commented on #754
Zendesk ticket #1214 has been linked to this issue and is now the primary ticket.

[2015-11-05 23:52] raymondfeng commented on #754
This is unfortunately the side-effect of schema-less data model. The situation is pretty much like the following:

1. Find a model instance (order) by id from mongodb
2. add lineitems to the order object
3. Save it back to mongodb.

Now your mongodb has the embedded lineitems.

I'm not sure what's the best way to fix it. The result from a query with include is already polluted. I saw a few options

[2015-11-06 00:18] mrfelton commented on #754
Do you envisage this as an option that the caller would have to set explicitly? It would seed to me that as loopback included additional data onto the scope via a relationship it should by default treat it differently from standard document properties and persist it in the save call.

Seems sensible. If we don't store the relationship data as if it were a normal property in the first place, then p

[2015-11-06 07:33] jiunting commented on #84
+1

[2015-11-06 08:58] superkhau commented on #748
@crandmck The doc label can be removed now since you've confirmed with the issue is not a mistake in the docs. Putting back to triage since it looks like we need more flushing out.

[2015-11-06 09:00] superkhau commented on #748
@bboalimoe Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-11-06 09:52] bajtos commented on #731
Yes, it would use a new hook we need to implement. I am arguing that the new hook should be called only once even if multiple models are loaded/access, and therefore we should come up with a different name than "after access" to prevent confusion.

I have one more question. What is the intended behaviour of this new restriction for write operations like "create", "updateAttributes" and "updateAll"

[2015-11-06 15:01] FelipeAguayo commented on #731
In my opinion, it should serve to any method for access to information.

[2015-11-06 16:40] Malkiat-Singh opened #756 "need Async node_module to 1.5 in package json"
need to update the     "async": "~1.0.0" to  "async": "~1.5.0" in package json
because this will install async 1.0.0 by default which cause crash due to check undefined array length

[2015-11-07 07:15] bboalimoe commented on #748
done  @superkhau  thanks

[2015-11-08 08:45] superkhau commented on #756
Would you like to submit a PR?

[2015-11-09 08:01] Malkiat-Singh commented on #756
yes I will submit to to change the pakage json

[2015-11-09 13:49] iblazevic opened #758 "Many to many relations not deleted"
We had hard time figuring this one out, cause it was initially working and then stopped at one point and certain endpoint. We did found when is it happening and it seems like it might have been done to work that way but I'm not sure we can work around it, so I would like confirmation on is this a bug or is it supposed to work that way.

Problem is many-to-many relations. We are using postgres btw.

[2015-11-09 20:11] superkhau commented on #667
@FelipeAguayo I haven't been able to look at this yet, but would you like to submit a patch?

[2015-11-11 11:49] ekussberg opened #759 "updateAttributes on model calls validation for other fields"
Hello,

we have noticed a problem, that when we use the update of specific fields and before that we queried data with "fields:{...}" it is throwing validation errors for other fields, that are out of the update scope. For example:

Required: title, description
Query: fields{title:true}
Update: title: "aaa"
Error: description is required

This should be fixed to validate only the attributes, that

[2015-11-11 12:22] barocsi opened #760 "Custom validation bug: reference to this.collection_type returns the entire instance"
The custom validation according to the docs happens like this:
[code]
When I try to validate the Post instance that has a property with array of objects (questions collection)
questions:[{}....] there is a bug.
During validation above console.log(this.questions) returns the entire Post instance instead of the given questions property.

If questions were a single object {} or a value, it works fine

[2015-11-12 15:36] barocsi commented on #613
Same for me, after a complete reinstall it started to break process.context consistency, even with async 1.0.0 now my project is crippled anyone has a solution?

[2015-11-12 15:45] mrfelton commented on #613
Async was specifically pinned to 1.0.0 because of this issue. See:

https://github.com/strongloop/loopback-datasource-juggler/issues/631

[2015-11-12 17:46] #740 closed

[2015-11-12 18:42] barocsi commented on #631
Unfortunately this is not that trivial, even if you pin down the version, the installation order of deps will bring back the issue. I mean:

#### Test Case 1
1. I have forked installed the loopback-sandbock project
2. added some async test
3. added "async": "1.1.0" to the dependencies
4. node_modules dir was deleted/empty
3. ran npm install --- so async was installed altogether with other modules

[2015-11-12 18:43] barocsi commented on #613
It is not that trivial, I have reproduced the problem. It is with the order of installing async along with loopback: altogether, or by adding later an async above 1.0.0. I added some test project here, check https://github.com/strongloop/loopback-datasource-juggler/issues/631

[2015-11-15 13:30] mrfelton commented on #754
@raymondfeng In this PR I'm cleaning up the data that's just about to be persisted in `.save()` by using `inst._initProperties()`. This prevents the relationship data from being persisted along with the model data. Interested to hear your feedback with this approach.

[2015-11-15 15:00] nimaen opened #762 "Cannot use *constructor* as an attribute name"
Hi,
I wanted to test loopback using a Car model with a constructor attribute.
Fact is, it cannot be validated because of this part of the code in `lib/validations.js`.

[code]

Seems pretty logical to me now, but just wanted to tell you just in case; should be part of the documentation.

[2015-11-16 04:10] superkhau commented on #762
@crandmck ^

[2015-11-16 11:11] kifki commented on #84
+1

[2015-11-16 16:55] superkhau commented on #84
Bumping up to major as there seems you guys really want this to happen. ;)

[2015-11-16 21:42] mghaderyan-nisum-com commented on #230
So this issue being "closed" means it is fixed or it got ignored?!

[2015-11-16 21:47] superkhau commented on #230
I

[2015-11-17 15:02] mrfelton commented on #754
Some related historical issues https://github.com/strongloop/loopback/issues/742 https://github.com/strongloop/loopback-datasource-juggler/pull/666

[2015-11-18 08:05] oguzhanyalcin commented on #684
On my model js (Folder.js)

[code]
if error is raised I get the `TypeError: Object false has no method 'add'`
The field is a Boolean field. If the field is changed to some other type or any other non boolean field is used no error remains...

[2015-11-18 22:04] ulion commented on #610
Also hit by this bug, is this resolved currently?

[2015-11-20 10:17] gausie opened #765 "Polymorphic hasMany relations"
Although it is possible for a Model to have a polymorphic belongsTo relation (i.e. a Comment belongsTo a MediaItem - Video or Picture), it doesn't seem to be possible for a Model to have polymorphic hasMany relations (i.e. a Vet hasMany Patients - Dog or Cat).

Although the documentation mentions polymorphic hasMany, it does not seem to be referring to the functionality I am.

If I am mistaken, pl

[2015-11-20 14:24] doublemarked opened #766 "findOrCreate docs dangerously wrong"
The findOrCreate docs (https://docs.strongloop.com/display/LB/Creating,+updating,+and+deleting+data) state the following:

API docs are similar (https://apidocs.strongloop.com/loopback/#persistedmodel-findorcreate):

The problem is that this is demonstrably wrong. The query parameter, at least when used in the common case `Model.findOrCreate(query, data, callback)` does indeed require a `where`. *

[2015-11-22 22:58] barocsi opened #768 "MongoDB connector debug flag has no effect"
My mongodb connection works fine, I wanted to debug queries, set the debug flag to true according to the docs, restarted the server and nothing happens.
[code]

[2015-11-22 23:23] barocsi opened #769 "limit filter ignored"
For some reason my limit filter is ignored (using mongodb connector).
Using the loopback-sandbox git, adding
[code]
adding a post model, exposing a remote method for testing
[code]

the result ignores limit parameter and returns all items, always, even if hardcoded as in the example.
I am not sure where it went wrong or what would override it.
I am not able to debug since the debug flag has no eff

[2015-11-22 23:30] barocsi commented on #769
https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Scopes

I have defined a default scope with limit. It was not clear for me, that the default scope is always active when defined and cannot be overridden.

[2015-11-22 23:30] #769 closed

[2015-11-23 16:35] florianheinze opened #771 "PersistedModel.updateAll() ignores validation"
I have this model:

[code]

If I create a new entry with a three character name, I get, as expected, a validation error. However if I create a new entry with a longer name and then update that name to three characters, there is no validation error and the change is written to the DB.

As far as I can tell the whole validation is not triggered when `updateAll()` is used.
##### Steps to reproduce:
-

[2015-11-23 16:36] #702 closed

[2015-11-23 16:40] florianheinze commented on #702
This is a duplicate of #771. The other one is more clear and with steps to reproduce, so I closed this one.

[2015-11-23 20:08] superkhau commented on #768
https://docs.strongloop.com/display/public/LB/Setting+debug+strings

[2015-11-23 20:08] #768 closed

[2015-11-23 22:17] barocsi commented on #768
Thanks, wish it was referred from https://docs.strongloop.com/display/public/LB/MongoDB+connector

[2015-11-24 00:04] raymondfeng commented on #610
@ningsuhen I think we should probably introduce a pageSize for the `inq` for two purposes:

1. If `limit/skip/offset` is present in the `include`, pageSize should be set to `1`. We need to run the query for FKs one by one
2. We should have a maximum pageSize as many DBs have a limit of number of items in `inq`. The query by FKs should be run page by page and join the results afterward.

Do you hav

[2015-11-24 11:19] pktippa opened #774 "datasource-connector documentation javascript code"
docs\datasource-connector documentation has a small javascript code bug at line 83.

[2015-11-24 22:57] superkhau commented on #768
@barocsi Let's get that fixed.

@crandmck ^

[2015-11-25 17:43] barocsi opened #777 "Not receiving operation hooks when creating related models from parent"
I have a Post with hasMany Comment and a Comment belongs to post properly set.
I can call POST /posts/{id}/comments and comment is created properly, but in my comment model.js Comment.observe('before save', function (ctx, next) {}) never fires. It is not referred anywhere in the doc why and how should it work.

[2015-11-25 17:48] barocsi commented on #777
Turned out I had an error in one of the property definitions within comment.json and nothing throwed an error, just events did not fire.

[2015-11-25 17:48] #777 closed

[2015-11-25 19:41] crandmck commented on #768
Should I remove the `debug` property from https://docs.strongloop.com/display/public/LB/MongoDB+connector#MongoDBconnector-Properties?
Does that not work?  If so, is it a bug or mistake in docs?

[2015-11-25 21:44] mghaderyan-nisum-com commented on #263
This is still an issue for me. I am running on latest loopback version and it still shows the stack traces. Any ideas?

[2015-11-25 22:33] raymondfeng commented on #610
Can you test out https://github.com/strongloop/loopback-datasource-juggler/commit/fa580ed098a12d9aff576cd67ca2c40d6f4ea59a?

[2015-11-26 02:54] loay commented on #774
@pktippa  Thanks a lot  .. Looking into it.

[2015-11-26 17:33] #753 closed

[2015-11-26 18:37] swapnilg commented on #737
+1 using mongo and facing this issue , unable to use $push but will figure it out please add the default behavior for embedmany as push itself.

[2015-11-26 20:21] loay commented on #774
commit was merged .. Issue is fixed
closes #774

[2015-11-26 20:21] #774 closed

[2015-11-27 09:21] bajtos commented on #762
To be honest, this looks like a bug to me. We should use `Object.create(null)` instead of `{}` to initialise new key-value maps. That will support all different attribute names like `constructor`, `__proto__`, etc.

[2015-11-27 11:19] bnoordhuis commented on #762
`Object.create(null)` is slower than an object literal, like 10-20x slower.  We're talking nanoseconds though.

[2015-11-27 18:42] raymondfeng commented on #762
Maybe we should blacklist a list of `reserved words` so that they won't be used for property names or provide an `escaping` mechanism.

[2015-11-27 22:59] bnoordhuis commented on #762
You might as well use `Object.create(null)` or `{ __proto__: null }` in that case.  The performance loss likely gets more than made up by not needing any hairy filtering and transformation steps.

[2015-11-28 18:35] piscisaureus commented on #762
I agree with @bajtos initial idea of using Object.create(nulll).
@bnoordhuis is right in that the performance impact is probably negligible.

On Friday, 27 November 2015, Ben Noordhuis <notifications@github.com> wrote:

[2015-11-29 13:48] mazki516 commented on #84
+1

[2015-11-30 08:13] ebarault opened #779 "loopback fails on referencesMany relation missing foreignKey in scope for nested hasMany inclusion"
1. say model A as a referencesMany relation with model B
and model B has a hasMany relation with model C

2. adding a scope in relation A>B to restrict fields in a way that 'A.id' is not included in results

3. doing a GET on model A to get B relations through referencesMany, using built-in methods, and including relation B>C using filter {include:C}

TypeError: Cannot read property 'toString' of

[2015-11-30 17:08] FelipeAguayo commented on #731
@bajtos Is there any progress on this?

[2015-11-30 22:45] superkhau commented on #667
@FelipeAguayo I don't get any errors when I clone and run your project. Can you provide some step-by-step instructions on how to reproduce the issue?

[2015-11-30 22:46] superkhau commented on #667
@bajtos Taking out of TOB since its not fully triaged yet. Adding major label to make sure we keep an eye on this.

[2015-11-30 23:45] crandmck commented on #762
For docs, is the restriction that you can't use `constructor` as a model property name?  Can you use it as a model name?  A relation name, etc?  Are there other "reserved words" that you can't use as names?

Here is what we say now: https://docs.strongloop.com/display/LB/Valid+names+in+LoopBack.  It's fairly vague.

[2015-12-02 17:11] jannyHou commented on #762
I reproduced this issue by adding `constructor` as a property to a model:
[code]
I use Visual Studio Code as editor and it warns me `Duplicate object key`
And when I run the app I got error from https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model.js#L66
`constructor` is not in the ['javascript reserved words'](https://mathiasbynens.be/notes/reserved-keywords) list (ment

[2015-12-02 21:36] hotaru355 opened #780 ""strict" validation fails on invalid relations mixed with valid relations"
When a model is defined with `strict = true/validate/throw`, the strict option is ignored in certain conditions.
Example:
- **correct**, validating a relation not defined in user's schema:

[code]
- **correct**, validating a relation that _is_ defined in the user's schema:

[code]
- **fail**, validating relations that are only partially defined in the user's schema:

[code]

The issue is caused by

[2015-12-03 14:44] bajtos commented on #731
Please be more specific.

Case 1 - user invokes `create`. Note that this operation does not load any data from the database. What context properties and behaviour do you propose in regard to the new hook?

Case 2 - user invokes `updateAll`. Note that this operation does not load any data from the database. What context properties and behaviour do you propose in regard to the new hook?

[2015-12-03 14:46] bajtos commented on #731
Frankly, this is not a high priority for us right now.

If you are willing to contribute this new hook yourself, then perhaps it will be best to wait with further discussion until you have a partial implementation, so that we can discuss specific code as opposed to abstract ideas.

[2015-12-03 16:27] jonathan-casarrubias commented on #94
+1 on this feature...

I have a hasMany through relationship  for Task and Products, every task can have many products assigned and every product can be on any task.

So, what I want to achieve is to find a task depending on the products assigned, in a mongo like query  would be something like

[code]

that would be really helpful for querying related models, another use case could be searching no

[2015-12-03 20:22] mariohmol opened #782 "Password with Numbers saving Null"
When I save a User model with a password containing just numbers it do not save the password, save null in password field. (using MySQL)

To solve that, I had to convert to string before  calling the User.create()

[code]

Maybe because it will convert to a password hash (like md5 ...)

Is it the normal behaviour? Would be better to convert the password to string before passing to the gen hash?

[2015-12-03 23:11] javierfdr commented on #263
I'm also getting stack traces. I have set disableStackTrace:"true" in config for every environment I have and it still shows. Any solution?

[2015-12-04 03:36] mariohmol opened #783 "Find with Include not fetching"
Hy there!

I have a model called Empresa that has 2 belongsTo relation but when i use Empresa.find with a include param, it do not bring me fields of included models. I'm using mysql and calling this method  using angularjs.

empresa.json
[code]

I tested a lot of different calls, checked the database values and is all correct.
I dont know what else i can do, it brings me all data from Empresa but

[2015-12-04 16:03] #744 closed

[2015-12-06 17:59] mariohmol opened #784 "FindById not finding user"
I just cant make User.findById works. It return null all times, in the example above usuario var is null.

Here is the call, inside another model

enqueteusuario.js

[code]

Here is the model, with pk column with id:true.

user.json

[code]

 What am i doing wrong? Thanks

[2015-12-06 21:12] mariohmol commented on #784
sorry .. my mistake.. the callback function should have 2 args: function(err, accounts) { ... }

[2015-12-06 21:12] #784 closed

[2015-12-06 23:04] javierfdr commented on #766
+1. The documentation is wrong. I have tested it thoroughly and it recognizes the Where filter. The most dangerous thing is that without the filter it can always return a parameter (the first one)

[2015-12-06 23:07] mastertinner opened #785 "Near queries don't trigger loaded hook"
When using the MongoDB connector, queries which use the "near" filter of the [GeoPoint class](https://docs.strongloop.com/display/LB/GeoPoint+class) (e.g. `{ "where": { "geo": { "near": "47,7" }}}`) don't trigger the `loaded`[operation hook](https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-loaded). All other queries do trigger the hook.

This error doesn't occur when us

[2015-12-06 23:26] JonnyBGod commented on #88
+1

[2015-12-08 14:58] bajtos commented on #762
Oh, so this issue is more complex than I originally thought.

We are using `instance.constructor` to get hold of the constructor function, as can be seen e.g. [here](https://github.com/strongloop/loopback-datasource-juggler/blob/80c3bd9d419e501d5b7beb0a623c8b1eaefdc258/lib/model.js#L64-L69):

[code]

I don't know of any alternative way how to get hold of object constructor, therefore I agree it's

[2015-12-08 15:18] bnoordhuis commented on #762
It probably doesn't help much but the idiomatic ES6 version of that check is:
[code]
No need to reference the `.constructor` property.

[2015-12-08 20:51] 0ff commented on #769
In fact I think this was not intended and I've just submitted PR #787 to change that :-)

[2015-12-08 20:52] 0ff commented on #678
In fact I think this was not intended and I've just submitted PR #787 to change that :-)

[2015-12-08 20:56] davidcheung commented on #517
Hi @fabien, @raymondfeng
I'm trying to document the [`polymorphic.idType`](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L1237-L1241) property,
- Was wondering if this is the correct understanding of it?
- and if so any thoughts on whether it clarifies the property?
- and are there other properties from polymorphic relationship that we should add

[2015-12-08 21:19] raymondfeng commented on #517
@davidcheung What does the Student belongsTo Person relation for?

[2015-12-08 21:23] davidcheung commented on #517
@raymondfeng
It would be for scenario such as
[code]

[2015-12-08 21:24] raymondfeng commented on #517
Sure, but for belongsTo, you just say `Student` belongsTo `School` right? I don't see the ploymorphic coming in play for `belongsTo`

[2015-12-08 21:27] raymondfeng commented on #517
This test makes more sense - https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/relations.test.js#L1721-L1746

[2015-12-08 21:28] davidcheung commented on #517
@raymondfeng
if School wants to treat multiple different type of models (student/teacher/professor), is that how an example could work?
[code]

[2015-12-08 21:29] davidcheung commented on #517
@raymondfeng thanks, I will use that example instead.

[2015-12-08 21:33] raymondfeng commented on #517
In the example above, you should see instances like:

Author:
- {id: 1, name: 'John'}

Reader:
- {id: 1, name: 'Marry'}

Pictures:
- {oid: 1, type: 'Author', ...} // pic for John
- {oid: 1, type: 'Reader', ...} // pic for Mary

[2015-12-08 23:11] davidcheung commented on #517
@raymondfeng Thanks!
@crandmck I have added a [temp restricted page](https://docs.strongloop.com/display/LB/Copy+of+Polymorphic+relations) in the docs, please take a look, thanks!

[2015-12-09 11:32] darior87 commented on #676
+1

[2015-12-09 15:08] bajtos commented on #762
@bnoordhuis thanks! It looks like this check works on Node 0.10 too.

Why do you think it doesn't help much?

[2015-12-09 16:13] bnoordhuis commented on #762
For some reason I thought those methods didn't exist in v0.8 and v0.10 but you're right, they do.

[2015-12-10 15:05] sebfindling commented on #658
i also need to set datasources dynamically, any news  @raymondfeng ?

[2015-12-10 18:50] bajtos commented on #762
On the second thought, I think it will be safer to reject `constructor` model properties in LoopBack. While we can fix juggler/remoting/loopback to support it, I fear it is likely the problem will quickly surface again in other parts of user applications, e.g. HTML5 clients. In other words, `constructor` property is a footgun that's better to be avoided as early in the development process as possi

[2015-12-10 19:11] bajtos commented on #556
I'm cross posting @raymondfeng's answer from the support thread:

The `find` or `findOne` method on the model passes the query that uses the model property names, even for id properties. In your case, `seq` should be be used instead of `id`. The name(s) of id properties are completely controlled by the model definition. Please note the PK can be a composite key that consists of multiple properties

[2015-12-10 19:19] bajtos commented on #563
I believe this request should have been addressed by the new liveset feature as described in https://strongloop.com/strongblog/build-real-time-apps-with-angular-liveset-and-loopback/.

I am closing this feature as done. @sumitha could you please check with the customer whether the liveset feature addresses their needs and reopen the issue if necessary?

[2015-12-10 19:19] #563 closed

[2015-12-10 19:24] pulkitsinghal commented on #556
I went to the support ticket:
https://support.strongloop.com/hc/en-us/requests/669

But I didn't see the quoted feedback there ... Maybe I went to the wrong place now or maybe I placed an incorrect URL in my previous comments ... I'm unsure.

@bajtos - Based on the comment you posted, here's my takeaway:

  * Correct?
  * So it becomes my task to fix/enhance the elasticsearch connector to do this

[2015-12-13 09:52] amiashraf commented on #714
I have faced same kind of problem and after checking at the model, I found that I have miss typed the filed type string instead of array.
When I change it to array then the error gone.

[2015-12-14 01:22] superkhau commented on #667
@FelipeAguayo Ping.

[2015-12-14 11:41] florianheinze commented on #759
I experience the same. I had to create (or better extend) a dirty workaround:

    // in common/models/my-model.js
    MyModel.observe('before save', function(ctx, next) {

      // TODO this is another ugly workaround to trigger validation also for updates
      // i expect this is a bug: https://github.com/strongloop/loopback-datasource-juggler/issues/771
      if (ctx.data) {
        var d = ne

[2015-12-14 14:16] FelipeAguayo commented on #667
@superkhau Pong. It's been a long time since this matter was created, it is no longer a problem for me.

[2015-12-14 16:35] raymondfeng commented on #556
@pulkitsinghal I think you are proposing a virtual `id` property that will be mapped to the physical primary key by LoopBack. It's probably a nice to have feature. But I would prefer to name it differently such as `$id` to avoid conflicts.

[2015-12-14 20:50] superkhau commented on #667
@FelipeAguayo TY, closing.

[2015-12-14 20:50] #667 closed

[2015-12-14 22:07] crandmck commented on #517
Changes by @davidcheung LGTM.  I copied them into https://docs.strongloop.com/display/LB/Polymorphic+relations.

This issue can be closed now, but if possible, I would really like to address the comments at the top of the document, although strictly speaking they are outside the scope of this issue... but while we're working on it...

[2015-12-14 22:46] davidcheung commented on #517
Closing this issue, opened another issue to address the community comments regarding the current examples.

[2015-12-14 22:46] #517 closed

[2015-12-14 23:19] crandmck commented on #762
Janny added a brief note to https://docs.strongloop.com/display/LB/Valid+names+in+LoopBack (last sentence in the article) and I edited.  AFAIC, we can close this now.  @bajtos please close if that's sufficient for now.

[2015-12-15 10:29] geekguy commented on #782
I use postgre connector. Facing the same issue in latest version.

[2015-12-15 19:37] sklyukin opened #791 "Default scope applied to another scope"
I have `default` and `scopeDeleted` scopes.
[code]

Now when I try to access deletedScope -  `MyModel.deletedScope({})` *DataAccessObject.applyScope* will actually generate

And I always get 0 results. Is it intended to apply default scope for all scopes? In case it is not I can work on PR for this.

[2015-12-16 09:38] sklyukin commented on #791
Seems this is intended, as scopes can be chained, so any custom scope "chain" default scope.
[code]
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/scope.js#L253-L256

I'm closing issue.

[2015-12-17 15:56] ernie58 opened #793 "validatesUniquenessOf doesn't work correctly on bulk create with same values"
I have a model `MyParam`
It has a property `name` that needs to be unique

When I post an array of new instances with the API-explorer, and two instances have the same `name` , and that `name` is not yet in the database, they both get inserted.

[code]

_POST_ /MyParams

[code]

I would expect that at most one is inserted and an error is returned for the other, or that an error is returned for the

[2015-12-17 17:21] dpundir opened #794 "relational database: source field name option in relation configuration"
<b>Support of source(keyFrom) field name option in relation configuration i.e. source.sourceKey -> target.targetKey</b>

Example:
Table-> fields
Customer-> id(primary), addressid(fkey)
Address-> id(primary)

"Customer" model configuration can have below relation config:
"relations": {
"address":{
"type": "hasOne",
"model": "Address",
"foreignKey": "id"
}
}

This relation gets its foreignKey values

[2015-12-17 23:51] superkhau commented on #766
@crandmck ^

[2015-12-18 17:48] crandmck commented on #766
Thanks, this was just now brought to my attention.  I'm looking into it now.

[2015-12-18 18:07] crandmck commented on #766
@doublemarked @superkhau @raymondfeng Can you help me understand when `where` is not required in the first (query) argument?

As I understand it, we have two general forms:
- Form used by read/query methods such as `find` in which the first arg is a `filter` object, as described in [Querying data](https://docs.strongloop.com/display/LB/Querying+data)
- Form used by create/update/delete methods suc

[2015-12-18 20:42] doublemarked commented on #766
Hello @crandmck - you can see that alternate form for findOrCreate here in the code: https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L606-L612

I believe you can consider it a shorthand for the longer form, in which `findOrCreate` is called with both `query` and `data` parameters. In the case that only a `data` parameter is provided, `findOrCreate` will use this `d

[2015-12-19 00:07] crandmck commented on #766
OK thanks @doublemarked for finding this and for clarifying for me.

I've updated the wiki docs already, but I'd like to provide more clarification, since it's fairly confusing IMO.  I'll also update the API docs, but won't get to that until next week (in any case they don't actually get updated til the repo is published to npm).

[2015-12-19 19:05] dbe commented on #676
+1 exact same issue

[2015-12-21 12:13] beeman commented on #607
+1

[2015-12-21 16:01] raymondfeng commented on #607
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re:
[loopback-datasource-juggler] Validate unique field case insesitive (#607)"
sent on 12/21/15 12:13:11 PM.

This is the only notification you will receive while this person is away.

[2015-12-21 19:08] michaelsframe commented on #88
+1, any word on the status of this?

[2015-12-22 00:05] mbouclas opened #799 "hasManyThrough pivot table"
Is there a way to get the pivot table on a hasManyThrough query? Better yet, apply some filter or sort to it. A typical example

[code]

So, in the above scenario, say you want to get all categories of product X that are (main = true) or you want to sort the the product categories by orderBy.

What happens now is a first SELECT on products to get the product data, a second SELECT on products_categ

[2015-12-22 04:18] trongnd opened #800 "Model.find returns items with incorrect order"
I'm using loopback for mongodb and facing a problem when trying **Model.find** with **order**:

[code]
The problem here is the order of returned items is incorrect. I have inspect some code I find out the problem caused by this code:

[code]
Because **async.each** run in parallel so **results.push(obj)** is not guaranteed to be run in correct order. That why I get back a list of items in incorrect

[2015-12-22 15:26] yassine-khachlek opened #802 "MyModel.validatesLengthOf return always true unless the min or max are given explicitly as args"
This is the file my-model.json
<pre>
...
  "properties": {
    "text": {
      "type": "string",
      "length": 512,
      "required": true
    }
  },
...
</pre>
It seems that this validation method used inside my-model.js always returns true:
<pre>
module.exports = function(MyModel) {
  MyModel.validatesLengthOf('text');
};
</pre>
Unless the min or the max are explicitly given as args like that

[2015-12-22 21:22] Amir-61 opened #803 "Upsert (updateOrCreate) is prone to race condition for memory connector"
The implementation of upsert (updateOrCreate) is prone to race condition for memory implementation; please see [here](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/connectors/memory.js#L224)

[2015-12-23 00:36] crandmck commented on #766
Opened https://github.com/strongloop/loopback/pull/1910 to fix API doc.

[2015-12-23 03:22] #583 closed

[2015-12-23 14:24] OwenBrotherwood opened #805 "(node) warning: possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListeners() to increase limit."
[code]

https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js
contains a

[code]

I failed to increase maxlisteners, and avoid warning, in the code.
- https://nodejs.org/docs/latest/api/events.html#events_emitter_setmaxlisteners_n

@raymondfeng   What do you need to help me close the issue?
The issue _may_ be in loopback-datasource-juggler.

Current problem for me

[2015-12-24 05:07] brunotavares opened #807 "findById() should allow `where` filters (not only `fields` and `include`)"
_Use case:_
In my application the database is shared among tenants, so to make sure that no user ever accesses other people's data by I'm using a before remote hook that injects a filter by `cid` (customer id) in every request. See code below.

The problem is that the findById only takes `fields` and `include`, discarding anything else. It would be fairly easy for users to manipulate the REST URL

[2015-12-24 09:16] QingYun opened #808 "Upsert failed to give error messages"
I was trying to upsert some js objects parsed from a xml file into mongodb and I can only get those ones with empty body stored. For other ones, there was no error message but the result passed into my callback was null. After switching to model.create, I finally got the error message said that "$" fields were not allowed to be stored in mongodb.

[2015-12-24 18:19] crandmck commented on #766
@doublemarked - I'm going to close this.  If you have a moment, I'd appreciate your review of https://docs.strongloop.com/display/LB/Creating%2C+updating%2C+and+deleting+data#Creating,updating,anddeletingdata-Creatingdata(modelinstances)

[2015-12-24 18:20] #766 closed

[2015-12-24 19:16] doublemarked commented on #766
LGTM

[2015-12-26 22:46] el-davo commented on #88
+1, Im in serious need of such a feature. Any status updates?

[2015-12-27 21:50] wprater commented on #372
you can just pass in `allowNull` to allow them in addition to your exclusion list https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/validations.js#L608

[2015-12-28 07:07] schankam commented on #230
Just read all of this... So there is still no way to choose a custom name for junction table with HABTM ? This feature become useless for a lot of people working with legacy DB.. I guess for now I will stick with defining the model for the junction table with "belongsTo"... But this is really not the way I was expecting it to work...

[2015-12-28 14:14] haraway commented on #84
+1

[2015-12-28 23:21] tcf909 opened #810 "dao.js allCb() async not using callback() - stalled fiber"
Hello,

I ran across an issue when moving to the use of fibers for my loopback project. The situation presented itself as a stalled request. Upon further investigation I found that a fiber that had been yielded was never re-awoke because the callback was not being executed.

I tracked the problem down to the allCb() method in the dao.js file in which under certain conditions when using the related

[2015-12-28 23:24] tcf909 commented on #810
Looks like the issue was already taken care of in a version release after what I'm using.

[2015-12-28 23:24] #810 closed

[2015-12-30 20:23] alFReD-NSH commented on #644
I'm also experiencing the same issue with Postgres. Right, now I have defined HasAndBelongsToMany relationship between a Company model and Person model and I'm doing this:

[code]

Which will end up doing this:

[code]

Which fails because there's no firstname on the PersonCompany through table(generated by loopback). I did some search in the code, and found [this](https://github.com/strongloop/lo

[2016-01-04 13:33] robinskumar73 opened #811 "hasOne relation working issue with include filter"
I am having issue using `find` method for `hasOne` with include filter.
I have two models

`Priority` model whose relations is `hasOne` with `Recipe` model

[code]

I have another model  `Recipe` in `hasOne` relation with `Priority` model

[code]

I am saving data like this.

[code]

Now when I am using `find` method with `include` it's working in one case but not in another

[code]

[2016-01-05 13:24] doublemarked opened #813 "DataAccessObject._coerce doesn't work for embedded properties"
The coerce behavior is falling on embedded properties, preventing queries that need to be coerced from functioning.  Consider the following (analysis will follow):

[code]

Note:
- Correct embedded property coercion on create
- Incorrect embedded property coercion on query

Details:
It is possible to apply a where filter to fetch records according to a standard model property field: `GET /api/Repo

[2016-01-05 20:00] Amir-61 opened #814 "`updateOrCreate` is prone to race condition - memory connector"
`updateOrCreate` implementation is prone to race condition in memory connector; please see [this](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/connectors/memory.js#L224-L238).

[2016-01-05 20:02] #803 closed

[2016-01-05 22:45] CarlosCuevas commented on #263
@raymondfeng none of the solutions posted here work for me on 404

[2016-01-06 08:35] gsateesh4u opened #816 "include filter is not fetching data with couch database but fetching data with memory db"
My Customer model is below
{
  "name": "Customer",
  "plural": "Customers",
  "base": "PersistedModel",
  "idInjection": true,
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "name": {
      "type": "string",
      "required": true
    }
  },
  "validations": [],
  "relations": {
    "hub": {
      "type": "belongsTo",
      "model": "Hub",
      "foreignKey": ""
    }
  },

[2016-01-06 16:10] loay commented on #137
Hi @marmarosi,
Is this issue still persisting?
Thanks.

[2016-01-06 16:12] loay commented on #147
Hi @fabien
Did the merged pull request #710 Fix the issue?
Thanks.

[2016-01-06 16:17] loay commented on #249
Hi @offlinehacker
is this issue still persisting?
Thanks.

[2016-01-06 16:22] loay commented on #231
Closing due to inactivity. If the discussion needs to go further, please open the issue. Thanks.
closes #231

[2016-01-06 16:22] #231 closed

[2016-01-06 16:25] loay commented on #218
Closing due to inactivity. If the discussion needs to go further, please feel free to open the case. Thanks.

[2016-01-06 16:25] #218 closed

[2016-01-06 16:25] loay commented on #316
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-01-06 16:25] #316 closed

[2016-01-06 16:29] marmarosi commented on #137
I do not know - I do not already use strongloop modules.

[2016-01-06 16:30] loay commented on #178
@offlinehacker @nasplachkov
Thanks for reporting the issue. I am having a look.

[2016-01-06 17:09] loay commented on #137
Thanks @marmarosi for getting back to me promptly.
If you face this issue again, please leave a comment and I will re-open an issue.
Thanks.

[2016-01-06 17:09] #137 closed

[2016-01-06 17:12] loay commented on #103
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.
Also, it looks like few solutions have been posted.
Thanks.

[2016-01-07 08:06] ernie58 commented on #793
Is this considered as a valid bug ? Can I help to fix this?

[2016-01-07 10:54] devonatdomandtom commented on #88
@CjS77 would you have a gist handy for the mixin you've written by chance?

[2016-01-07 11:52] CjS77 commented on #88
Wroks for me. YMMV :)

https://gist.github.com/CjS77/44b2f75c0ec468f590d0

[2016-01-07 11:59] devonatdomandtom commented on #88
@CjS77 Cheers for that!

[2016-01-08 10:10] mrfelton commented on #754
The good news is that issue appears to have been fixed in between and 2.41.2 and 2.42.0. The bad news is that I don't believe there is a test case that proves that is so and therefore I don't have confidence that the issue wont appear again in a later version. I'll add a test case to verify.

[2016-01-08 13:04] beeman commented on #607
I've updated the PR I have created, the last one works for use to prevent people using duplicate email addresses while ignoring case.

[2016-01-11 23:43] jannyHou commented on #166
I am working on this issue and create a repo to test the filters:
https://github.com/jannyHou/loopback-sandbox/tree/has-and-belongs-to-many

I tried 6 filters:
- fields
- include
- limit
- order
- skip
-where

`order` still doesn't work but other filters work properly.
I will fix `order` then.

Details of my tests:

Three models in my app: `city`, 'space', 'customer'

1) 'city' hasMany 'space' & `

[2016-01-12 14:41] jannyHou commented on #166
Update:
`where` doesn't work when filter by id
- where:  endpoint: `GET /spaces/{id}/customers`, filter: `{"where": {"id": 1}}`, result: still get all customers.
I will fix it as well.

[2016-01-12 18:12] emilvirkki commented on #698
This seems to be fixed in 2.44.0. Maybe close this issue?

[2016-01-13 16:24] loay commented on #396
Hi @BerkeleyTrue
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-01-13 16:24] #396 closed

[2016-01-13 16:31] loay commented on #442
Hi @janober
Did you submit a patch? is this issue still persisting?
Thanks

[2016-01-13 16:50] loay commented on #444
Hi @violet-day
Concerning the PR, there were few comments to fix. Also, you need to accept the agreement, otherwise the tests will fail.
Thanks.

[2016-01-13 16:53] loay commented on #448
Hi @bradplank
Yes, this is the right place.  Thanks

[2016-01-13 17:02] mrbatista commented on #274
+1

[2016-01-13 17:22] mrbatista commented on #722
There is another issue:
[code]
If necessary to check if  base `where` contain `and` condition.

[2016-01-14 05:30] paulomcnally opened #820 "npm ERR! peerinvalid The package loopback-datasource-juggler@2.44.0 does not satisfy its siblings' peerDependencies requirements!"
npm ERR! Linux 3.19.0-43-generic
    npm ERR! argv "/home/polin/.nvm/versions/node/v4.2.4/bin/node" "/home/polin/.nvm/versions/node/v4.2.4/bin/npm" "install"
    npm ERR! node v4.2.4
    npm ERR! npm  v2.14.12
    npm ERR! code EPEERINVALID

    npm ERR! peerinvalid The package loopback-datasource-juggler@2.44.0 does not satisfy its siblings' peerDependencies requirements!

    npm ERR! Please inc

[2016-01-14 13:27] janober commented on #442
Sorry never got to it and considering my current to-do-list that will probably not change any time soon. So is still pending.

Ah yes thanks. I used the connector which is listed there. Tried to extend it and fix some issues that is when I came across this problem.

[2016-01-14 20:41] loay commented on #448
Thanks @bradplank, we look into that.
As a workaround:
Did you try the following for Mongo:
[code]
In general, you can use the `length` but as in a function. For example, you use `User.find` to find all the users that fit your search criteria, then
[code]
I will make a request to add it as a feature.

[2016-01-14 20:47] loay commented on #442
@janober
Thanks for your reply. We will close the issue for now. If you ever do a Pull request, please leave a comment here. Thanks.

[2016-01-14 20:49] loay commented on #475
@violet-day
Is this issue still ongoing?
Thanks

[2016-01-14 21:09] loay commented on #495
Hi @zvozin
Is this issue still presisting?
I tried to reproduce but I didn't get any errors on my end and it went fine.
Thanks.

[2016-01-14 21:14] loay commented on #820
Hi @paulomcnally
Thanks for reporting the issue. Would it be possible to provide a repo on github to reproduce the issue?
Thanks.

[2016-01-14 21:17] paulomcnally commented on #820
Hi @loay.

I have a private repository.

I added manuality last version (alpha repository) to package.json.

I solved using v2.44.0 on package.

Error is using alpha dependency.

Thanks

[2016-01-14 21:17] #820 closed

[2016-01-14 21:18] loay commented on #505
Hi @jrschumacher
Is this issue still presisting?
Also, there is a reported bug, where if it the item is `undefined`, then it will throw an error.
https://github.com/strongloop/loopback-datasource-juggler/issues/492
Is it related to your case? if not, can you please provide more info or a repo to reproduce? Thanks.

[2016-01-14 21:21] loay commented on #496
Hi @craigcabrey
Is this issue still persisting?
Thanks.

[2016-01-14 21:23] loay commented on #479
Hi @TonnyTao
The issue is reported as a bug: https://github.com/strongloop/loopback-datasource-juggler/issues/492
We will try to fix it as soon as we can.
Thanks.

[2016-01-14 21:26] loay commented on #606
Hi @mailuser41
Did you try the fixes mentioned in the same repo? Thanks.

[2016-01-14 21:35] loay commented on #587
PR https://github.com/strongloop/loopback-datasource-juggler/pull/588 -> merged
Issue is fixed and version updated.
Closing case.
If the issue still presists, please add a comment and I will re-open the case.
Thanks.

[2016-01-14 21:35] #587 closed

[2016-01-14 21:38] loay commented on #589
Hi @mrfelton
Is this issue still persisting?
Thanks.

[2016-01-15 00:10] loay commented on #613
Hi, Closing issue due to inactivity.
current async version in `package.json` is `async@1.0.0`
 If you are still running into problems, feel free to leave a comment and I will reopen the issue. Thanks.

[2016-01-15 00:10] #613 closed

[2016-01-15 00:12] loay commented on #585
Hi @PuKoren,

Are you still running into the same issue? Thanks.

[2016-01-15 00:15] loay commented on #614
Hi @BerkeleyTrue
Still runinng into the same issue? was there a Pull request to fix the issue so I can have a look at?
Thanks.

[2016-01-15 01:29] jrschumacher commented on #505
@loay no I'm going to close this. My issue was resolved a long time ago and I read through the code again and I don't believe this is an edge case as I originally thought.

[2016-01-15 01:29] #505 closed

[2016-01-15 05:36] zbarbuto commented on #88
I found that @CjS77 's solution worked only for a single relation. As soon as there were multiple relations to cascade it would only delete the first relation as the first resolved delete would call next();

I've made a slight change which waits for all deletes to resolve before calling next:
 https://gist.github.com/zbarbuto/add938efd9653c7c6c14

[2016-01-15 07:14] ebarault opened #821 "adding belongsTo relation inclusion to embedsOne relation"
Hi,

I'd like to add support for belongsTo relation inclusion to embedsOne relation, in a similar way as it is supported by the embedsMany relation.
Is there already some work in progress on this? is this already referenced somewhere?

Thks for comments.

[2016-01-15 09:57] BerkeleyTrue commented on #614
Not that I know of. That project has been migrated over completely. This was more of a suggestion to increase the DX when it comes to these types of errors.

[2016-01-15 15:22] loay commented on #448
@bradplank
Also, you can use native SQL:
https://docs.strongloop.com/display/LB/Executing+native+SQL

[2016-01-15 19:11] loay commented on #614
@BerkeleyTrue Thanks.
Looking into it.

[2016-01-15 19:30] loay commented on #495
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.
Also, please provide a repo for testing since I couldn't resolve on my end. It is possible that it has been fixed in recent releases.

[2016-01-15 19:30] #495 closed

[2016-01-15 19:31] loay commented on #479
Duplicate of https://github.com/strongloop/loopback-datasource-juggler/issues/492

[2016-01-15 19:31] #479 closed

[2016-01-15 19:46] loay commented on #589
Many Polymorphic relationship issues have been fixed in the recent version. If the issue is still persisting, please leave a comment and I will look into the issue. Thanks.

[2016-01-15 19:46] #589 closed

[2016-01-15 20:10] loay commented on #585
Hi @PuKoren
Here is the solution:
Have a look at this document for indexing:
https://docs.strongloop.com/display/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Indexes

 Once the index is defined for the model, dataSource.autoupdate() for mongodb will ensure the indexes.

For future reference, please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.co

[2016-01-15 20:10] #585 closed

[2016-01-18 13:49] sochka commented on #805
I have the same problem. The code which triggers the warning:
[code]
How do I fix that? process.setMaxListeners(0) doesn't help.

[2016-01-18 20:46] superkhau commented on #805
Would one of you guys like to submit a patch? I think it's as simple as using setMaxListenerss as recommended, but somewhere in Juggler's code. I do not have time to look into this ATM, but I could do a code review/merge if you guys send a PR.

[2016-01-18 20:47] superkhau commented on #805
Also, which connectors are you guys using? Is the same error happening in multiple connectors or just in-memory?

[2016-01-18 21:12] sochka commented on #805
@superkhau for me this happens with PostgreSQL connector but not with memory connector.

[2016-01-18 21:21] sochka commented on #805
This change fixes the warning for me: https://github.com/strongloop/loopback-connector/compare/master...sochka:patch-1 Although as I see now, my warning is slightly different, maybe there are two places where the fix is needed. My warning was in loopback-connector package:

[code]

[2016-01-18 21:29] superkhau commented on #805
@sochka Can you provide a sample repo for me to reproduce the issue?

[2016-01-18 21:31] superkhau commented on #805
@sochka Nice find, it's probably somewhere else too as you've stated.

[2016-01-18 21:35] sochka commented on #805
Sorry, I don't have time to setup everything, but since I had this error from the very first day, this should reproduce it: generate at least one, any additional model beyond the default ones. Plus create a boot script with this contents:

[code]

Replace default db datasource with PostgreSQL database.

[2016-01-18 21:38] sochka commented on #805
Just updated the error message here https://github.com/strongloop/loopback-datasource-juggler/issues/805#issuecomment-172656819, copy-pasted the text from the wrong place at first.

[2016-01-19 08:13] alFReD-NSH commented on #466
I'm also using postgres and I would love the following functionalities in autoupdate(Of course all optional):

- Old columns are not deleted, and if they have `NOT NULL`(required property/column), `NOT NULL` should be dropped(so that new data will work fine without it).
- If column has a type change, then the old column should be renamed so the old data is not removed, mentioned in here: strongloo

[2016-01-19 12:47] bajtos opened #824 "Remove legacy model hooks"
Remove legacy model hooks triggered via `inst.trigger`. Users should have migrated to new Operation hooks quite some time ago.

https://github.com/strongloop/loopback-datasource-juggler/pull/473

https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/hooks.test.js

[2016-01-20 00:35] brunocarneiro commented on #84
I found a Cassandra Connector here:
https://github.com/strongloop-community/loopback-connector-cassandra

Not sure it is working. If so, is there any guide to use it?

[2016-01-20 00:35] brunocarneiro commented on #84
By the way +1 to this feature!

[2016-01-20 09:59] Nautigsam commented on #258
Hey, anything new about it? Count on embedded models still returns 0 in all cases.

[2016-01-20 11:41] bajtos opened #825 "patchById and patchOrCreate"
Based on the discussion in https://github.com/strongloop/loopback-datasource-juggler/pull/788, we should implement few new methods, both in 2.x and 3.0:

 - `patchById` - a static version of `instance.updateAttributes` that does not require any instance (Connect to: strongloop-internal/scrum-loopback#752)
 - `patchOrCreate` - an alias for `updateOrCreate`(Connect to: strongloop-internal/scrum-loop

[2016-01-20 16:36] giowe commented on #88
+1 !!!

[2016-01-20 16:43] franher commented on #263
Hello @CarlosCuevas

I had same problem but taking a look on [loopback documentation](https://docs.strongloop.com/display/public/LB/Environment-specific+configuration#Environment-specificconfiguration-ExcludestacktracesfromHTTPresponses) you can find the solution:

On `server/middleware.json`:
[code]

[2016-01-21 04:22] jbcpollak opened #827 "belongsTo method is not promisified"
Using loopback-datasource-juggler 2.44 I have found the belongsTo getter method does not return a promise.

For example, I have a model, say `Order` which has a belongsTo relationship with `Customer`.

This code does not work, although I would expect it to:

     order.customer().then(customer => {
         // do something with customer
     }

I've been using a promise-wrapping library to work ar

[2016-01-21 06:21] Neil-UWA commented on #827
[code]

[2016-01-21 13:30] IgorDavy commented on #827
Works like a charm :+1:

[2016-01-21 17:53] jbcpollak commented on #827
yup, that works, thanks. Its a bit confusing, but it works.

[2016-01-21 22:01] CarlosCuevas commented on #263
@franher That does work, thanks.  However, it also suppresses the trace from my logs, which I'd prefer to have.

@uooq sparked an idea for me.  Rather than rely upon Loopback's error handler middleware, I modified it to check the node environment variable and put it in a separate file.  I then modified server/middleware.json to point to this modified version instead.

`middleware/customUrlNotFound

[2016-01-22 15:10] loay commented on #827
Issue resolved. Closing the issue. Thanks.

[2016-01-22 15:10] #827 closed

[2016-01-22 15:20] jbcpollak commented on #827
Thanks for the tip, I know promises are still under development.

On Fri, Jan 22, 2016, 10:11 AM Loay <notifications@github.com> wrote:

[2016-01-22 15:36] loay commented on #827
@jbcpollak
If you are still having the same problem or a question regarding it, please let us know or just leave a comment so and I will re-open the case to investigate further.
Regards

[2016-01-22 15:41] jbcpollak commented on #827
sorry, my last comment was vague, everything is fine. I wish the api didn't
require the getAsync(), but it works well.

On Fri, Jan 22, 2016, 10:37 AM Loay <notifications@github.com> wrote:

[2016-01-22 18:04] beeman commented on #372
Thanks @wprater, this works in the case where I want to validate an option zip code:

[code]

[2016-01-25 08:42] dmellonch opened #830 "MongoError not catched"
Hello everyone!

I've found a problem with MongoError not catched (duplicate key on index during updateOrCreate)
https://github.com/strongloop/loopback-datasource-juggler/blob/2.x-latest/lib/dao.js#L520-L531

The err object in done function (row 520) is the correct MongoError but err obj is not checked and error is not propagated.

[2016-01-25 08:49] #177 closed

[2016-01-26 21:24] TimPerry commented on #366
+1 this still doesn't appear to work. @bitmage I agree with you there is no mention of __cachedRelationships.

[2016-01-27 08:34] shSina opened #832 "hasMany through fields scope not working"
I created sample [repo](https://github.com/shSina/loopback-sandbox) , filter fields works fine from the url , but not working from scope defined in model.json relation and return empty array.
[code]
expected output that works fine when filter using URL (I should remove scope from above relation) :
[code]

[2016-01-27 09:04] shSina commented on #832
the same results when :
[code]

[2016-01-27 09:15] shSina commented on #832
unexpected thing that happen , when I add the scope as below:
[code]
the out put of updating the rel between objects change as below
[code]
it seems I should apply another scope for the inside relation , it works fine

[2016-01-27 09:17] shSina commented on #832
fixed , I should add the scope in friend.json as below :
[code]

[2016-01-27 09:18] shSina commented on #832
miss understood of how it works in relations , can have better documentation :+1:

[2016-01-27 09:31] shSina commented on #832
I updated the repo , scope not applying on "GET /users/{id}/friends/{fk}" , and return the whole object

[2016-01-27 15:03] infonion commented on #121
Could some one confirm that Composite issue in loopback-juggler is not occuring now. I'm facing the issue in development. Your help will be really appreciated. Thanks!!!

[2016-01-27 17:24] JoshElias commented on #366
+1 toJSON is not a function on the model returned from an Model.findById

[2016-01-27 18:59] davidcheung opened #833 "Update loopback-datasource-juggler API docs for promises"
Parent: strongloop/loopback/issues/1409
Related: strongloop-internal/strong-docs/issues/63, strongloop-internal/scrum-loopback/issues/615

`scope.js`
ScopeDefinition.prototype.related
(seems lack doc page)

`dao.js`
Static methods:
[DataAccessObject.create](https://apidocs.strongloop.com/loopback/#persistedmodel-create)
DataAccessObject.updateOrCreate (alias of upsert)
[DataAccessObject.upsert](ht

[2016-01-27 19:03] geoffcorey commented on #551
Not sure I agree with that.   The idea of a default scope to me means this should be included always.  If you are just overriding the default scope then there really shouldn't have a default scope.

[2016-01-27 19:20] loay commented on #475
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue

[2016-01-27 19:20] #475 closed

[2016-01-27 19:38] clounie commented on #551
i.e. default scope +  additive changes only, or you're just designing your default incorrectly, is that what you're saying? That'd seem reasonable.

[2016-01-27 20:28] loay commented on #249
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-01-27 20:28] #249 closed

[2016-01-28 08:12] lyyzj opened #834 "if model has many relation,override model find,the results is not include relation data,how to do?"
if model has many relation,override model find,the results is not include relation data,how to do?
the boot script is below:

    var ArticleUser = app.models.ArticleUser;
    var auFind = ArticleUser.find;
    ArticleUser.find = function(filter, cb) {
        var cacheKey = 'ArticleUser-all';
        if(filter) {
          cacheKey = 'ArticleUser-' + JSON.stringify(filter);
        }
        cons

[2016-01-28 09:42] IgorDavy commented on #827
And what about adding customer to an order ?

I tried setAsync but it doesn't work
[code]

[2016-01-28 23:23] Morriz commented on #541
what is the status of this...it's driving me nuts to see validations triggered on non required fields with undefined values sent

[2016-01-29 03:10] #834 closed

[2016-01-30 03:27] Resonance1584 opened #835 "Through relations inconsistently resolved"
This is related to https://github.com/strongloop/loopback-datasource-juggler/issues/575

When including a relation in a .find method call, the results are returned from the cache.
When calling the relation method of an object the results are returned from the cache unless a non-null filter is passed.

Example (boot script on app startup):

In this example the database has been initialized with two

[2016-01-30 18:16] jimutt commented on #88
+1 What's the status of this issue? I really hope that a solid cascade-support will be implemented soon as I find it quite valuable for more complex systems.

[2016-01-31 08:44] mjromper commented on #676
+1

[2016-01-31 17:42] Amir-61 opened #836 "'find' should not trigger hooks if options.notify is false"
`find` method irrespective of whether `options.notify`is false or not it calls triggers some hooks.

[2016-02-01 10:27] terusus opened #838 "[v2.44.0] `nin` operator does not work with memory data source"
The model in question is defined with `"idInjection": true`. Models with ids from 1 to 5 are successfully created. The following code produces no results:

[code]

Same code works as expected with MySQL data source.

[2016-02-03 15:55] ekussberg opened #840 "Dates are saved as string since update from .39 to .45"
After updating to the .45 version the dates are now saved as strings and not as dates in MongoDB. Is there a solution?

[2016-02-03 16:04] UlrichRaab commented on #840
+1 Have the same Problem

[2016-02-03 16:21] mediapolis commented on #529
This issue is causing issues with passport functionality:

https://github.com/strongloop/loopback-component-passport/issues/123

Uniqueness validations before the find phase of findOrCreate probably need some special handling as this does not behave as expected.

[2016-02-03 17:15] barocsi opened #841 "{id:'xxx'} is swallowed when using findById with relational include filter using MongoDB"
Consider this, I want to look for an users followers.
When using no filter, it simply shows me all users fine.

However when I am curious if a SPECIFIC user with an id is in the follower list, I would add the where filter as below.
**Strongloop query:**

[code]

This translates to (mongodb query log) as expected:
**Mongodb transformed query:**

[code]

and I have zero results, since the only recor

[2016-02-03 18:19] jannyHou commented on #762
I am closing it since https://github.com/strongloop/loopback-datasource-juggler/pull/823 has been merged.

[2016-02-03 18:19] #762 closed

[2016-02-03 21:03] davidcheung opened #842 "Deprecate: DataSource.registerType"
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L2185-L2191

Use `ModelBuilder.registerType` instead of `Datasource.registerType`

Either throw friendly error upon use or removed code completely.

- [ ] Remove code or throw error
- [ ] CI test passes
- [ ] Update changes.md indicating breaking change

[2016-02-03 21:12] davidcheung opened #843 "Deprecated: Property names containing a dot are not supported"
https://github.com/strongloop/loopback-datasource-juggler/blob/934786200b0180ed3d3cf45f78986b2019511e79/lib/model.js#L222-L226

https://github.com/strongloop/loopback-datasource-juggler/blob/49c2bc214acb99fa6ec4bdefe59b3da095835795/lib/model-builder.js#L255-L259

Either throw friendly error upon use or removed code completely.

- [ ] throw error for unsupported property name formattings
- [ ] CI t

[2016-02-03 21:22] davidcheung commented on #843
Moving issues

[2016-02-03 21:22] #843 closed

[2016-02-03 21:23] davidcheung commented on #842
Moving issue

[2016-02-03 21:23] #842 closed

[2016-02-03 21:32] dopeddude commented on #714
With type fix on my model-config, the issue was resolved.

[2016-02-03 21:32] #714 closed

[2016-02-04 04:32] smstromb commented on #840
+1 This happens with updateAttributes for me after upgrading

[2016-02-04 11:51] kblcuk opened #844 "User passwords are not hashed during updateAttribute as of 2.45"
Greetings!

For some reason, user password are not run through [password setter](https://github.com/strongloop/loopback/blob/27c9e263e0a1b003f8c0a7969119ea66f18c2bb4/common/models/user.js#L591-L602) in User model when updated via `updateAttribute`.

This seems to work as intended when using loopback-datasource-juggler 2.44

Versions of relevant (I think) libraries that I have at the moment:
[code]

[2016-02-04 12:08] julien-sarazin commented on #840
+1 Same problem, even with IDs for related models.

[2016-02-04 15:12] julien-sarazin opened #845 "ObjectId are serialized as Strings since 2.45 on UpdateAttributes"
Model's relationships are filled as Strings after updates.

[2016-02-04 16:27] davidcheung commented on #566
Info placeholder :
https://github.com/strongloop/loopback-datasource-juggler/blob/934786200b0180ed3d3cf45f78986b2019511e79/lib/mixins.js#L42

[2016-02-04 17:03] gaurav21r opened #846 "Passing arrays of ids to `Model.relation.add()`"
I have the following Code

[code]

Please excuse the **ES7 async / await** usage in the example, just makes the code cleaner to understand!

Basically `Teacher` `Suja` is created and is related to `classes` of `id = 1`.
`Teacher` `CVR` is created but is not related to `classes` of `id = 1` and `id = 2`.

I am coming from the Waterline world, and I really find the ability to assign multiple relatio

[2016-02-04 17:07] gaurav21r commented on #846
Forgot! These are my model definitions:

[code]

[2016-02-04 19:30] davidcheung commented on #824
- [ ] Remove use of [inst.trigger](https://github.com/strongloop/loopback-datasource-juggler/blob/5dca27278a37b1e2e0fa572c3ae20681cd500680/lib/dao.js#L2011-L2012)
- [ ] test would probably break because of this
- [ ] update documentation to relfect change
- [ ] update `3.0-RELEASE-NOTES.md` to document breaking change

[2016-02-04 20:47] digitalsadhu commented on #835
@bajtos @raymondfeng any thoughts on this?

[2016-02-05 05:43] Resonance1584 commented on #835
Follow up - appears to be two different ways in that through relations are handled. One where the keyThrough property is used, which in my case was automagically generated as a property that does not exist, resulting in an empty __cachedRelations object.

The other code path (triggered by the non-null filter) fails to match on the relation keyThrough but continues anyway... using ` filter.collect

[2016-02-06 06:40] gaurav21r commented on #846
@raymondfeng @bajtos @wertlex @mazesoul @superkhau Your thoughts?

[2016-02-06 21:57] washcyclist commented on #651
I had a similar error message -- turned out that I hadn't completely defined my related models in the "relations" property of the model definition file, even though I had created properties with "type": "RelatedModel".   Once I defined fully defined the belongTo relations in the "relations" property, the error went away.

[2016-02-07 11:11] leolannenmaki opened #848 "updateAttributes adds missing properties with value undefined before storing"
In `before save` & `after save` hooks my object looks something like this:

[code]

But in Mongo my object looks like this:

[code]

The property `b` in the embedded model is defined like this:

[code]

There are no validations for `b`.

After adding logging inside [DataAccessObject.prototype.updateAttributes](https://github.com/strongloop/loopback-datasource-juggler/blob/934786200b0180ed3d3cf45f7

[2016-02-07 21:58] sochka opened #849 "Id property in insertion through REST should be ignored"
Hi,

With REST put and post requests ID property should be ignored otherwise this can result in the following security issue:

- attacker creates an instance of some model though rest with maximum possible ID value for the database (e.g. 2^31 for 32bit ints).
- It's impossible to add any data anymore since autoincrement would overflow.
- the system is broken

I believe this is a serious problem.

[2016-02-07 22:30] greaterweb opened #850 "[Request] Document uuidv4 as defaultFn option"
It appears there is an undocumented option for `defaultFn`, `uuidv4`. Both the [implementation](https://github.com/strongloop/loopback-datasource-juggler/blob/49c2bc214acb99fa6ec4bdefe59b3da095835795/lib/model.js#L288-L291) and a [corresponding test](https://github.com/strongloop/loopback-datasource-juggler/blob/3b9d3d0212ee44e6b033379082266b71a39ea4f8/test/manipulation.test.js#L1394-L1418) are fo

[2016-02-08 05:17] sahilanguralla opened #851 "Unable to define polymorphic relations, Could not find "relation" relation for Model"
I am facing an issue with polymorphic relations.
[code]
This code raises an error saying

While the same code in another model "Writer", it just works fine
[code]

[2016-02-08 13:14] pwwolf commented on #845
+1  This is a pretty serious issue.  It screwed up some of our data, and caused queries to stop working.

[2016-02-08 17:58] glesage commented on #844
Same issue as: https://github.com/strongloop/loopback/issues/2029

[2016-02-08 17:59] glesage commented on #844
Ok def something in this commit: https://github.com/strongloop/loopback-datasource-juggler/commit/8ca67c3d48952b972bc2e2c1ee4c8c93b389f99c

[2016-02-09 18:18] rawrmaan commented on #844
This broke our entire login system. It's **insane** that nothing has been done about this. Reverted to 2.44.0, thank you @kblcuk.

[2016-02-10 15:38] bajtos commented on #846
@gaurav21r thank you for reporting this feature request, it looks reasonable to me in principle.

However, there is an important catch. Loopback connectors don't provide a batch-create API at the moment. I.e. `add([1,2])` would have to make two database calls under the hood. This complicates things a lot - consider the case when the first call succeeded but the second one failed. What should `add(

[2016-02-10 20:37] mariohmol commented on #783
https://github.com/strongloop/loopback/issues/2056#issuecomment-182530830

[2016-02-10 21:24] mariohmol commented on #783
The error may be the same as this case https://github.com/strongloop/loopback/issues/2056#issuecomment-182530830 , not tested but i will do in future and get back if persists

[2016-02-10 21:24] #783 closed

[2016-02-11 02:59] jfurie commented on #845
+1

Its defiantly between  v2.44.0...v2.45.0

https://github.com/strongloop/loopback-datasource-juggler/compare/v2.44.0...v2.45.0

[2016-02-11 06:46] ShaharHD commented on #480
I can confirm that on my mongodb based setup, 'before save' event is not firing on the embedded model when I call from the API Explorer POST /Model/{id}/embedded

unless - I define it as persistent in the embedded model options

[2016-02-11 19:47] loay commented on #851
Hi @sahilanguralla
Can you provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2016-02-11 19:49] loay commented on #791
Thanks. closing.

[2016-02-11 19:49] #791 closed

[2016-02-11 19:51] loay commented on #512
Issue is fixed as per PR 513. Closing

[2016-02-11 19:51] #512 closed

[2016-02-11 21:21] BerkeleyTrue opened #854 "query _normalize removes second level properties from fields filter in strict mode"
I'm trying to access a second level property of a model. I'm using the dot notation `'field.subFeild': true`. While the `field` is defined in the model properties, it is defined an open object.

Investigating why the field filter is empty, I find that in strict mode, if a key in the `fields` filter is supplied to a query that is not directly defined in model properties, `field.subfield`, it is rem

[2016-02-12 10:26] sahilanguralla commented on #851
Hey @loay I had already reported the same issue in main "**loopback**" repository and it has been marked as a bug. Thanks for replying btw.
[https://github.com/strongloop/loopback/issues/2051#issuecomment-182159433](https://github.com/strongloop/loopback/issues/2051#issuecomment-182159433

[2016-02-12 13:19] loay commented on #851
Hi @sahilanguralla Thanks. Closing this one as a duplicate.

[2016-02-12 13:19] #851 closed

[2016-02-13 01:00] plmrry opened #855 "Cannot create models with property named "trigger""
It seems that you cannot define a model property named "trigger":

[code]

The error occurs [here](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model.js#L335), but may also be related to [inst.trigger](https://github.com/strongloop/loopback-datasource-juggler/blob/5dca27278a37b1e2e0fa572c3ae20681cd500680/lib/dao.js#L2011-L2012).

[2016-02-18 00:59] wesleymilan commented on #676
+1

[2016-02-18 11:08] FoysalOsmany commented on #367
@bajtos @raymondfeng Is it possible from any operation hooks to get the request object?

[2016-02-18 12:57] bajtos commented on #367
@FoysalOsmany not out of the box. You can use [remoting hooks](https://docs.strongloop.com/display/LB/Strong+Remoting#hooks) if you need to access the request object.

In the future, please post questions to our mailing list and/or other public forums, see [instructions](https://github.com/strongloop/loopback/wiki/Questions).

[2016-02-19 20:44] BenjaminHorn commented on #805
I describe it here https://github.com/strongloop/loopback/issues/1186#issuecomment-155959249 which code causing the error (If I run it with more then 11 data fixture files). Should I make a repository to demonstrate it?

I am using postgres  connector.

[2016-02-19 22:44] mrfelton commented on #845
@jfurie you mention that this issue affects between v2.44.0...v2.45.0. Does that mean it is resolved in the recent v2.45.1? Or have you just not tested that. I'm a little scared to upgrade with this looming and potentially disastrous issue still open.

[2016-02-23 15:32] doorty opened #858 "Where OR filter returns empty []"
I can confirm that _senderId_ and _recipientId_ return the expected results, but using _or_ wrapper returns [].

[code]

[2016-02-25 03:13] wprater commented on #657
how would one get context information in a middleware if we're to remove the use of `getCurrentContext`?  we are having major issues now with the strongloop/loopback#1495 fix

[2016-02-25 03:32] jmenashe commented on #657
The simplest way to access the context is to bypass strongloop's remote method tools and specify handlers with express. From there you can access the context directly and pass it along with all of your function calls. It's an unfortunate solution but at the end of the day I would rather have something gritty and consistent than something nifty that works half the time.

[2016-02-25 07:14] wprater commented on #657
are you saying to remove the `remoteMethod` calls to setup the endpoints?  Or just to not use the `getCurrentContext` tools or the  strongloop/loopback#1495 workaround, which has terrible performance?  it's brought our app to the ground.

[2016-02-25 08:17] jmenashe commented on #657
The former. Actually in our experience the endpoints created with `remoteMethod` leaked memory pretty badly. For high-volume endpoints we therefore went with straight express.and passed the context around manually.

[2016-02-25 12:10] maximeblondeau commented on #800
Same issue for me, I used the mongo connector to solve this.

[2016-02-25 21:00] AndersonZacharyT commented on #541
+1

[2016-02-28 09:11] jimmyjamieson commented on #84
+1

[2016-02-29 02:20] jmwohl opened #861 "'loaded' hook breaks order filter"
Might be specific to mongodb connector, doesn't seem to affect memory data source (haven't tried others). Adding a computed field via the 'loaded' hook undoes the order filter.

The following works by checking if the logged-in user has 'liked' the artwork in being loaded (via hasAndBelongsToMany relationship), and the `liked` property is added to each Artwork object as expected. However, when the

[2016-02-29 10:56] gausie commented on #813
Could be related to https://github.com/strongloop/loopback-datasource-juggler/pull/732

[2016-03-02 13:44] drywolf opened #863 "Loopback / datasource-juggler browserify bundle does not work in IE11 ?"
Hi,

I'm building a javascript app with loopback for the browser (using the browserify bundling). Everything works fine in Chrome/Firefox, but when I run the same code in Internet Explorer 11 (v11.103.10586.0) I hit an error in types.js at modelType.registerType() and the builtin types.

The error happens because IE11 does not seem to support the function().name attribute ?!
(see discussion here:

[2016-03-03 17:12] bajtos commented on #844
@Amir-61 I think we have already fixed this issue, could you PTAL and link to the relevant PR/commit & juggler version that contains the fix?

[2016-03-03 17:14] bajtos commented on #844
This may be a duplicate of https://github.com/strongloop/loopback/issues/2029

[2016-03-03 19:56] Amir-61 commented on #844
@bajtos Yes that's a duplicate of strongloop/loopback#2029 and it is fixed in  `loopback-datasource-juggler@2.45.1`.

@kblcuk Please let me know if I can close this ticket?

Thanks!

[2016-03-04 07:00] schitransh opened #865 ""Timeout in connecting after 5000ms" error while connecting to mongo db."
HI

I am facing a issue while fetching a records from mongo db.

Scenario.
we have a primary and geo cluster of mongo db. (4 application node instance and 4 mongo node instance.) [2 node in primary site and 2 node in geo site]
priority of mongo db primary to geo.

if we are terminating connectivity of primary site then geo application is not able to connect to db and getting below error but if i a

[2016-03-05 18:50] Cisero commented on #84
Any updates on this feature ?  Any work arounds in the meantime >?

[2016-03-06 21:11] wprater commented on #657
that's sad to hear, I cannot remove our `remoteMethod` as we're close to shipping and they are the basis of our documentation as well.

I did manage to fix the performance issue with the `1495` hack.

[2016-03-06 21:20] brunocarneiro commented on #84
Hi Cisero,

I created a fork from the original loopback cassandra-connector and I
did a *few
workarounds*
It's far from done and it's not stable. However it's working on my needs.
Take a look here:
https://github.com/brunocarneiro/loopback-connector-cassandra

2016-03-05 15:50 GMT-03:00 Cisero <notifications@github.com>:

[2016-03-07 17:14] cfjedimaster commented on #676
Just chiming in that I ran into this today as well.

[2016-03-08 05:40] FreakTheMighty commented on #474
I'm unclear on what the outcome of this ticket was, or perhaps I'm reporting a regression. In the an `after delete` hook `ctx.instance` is undefined. According to [these docs](https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-Accessingtheaffectedinstance), it shouldn't be. I'm deleting the instance through the REST api.

[2016-03-08 21:17] Valko54 opened #867 "options.allowExtendedOperators doesn't work with updateAttributes"
Hi,

After many tests, I can't use options.allowExtentedOperations with model.updateAttributes function.

Could you add the option.allowExtentedOperations in dao.js file (line: 2810) ?
`var allowExtendedOperators = connector.settings && connector.settings.allowExtendedOperators;`

I use "strict" option and my data variable is cleaned by this line:
`if (strict && !allowExtendedOperators) {
      ap

[2016-03-09 04:50] jkvim commented on #541
+1

[2016-03-09 14:20] quorak commented on #230
+1

[2016-03-11 18:17] Irvandoval commented on #541
+1

[2016-03-15 12:37] jaumard opened #870 "Clear documentation for this module"
It's possible to use this ORM outside loopback ? If yes where is the documentation about this module for use it in standalone ?

[2016-03-15 19:56] NelsonBrandao commented on #841
+1

[2016-03-15 20:07] dakotahNorth commented on #471
Using User with bcrypt (0.8.5) still results in unusually long times. I have 60 unit tests that normally takes a little less then 4 seconds to run. When I switched to inheriting to User, resulted in unusually long times ... 12 seconds.

That is a huge increase in test run times from just inheriting from the User model. Do I need to do anything else besides for including bcrypt as a dependency?

[2016-03-15 20:29] dakotahNorth opened #871 "Extending User takes 3 times longer to run unit tests"
This issue discuss that extending user takes 20 times longer to fetch ... https://github.com/strongloop/loopback-datasource-juggler/issues/471 and that issue is closed.

My experience using User with bcrypt (0.8.5) still results in unusually long times. I have 60 unit tests that normally takes a little less then 4 seconds to run (using in memory persistence.) When I switched to inheriting to User,

[2016-03-15 20:58] gunjpan opened #872 "Update error message shown when connector is missing"
After creating datasource, if connector is missing, following message is displayed:
[code]

should be changed to:

as this will also add the connector to `package.json` (which is a suggested way in [docs](https://docs.strongloop.com/display/public/LB/Connecting+models+to+data+sources#Connectingmodelstodatasources-Basicprocedure))

[2016-03-15 21:12] superkhau commented on #872
@gunjpan Present for you.

https://github.com/strongloop/loopback-datasource-juggler/pull/874

[2016-03-15 21:19] gunjpan commented on #872
@superkhau Thanks :)

[2016-03-15 21:28] gunjpan commented on #872
PR merged. closing.

[2016-03-15 21:28] #872 closed

[2016-03-16 10:23] Narrator commented on #740
+1

[2016-03-16 11:42] Narrator commented on #529
+1

[2016-03-18 12:00] ebarault commented on #166
it seems filter "fields" in hasManyThrough relation is still applied on through Model rather on target Model ?

[2016-03-18 15:23] gholias commented on #263
None of the solutions above worked.

Any ideas of how I can disable the error stack on production?

[2016-03-18 22:10] hotaru355 commented on #808
Just encountered the same issue and have created a [PR](https://github.com/strongloop/loopback-datasource-juggler/pull/877). If a unit test is required, I need to know ...

- ... in what test file you would like to add the test. `test/basic-querying.test.js` seems to be fitting place and I would add it to the (currently [skipped](https://github.com/strongloop/loopback-datasource-juggler/blob/maste

[2016-03-21 11:46] ChopperLee2011 opened #878 "Why Model.getDatasource().name always return connector name?"
I suppose it will return datasource's own name, but actually it return connector name.
Is it original designed, or bug?

[2016-03-22 15:55] fuzzball1980 commented on #84
@brunocarneiro Hi bruno! Has you been able to connect to cassandra? I always get an error on juggler "Can't find the property name in undefined." when using the community loopback-connector-cassandra.

When using your forked connector I got the following error

events.js:72
       throw er; // Unhandled 'error' event
             ^
TypeError: Uncaught, unspecified "error" event.
   at TypeError (<

[2016-03-22 16:17] brunocarneiro commented on #84
Hi @fuzzball1980,

Yes I have been able to connect to Cassandra. I have been using my
connector since December/2015.
It seems to me that it can be a miss configuration in the file
datasources.json.
This is how I use it in development:

//[project-folder]/server/datasources.json
{
  "db": {
    "host": "localhost",
    "name": "db",
    "connector": "../../../loopback-connector-cassandra/index",

[2016-03-22 16:20] bajtos commented on #463
Cross-posting conversation from SlackChat.

@raymondfeng

@bajtos

[2016-03-22 16:24] bajtos commented on #463
AFAICT, at least the MySQL connector does not provide `connect` method and connects immediately from `initialize`. I think in order to implement this issue, we will have to fix all connectors to correctly implement `connect` method.

While we are at changing this, it would be nice to document the new expectation in https://docs.strongloop.com/display/APIC/Building+a+connector

[2016-03-22 16:32] fuzzball1980 commented on #84
Bruno!

I have been able to connecto but I get a lot of errors when trying to
create the default users/acl model tables.

The errors are like "no viable alternative at input 'NOT' ... in VARCHAR
NOT NULL", seems like for any property with require = true the translation
add a NOT NULL that is not supported on cassandra.

Have you had this problem before?

Thanks a lot!

On Tue, Mar 22, 2016 at 1:17

[2016-03-22 16:58] brunocarneiro commented on #84
@fuzzball1980,

DDL generation is not working in this connector. I create my tables
using cqlsh tool.

2016-03-22 13:32 GMT-03:00 fuzzball1980 <notifications@github.com>:

[2016-03-22 17:12] fuzzball1980 commented on #84
Thank you!!

On Tue, Mar 22, 2016 at 1:58 PM, Bruno Carneiro <notifications@github.com>
wrote:

[2016-03-22 23:40] jacobheun commented on #861
Hitting this issue as well, it's not an issue with any particular datasource (I'm using mysql). The issue exists in the allCb function of the dao: https://github.com/strongloop/loopback-datasource-juggler/blob/v2.45.2/lib/dao.js#L1494.

Since all of the objects are being run in parallel there's no guarantee that the objects get pushed onto the result at the same time: https://github.com/strongloop

[2016-03-26 15:02] epyx25 commented on #138
+1

[2016-03-29 08:12] JacopKane commented on #386
Same here, when migrating builtin models like user are camel-case, but discovery reads  my tables as small-cased if it doesn't have underscores in it

[2016-03-29 15:01] peek4y opened #883 "Invalid input throws AssertionError: lng must be <= 180"
I've a property in a model X

[code]

And I tried to query randomly with invalid input.

[code]

 and it throws an AssertionError, and completely crashes the node process.

Is there a way I can handle it? and a way to pass it to a middleware?

[2016-03-29 15:11] devotis commented on #678
Nice solution @sachinik19 . Using it now.

[2016-03-30 04:26] daamsie commented on #103
Yeah, this still needs a solution. I just ran into it with a latitude being entered that was over 90. Actually, just someone accidentally putting lat/lng the wrong way around. This should really be handled as a validation error inside the model type.

The above are not solutions - they are workarounds, mostly avoiding GeoPoint altogether. It seems a shame to have a built in type like this that can

[2016-03-30 15:26] bajtos commented on #844
I'm closing this issue as a duplicate based on the comment above.

[2016-03-30 15:26] #844 closed

[2016-03-31 20:27] shaharz commented on #438
Any ETA or pointers on how to work around this issue for now?

[2016-04-04 06:01] lushibi commented on #94
+1, any update on this issue? I have a product hasAndBelongsToMany tags relation, but how to do: find all products with a specific tag?

[2016-04-05 09:53] ebarault opened #890 "not including foreignKey in relation fields crashes loopback app"
consider the following relation:
[code]
note that the channelId foreignKey is missing in the fields filter: this gives the following error which just crashes the loopback app
[code]

adding the foreignKey in the fields filter solves the issue
` "fields": ["id", "channelId"]`

This is nonsense the app crashes for such reason.
Better than fixing, would you consider forcing the foreignKeys by default

[2016-04-05 17:26] superkhau commented on #890
Can you provide a sample repo for me to reproduce the issue on my end?

[2016-04-05 17:37] ebarault commented on #890
hi superkhau, i'll package a sample loopback app and send it through

[2016-04-05 18:15] superkhau commented on #890
You can fork loopback-sandbox with just some dummy data. See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-04-06 00:15] ebarault commented on #890
see this sample repo to reproduce the issue:
`https://github.com/ebarault/loopback-sandbox/commits/master`

the sample has 2 models: parent and child with a hasOne relation from parent to child

as per parent.json the relation is defaulted to
[code]

note the missing `parentId` foreignKey in default fields

i created 2 boot scripts:
- one to create dummy data
- the other to run a query that will f

[2016-04-06 08:23] alexthewilde commented on #474
@FreakTheMighty the docs are misleading. I ended up querying the model instance manually using the `ctx.where.id` as explained [here](https://stackoverflow.com/questions/28607543/how-to-access-the-modal-instances-that-will-be-deleted-in-the-before-delete/28990626#28990626).

[2016-04-06 14:59] horiaradu opened #892 "Validations are not run on bulk create/update"
When performing a bulk create of entities (ex: Model.create([ {...}, {...} ]);) or a bulk update (ex: Model.update({aField: aValue}, { anotherField: anotherValue }); ), the validations defined on the model are not being executed.

[2016-04-06 14:59] horiaradu commented on #793
I believe this is related to https://github.com/strongloop/loopback-datasource-juggler/issues/892

[2016-04-06 17:55] superkhau commented on #474
@crandmck ^

[2016-04-06 19:23] crandmck commented on #474
@alexthewilde I'd like to fix the docs.  Can you tell me what's wrong or misleading in https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-Accessingtheaffectedinstance?

[2016-04-06 20:09] FreakTheMighty opened #894 "Loopback app as npm dependency"
When I attempt to consume a loopback application as a dependency of another application the transitive dependencies fail to load despite being installed. Here's some sweet ascii art and the error I get.

[code]

[code]

[2016-04-06 20:33] alexthewilde commented on #474
@crandmck sure. The table indicates that `ctx.instance` is available in the `before delete` hook as well as in `after delete`, yet this doesn't seem to be the case actually. It could be documented instead that it's possible to retrieve the instance using the `ctx.where.id` parameter.

[2016-04-06 21:03] superkhau commented on #610
I've merged in the fixes. Please let me know if works for you guys! ;)

[2016-04-06 21:05] #610 closed

[2016-04-07 14:52] loay commented on #805
I cannot reproduce the error with mysql.

@sochka

 I can reproduce with postgres connector. I do not get any errors when I add this line only.

[code]

let me if this works for all of you, and I will update the code. Thanks.

[2016-04-07 20:32] horiaradu commented on #838
This should be fixed via: https://github.com/strongloop/loopback-datasource-juggler/pull/860

[2016-04-07 22:31] Amir-61 opened #897 "validation fails when `{ forceId: true }` for `replaceById`"
Validation fails if you pass `{ forceId: true }` for `replaceById` even though you don't pass the primary key in `data` object.

Connect to https://github.com/strongloop/loopback-datasource-juggler/pull/896

[2016-04-08 09:33] jmyrland commented on #785
This is also the case for the mysql-connector.

The following code triggers the `loaded` operation hook:
[code]

The following code does not:
[code]

Is there any way to trigger the `loaded` hook manually?

[2016-04-08 16:37] crandmck commented on #474
Thanks!  I updated the table in https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-Accessingtheaffectedinstance.  Please LMK if that's sufficient.

[2016-04-08 19:40] rpalacio86 commented on #166
@ebarault same for "order" filter

[2016-04-10 21:04] christiaanwesterbeek opened #899 "Auto-discover auto_increment / identity field into property with generated = true and not be required"
Currently, when I discover a model from a SQL Server table with an identity field or a MySQL table  auto_increment field, that model will not have that field's `generated` property set to true.

I propose to change that. So that I when I discover a table with an auto numbered field into a fresh model. I can immediately do a Model.create without getting the error message _"The `model_name` instance

[2016-04-12 08:20] sanandrea opened #901 "is it possible to un bind an operation hook?"

[2016-04-12 08:28] #901 closed

[2016-04-12 19:32] ebarault commented on #678
for those interested in this PR, please see [my post here](https://github.com/strongloop/loopback-datasource-juggler/pull/787)
some changes are probably needed too with regards to the filters overriding policies currently in place

[2016-04-12 20:12] ebarault commented on #865
did you check [this](https://docs.strongloop.com/display/public/LB/MongoDB+connector#MongoDBconnector-Replicasetconfiguration) ?

[2016-04-13 01:18] ebarault opened #903 "{"property" : boolean} and {"parent.child" : boolean} field filters don't work"
consider a model mapped on a mongodb collection which include json documents with several levels of nesting. for example: `{property : boolean}` or `{parent.child : boolean}`

say one wants to apply a filter of the following form on given query:
`{fields: {parent.child : false}}`

While this is casual stuff with mongodb, the DataAccessObject._normalize method fails on such filters and return inste

[2016-04-13 22:29] #836 closed

[2016-04-14 22:18] #897 closed

[2016-04-15 09:16] nawwa opened #906 "Strongloop UPDATE with AJAX"
Hello all,

I try to perform an update on my db with Ajax but nothing is working, they told me :
"where must be an object"..

Url i tried : http://localhost:8880/api/Tracks/update?filter=[where][id]=5

Someone can help me ?
Thanks !

[2016-04-18 21:08] Amir-61 commented on #808
Connect to https://github.com/strongloop/loopback-datasource-juggler/pull/877

[2016-04-19 01:12] mplaza commented on #166
+1

[2016-04-19 13:54] upsidedownmind opened #908 "Weird search results with arrays parameters in memory connector"
Hi,
We found a bug in the memory connector: when you save a string value into a field, and then you search for it with an array value (containing the correct string value) it matches the non-array value and it gets results.

For example:
- create a memory model
- save {  name: String   }
- .count( {name: ['test']} ... ) or .find({where: {name: ['test'] } ... ) and you will see a non expected resul

[2016-04-21 00:00] Amir-61 opened #912 "update, updateAll do not convert types"
`update`, `updateAll` do not convert types properly; the mentioned methods are static methods and not prototype methods, and therefore no access to instance which is required to call [convertSubsetOfPropertiesByType](https://github.com/strongloop/loopback-datasource-juggler/blob/7247b6637e098047daf8d73d4d864455d80a9566/lib/dao.js#L65-L77)

Possible failing test to reproduce the issue (in `test/man

[2016-04-21 00:14] TeknoloGenie commented on #166
@jannyHou is this fix still being worked on? I can see that the limit works on filtering the relations but the sort still doesn't.

[2016-04-21 10:03] mrfelton commented on #678
For an overridable default/max limit you can check out https://github.com/fullcube/loopback-ds-resultset-limit-mixin

[2016-04-21 20:42] dh376 commented on #166
+1

[2016-04-21 20:42] dh376 commented on #644
+1

[2016-04-21 23:56] jannyHou commented on #166
@TeknoloGenie @ebarault @rpalacio86 @mplaza @dh376
I still plan to fix this, hasn't implemented it yet since there is a workaround for this and I am busy on something else, sorry for that.

For example:
A relation `space` hasManyThrough `customer`
Query by `find` and apply `include` filter would work:
[code]

The signature doesn't work is queried by `findById` and directly apply filter order on re

[2016-04-22 06:42] PaddyMann commented on #166
+1 I have the same issue.

I have two models with a hasManyThrough relation: `Country` and `Partner`. I want to order the partners by the averageRating column in that model.

This works: /api/v2/partners?filter[order]=averageRating%20DESC
This does not: /api/v2/countries/GB/partners?filter[order]=averageRating%20DESC

Due to `ER_BAD_FIELD_ERROR: Unknown column 'averageRating' in 'order clause'`. S

[2016-04-22 14:30] jannyHou commented on #166
@PaddyMann thank you so much for trying to fix it, `loopback-datasource-juggler` contains complex logic in loopback, it's very easy to break other things even with a small change, I really appreciate your help but I'd better fix it myself so if I have any questions I can discuss with senior lb developers in time. Since many people are blocked by it, I label it as major here, will start to fix it n

[2016-04-23 02:05] TeknoloGenie commented on #166
+1 @jannyHou thanks for the hard work! I've managed to find a workaround on the front-end to handle what i was needing for the time being, but it is moderately heavy, and won't work with large queries. So again, thanks for labeling this `major`!

[2016-04-26 08:52] harshu108 opened #914 "updateOrCreate does not return error in case of "error""
When my connector returns error in callback to updateOrCreate, the dao.js doesn't mitigate it back.

[code]

The call returns to `function done()` and it straight away notifies observers. The line that checks for error is missing.

[2016-04-27 10:08] Ascarbek opened #915 "related model fields are not included when using with root fields filter (PostgreSQL)"
I want to get only the fields I needed from the model, so I use **fields** filter, but I also have included relations, and they get dropped off the result.

If I don't use fields filter, the related models **are** in the result.

The forked bug repository for reproducing the issue is [here](https://github.com/Ascarbek/loopback-sandbox)

STR:
1. create **test** database in PostgreSQL server.
2. run

[2016-04-28 08:27] leventgunay commented on #128
hello from the other side!! this feature would be really helpful, i guess. looking forward to your updates. thanks.

[2016-04-28 08:34] bajtos commented on #497
Hello everybody, #904 and #911 added basic support for operation hooks in the scope proposed by this pull request. You can `npm install strongloop/loopback-datasource-juggler#2.x` to try it out before we publish a new version to npmjs.org.

create() triggers
 - before save
 - after save

updateById() triggers
 - before save
 - after save

destroy() triggers
 - before delete
 - after delete

**Limi

[2016-04-28 08:34] #497 closed

[2016-04-28 09:01] Sergius411 commented on #541
Check allowNull and allowBlank options in validators.
example:
Model.validatesNumericalityOf('property', {allowNull: true});

[2016-04-28 09:14] Morriz commented on #541
Where is that documented?

[2016-04-28 09:21] Sergius411 commented on #541
I've just found this solution by myself (all validators call nullCheck and check  for isBlank with those options) and i can not find any documentation for this options.

[2016-04-28 11:05] bajtos opened #916 "Rework DAO.prototype.save() to call replaceById"
I am proposing to rework `DAO.prototype.save()` to call `replaceById` instead of `prototype.updateAttributes`. This should fix the following problem in the current implementation:

[code]

Connect to https://github.com/strongloop/loopback-datasource-juggler/pull/921

[2016-04-28 13:50] jmls commented on #299
are you talking about mapping a property directly to an embedded model  - rather than defining a relationship ? Also, what's an "anonymous model" ?

[2016-04-29 07:22] peek4y commented on #103
@daamsie Exactly!

[2016-05-01 16:31] felipetoffolo1 commented on #166
+1

[2016-05-02 20:20] Morriz commented on #541
@richardpringle, could you put that on the roadmap? That prevents quite some future pain I believe :)

[2016-05-03 13:19] richardpringle commented on #541
@davidcheung, I believe that you should know where this lands on the roadmap?

I'm not sure if we have it documented in there, but maybe you could point @Morriz in the right direction.

@Morriz, from my understanding, the answer is "soon", I will try to see if @davidcheung can back that up.

[2016-05-03 13:43] davidcheung commented on #541
@Morriz
This definitely seems like a valid and common use case, yeah I believe the current solution is still the workaround [provided above](https://github.com/strongloop/loopback-datasource-juggler/issues/541#issuecomment-99915660) to use custom validation

@richardpringle but I don't have a roadmap on that either

[2016-05-03 15:15] richardpringle commented on #541
@bajtos, there are a few "+1s" on this issue. Should we bump up the priority? What do you think?

[2016-05-03 15:46] bajtos opened #920 "Spike: generate TypeScript Definition files"
Spike for https://github.com/strongloop/loopback/issues/1692

[2016-05-04 15:00] 0candy commented on #754
@mrfelton So this issue is resolved? Can I close the issue?

[2016-05-04 19:43] 0candy commented on #557
We do check whether the connector exist.
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L235-L248

Could you give more info on what are you trying to do?

[2016-05-05 02:32] Amir-61 commented on #558
@tushar-chauhan

Thanks for trying to improve the code... I really appreciate your effort. I believe the best way to discuss the code changes is to open a pull request and we can review the changes and land it if it looks good. So would you like to contribute by sending a patch and we can discuss more details there?

Thanks again :-)

[2016-05-05 02:46] Amir-61 commented on #596
Yea. I agree with you!  unfortunately we don't have support for notify for a few method including `update/updateAll`. It can be considered as a bug, but since we never had any support for `notify` for `update/updateAll` I label it as feature, although I agree it can be a bug because of inconsistency.

Thanks for the ticket :-)

[2016-05-05 02:55] Amir-61 commented on #628
Hey @ernoaapa,

Did Fabien's suggestion solved your problem?

[2016-05-05 03:55] ernoaapa commented on #628
Don't know. I defined default value to the field and migrated our database to always have true/false value in the field. And I'm not working in the project anymore so cannot test easily.

[2016-05-05 13:34] bajtos commented on #800
The pull request #864 contains a unit-test exposing the problem:

[code]

I am labeling this issue as a major bug and moving to Top of Backlog to prioritise higher. I think the fix should be reasonably easy, hence `beginner-friendly`.

[2016-05-05 15:53] loay commented on #619
Hi @FoysalOsmany,
Does @clarkbw  answer your question? Thanks

[2016-05-05 16:02] loay commented on #605
Hi @doublemarked
the code is outdated as L413 is pointing to something else now, but the current `isPlainObject` is implemented this way:

`function isPlainObject(obj) {
  return (typeof obj === 'object') && (obj !== null) &&
    (obj.constructor === Object);
}

`

[2016-05-05 16:03] loay commented on #567
@Amir-61
Isn't that part of the task you are working on? Is it implemented ?
Thanks.

[2016-05-05 16:04] loay commented on #506
Hi @idosh
Does raymondfeng's  comment answer your concern? Thanks.

[2016-05-05 16:57] idosh commented on #506
Yes, thanks

[2016-05-05 16:57] #506 closed

[2016-05-05 17:30] Amir-61 commented on #567
@loay

We implemented replaceById and replaceOrCreate which do what Fabien is looking for. This issue was reported long time ago. I believe if it still happens for `updateAttributes` it can be considered to be a bug, although newly implemented `replace*` methods can be used to achieve what Fabien is looking for.

Thanks!

[2016-05-05 17:32] loay commented on #567
Thanks @Amir-61
@fabien I will close that issue for now. If you have any concerns about the implemented methods, please leave a comment and I will re-open the issue. Thanks.

[2016-05-05 17:57] 0candy commented on #649
Closing this issue as PR was merged.

[2016-05-05 17:57] #649 closed

[2016-05-05 20:20] loay commented on #653
Hi @EyMaddis
It looks like that has been fixed.
I tested using the test cases and using explorer (using POST then PUT) , the server has not crashed, but it still gives an error message of `"lat must be a number when creating a GeoPoint"`

[2016-05-05 20:21] #653 closed

[2016-05-05 20:24] loay commented on #644
It seems to me that the issue is a duplicate of this case:
https://github.com/strongloop/loopback-datasource-juggler/issues/166
Which is already reported as a bug.. It should be fixed as soon as possible. Thanks.
if you feel it is not related, please leave a comment and I will re-open the issue. Thanks.

[2016-05-05 20:24] #644 closed

[2016-05-05 20:54] doublemarked commented on #605
Hey @loay - I cannot seem to reproduce this problem, either because it's been fixed or because my Issue here from last year is not helpful enough. It's probably a lesson for future Issues I file :)

[2016-05-05 20:54] #605 closed

[2016-05-05 21:28] Amir-61 commented on #633
Thanks for the patch...

I believe we already have support for [regexp](https://docs.strongloop.com/display/public/LB/Where+filter#Wherefilter-Regularexpressions); is it safe to close this ticket?

[2016-05-05 23:34] pulkitsinghal commented on #557
Thanks @0candy cannot remember what I was doing back then.

[2016-05-05 23:34] #557 closed

[2016-05-06 04:37] loay commented on #619
I am closing this issue. If you are still experiencing the same thing, please feel free to leave a comment and I will re-open the case. Thanks.

[2016-05-06 04:37] #619 closed

[2016-05-06 04:54] loay commented on #606
Closing issue. solutions offered  in https://github.com/strongloop/loopback-datasource-juggler/issues/336
If still experiencing the same issue, please feel free to leave a comment and I will re-open the issue. Thanks.

[2016-05-06 04:54] #606 closed

[2016-05-06 12:29] bajtos commented on #916
@Amir-61 I think I got confused. Looking at #921, `prototype.save()` clearly does not call `prototype.updateAttributes()`, but it triggers all hooks on its own and then call `connector.save()`. I think it's not necessary to change that right now, even though it means we have to maintain three different but similar methods `replaceById`, `replaceOrCreate` and `prototype.save`.

As I was investigati

[2016-05-06 13:00] bajtos commented on #541
@richardpringle I am find with bumping up the priority. However, I don't think this is a bug, I'd say it's a missing feature to make the framework easier to use. Unless I am missing something? On the second thought, it would be great if somebody could summarize what needs to get changed before we can close this issue as resolved.

BTW validations provide two more settings `if` and `unless` that ca

[2016-05-06 13:45] Amir-61 commented on #916
@bajtos I perfectly understand your feeling when you proposed this feature. It would definitely make sense to rework on `prototype.save` method to call our newly created `replaceById`, if `save` did not have its own implementation in connectors and was calling `updateAttributes` or `updateOrCreate`. However, I believe this refactoring is not really possible due to some limitations, one of which is

[2016-05-06 14:06] 0candy commented on #557
Thanks for the follow up. Sorry for the delay.

[2016-05-06 17:45] 0candy commented on #729
Fixed by https://github.com/strongloop/loopback-datasource-juggler/commit/3028329126702456d59b42d6a88da17effe89919
Closing this issue.

[2016-05-06 17:45] #729 closed

[2016-05-06 17:49] superkhau commented on #916
We need to decouple the modules and centralize the shared testing deps (I have work in the juggler refactor epic for this -- bug this has been delayed for awhile). Whether the shared tests are in its own module or part of juggler (./test/api-compliance.test.js) is up for debate.

[2016-05-06 22:44] crandmck commented on #850
This is already documented in https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Generalpropertyproperties

In the table:

If that's incorrect or incomplete, please reopen and include appropriate details.

[2016-05-06 22:44] #850 closed

[2016-05-07 00:00] jannyHou commented on #551
@geoffcorey do you still run into this issue?
I created an app but fail to reproduce your problem:
link https://github.com/jannyHou/loopback-sandbox/tree/test/scope-include

So if you run the app, create an instance of model `parent`, then create instances of `childone` and `childtwo` belongs to that parent, the result shows well:

[code]

[2016-05-07 00:23] jannyHou commented on #581
So now in a `belongsTo` relationship, function `create` does override the existed one.

[code]

Probably need check the `belongsTo` model instance existed in this function:
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L1321

[2016-05-07 00:42] jannyHou commented on #625
@fabien do you still plan to work on this feature branch?
https://github.com/fabien/loopback-datasource-juggler/tree/feature/query-contains
Or any update thought about this feature?
Thanks.

[2016-05-07 00:46] jannyHou commented on #640
I am closing this issue since pr https://github.com/strongloop/loopback-datasource-juggler/pull/642 to fix it  is merged.
Feel free to reopen it if you have further suggestion. Thanks.

[2016-05-07 00:48] #640 closed

[2016-05-07 17:50] mitsos1os opened #923 "Make strict option default to true for anonymous models"
When declaring the model definition JSON file, you can directly declare embedded document properites such as

[code]
and it works and also accepts only numbers. The problem with this is that it also accepts any other property in the **range** subdoc (strict option is set to false). This is due to **resolveType** in **model-builder.js** which creates an anonymous model for the subdocument defined (

[2016-05-09 14:36] bajtos commented on #916
In my opinion, that's orthogonal to the discussion here. When I wrote "there should be a unit-test added to the shared test suite to ensure all connectors comply with this requirement", I meant that we should add a new unit-test along the existing unit test for `save`, one that will specifically check for patch-vs-replace difference in behaviour.

To me, it makes sense to keep this as part of "rep

[2016-05-09 15:10] Amir-61 commented on #916
@bajtos Thanks for the comment. I created [a task](mongodb replaces whole instance on save()
memory performs partial update
SQL connectors (e.g. mysql) perform partial update) for incompatibility between `save` methods in different connectors. And in this sprint I pull in another task ([exposing endpoints task](https://github.com/strongloop/loopback/issues/1979)) to finish the most important tasks

[2016-05-09 15:18] #916 closed

[2016-05-09 18:47] superkhau commented on #916
I see, I misunderstood what you meant then. I thought you were specifically discussing the API changes. I agree with you that there should be some tests in addition to verify the differences in behaviour between patch/replace.

[2016-05-10 01:53] sharok opened #925 "Id is not generating for embeded entity"
I use some models from loopback example, but I save all data in mongodb.
This is my `Customer` model:
[code]
And `Address` model:
[code]

I made the following request in the explorer:
[code]

This is response:
[code]
As you can see `id` is present for `Customer` but not for `Address`.
I've tried to define `id` property in the model:
[code]

but it didn't help.

PS. I've also tried to connect `Addr

[2016-05-10 23:31] beaglez opened #927 "Polymorphic HasAndBelongsToMany references incorrect discriminator on Model.find"
In the example provided in the documentation on https://docs.strongloop.com/display/public/LB/Polymorphic+relations#Polymorphicrelations-HasAndBelongsToManypolymorphicrelations, the following does not work:

`Picture.find(
    {
        include: 'Author'
    },
    cb
);`

The query is looking for imageable='Picture', instead of imageable='Author' in PictureLink. I believe the defect is on the fol

[2016-05-10 23:42] rmmlxr commented on #147
Does not work for me; using postgres connector.

[2016-05-11 02:43] Amir-61 commented on #558
I'm closing this issue due to inactivity. As already suggested please feel free to open a pull request to discuss the code improvement.

Thanks for helping us improve the code!

[2016-05-11 02:43] #558 closed

[2016-05-11 02:45] Amir-61 commented on #628
Ok. Thanks! I'm closing this old issue... Please feel free to re-open the issue if you run into the same problem.

Thanks!

[2016-05-11 02:45] #628 closed

[2016-05-11 02:46] Amir-61 commented on #633
I'm closing this old issue, due to inactivity and also we already have added [regexp](https://docs.strongloop.com/display/public/LB/Where+filter#Wherefilter-Regularexpressions).

Thanks!

[2016-05-11 15:00] pponugo opened #930 "Geo where clause is not working for count method"
Geo where clause is not working for count method

I am trying to implement search by 'geo' location, which is working fine for '**find**' method, however, same logic is not working for '**count**' method. Below is the sample code.

The list of locations are stored in _memory_ and I am using _memory_ connector.

[code]

Appreciate your help

[2016-05-11 17:41] pponugo commented on #930
When I changed the data source from 'memory' to 'mongodb' I am getting following exception.

Basically, saying index is missing. Again, 'find' method is working perfectly, but 'count' method is showing exception.

**Exception**

message: "exception: error processing query: ns=demo.location limit=0 skip=0 Tree: GEONEAR field=geo maxdist=1.79769e+308 isNearSphere=0 Sort: {} Proj: {} planner returned

[2016-05-11 21:56] pponugo opened #931 "Geo where clause is not working with multiple filter's"
In the example below, when I add rental car name to search criteria, it is expected to give 'Avis' rental cars with in 5 miles of given geo location. However, find function is returning all 'Avis' rental car locations with in database. If I just pass geo location, the search is working perfectly and only returning locations with in 5 mile radius.

I tried 'memory' as well as 'mongo', both have sam

[2016-05-11 23:14] superkhau commented on #930
Can you provide a sample for us to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-05-12 13:30] #825 closed

[2016-05-12 22:02] jreidal commented on #166
+1

[2016-05-13 09:42] jkvim opened #932 "Doc of findOrCreate is wrong?"
As the [document](http://apidocs.strongloop.com/loopback/#persistedmodel-findorcreate) say, when findOrCreate match the where filter, `created` SHOULD be true, but after reading the source code of [findOrCreate](https://github.com/clarkorz/loopback-datasource-juggler/blob/master/lib/dao.js#L664-L681), it is opposite.

[2016-05-13 19:02] kaktus42 opened #933 "automigration of *-change models doesn't work"
Change models from here: https://docs.strongloop.com/display/public/LB/Synchronization#Synchronization-Setup

with definition of `"trackChanges": true` and no extra entry in `model-config.json` auto migration in boot script fails

[code]

no error from this callback, but the table `todo-change` is not created. => error later on `error: relation "public.todo-change" does not exist`

[2016-05-13 21:56] kaktus42 commented on #933
it seems that the Change Model subscribed an event when SQL query is executed.
But in that listener it seems to call SQLConnector.all.

This leads to a all query when (even before) the table gets deleted with automigrate().

Can someone with more insight here, please help me out?

[2016-05-13 22:27] kaktus42 commented on #933
Found this: strongloop/loopback-connector-postgresql#82
Also no solution so far... The workaround doesn't work for me

[2016-05-15 23:32] Amir-61 commented on #916
memory performs partial update
SQL connectors (e.g. mysql) perform partial update

Thinking of this task makes me wonder why we still should support three different methods (`connector.replaceById`, `connector.replaceOrCreate` and `connector.save`) in different connectors? What we are looking for is exactly `connector.replaceOrCreate` functionality for our `prototype.save` method in DAO; so I'm pr

[2016-05-16 01:00] Amir-61 commented on #916
ummm... digging into the problem I noticed calling connector.replaceOrCreate() for prototype.save in DAO may not to work either, because we don't have the atomic implementation of replaceOrCreate for some connectors...That being said, still it may make sense to implement atomic implementation of replaceOrCreate for all connectors and remove connector.save() calls for prototype.save() in DAO and ca

[2016-05-16 20:39] 0candy commented on #870
It is not designed for use outside of loopback. There are some functionalities that you can use outside of loopback but some that are specific to loopback. What are you trying to do?

[2016-05-16 20:47] 0candy commented on #629
Even if you use `hasManyThrough`, you still need a foreign key

See docs:
https://docs.strongloop.com/display/APIC/HasManyThrough+relations

[2016-05-16 22:07] 0candy commented on #651
Hi @jorgeramos,
Can you fork the loopback-sandbox [https://github.com/strongloop/loopback-sandbox] with a sample repo for me to reproduce the issues?
Thanks.

[2016-05-16 22:09] 0candy commented on #635
Can you fork the loopback-sandbox [https://github.com/strongloop/loopback-sandbox] with a sample repo for me to reproduce the issues?
Thanks.

[2016-05-16 22:15] jaumard commented on #870
@0candy I want to use this ORM in an other framework or only with Express without loopback.
The functionality I need/want :
- Models validations
- Create/Find/Update/Delete models with relations.
- Models hooks

[2016-05-16 22:21] 0candy commented on #870
You should be able to use those functionalities. Please be aware that we have deprecated model hooks but have operation hooks in place of it.
https://docs.strongloop.com/display/APIC/Operation+hooks

We do not support it for use as a standalone hence we don't have docs for that. However, you should be able to find docs on how to use the functionalities.

[2016-05-17 00:43] Amir-61 commented on #845
I believe this has been resolved. If not, could you please provide a sample repo reproducing the issue?

Thanks

[2016-05-17 00:47] Amir-61 commented on #861
I believe this is a duplicate of: https://github.com/strongloop/loopback-datasource-juggler/issues/800
Closing this ticket; however please feel free if you think it is a different issue.

PR which is pending to solve the problem: https://github.com/strongloop/loopback-datasource-juggler/pull/864

Thanks!

[2016-05-17 00:47] #861 closed

[2016-05-17 00:51] Amir-61 commented on #716
Closing this issue since the PR has been landed and the problem got resolved.

Thanks for contribution!

[2016-05-17 00:51] #716 closed

[2016-05-17 00:59] Amir-61 commented on #750
Yes thats seems a bug to me; the validation is not implemented for `updateAll`/ `update`

[2016-05-17 01:01] Amir-61 commented on #771
Yes thats seems a bug to me; the validation is not implemented for updateAll/ update

[2016-05-17 01:04] Amir-61 commented on #750
Would you like to contribute a patch and fix this issue?

[2016-05-17 01:13] Amir-61 commented on #840
I believe this has been resolved. If not, could you please provide a sample repo reproducing the issue?

Thanks

[2016-05-17 03:14] MarkAndrewJohnson opened #935 "Fields filter on missing fields"
I seem to have hit a problem while testing optional filter.fields settings based on whether the current user is a member of a group or not.  This is using a MongoDB backend and the function returns an array of records.  For the purposes of the issue I'm only describing a single record here.

For example a sample record is as follows:
`{
    "status": "approved",
    "id": "572815ae23207d2966221577

[2016-05-17 15:25] Amir-61 commented on #838
It seems this issue has been solved. I'm closing it; please feel free to re-open the ticket if you run into the same issue.

Thanks!

[2016-05-17 15:25] #838 closed

[2016-05-17 16:24] jannyHou commented on #935
@MarkAndrewJohnson thank you I reproduced this issue, the result is a little different from yours but a filter with an non-existed field false does hide another property.

Here is my result with mongodb:
1. A model with property status, userId, groupId, and the default id
2. filter `{"fields":{"userId":false}}`
[code]
works well
3. filter `{"fields":{"form":false}}`
[code]
So id is missing

I will

[2016-05-17 20:36] 0candy commented on #878
It should only use the connector name if datasource name is not set. Thank you for pointing out the bug. Name was not being passed in during creation.
https://github.com/strongloop/loopback/blob/master/lib/application.js#L434

If you would like, please contribute by submitting a PR.

[2016-05-17 21:09] Amir-61 commented on #925
I guess that's expected; for `embeds` relation the child's `Address` data is stored in the parent model `Customer`; I guess what you are looking for is `hasOne` where the child data (including the `id`) and parent id are stored in child model.

@superkhau Please correct me if I'm wrong...