[2018-11-13 19:45] raymondfeng commented on #1663
I'm in the process of refactoring such methods into ModelBase.

[2018-11-13 20:14] elv1s opened #1664 "Version >=3.25.0 regression for hasOne relationship and hidden property"
# Description
In `loopback-datasource-juggler@3.25.0` only 1 instance of an object with a `hasOne` relationship can be created for all items in a collection if the related object has hidden properties.

# Steps to reproduce

In the https://github.com/strongloop/loopback-example-relations repository add a "widget" model and ***add the foreign key to the "hidden" array.***

widget.json
[code]

model

[2018-11-13 20:55] elv1s commented on #1664
I noticed the related issue, but 3.25.1 still exhibits the failure but with a different error message. Same error message as 3.27.0

[code]

[2018-11-15 16:30] raymondfeng commented on #1664
Please verify with `loopback@3.24.0` and `loopback-datasource-juggler@3.28.0`

[2018-11-15 16:30] raymondfeng commented on #1663
Please verify with `loopback@3.24.0` and `loopback-datasource-juggler@3.28.0`.

[2018-11-15 17:45] lkappeler commented on #1663
@raymondfeng
Works with 3.28.0 and with 4.4.0 as well.
Thanks for the quick reaction time for fixing the issue.

[2018-11-15 17:45] #1663 closed

[2018-11-15 22:37] elv1s commented on #1664
This issue still happens with loopback@3.24.0 and loopback-datasource-juggler@3.28.0

What seems to be happening is that since the `customerId` is hidden in the `Widget` model, it is marking it as a prohibited key and stripping it from the `findOrCreate` query here: https://github.com/strongloop/loopback-datasource-juggler/blob/v3.28.0/lib/utils.js#L364

This will allow the first `findOrCreate` re

[2018-11-15 22:47] raymondfeng commented on #1664
Please configure `prohibitHiddenPropertiesInQuery: false` for the model or datasource setting to bypass the check. With loopback@3.24.0, such flag is set to `true` for remote method calls from REST.

You can also override `createOptionsFromRemotingContext` method for your model class, such as:
[code]

[2018-11-15 22:58] elv1s commented on #1664
Verified adding `"prohibitHiddenPropertiesInQuery": false` to the customer model fixes the issue.

customer.json
[code]

[2018-11-20 21:39] dhmlau commented on #1664
Thanks for verifying, @elv1s .

[2018-11-20 21:39] #1664 closed

[2018-11-22 06:36] ykunyan opened #1667 "loopback connector can not reconnect db2 when the db2 shut down and restart again"
Hi
In my app, I used looback to connect a DB2.  When the DB2 shut down, I could get a error exception as blow. But I can not get any data and null array [ ] using 'find' when I restart the DB2 again.
![default](https://user-images.githubusercontent.com/39693651/48885582-bfb0ad00-ee63-11e8-8e60-613602751d0c.png)
Below are related packages which I used.
    "loopback": "^3.19.0",
    "loopback-boot"

[2018-11-22 13:04] returnvoid-io commented on #1389
experiencing the same issue

[2018-11-25 07:53] narongsaky opened #1668 "Set alias for property not working"
# Description/Steps to reproduce

1. create model
2. set property with alias
     @property({
       name: 'name',
       type: 'string',
       required: true,
    })
    nameAlias: string;

# Link to reproduction sandbox

# Expected result

CRUD without any error.

# Additional information

when call findById through repository it throw error
 500 Error: ER_BAD_FIELD_ERROR: Unknown column 'nameA

[2018-11-27 07:15] Aibier commented on #685
Just try with {"where":{"property": {"regexp":"/keyword/i"}}}, dont miss "/" both before and after key word, just add keyword and add "/i" .

This works file with me.
If u use {"where":{"property": {"regexp":"*keyword*/i"}}} also works but keyword length must be greater than 2.

Hope this helps you.

[2018-11-28 17:49] dknapp47 opened #1669 "Find Method Adds partitionBy to Options Object"
# Description/Steps to reproduce

Per the recommendations here:

https://loopback.io/doc/en/lb3/Using-current-context.html

We pass the options argument down through the invocation chain.  We hit a case where calling a find method on a model modifies the options object adding "partitionBy: 'projectId'".

Here is the filter that we are using:

{
  where:{
	id:{
	  inq:projectVersionIds
	}
  },
  in

[2018-11-28 17:50] dknapp47 commented on #1669
For those who need it before a fix, a simple workaround is to clone the options object before passing it to another method.

[2018-11-29 10:17] kranthitechie commented on #1518
I had the same problem.

Manually added an entry for the new model into the json file used by the memory connector and it seems to be working now.

[2018-12-02 18:09] pookdeveloper commented on #730
This is not resolved yet ? Thanks

[2018-12-03 13:09] bajtos commented on #730
No, see https://github.com/strongloop/loopback/issues/683

[2018-12-09 18:56] mfpgs opened #1677 "Incorrect List values written to database on update"
After creating a simple project containing a model containing a property of type List of Numbers, I came across a problem when updating data. The application uses a database datasource (PostgreSQL).

Using the API explorer, it is possible to POST, in which case the list data is written to the DB correctly.
With PATCH, the List is incorrectly written to the DB generating an error: ```"could not cre

[2018-12-11 13:22] bajtos commented on #1636
Maybe `toJSON` should be returning just the string - that would seem most logical to me.

[code]

My biggest concern about changing the implementation of `toJSON` is the impact on existing applications - we don't want to break them.

On the other hand, I don't see how to current behavior (JSON output) can be useful to anybody, especially since this value cannot be fed back to DateString - i.e. a r

[2018-12-21 08:54] mitsos1os opened #1678 "Embedded model relations do not support async validations"
# Description/Steps to reproduce

When using the `embedsOne` or `embedsMany` relation functions for a loopback root model, the embedded model validations are called synchronously using `isValid()`, so no async validations are supported in embedded models

# Expected result

Since the whole operation is async, the validations should also be called asynchronously in order to consistently support asy

[2018-12-21 09:49] mitsos1os commented on #1678
I can provide a pull request to fix this, but could you please direct me where should I target it on? On the latest master or 3.x branch?

[2019-01-03 07:16] mustafamagdy opened #1679 "Operation hook receives options as empty {} when called from node"
I'll try to explain this weird situation as simple as I can.

I've created an operation hook "before save" and make it in a mixin to add it to some models.

this mixin uses context.options to get current userId to do something.

this mixin is working perfectly if I call the operation directly (like POST /Notes for example).

But if I call it inside a remote method, the context.options is empty, fo

[2019-01-03 09:03] mustafamagdy commented on #1679
I managed to solve it by passing the options come from the remote method to the create function of the model, I saw that in @bajtos comment [here](https://github.com/strongloop/loopback/pull/3023#issuecomment-266471998)

so use:
[code]

[2019-01-03 09:03] #1679 closed

[2019-01-24 10:36] FedericoMassaioli opened #1686 "In 3.28 version prohibitHiddenPropertiesInQuery is ignored if set in a model"
# Description/Steps to reproduce

I have a relation that is set up like this:

[code]
`hiddenPrimaryKey` property is hidden in `myMainModel`.
`protectedForeignKey` is listed among protected properties in `myTargetModel`.
The option `prohibitHiddenPropertiesInQuery` is set to `false` in `myTargetModel`. This is the only place in all the code where the `prohibitHiddenPropertiesInQuery` option is exp

[2019-01-24 15:44] raymondfeng commented on #1686
@FedericoMassaioli How did you configure `prohibitHiddenPropertiesInQuery` for your model?

The feature is covered by the following test:
https://github.com/strongloop/loopback-datasource-juggler/blob/bd5fd07d270084f8cc3d0cce1470431708f9b72a/test/model-definition.test.js#L413

[2019-01-24 16:42] FedericoMassaioli commented on #1686
@raymondfeng In the model definition, at the same level of `properties` and `protected`, where it used to work until 3.28.

Where am I supposed to configure it?

[2019-01-24 18:20] raymondfeng commented on #1686
Something like the following in your model json file should do it:
[code]

[2019-01-24 18:24] raymondfeng commented on #1686
Can you try `loopback@3.24.2`?

[2019-01-24 18:46] FedericoMassaioli commented on #1686
This is exactly the configuration that I used to have and doesn't work anymore.

[2019-01-24 18:48] FedericoMassaioli commented on #1686
Yes, I hope to find some time tomorrow for that, I'll let you know ASAP.
Warmly thanks for your help.

[2019-01-25 15:33] FedericoMassaioli commented on #1686
I tried, but the problem persists, with `loopback-datasource-explorer@3.28.1` too.

I forgot to mention that `myTargetModel` is persistent but it's not public.

[2019-01-25 15:58] bvenky27 commented on #1632
@bajtos yes, my proposed change breaks the code. I found out that the problem is not with the isClass function. It recognizes the built-in classes like Date correctly.

The problem is with the 'this.itemType(item)'. Here when the 'itemType' is of type 'Number' then Number(123) gives result as 123, a number and its the same for String(<value>) too, it will return string. But its not the case for 'D

[2019-02-02 08:07] techaks opened #1688 "mongodb aggregation"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2019-02-06 16:24] dhmlau commented on #1688
@techaks , could you please provide some information on the question / issue that you have? Thanks.

[2019-02-06 16:25] dhmlau commented on #1688
Looks like you've created another issue.  Closing as duplicate of https://github.com/strongloop/loopback-connector-mongodb/issues/494.

[2019-02-06 16:25] #1688 closed

[2019-02-10 22:34] Jethzabell opened #1689 "I can't see why 'FindById' calls 'Find'"
I can't see why 'FindById' calls 'Find'
If I **comment** the implementation of `Find`, Solution.findSolution `findById` works.
If I **uncomment** `Find`,

`Solution.findSolution` calls Find and runs the implementation i coded in Find witch will cause an error.

Find

[code]

Find By ID
[code]

[2019-02-10 23:47] Jethzabell commented on #1689
Test Case:
When I GET /{name}

Throws

TypeError: Cannot read property 'host' of undefined
    at /Users/jethzabell/Desktop/GitLab/solution-catalog/common/models/solution.js:201:78
    at Array.forEach (<anonymous>)
    at /Users/jethzabell/Desktop/GitLab/solution-catalog/common/models/solution.js:200:14
....
....

Witch is on 'find' not findSolution(findById)

[2019-02-13 17:31] jannyHou commented on #1689
@Jethzabell Some connectors have the optimized `findById` method for `loopback-datasource-juggler` to invoke while some does not. And that's when `findById` eventually invokes `find` with a constraint filter.

[2019-02-15 16:50] lapellaniz opened #1691 "Possible EventEmitter leak detected in datasource.js"
## Description/Steps to reproduce
Possible EventEmitter leak detected in datasource.js

- Using loopback v4 (core 1.1.3 and repository 1.1.1)
- Use a benchmark cli to send concurrent calls to test load a REST API using loopback/node.js
- The endpoint tested uses the loopback v4 controller/repository pattern with the loopback-connector-postgresql to send calls to AWS Redshift.
-

## Observed result

[2019-02-18 10:15] sharathmuthu6 opened #1692 "DataSource juggler is adding the model property with its default value in response"
## Description/Steps to reproduce
I created a simple loopback application with model name `testDefault` with its model defintion as below :
[code]

DataSource of `testDefault` is as follows :
[code]

Since it is an  in-memory connector, i changed the `.all` method of memory connector (https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/connectors/memory.js#L504)
 to return `c

[2019-02-20 10:06] hacksparrow commented on #1692
@sharathmuthu6 you are modifying the source code and expecting it to behave in a certain way, which is not a valid issue in terms of the user API.

I can help you achieve what you want to do, if you can describe your requirements with the use of the API exposed to the user.

[2019-02-20 11:07] sharathmuthu6 commented on #1692
I have added the testcase in loopback-sandbox repo
https://github.com/sharathmuthu6/loopback-sandbox/tree/issue1692

[2019-02-26 11:37] luxigo commented on #263
Is it possible to specify a file to use instead of strong-error-handler/views/default-error.ejs in config.json or somewhere ?

[2019-02-26 11:51] luxigo commented on #263
The documentation to solve this issue with lb3 is here: https://loopback.io/doc/en/lb3/Using-strong-error-handler.html#migration-from-old-loopback-error-handler

[2019-03-05 15:03] alex-zyl opened #1698 "Excluded fields not properly processed for RestAPI query syntax"
# Description/Steps to reproduce

Loopback: 3.25.0
Loopback-datasource-juggler: 3.28 (from the dependencies)

Filter flat to exclude selected property is not being processed properly in https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/utils.js#L262

Example:

filter query:
[code]

when calling ```fieldsToArray```, ```fields``` map values are stored as strings, not booleans

[2019-03-08 16:21] rcmgleite-tweak commented on #1686
Any updates on this?

[2019-03-26 10:33] hacksparrow commented on #1692
Hi @sharathmuthu6 you are overwriting the behavior of the connector with your own implementation.

[code]

This code will have many other side effects, by the way.

If you really intent to re-write the memory connector to your liking, you should go all the way and  modifying everything to suite your needs and make it work for you. We can't help you with that.

If you want to make the `age` propert

[2019-03-26 12:33] bajtos commented on #1692
@sharathmuthu6 IIUC, you would like to define a model property that is filled with a default value when the model data is coming from the user (e.g. from incoming HTTP request body), but that is not applied to data coming from your backend service/database via connector.

First of all, I think the current behavior is intentional. Even if it was not, we cannot easily change it - it would be a huge

[2019-03-26 12:44] bajtos commented on #1692
@sharathmuthu6 I think @hacksparrow may be correct that the problem is in your model definition.

First of all, how can the backend datasource return model instances with a missing `age` property, when this property is required? That looks like a violation of schema constraints to me. IMO, if there are records with no `age` property, then the property must not be defined as required.

As for apply

[2019-03-26 12:46] bajtos commented on #1692
As a temporary workaround, can you try to rework your model as follows?

- Remove `default` flag
- Implement a `before save` hook to add default value when needed and wanted. (It may be possible to do that via `beforeRemote` too.)

[2019-03-26 12:48] bajtos commented on #1692
Possibly related - notice the commit is more than 4 years old:
 - https://github.com/strongloop/loopback-datasource-juggler/commit/342bc2f78274ceab5127f8d09e8d6447d12d94c9
 - https://github.com/strongloop/loopback-datasource-juggler/pull/616

[2019-03-26 20:05] bitmage commented on #1403
We are encountering this issue now.  It's blocking for us... we are trying to find a workaround.  Any suggestions?  How can we get these tables created?

[2019-03-26 20:18] bitmage commented on #1403
Related issues:

https://github.com/strongloop/loopback-datasource-juggler/issues/933
https://github.com/strongloop/loopback-connector-postgresql/issues/82

The last one has two relevant workarounds:

* manually adding a change model and migrating it first (@Nutelac)
* defining `handleChangeError` on the tracked model (@mivion)

[2019-03-26 20:27] bitmage commented on #1403
We found that by using the `handleChangeError` approach, we were able to get `autoupdate` to run (with error printed to console).  Running a second time did not print the error, showing that the table had now been created.  This approach seems ideal since it involves minimal changes and is non-destructive with the data.

[2019-03-27 20:13] jannyHou commented on #1692
I mostly agree with @hacksparrow 's comment in https://github.com/strongloop/loopback-datasource-juggler/issues/1692#issuecomment-476565721, and still trying to understand what is the problem @sharathmuthu6 has...

[2019-03-27 20:23] jannyHou commented on #1692
If your model property has a default value, e.g. `age` is default to 6, then your created model instance(stored in db) always has value assigned to `age`.

If you want to exclude certain properties(fields) from the GET endpoints, you can use filter, see https://loopback.io/doc/en/lb3/Fields-filter.html

[2019-03-30 16:07] Allan1 commented on #759
+1

[2019-04-01 09:10] bajtos commented on #1692
We have further discussed this issue with Nagarjuna. In their project, they are using PersistedModel to access a datasource that's not a database. As a result, the model is describing values that are not always returned back by the connector.

While this may seem like they are using PersistedModel incorrectly, there are actually use cases where this behavior is problematic for databases too:

- Le

[2019-04-01 11:33] bajtos commented on #1692
Proposed fix: https://github.com/strongloop/loopback-datasource-juggler/pull/1704

[2019-04-09 16:20] bajtos commented on #1692
Done.

The fix is available in the following juggler versions:

- `loopback-datasource-juggler@2.59.0`
- `loopback-datasource-juggler@3.29.0`
- `loopback-datasource-juggler@4.6.1`

[2019-04-09 16:20] #1692 closed

[2019-04-09 16:43] regevbr opened #1708 "URGENT - latest npm releases include .git files"
Latest npm releases (e.g. 2.59.0) includes .git files which causes npm install to fail with
[code]
When running `npm install` after the module was already installed...

[2019-04-09 16:50] regevbr commented on #1708
@bajtos can you please check this out? all my CI pipelines are failing due to this issue...
Thanks!

[2019-04-09 17:20] jannyHou commented on #1708
@regevbr looking.

You mean the hidden `.git` folder? Could you post the full name of the file(s)?

[2019-04-09 17:22] regevbr commented on #1708
@jannyHou sure here it is:
[code]

[2019-04-09 17:35] foxindabox commented on #1708
Experiencing the same issue.

[2019-04-09 18:25] jannyHou commented on #1708
Weird, the `/.git` folder is not on the 2.x branch, see https://github.com/strongloop/loopback-datasource-juggler/tree/2.x

[2019-04-09 18:30] regevbr commented on #1708
It doesn't matter. What matters is the contents of the directory where you
ran the npm publish command

On Tue, Apr 9, 2019, 19:25 Janny <notifications@github.com> wrote:

[2019-04-09 18:39] rajanmishra commented on #1708
https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

[2019-04-09 20:09] jannyHou commented on #1708
released a new version 2.59.1 https://github.com/strongloop/loopback-datasource-juggler/commits/2.x

@regevbr @rajanmishra Could you try?

[2019-04-09 20:34] jannyHou commented on #1708
Make sure you remove or uninstall `loopback-datasouce-juggler` from `node_modules` then install the module again. Should be fixed. Feel free to reopen this issue if you still get the error.

[2019-04-09 20:34] #1708 closed

[2019-04-09 21:01] regevbr commented on #1708
@jannyHou it is fixed! Thanks for the quick response!

[2019-04-10 00:55] wayahead opened #1711 "loopback-datasource-juggler EISGIT error when sync with package-lock.json"
After upgraded @loopback/repository to the latest version 1.4.0, the ESGIT error came out when sync with package-lock.json.

# Description/Steps to reproduce

Run the below steps:
1. npm update
2. npm i --package-lock

then:

npm ERR! path /home/wayahead/workspace/loopback/pinwheel/pinwheel/node_modules/loopback-datasource-juggler
npm ERR! code EISGIT
npm ERR! git /home/wayahead/workspace/loopback

[2019-04-10 02:09] dhmlau commented on #1711
@wayahead, it has been fixed in the latest version of `loopback-datasource-juggler` (`loopback-datasource-juggler@2.59.1`).  Could you please update and try again?  Thanks!

cc @jannyHou

[2019-04-10 03:17] wayahead commented on #1711
@dhmlau, I used the @loopback/repository1.4.0 with loopback-datasource-juggler 4.6.1. And I reproduced this issue after I got your feedback. Thanks.

[2019-04-10 03:33] wayahead commented on #1711
@dhmlau, I used the @loopback/repository1.4.0 with loopback-datasource-juggler 4.6.1. And I reproduced this issue after I got your feedback. Thanks.

[2019-04-10 04:34] foxindabox commented on #1708
@jannyHou The same changes are needed in 4.6.0

[2019-04-10 05:15] foxindabox commented on #1711
Experiencing the same issue

[2019-04-10 05:16] foxindabox commented on #1711
@jannyHou  Please put fixes in version 4.6.1 as well. This is breaking the builds.

[2019-04-10 14:51] #1711 closed

[2019-04-10 15:25] rachedanis opened #1715 "[BUG] after running npm prune: code EISGIT"
# Steps to reproduce

[code]
# Result

[code]

[2019-04-11 02:26] dhmlau commented on #1715
@rachedanis, we've released a new version of juggler `loopback-datasource-juggler@3.29.1` that fixes this issue.  Please update your dependencies.  Thanks!

[2019-04-11 08:50] rachedanis commented on #1715
Hi @dhmlau, Actually I started having this issue since the 3.29.1

[2019-04-11 09:33] rachedanis commented on #1715
PS : I'm not directely using this dependency ; I'm using loopback-connector-postresql@3.5.1 which supports 3.x.

[2019-04-11 09:59] #1715 closed

[2019-04-12 13:52] b-admike opened #1716 "Coerce deeply nested model properties with primitive data types"
# Description/Steps to reproduce

As a follow up to #1702, we need to handle the use cases described in https://github.com/strongloop/loopback-datasource-juggler/pull/1702#discussion_r268159610 for coercing deeply nested primitive types on model properties during instantiation.

[2019-04-12 15:08] #1580 closed

[2019-04-15 10:52] bajtos commented on #1580
Published the fix in `loopback-datasource-juggler@2.59.2` and `loopback-datasource-juggler@3.29.2`

[2019-04-15 11:40] thovden commented on #935
This is still a problem - just ran into it.

[2019-04-18 12:13] bajtos commented on #759
Essentially, we need to run a partial validation that will validate only properties affected by `updateAttribtes` or `updateAll` request. I am afraid this is way too difficult to achieve in the current LB 3.x code base. We are aware of this issue and would like to eventually address it in LoopBack 4.x (or later) - see the discussion in https://github.com/strongloop/loopback-next/issues/1872.

I am

[2019-04-18 12:14] bajtos commented on #771
Essentially, we need to run a partial validation that will validate only properties affected by `updateAttribtes` or `updateAll` request. I am afraid this is way too difficult to achieve in the current LB 3.x code base. We are aware of this issue and would like to eventually address it in LoopBack 4.x (or later) - see the discussion in https://github.com/strongloop/loopback-next/issues/1872.

I am

[2019-04-19 12:35] mitsos1os opened #1723 "Mongo Extended operators in updateAll not working"
# Description/Steps to reproduce

Merge request #1702 broke functionality of  extended operators in `updateAll` operation on the models.

The new line added in `dao.js` [here](https://github.com/strongloop/loopback-datasource-juggler/blob/df4366eb3114a7e16673ce1b4d29044ab33bf094/lib/dao.js#L2306) stores in `ctx.data` the **object** representation of the created instance from the above line, so thi

[2019-04-22 13:41] dhmlau commented on #1723
@b-admike ,  could you please take a look? Thanks.

[2019-04-22 19:37] b-admike commented on #1723
hi @mitsos1os thank you for your detailed description. I was looking through the codebase and I wrote a quick test to try to verify what you observed:
[code]

Here is what the connector method `update`/`updateAll` receives for `data` object with the current changes:
[code]

without the change:
[code]
So, I do not see any change in behaviour by adding the line `ctx.data = inst.toObject(true);` for

[2019-04-22 20:16] mitsos1os commented on #1723
@b-admike Thanks for looking into it.
Your test is correct. Two additions:

1. The model has to have the `strict` option enabled (Forgot to mention it sorry...), so you can also add the line: `noteModel.settings.strict = true;`
2. To have a more real life looking query that would be executed from the mongo connector, try using a root level update operator: `noteModel.updateAll({id: noteId}, {$set:

[2019-04-23 18:06] bmatson opened #1724 "EmbedsMany delete methods fail to pass options"
# Description/Steps to reproduce

We use the options inside of our loopback app to enforce client tenancy.  Since this is a security feature we require the options and the associated security token to be passed through to all methods, and fail if it is not passed.  Since the options also contain transaction information, this can cause concurrency problems as well for people who are doing transacti

[2019-04-29 11:23] bajtos commented on #1632
This looks reasonable to me. Let's continue the discussion in https://github.com/strongloop/loopback-datasource-juggler/pull/1687.

[2019-04-30 13:43] Boxonical opened #1731 "Using dot notation / mongo extended operators return unexpected result for update operations"
# Description

Update operations will return outdated & polluted result when dot notation / mongo extended operators is used.

Tested: `updateAttributes` & `upsertWithWhere`

Not Tested: `updateAll` & `upsert`

Findings:
1. `updateAttributes` [returned instance is not rebuilt by default](https://github.com/strongloop/loopback-datasource-juggler/blob/df4366eb3114a7e16673ce1b4d29044ab33bf094/lib/dao

[2019-05-03 15:15] bajtos commented on #1632
Fixed by #1702

[2019-05-07 02:43] dhmlau commented on #1723
@mitsos1os @b-admike, after @b-admike has made a new release for juggler and mongodb connector last week, is the problem resolved?

[2019-05-07 16:08] mitsos1os commented on #1723
@dhmlau Since #1726 was merged we should be all right yes

[2019-05-09 20:43] dhmlau commented on #1632
Let me close it as resolved. Thanks @bajtos for pointing it out.

[2019-05-09 20:43] #1632 closed

[2019-05-10 03:18] dhmlau commented on #1723
@mitsos1os, thanks for the confirmation.  Let me close this issue as resolved. Thanks!

[2019-05-10 03:18] #1723 closed

[2019-05-14 16:56] lriggle-strib opened #1743 "Where filter not working on count endpoint with HasManyThrough"
# Description/Steps to reproduce
This is only related to the `/{id}/relation/count` endpoint, though other endpoints may have this issue as well. When I try and get a count of how many related records match the "where" query included, the count of the full relation set is always returned. It doesn't matter what the where filter is, or even if it is included.

# Expected result
For example: I have

[2019-05-16 04:29] trungdh opened #1744 "Verification User Register Error User Not Found"
I'm facing an error about verification user after register. I got Error :
`Error
404 User not found: 5cdce19135f71a429681864a
code: USER_NOT_FOUND
Error: User not found: 5cdce19135f71a429681864a
    at /home/project/dev/my_server/node_modules/loopback/common/models/user.js:909:19
    at  /home/project/dev/my_server//node_modules/loopback-datasource-juggler/lib/dao.js:1781:62
    at  /home/project/

[2019-05-16 09:02] regevbr opened #1745 "coerceArray coerces empty object into array - MAJOR BUG"
# Description

In the v2 of the library when perfroming a static update (update with where clause) empy objects are being coerced into empty arrays which is a major bug and causes lots of issues down the line...

# Steps to reproduce

Perform an updateAll on a model (static update not model specific update attributes) and send in the request a property set to be an empty object (i.e. {})
The dao.j

[2019-05-16 14:22] lriggle-strib commented on #1743
My workaround is to recreate the endpoint by calling `/roles/{id}/users` and returning the number of records found. This isn't ideal, especially with large datasets, but it will work for the time being.

[2019-05-22 03:34] anjorinjnr commented on #432
Was this ever implemented?

[2019-05-22 03:57] anjorinjnr opened #1747 "Support PropertyForm metadata"
I have property that I'm trying to ignore in json response

[code]
I set the PropertyDefinition as shown above, but it doesn't seem to be having any impact. I also set it on the class not nada.

[2019-05-23 12:17] Caperious commented on #1596
Any updates on this?

[2019-05-24 12:26] bajtos commented on #1745
Sorry, version 2.x is no longer supported - see https://github.com/strongloop/loopback-datasource-juggler#supported-versions

[2019-05-24 12:26] #1745 closed

[2019-05-24 12:39] bajtos commented on #1743
Hi @lriggle-strib, thank you for reporting the issue. Are you able to reproduce the problem using `memory` connector too? It would help us a lot if you could create a small application reproducing the issue, see https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-3x-bugs

Here is the code where HasManyThrough methods are defined:

https://github.com/strongloop/loopback-datasource-jug

[2019-05-24 12:41] bajtos commented on #1747
I am afraid we don't support property forms yet.

@raymondfeng IIRC, it was you who introduced property forms like `json: {out: false}` to property definition metadata in LB4. Do you have any opinions on how to go about implementing them in current juggler or even better in `@loopback/repository`?

[2019-05-24 12:43] bajtos commented on #1596
This is most likely a limitation of the current EmbedsMany implementation. We don't have bandwidth to investigate the problem ourselves, but welcome community contributions.

[2019-05-24 13:57] bajtos commented on #1747
Actually, let's move the discussion to loopback-next, where we already have an issue tracking this missing feature: https://github.com/strongloop/loopback-next/issues/2336

[2019-05-24 13:57] #1747 closed

[2019-06-01 01:51] dhmlau commented on #1724
PRs for both master and 3.x have landed. Closing as resolved. @bmatson, thanks again for your contribution!

[2019-06-01 01:51] #1724 closed

[2019-06-14 05:13] svashish305 commented on #1518
facing same issue :D

[2019-06-27 19:14] ataft opened #1754 "v3.31.0 introduces bug"
The following code works fine in v3.30.0:

[code]

As of v.3.31.0, I get the following error:
[code]

Looks like something broke in the _coerce function.

[2019-06-27 19:51] raymondfeng commented on #1754
It seems to be related to https://github.com/strongloop/loopback-datasource-juggler/commit/4f31db1b64efa384e2c46c73bd34b97463db78f1.

[2019-06-27 20:13] b-admike commented on #1754
@ataft Can you check #1755 to see if I'm missing something for a test I wrote using your scenario? I am not able to reproduce your issue with it:
[code]

[2019-06-27 20:43] b-admike commented on #1754
@ataft can you share a sandbox app to reproduce the failure if that's easier? Please also include the steps you took to see the error.

[2019-06-27 21:00] ataft commented on #1754
Test looks OK, but it does differ from mine in that it doesn't include "username". Perhaps if you tried:

`          or: [{username: 'abc@xyz.com'}, {email: 'abc@xyz.com'}],
`

I doubt this will make it fail though. It's probably some other difference between our environments (I'm on loopback version 3.17.1). I'll try to reproduce the issue with a sandbox app, but for now I'm just going to stick o

[2019-06-29 21:23] dhmlau commented on #1731
@b-admike @hacksparrow, could you please take a look? Thanks.

[2019-07-09 11:28] bajtos commented on #1731
I am not sure how easy it is to rebuild the object. IIRC, in LB4, we are avoiding this problem by returning `{count: 1}` from update/patch operations instead of trying to return the updated object. I suspect the problem reported by @Boxonical is specific to LB3 only.

Let's timebox the investigation to 1-2 days.

We must be careful to not break existing applications that may expect the current beh

[2019-07-11 01:59] #1205 closed

[2019-07-11 09:15] jmmeijer commented on #1412
This bug has not yet been resolved. Bump to keep the issue active. Until Loopback 4 has a implementation for autodiscovery and model generation for SOAP, this is still a viable solution.

[2019-07-11 14:03] bajtos opened #1758 "Allow connectors to be implemented as ES6 classes"
I would like the connectors to leverage ES6 class inheritance.

I would like to allow connector authors to use async functions instead of the current callback style.

## Acceptance criteria

- [ ] Rework Connector and SqlConnector classes provided by loopback-connector to be implemented as ES6 classes. This is a semver-major change.
- [ ] Rework the documentation for connector authors to use class

[2019-07-11 19:46] #1622 closed

[2019-07-12 08:25] bajtos commented on #1412
I am afraid we don't have bandwidth to address this issue. @jmmeijer would you like to contribute the fix yourself? We are happy to help you along the way. See https://loopback.io/doc/en/contrib/code-contrib.html to get started.

[2019-07-12 10:18] sureshkodur commented on #1268
Hi, I have same issue.

[2019-07-15 23:09] dhmlau commented on #1716
@b-admike , With PR #1702 has landed, is this issue done?

[2019-07-16 19:48] agnes512 commented on #1268
please check [#3343](https://github.com/strongloop/loopback-next/issues/3343)

[2019-07-23 09:49] ricky92 opened #1761 ""Autoupdate" actually drops tables instead of altering them"
I tried digging into the source code and found the cause to this issue:
https://github.com/strongloop/loopback-datasource-juggler/blob/6b83b6f4d1a4941917ffbaf8cebf476e40a53f83/lib/datasource.js#L1141

Apparently, the `autoupdate` function waits for the connection to be established before proceeding with its execution, but instead of queuing itself it queues the `automigrate` function. This causes

[2019-07-23 19:05] dhmlau commented on #1761
@ricky92, would you be interested in submitting a patch? Thanks.

[2019-07-23 19:20] dhmlau commented on #1003
Closing due to inactivity.

[2019-07-23 19:20] #1003 closed

[2019-07-25 01:07] #1582 closed

[2019-07-25 01:07] #1569 closed

[2019-07-25 01:07] #1593 closed

[2019-07-25 01:07] #1559 closed

[2019-07-25 01:07] #1570 closed

[2019-07-25 01:07] #1577 closed

[2019-07-25 01:07] #1606 closed

[2019-07-25 01:07] #1607 closed

[2019-07-25 01:07] #1610 closed

[2019-07-25 01:07] #1618 closed

[2019-07-25 01:07] #1619 closed

[2019-07-25 01:07] #1626 closed

[2019-07-25 01:07] #1627 closed

[2019-07-25 01:07] #1640 closed

[2019-07-25 01:07] #1644 closed

[2019-07-25 01:07] #1655 closed

[2019-07-25 01:07] #1667 closed

[2019-07-25 01:07] #1657 closed

[2019-07-25 01:07] #1668 closed

[2019-07-25 01:07] #1669 closed

[2019-07-25 01:07] #1636 closed

[2019-07-25 01:07] #1677 closed

[2019-07-25 01:07] #1678 closed

[2019-07-25 01:07] #1689 closed

[2019-07-25 01:07] #1698 closed

[2019-07-25 01:07] #1691 closed

[2019-07-25 01:07] #1686 closed

[2019-07-25 18:17] #1761 closed

[2019-07-29 23:52] MAHOSSAN opened #1764 "ReferenceError: Cannot create data source "shop": Cannot initialize connector "mysql": time is not defined"
Hello
I am new to Loopback . I am trying to CRUD operations with web applications . But when i run the applications , it is falling to create datasource named shop . I  have existing tables in mysql database . When i run the server , I am getting following errors in command prompt  .

[ **********************************************************************
** Visual Studio 2017 Developer Command P

[2019-07-30 00:10] MAHOSSAN opened #1765 "Cannot create data source "shop": Cannot initialize connector "mysql": time is not defined"
Questions:
 Cannot create data source "shop": Cannot initialize connector "mysql": time is not defined

I am new to loopback . I am trying to connect my loopback with mysql database but when i run the applications form command prompt i am getting following errors .

Microsoft Windows [Version 10.0.17134.885]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\Users\Khundokar Nirjor\Desktop\lo

[2019-07-30 00:12] MAHOSSAN commented on #1765
Here is my datasource.json file .
{
  "db": {
    "name": "db",
    "connector": "memory"
  },
  "shop": {
    "host": "localhost",
    "port": 8081,
    "url": "",
    "database": "shoppingdatabase",
    "password": "",
    "name": "shop",
    "user": "root",
    "connector": "mysql",
    "connectTimeout": 1000000
  }
}

[2019-07-30 15:57] dhmlau commented on #1765
@MAHOSSAN, looking at the error:

do you have a `time` property or type in the model?  If it's ok, could you please share what's the model looks like that uses this datasource?

Also, since you're new to LoopBack, have you considered using [LoopBack 4](https://loopback.io/doc/en/lb4/Getting-started.html) instead?  LoopBack 3 will go EOL in Dec 2020.  You might want to consider LoopBack 4 too. Than

[2019-07-30 17:10] MAHOSSAN commented on #1765
I do have any time property in model. As you can see i mentioned time 30000 in datasoursec.json file. How can I solve this problem? Please leave your suggestion and code. Thanks

[2019-07-30 17:27] dhmlau commented on #1764
Closing as duplicate of #1765

[2019-07-30 17:31] dhmlau commented on #1765
@MAHOSSAN, I don't see any `time` or `30000` in your datasources.json.  Could you please point out the part that has that property?

Here are the valid properties in datasources.json for mysql: https://github.com/strongloop/loopback-connector-mysql#properties.

[2019-07-30 22:34] MAHOSSAN commented on #1765
Please recheck my questions i updated the the questions with all the codes .. Please tell me what will the solutions of this error.

[2019-08-01 22:40] b-admike commented on #1610
@F3L1X79 This issue should have been addressed by https://github.com/strongloop/loopback-connector-mongodb/pull/522. Can you please get the latest version of the connector and try again?

[2019-08-04 07:39] sebolio commented on #1657
Nobody cares?

[2019-08-07 01:58] #1596 closed

[2019-08-07 01:58] #1743 closed

[2019-08-08 09:54] lukegorman commented on #111
this still isn't fixed

Unhandled error for request POST /api/v3/Policies/updatewhere?access_token=XXX
Error: could not create List from JSON string: "g"

"retrieveEmailsToBeNotified": [
      "string"
    ],

[2019-08-09 01:13] #1764 closed

[2019-08-09 01:16] dhmlau commented on #1765
@hacksparrow @raymondfeng , I'm not very familiar with sequence in LB3.  From the above code snippets, I didn't see anywhere `time` is defined.  Is there such variable supposedly to be accessible within a LoopBack application? Thanks.

[2019-08-09 08:40] hacksparrow commented on #1765
@MAHOSSAN please share a bare minimum app which reproduces this problem, we will then be able to help you troubleshoot and fix the problem.

[2019-08-09 14:49] raymondfeng commented on #1765
@MAHOSSAN Can you run `npm ls mysql` to find the version?

[2019-08-09 14:52] raymondfeng commented on #1765
BTW, I don't usage of `time` at https://github.com/mysqljs/mysql/blob/master/lib/protocol/sequences/Sequence.js#L28.

[2019-08-15 15:22] LotusShiv commented on #1691
I have to issue concurrent i.e. parallel REST requests from my loopback method (from my loopback-nodejs api application) and then assemble all the success responses in one array and failed responses in another. I am having tough time finding any documentation or help online for parallel requests and handling of responses. I am using Loopback 3. FYI my nodeJs version is 10.11.x ..  Any help is grea

[2019-09-19 14:59] bajtos commented on #1758
From what I've seen in 3rd-party connectors, it's already possible to implement connectors using class inheritance.

[code]

In that light I think rewriting `Connector` and `SqlConnector` to ES6 class style is not worth our effort at this time, also considering the breaking change. We have more important problems to address!

I am proposing to change the scope of this issue to doc updates only:

-

[2019-09-19 15:01] bajtos commented on #1758
On the other hand, we will be introducing a new semver-major version of `loopback-connector` as part of #1659, in which case it may be better to bundle both changes in the same release. 🤔

[2019-09-21 11:49] #1731 closed

[2019-09-23 20:22] dhmlau commented on #1758
@markdirish, per the google group discussion, thanks for your interest in contributing this issue. I'm going to assign this to you.  Thanks!

[2019-09-23 20:27] dhmlau commented on #1659
@markdirish, thanks for your interest in this GH issue, per the google group discussion.  Marking this as "community contribution" as GH doesn't allow me to assign this task to you. Thanks!

[2019-09-27 12:39] bajtos commented on #111
@lukegorman thank you for bringing this problem to our attention. Can you please create a small application reproducing the issue? See  https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-3x-bugs

[2019-09-28 00:30] #1716 closed

[2019-10-08 12:27] MaximeTroiano opened #1780 "[Major] Create or update a property defined as an array gives an error"
## Steps to reproduce

Create a property of type "array" on your property.
Model definition:
[code]

Same happens for

[code]

Then try to create by sending a POST request to the model
`POST http://localhost:3000/myModel`

Example data:
[code]

## Current Behavior

The server saves the values as `{'customer','partner'}`, which then gives an error:

## Expected Behavior

It should save the data as

[2019-10-14 13:07] mitsos1os opened #1781 "Unsanitized RegExp special content crashes application server"
## Steps to reproduce

Just issue a query using any of the availalbe regexp operators: **like, nlike, ilike, nilike, regexp** .
For example lets say we have a model **Person** as follows:

[code]
If we issue a query of the form `Person.find({ where: { name: '[' } });` the application will crash

## Current Behavior

Issuing an improper query (also form remote API request) will result i an applicat

[2019-10-15 19:14] dhmlau commented on #1780
@MaximeTroiano, in your sandbox, you're using in-memory connector.  Do you see problems in the in-memory database or other database? Thanks.

[2019-10-15 21:51] MaximeTroiano commented on #1780
@dhmlau I'm using the postgres connector on the real project

[2019-10-15 21:51] MaximeTroiano commented on #1780
@dhmlau I'm using the postgres-connector on the project

[2019-10-19 21:38] jgwinner commented on #393
@shaheero I don't see anyone commented. I guess it's a closed item.
I'm running into this as well.

If a Date value is allowed to be null, I'd expect an invalid date to simply become 'null'. I guess this is debatable. Some libraries, for example the PyMySQL turn null dates into empty strings though.

I've already forked juggler due to issues with binary GUID's so maybe I just incorporate the same

[2019-10-21 13:30] mitsos1os opened #1784 "Parent child relationship in embedded models"
Hi there, I understand that Loopback 3 is in LTS mode and no new feature will be implemented. However if you approve this, I am willing to issue a pull request to implement this, so I just want to know if you are willing to accept it

## Suggestion

My suggestion is that when embedding model instances in an other model's properties, a meta property is added that will reference the parent of the ch

[2019-10-21 16:55] #1781 closed

[2019-10-21 17:44] dhmlau commented on #1784
@mitsos1os, are you looking for this feature being implemented in `3.x` or `4.x`?  `4.x` is still being used in LB4, so we're accepting new features.

@raymondfeng @bajtos, what's your thought on this? Thanks.

[2019-10-21 17:47] mitsos1os commented on #1784
@dhmlau I was going to implement it in the 3.x branch. But I am open to your suggestions

[2019-10-22 08:59] mitsos1os commented on #1784
I checked it and the code changes seem pretty straightforward. So if you are willing to accept it for the 3.x branch, I could implement it for the 4.x latest branch as well

[2019-10-22 20:32] raymondfeng commented on #1784
@mitsos1os Your proposal seems to be reasonable. Please make sure the `__parent` property won't interfere with persistence.

[2019-10-22 20:35] mitsos1os commented on #1784
@raymondfeng Thank you. I will submit the pull request for you guys to check.

[2019-10-24 05:28] deepakrkris opened #1786 "Discover table indexes"
## Current Behavior

model discovery with ds.discoverSchemas() returns model definition without any index configurations for all db connectors. Not sure if this is a known issue already. If this is a known limitation this has to be documented with explanations.

Description/Steps to reproduce

[code]

[2019-10-28 10:16] hopduong commented on #610
Hi, @superkhau I know this issue already closed but I met this issue on my project now. Could you guys please help to solve:
[code]
This project is still using old versions but based on the comments above, this issue should be fixed.
For example:
[code]

[2019-10-28 16:44] MaximeTroiano commented on #1780
@dhmlau can we have some visibility on this?

[2019-10-29 21:41] ataft commented on #1754
OK, I finally figured out what was causing this error. I'm using the "defineProperty" function, like this:
`app.models.User.defineProperty('email', { required:false });
`

In the loopback-datasource-juggler, this causes the DataType to be `type: [Function: AnonymousModel_6]`, which makes `isNestedModel` true, here:
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model-uti

[2019-10-29 21:44] ataft commented on #1754
@b-admike I see that @raymondfeng comment about it being related to https://github.com/strongloop/loopback-datasource-juggler/commit/4f31db1b64efa384e2c46c73bd34b97463db78f1 is spot on

[2019-10-31 06:59] rranjann opened #1788 "Loopback app is failing to connect to MongoDB if the MongoDB password contains special character `@`"
The Loopback based `Microservices` is failing to connect to `MongoDB` if the `MongoDB` password contains special character `@`. It’s working fine if the password contains other special character. But if the MongoDB password contains `@` , following exception occurred.

[code]

# Additional information

[code]

Please let me know if any further details are required.

[2019-11-01 08:36] bajtos commented on #1780
@MaximeTroiano I am afraid I am not able to reproduce the problem. I don't know how to run your sandbox app & send requests, so I created the following standalone script:

[code]

When I run this scripts, both paths succeed - one model is created via JS API, another via REST API.

We need more help and information from you to be able to reproduce the issue. Can you perhaps take my script above and

[2019-11-01 08:59] bajtos commented on #1786
See also https://github.com/strongloop/loopback-next/issues/2331 and https://github.com/strongloop/loopback-next/issues/2606

[2019-11-01 16:25] bajtos commented on #1754
@ataft thank you for the update. Would you like to contribute the fix yourself? I am not sure if you are using `defineProperty` correctly, shouldn't you specify `type` too?

[code]

[2019-11-01 16:51] ataft commented on #1754
Thanks @bajtos , adding `type: 'string'` fixes the problem. I tried to find where `type` was being set to `[Function: AnonymousModel_6]`, but could not find this and don't know whether it's intended or not, so I'll let you decide that. I'm satisfied with just adding `type: 'string'`.

I'm not sure I'm doing this properly, but I want to use the built-in User model without email for auth providers l

[2019-11-01 17:50] dhmlau commented on #1788
could you please try to encode the whole password?

[2019-11-02 08:23] mitsos1os opened #1789 "Model creation/replace misses rejected promise return on failure"
## Steps to reproduce
When trying to issue a model creation with `create` or replacement with `replaceById`, give data as input that would cause an error to be thrown.

## Current Behavior

The thrown error causes function execution termination and returns with the call of the original callback. However at that point of the execution it has not yet returned the created promise. So the promise rema

[2019-11-04 11:26] rranjann commented on #1788
@dhmlau The encoded `MongoDB`password we had used is `p@ssw0rd`.

[2019-11-06 13:48] dhmlau commented on #1788
Have you tried to encode the password?  Please see https://github.com/strongloop/loopback-connector-mongodb#creating-a-mongodb-data-source

[2019-11-07 09:57] rranjann commented on #1788
Yes ... In our product we are using the `encodeURIComponent` while retrieving the username and password from environment variable since long. We had observed the above failure even with `encodeURIComponent`.

Please let me know if you need any further details.

[2019-11-07 09:58] hacksparrow commented on #1788
@rranjann use this function to generate [percent-encoded](https://tools.ietf.org/html/rfc3986#section-2.1) passwords:

[code]

From https://github.com/strongloop/loopback-connector-mongodb/issues/499#issuecomment-503435737.

[2019-11-12 07:59] rranjann commented on #1788
@hacksparrow Following `loopback libraries` used in our Microservices. Do we need to upgrade any of below libraries apart from the function `percentEncode` which you had recommended.

[code]

[2019-11-22 16:34] baptistdev commented on #1294
This is still destructive. Removing a property in a model.json drops the column along with data. This renders it useless for production. The argument proposed is that by design the model and schema are kept in sync with the model.json being the dominant config for keeping them in sync. However the destructive nature is dangerous and should not be the default.

[2019-11-24 12:01] regevbr opened #1795 "Count issue with related models using though model"
## Steps to reproduce

Create a model called Book with the properties id,author,title
Add a hasMany relation between the default User model and the Book model using a through Model called UserToBook which has the following properties: userId,bookId

The relation is defined in the User model like so.
[code]

## Current Behavior

Querying the user for his books using a where filter works as expected

[2019-11-24 13:29] regevbr commented on #1795
Since I'm using (sadly) loopback 2.x I have added the fix to my own fork - https://github.com/regevbr/loopback-datasource-juggler/blob/2.x/lib/scope.js
You can understand and base the fix based on the changes there

[2019-11-24 13:36] regevbr opened #1796 "Querying related models make unnecessary requests"
## Steps to reproduce

Create a model called Book with the properties id,author,title
Add a hasMany relation between the default User model and the Book model using a through Model called UserToBook which has the following properties: userId,bookId

The relation is defined in the User model like so.
[code]

## Current Behavior

Querying the user for his books using a where filter performs 2 reques

[2019-11-24 17:59] dhmlau commented on #1796
@regevbr, would having a custom scope address your issue? See https://github.com/strongloop/loopback-next/issues/3453.

[2019-11-24 18:26] regevbr commented on #1796
Hi @dhmlau sadly I'm still using loopback v2. Also, I don't see how a custom scope will help here. Can you please elaborate

[2019-11-26 16:02] dhmlau commented on #1796
@regevbr, from my understanding, setting the custom scope will allow you to pick certain properties of the related models to be returned.  But the above GH issue is for LB4. Sorry that I didn't notice you're using LB2.  Would you consider updating the LoopBack version, at least to LB3? Migrating from LB2.x to LB3.x should be relatively straightforward: https://loopback.io/doc/en/lb3/Migrating-to-3

[2019-11-26 16:06] regevbr commented on #1796
@dhmlau thanks for the info. Sadly I don't have the times or means to do it (i won't elaborate how hard it will be for me, but believe me I want to)
In any case I fixed it for myself, just wanted it to be fixed in LB3, so when I upgrade, I won't have any issuesd

[2019-11-26 16:06] regevbr commented on #1795
@dhmlau can you please take a look at this one?

[2019-11-27 03:10] jeznag opened #1798 "list is not compatible with array constructor"
- You can do new Array(4) to generate an array with 4 empty items
- Doing the same with list caused an error
- This broke lodash.deepclone and caused a very confusing error for me

[2019-11-28 17:17] bajtos commented on #1796
Thank you @regevbr for reporting the issue. I am little bit confused about the fix shown in https://github.com/regevbr/loopback-datasource-juggler/blob/2cf8269e41a153d01e4d505af586bad9bb9110dd/lib/scope.js#L100-L138, it seems to add another database query to the path.

It would be best if you could create a small app reproducing the problem, so that we can better understand what you are trying to

[2019-11-28 18:07] regevbr commented on #1796
@bajtos the actual changes I made there are depicted at https://github.com/regevbr/loopback-datasource-juggler/commit/2cf8269e41a153d01e4d505af586bad9bb9110dd#diff-c2a679b29102d5574291e884531cb8aeL135
I didn't add the extra query, it was always there and should be there, I just removed the inclusion of the related model from when querying the through model, as the inclusion has no point to it...
I

[2019-11-29 09:15] #1789 closed

[2019-11-29 13:40] bajtos commented on #1796
Thank you for the link to the commit, I think I better understand your use case. If you can add (unit) tests to your commit and contribute the changes in a pull request, then it's not necessary to build a reproduction repo. Our current test suite for `hasAndBelongsToMany` starts here:

https://github.com/strongloop/loopback-datasource-juggler/blob/770f11b3a618ac879b6a6d021b109ecaed1aa1a2/test/rela

[2019-11-29 13:59] bajtos commented on #1795
@regevbr IIUC, this issue is related to https://github.com/strongloop/loopback-datasource-juggler/issues/1796 in the sense that your commit https://github.com/regevbr/loopback-datasource-juggler/commit/2cf8269e41a153d01e4d505af586bad9bb9110dd#diff-c2a679b29102d5574291e884531cb8aeL135 is fixing both of them. Is that right?

Your problem description look very reasonable to me, your fix looks sensibl

[2019-11-30 12:58] regevbr commented on #1795
Sure working on it right now

[2019-12-06 09:18] #1798 closed

[2019-12-09 17:47] markdirish opened #1809 "loopback-connector-ibmi needs modifications to some query tests"
## Steps to reproduce

Run datasource tests on [loopback-connector-ibmi](https://github.com/strongloop/loopback-connector-ibmi)

## Current Behavior

There are 2 issues with the tests found in `test/basic-querying.test.js`:

1. The test `should support string "gt" that is not satisfied` assumes that the table is encoded in ASCII or a related encoding (lowercase letters come after capital letters).

[2019-12-09 18:23] dhmlau commented on #1809
@markdirish, assigning this to you since you have a PR in progress #1810 .

[2019-12-16 00:43] dhmlau commented on #1788
@hacksparrow, looks like you're looking into it.  Assigning it to you now. Thanks.

[2019-12-16 09:11] hacksparrow commented on #1788
@rranjann it is an implementation problem in the official MongoDB driver. They require special characters to be URL encoded, but they don't decode them back to plain text before passing the values to the database - https://github.com/mongodb/node-mongodb-native/blob/master/lib/core/uri_parser.js#L569-L578.

Calling `decodeURIComponent` on those values will fix the problem, but I am not sure if it

[2019-12-17 15:51] dhmlau opened #1816 "[CI] Postgresql downstream tests failed"
Originated from https://github.com/strongloop/loopback-datasource-juggler/pull/1813. Looking at the logs, there's no specific error, only:
[code]

## Acceptance Criteria
- [ ] investigate why the postgresql downstream CI failed and fix it.

[2019-12-19 19:48] agnes512 commented on #1816
Discussion during estimation meeting: Maybe we can create DB names dynamically. Using different db names to run v3 and v4 separately.

[2019-12-20 12:10] #1765 closed

[2019-12-22 19:51] mitsos1os commented on #1784
I have already issued a pull request #1787 and waiting for it to move on. Please don't mark as stale

[2020-01-09 14:50] Rima1992 commented on #313
if the text contains 'computer' this is the code
`"where":{"title":  {"regexp": "/Computer/"}}`
Otherwise, try this code
`"where":{"title":  {"like": "Computer"}}` OR `"where":{"title":  "Computer"}`

[2020-01-14 09:33] #1780 closed

[2020-01-14 10:33] #1786 closed

[2020-01-16 08:40] sanjaykumarns commented on #865
I am also facing the same issue.

[code]

[2020-01-16 13:39] malek0512 commented on #855
Is there any fix for this issue?
I use loopback-datasource-juggler@4.17.0

[2020-02-09 02:46] dhmlau commented on #1788
@hacksparrow @rranjann, is this issue good to close? I think you two had a separate discussion on this. Thanks.

[2020-02-13 19:40] AlexScotland commented on #88
A Co-worker of mine pointed out that each Loopback foreignKey element has an `onUpdate` and `onDelete` attribute.

Using those, we can add `onDelete:"cascade"`, and this will add the cascade functionality built into MySQL.

No where in Loopback documentation is this mentioned, so if we can have that added, that'd be nice.

tl;dr:  `onDelete:"cascade"` is cascade delete without any external mixins.

[2020-02-17 09:04] hacksparrow commented on #1788
Let's close this, it is MongoDB's Node.js driver problem.

[2020-02-17 09:04] #1788 closed

[2020-02-17 13:07] budasnorbi commented on #432
This is a good question, also looking for the solution, but so far did't find any.

[2020-02-21 08:18] mitsos1os commented on #1784
Ongoing discussion on related pull request. Issue not stale

[2020-02-23 21:14] dhmlau commented on #1809
@markdirish, are you still pursuing this? Thanks.

[2020-02-26 10:36] hacksparrow opened #1822 "Strongly typed context types for operation hook typings"
@bajtos [suggested to provide strongly typed context types based on the hook name](https://github.com/strongloop/loopback-datasource-juggler/pull/1820#discussion_r383908186).

[2020-02-27 16:11] agnes512 commented on #1816
closing as done

[2020-02-27 16:11] #1816 closed

[2020-02-28 12:54] hacksparrow opened #1824 "Add ObserverMixin to PersistedModelClass typings"
We need to export `PersistedModelClass` intersected with `ObserverMixin`, so LB4 does not have to use `juggler.PersistedModelClass & juggler.ObserverMixin`.

@bajtos made a quick attempt in https://github.com/strongloop/loopback-datasource-juggler/pull/1823 but looks like it is not very simple, need more time.

[2020-03-02 14:10] #1824 closed

[2020-03-03 08:37] odykyi commented on #1518
the same issue

[2020-03-14 16:28] Milos5611 commented on #865
I am also facing same one.
[code]

[2020-03-16 14:06] emonddr commented on #865
@Milos5611 , you are using

[code]

not mongdodb.

Please provide a minimal LB3 or LB4 application that reproduces your problem, to help us investigate.
Thanks.

[2020-03-16 14:07] emonddr commented on #865
@sanjaykumarns ,

Is your setup as complex as @schitransh ? Or are you connecting to one mongodb instance?
Please provide a minimal LB3 or LB4 application that reproduces your issue to help us investigate.
Thank you.

[2020-03-22 16:09] visdevabhakt opened #1829 "native SQL update query to update columns in a table"
Hi,
I'm using Postgresql connector and dataSource.execute() to run the SQL Update query.I have written the code as follows. I'm getting an error, error: syntax error at or near "=". Is this not correct syntax?

Error details:

name: 'error',
length: 90,
severity: 'ERROR',
code: '42601',
detail: undefined,
hint: undefined,
position: '62',
internalPosition: undefined,
internalQuery: undefined,
where

[2020-03-23 01:34] #1829 closed

[2020-04-09 20:11] jamesjjk commented on #1321
@bajtos Is there any update on this this issue still persists with enableOptimisedfindOrCreate. ValidateUniquenessOf, actually is validated after the event.

[2020-04-10 19:17] Gabriel-BS opened #1833 "Possibility of Including array operator in Where, like (&&) overlap operator"
I was wondering about those array operators that postgreSQL has for comparing, in particular the overlap operator (&&)  that looks if two arrays have elements in common.

I am doing a project and i need to compare if some element of the array that is saved in postgres DB is equal to some element that i send

for example:
![example](https://user-images.githubusercontent.com/54040225/79016451-607d36

[2020-04-23 05:44] mitsos1os commented on #1784
Resolved through #1834

[2020-04-23 05:44] #1784 closed

[2020-04-23 17:44] frankorama opened #1836 ""property cannot be changed" message when attempting to PUT (replaceById)"
## Version

Loopback v3.27.0

## Steps to reproduce

1. Create a Model called "Student" with an auto-created id and a name (string) property
2. Created a new student with {name: "John Doe"}
3. Retrieve new instance ID (example: 1)
3. Modify the student name by calling endpoint PUT

URL: /api/students/1
Data:
`{name: 'Jane Doe'}`

## Current Behavior

Instance is updated in the database
Console dis

[2020-04-28 04:30] danysz opened #1837 "New "stop" alias don't allow stuff to work"
## Steps to reproduce

lb4 app
lb4 model
lb4 datasource (choose pg)
lb4 repository
npm start

## Current Behavior

src/datasources/main.datasource.ts:33:3 - error TS2416: Property 'stop' in type 'MainDataSource' is not assignable to the same property in base type 'DataSource'.
  Type '() => ValueOrPromise<void>' is not assignable to type '() => Promise<void>'.
    Type 'ValueOrPromise<void>' is no

[2020-04-28 16:27] bajtos commented on #1837
Fixed by https://github.com/strongloop/loopback-datasource-juggler/pull/1838 in `loopback-datasource-juggler@4.21.1`. Sorry for the inconvenience caused by my change!

[2020-04-28 16:27] #1837 closed

[2020-04-30 13:48] danysz commented on #865
the problem still persist

https://github.com/danysz/test-connection-app-lb4-pg

[2020-04-30 14:53] bajtos commented on #1321
We don't have bandwidth to look into this issue. LoopBack 3 is in Maintenance LTS mode now, we are providing only critical bug fixes & security fixes.  However, if you open a pull request to fix this issue in juggler's `master` branch (version 4.x used by LB4), then we will review the patch and if it the changes are not too risky to introduce regressions, then we can back-port the patch to `3.x` t

[2020-05-09 05:49] #1809 closed

[2020-05-11 11:03] jamesjjk commented on #1419
@ssh24 This issue remains and is not fixed in Loopback-datasource-juggler 3.35.0

[2020-05-18 14:53] bajtos commented on #1836
Thank you @frankorama for reporting the issue. Could you please create a small application we can use to quickly reproduce it locally? See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report. Ideally, write an automated test we can run via `npm test`, one that fails with the current LoopBack version.

[2020-05-25 14:55] frankorama commented on #1836
@bajtos [Fork](https://github.com/JITbase/loopback-sandbox-1836) created with a test case illustrating the problem.
to run:
[code]

[2020-05-27 03:39] wangsenyan opened #1840 "the dao functions will confuse options with data/where"
## Steps to reproduce
[code]
in dao function create:

data: {transaction:tx}

options : {}

sometimes, user forgot passing where or data,but options,then there's the problem above.
how to avoid it?
Especially destoryAll and updateAll

thanks for reading

[2020-05-28 20:39] jamesjjk commented on #1610
@b-admike strongloop/loopback-connector-mongodb#522 does not address the issue described.

When you persist a { lat, lng } object, MongoDB is very specific about the order of the properties in the object being:
[code]
https://docs.mongodb.com/manual/geospatial-queries/

The current version is not dealing with this issue, in fact it would be better to transform to a JsonGeo Point or even an array [

[2020-07-18 06:02] #1833 closed

[2020-07-18 06:02] #1321 closed

[2020-07-26 14:27] prateek9958 opened #1854 "Dynamically connect to the data source in middleware"
I have a use case that needs to `dynamically connect to the data source` in the `middleware`. If this possible then how???

**USE CASE**
`Based on URL - GET the database name and refresh the connection of the` **MongoDB**

I have been doing this in `auth` middleware.
![image](https://user-images.githubusercontent.com/41443599/88481311-3cb8f180-cf78-11ea-9226-b5b3c86cb9c9.png)

my datasource.json
!

[2020-07-27 03:54] kaonashi164 commented on #1854
the same +1

[2020-07-27 19:41] prateek9958 commented on #1854
### Solution:
My auth or db checking middleware define in `initial:before` key in `middleware.json`
![image](https://user-images.githubusercontent.com/41443599/88584190-e8446d80-d06e-11ea-8980-57b15d6e18cb.png)

My db disconnection middleware define in `final` key in `middleware.json`
![image](https://user-images.githubusercontent.com/41443599/88584238-f8f4e380-d06e-11ea-948d-a3102046ea1e.png)

[2020-07-27 19:42] #1854 closed

[2020-08-08 07:18] #1836 closed

[2020-08-09 07:46] #1840 closed

[2020-08-10 15:08] dhmlau commented on #726
Since the latest 2.x juggler version is 2.54.0 and last comment being almost 2 years ago, I'm closing this issue.
@siddhipai @gpacheco, if you see encounter this issue, please ping here or open a new issue. Thanks.

[2020-08-10 15:08] #726 closed

[2020-08-13 06:41] demiro commented on #846
why is this closed? this is an important feature!

[2020-08-16 16:54] ewrayjohnson opened #1862 "Higher-level Transaction's Relations don't work as expected"
Using LoopBack version 3 but don't think it matters.
Using the Higher-level Transaction API don't think it matters.
The SlaveModel.relations.{}.modelTo is not a tranadctional model and therefore is unawar

Example Within a transaction:
1.  Start a transaction.
2. Using the transactional user model, create a user.
3. Using the transactional user model, login as the newly created user.
The login rem

[2020-08-19 03:57] ewrayjohnson commented on #1506
The problem with this is that the transaction is already committed, so the result model is no longer transactional.

[2020-09-15 05:09] mdbetancourt opened #1866 "yarn 2 Qualified path resolution failed - none of the candidates can be found on the disk."
![image](https://user-images.githubusercontent.com/22435967/93167921-af7c5880-f6ef-11ea-88e1-1dbd77a7c1c7.png)
looks like the problem is in the following code
[code]
trying to check for rest file in connector folder but there no exists

i fixed it with

[code]

[2020-09-21 13:49] hacksparrow opened #1867 "Refactor DAO methods"
Currently, DAO methods don't have a uniform way of processing and generating the result model. Ideally, the model object should be generated by a single pipeline, which would be invoked by all the DAO methods that deal with data retrieval.

Take a look at the differences in how the model data is created in the callback function of these DAO methods:

create: https://github.com/strongloop/loopback-

[2020-09-21 14:00] hacksparrow opened #1868 "Primary key property not validated in `.create()`"
The current implementation of `.isValid()` does not detect missing primary key property in `.create()`.

[code]

## Acceptance criteria

- [ ] Attempting to create a model without a primary key should throw an error
- [ ] Add test(s)

[2020-09-22 03:28] dhmlau commented on #1867
With the juggler-next work in mind, would it make more sense to ensure the consistency there?

cc @bajtos @raymondfeng

[2020-09-24 15:43] FedericoMassaioli opened #1869 "#1785 (backport of #1782) broke some like queries on SQL DBs"
Starting from `loopback-datasource-juggler@3.33.2` queries using `like`, `nlike`, `ilike`, and `nilike` operators on SQL DBs (PostgreSQL in my case) fails, because the presence of parentheses or other characters forbidden by the `escapeRegEx()` cause the rewrite of the query string and the query to fail.

[2020-09-24 17:49] dhmlau commented on #1869
@mitsos1os, thanks for taking a look at this issue.

[2020-09-24 18:03] mitsos1os commented on #1869
Hi @FedericoMassaioli . Could you please give me some more extra details about the problem you are facing since I am not extremely familiar with PostgreSQL?

- Isn't `nlike` supposed to accept a RegExp expression?
- What would be the expected query to end up in PostgreSQL DB?

Thanks

[2020-09-24 18:20] mitsos1os commented on #1869
Ok nevermind, I saw how the `nlike` is translated to PostgreSQL [here](https://github.com/strongloop/loopback-connector-postgresql/blob/beedf56f171b86ffbedf412ec708916c351c9ef7/lib/postgresql.js#L509)

So since the actual values in the `like`, `nlike`, etc.. are not expected to be RegExp in all DB systems, should this functioality be removed and moved to connector specific logic?

What do you thin

[2020-09-25 06:25] bajtos commented on #1867
Yeah, I agree this is probably best to defer to juggler-refactor Epic.

[2020-09-25 08:05] FedericoMassaioli commented on #1869
@mitsos1os is not a PostgreSQL only thing, the `like` operator & its friends are standard SQL, so the issue affects all connectors to SQL DBs.

[2020-09-25 08:19] FedericoMassaioli commented on #1869
@mitsos1os is not a PostgreSQL only thing, the `like` operator & its friends are standard SQL, so the issue affects all connectors to SQL DBs.

After looking at the code you referenced, I devised the workaround of escaping with a double backslash the characters that trigger `escapeRegEx()`. I wonder if this works with connectors to different SQL DBs, though.

[2020-09-25 09:34] mitsos1os commented on #1869
@FedericoMassaioli you are right. My SQL was a bit rusty 😄 ...

The thing is I did the fix while using MongoDB and also got carried away by the documentation which references **like** operators to be used with Regular Expressions https://loopback.io/doc/en/lb3/Where-filter.html#operators so maybe @dhmlau  this needs to be revised as well..

So I believe a decision should be taken regarding the usa

[2020-09-25 10:08] FedericoMassaioli commented on #1869
It works with the escape I added. When `escapeRegEx()` sanitized the original string it didn't return the same results, but this was discovered on a live DB, undergoing modifications to the data in records targeted by the queries, I need to find time for a more complete analysis.
IF all connectors to SQL DBs take care to properly set the escape character to `\` in LIKE strings, that would work.

F

[2020-09-25 11:14] mitsos1os commented on #1869
@FedericoMassaioli I would appreciate it if you could have the chance if it actually produced the same results.

Connector logic is deeper in the execution since this escape is done in DAO layer before calling the connector methods... It will probably need to be removed...

[2020-09-25 13:04] FedericoMassaioli commented on #1869
@mitsos1os I had extensive checks made in a controlled situation and, as far as PostgreSQL is concerned, the escape is not harmful and results are correct, only an annoying and hard to explain console warning.
So, wrt. PostgreSQL, it reduces to a documentation issue: the documentation should be made more consistent with the implementation, the spurious console warning could be changed.

However, I

[2020-09-26 10:17] mitsos1os commented on #1869
@FedericoMassaioli Thank you for taking the time to perform the tests.

We wad a similar discussion when first implementing the issue. So since this is an architectural decision let's wait to get an extra opinion on how to proceed.

@dhmlau What do you think?

[2020-09-26 21:04] mdbetancourt commented on #1866
a workaround is use the full name
{
connector: "loopback-connector-rest" instead of "rest"
}

[2020-09-27 00:47] dhmlau commented on #1869
sounds good.
Looping in @bajtos @raymondfeng @jannyHou @emonddr who commented/reviewed the original PR: https://github.com/strongloop/loopback-datasource-juggler/pull/1782.

[2020-09-28 02:43] PabloLionel commented on #865
The issue should have been fixed by #1585.

[2020-10-06 14:36] bajtos commented on #1869
Thank you @FedericoMassaioli for detailed investigation of the issue and how different connector/databases handle escaping.

From my point of view, I would expect the following behavior at high-level:

- The operator `like` & friends are connector specific. Some database/connectors accept a regular expression, some expect an SQL `LIKE` wildcard, etc. IMO, that means sanitization and input validati

[2020-10-06 15:04] mitsos1os commented on #1869
@bajtos I agree. The initial #1781 should be solved in connector level, Memory and Mongo.
I believe that the same path should be followed, as it was in the original issue.
If the connector (Memory or Mongo) accepts a RegEx value but a non valid RegEx value is provided, escape it and print a warning.

[2020-10-13 06:43] bajtos commented on #1869
+1

Based on the discussion above, I am afraid printing a warning is not enough to let app developers notice the problem. IMO, we should implement a more robust solution and reject requests with invalid RegExp values. It's the responsibility of the client to send a valid query, escaping invalid RegExp in a way that makes sense in the client/GUI context.

[2020-10-13 08:34] mitsos1os commented on #1869
So how would you like to proceed? Should I proceed issuing pull requests for memory and mongo?

My only objection to this, is that I find it inconsistent as behavior since it is not related to the client's knowledge of the backend.

For example, since Loopback provides a generic interface for REST API no matter the underlying datasource, a client could issue the same `like` query that will pass wh

[2020-10-13 08:44] bajtos commented on #1869
That would be awesome! Let's start with fixing juggler (reverting your original change) and the memory connector (to handle invalid RegExp values).

I see your point.

Unfortunately, the inconsistency cannot be avoided, because SQL connectors expect a wildcard (e.g. `Hello %`), not a regular expresion (e.g. `Hello .*`). See [`PostgreSQL.prototype.buildExpression`](https://github.com/strongloop/loo

[2020-10-13 09:09] mitsos1os commented on #1869
Hmmmm, I still consider the backend *silent escaping instead of throwing excpection* a more suitable solution. But no real problem with that... :wink:

I can issue the pull requests that implement the query rejection

[2020-10-19 19:12] dhmlau opened #1873 "[CI] Investigate downstream CI failure for `master` branch"
## Acceptance Criteria

From PR https://github.com/strongloop/loopback-datasource-juggler/pull/1870, there are downstream failure for:
- [ ] loopback-connector-mongodb *1
- [ ] loopback-connector-mssql *3
- [ ] loopback-connector-oracle *2
- [ ] loopback-connector-postgresql@3.x  *200+

See [comments from @bajtos in that PR](https://github.com/strongloop/loopback-datasource-juggler/pull/1870#issue

[2020-10-27 20:16] Markox36 commented on #805
YOU HAVE TO PUT FOR EXAMPLE IF YOU HAVE MORE THAN 11 client.on put client.setMaxListeners(0) .

[2020-11-12 17:33] lrpinto commented on #1836
Hi, anyone got to the bottom of this?

I ma having similar issue.

[2020-11-12 17:58] frankorama commented on #1836
Looks like I'll have to do a pull request.  As mentioned in the comments, the error is written to the console, but the object is still updated, so there doesn't seem to be a show-stopping bug.

[2020-11-13 17:35] lrpinto commented on #1836
I am with you. It is just a warning. It just a little annoying.

But perhaps a pull request allowing to declare a Mongo ID as [ObjectId ](https://docs.mongodb.com/manual/reference/method/ObjectId/) would be good (mongoose already has this type)... Truth to be said I have not done any effort to find how to do it, but maybe in Xmas I have time...

[2020-11-18 10:51] johndpope opened #1881 "uuid_short"
## Suggestion

I wondered if there was a way to hack the defaultFn to include uuid_short / this is a random number.

## Use Cases
I want to use it as int in place for guid strings. This is out of the box with mysql - is it possible this could just work ?

[2020-12-03 19:20] ferrantejake commented on #1866
I am having the same issue with the mongodb connector. It is not resolved by using the connectors full name.

[code]

[2020-12-08 15:50] mdbetancourt commented on #1866
do you have installed mongodb connector? try using .yarnrc.yml to specify the dependency

[2020-12-09 10:23] benjamincburns opened #1885 "DateString not exposed as TypeScript type - prevents use in Loopback 4"
## Steps to reproduce

1. Try adding a property of type `DateString` to a TypeScript model in loopback 4.

## Current Behavior

Can't import type `DateString` because it's implemented in pure JS and not exposed by any type declaration file.

## Expected Behavior

I'd be able to do something like `import { DateString } from "loopback-datasource-juggler"` in TypeScript code.

It would appear that th

[2020-12-09 18:42] ferrantejake commented on #1866
Yes, I do. The issue lies in the way datasource-juggler tries to look up multiple versions of the connector by looking in different locations and fails entirely when it fails on any of the locations it tries to look up. See this pull request.
https://github.com/strongloop/loopback-datasource-juggler/pull/1883

[2020-12-10 12:32] lidafeo opened #1886 "bug EmbedsMany.prototype.create"
## Steps to reproduce

I have 3 models:

1. clone the sandbox https://github.com/lidafeo/loopback-sandbox/tree/bug-embedded-relations
2. add a data source for Project Model (I used mongodb)
3. start app
4. run POST /Projects/setStages

## Current Behavior

If I call the function EmbedsMany.prototype.create, 12 executives added successfully, but on the thirteenth I get an error:
node_modules\loopba

[2020-12-14 11:32] lidafeo commented on #1886
## Link to reproduction sandbox
https://github.com/lidafeo/loopback-sandbox/tree/bug-embedded-relations

[2021-01-25 12:56] gianluca1606 opened #1889 "How to create Datasource with IBM I Connector?"
Hello guys I am trying to connect to our IbmI P7 V7R3. I first want to try loopback out from my windows developer machine. So i generated a callback project with the lb command, and created a new controller.

In the controller i am trying to create the Datasource with the IBM I Connector just as below:

`var config = {
  "name": "DEVP7",
  "connector": "ibmi",
  "connectionString": "Driver={IBM DB

[2021-01-25 15:28] #1889 closed

[2021-02-26 15:21] bajtos commented on #1866
Another option is to pass the connector object instead of the module name.

[code]

[2021-03-09 09:53] sk185050 commented on #1586
Hello Ray,
I am observe a case, where I assume would be the case. The DB we are using is oracle, I hope same is applied with all the connector ?

[2021-04-04 00:25] instantlinux commented on #1866
I've upgraded to yarn 2.4.1 and hit this irreconcilable error in CI; these problems are maddening and time-consuming for those of us not native to the javascript frontend world:
[code]
This comes from the following line in `App.js`:
[code]
Somehow it's getting confused by the `@` or something, generating an incorrect path for that one (out of dozens) of packages. My current workaround is to turn o

[2021-04-05 18:51] ewrayjohnson commented on #1862
Anyone have any interest in fixing this?

[2021-04-12 11:18] lensbart commented on #1866
@instantlinux I’m running into a similar issue and think it’s related to Yarn 2 (PnP). In my case, the issue arises on AWS Elastic Beanstalk (Linux), I think with the first import that has an “@”.

Did you figure out a solution already? In any case, I’ll update here if/when I figure it out.

[code]

[2021-04-12 13:16] lensbart commented on #1866
@instantlinux if the issue only arises in CI, check if your ignore file (e.g. `.ebignore` for AWS Elastic Beanstalk) matches the path not being found.

In my case, I had `src` in my ignore file instead of `./src`, so it left out some subdirectory from a subdependency.

I arrived here via Google, so maybe it’s not related to this issue, but it cost me a few hours to figure out, so I figured I’d sha

[2021-05-20 00:19] getsnoopy opened #1890 "Relation retrieval after parent model retrieval does not add relation to JSON output"
## Steps to reproduce

1. Retrieve a main model's instance.
2. Retrieve one of the instance's related instances via relation.
3. Run the `toJSON` on the main model instance.

Here are examples:
[code]

[code]

## Current Behaviour

The output of `toJSON` does not include data from the related model instance.

## Expected Behaviour

The output of `toJSON` should include the related model's result,

[2021-05-20 00:48] getsnoopy opened #1891 "Promisify relation access methods"
## Suggestion

There doesn't seem to be a way to invoke a relation method via promises in order for it to retrieve the relation instance. For example:

[code]

It is only possible via callbacks:
[code]

## Use Cases

This is so that if the code base uses promise-based code (or `async`/`await`), it doesn't have to deal with callbacks in order to make the request asynchronously.

There is a way to d

[2021-05-31 05:32] Tesfamichael1074 commented on #805
```EventEmitter.defaultMaxListeners = MaxNumberOfClients``` fixed may problem

[2021-06-28 15:29] ewrayjohnson opened #1894 "model default scope with inq causes TypeError: Right-hand side of 'instanceof' is not callable"
## Steps to reproduce
1. Create a model including a property like:
[code]
2. Add "scope" to the model like:
[code]

1. Add data which satisfies the scope.  For example the values of list = ["2"]
2. Do a simple GET on the model via the REST API.

## Current Behavior
Exception thrown is: "TypeError: Right-hand side of 'instanceof' is not callable" in loopback-datasource-juggler\lib\utils.js on or ab

[2021-07-12 11:21] ewrayjohnson opened #1895 "null value not persisted for properties of type JSON, Any, or Object"
## Steps to reproduce
1. Create a model with a property of either of the following types: JSON, Any, or Object
2. Ensure the property above is not required.
3. Create an instance of the above model setting the property value to null
4. Query the model where the value of the property is null and see that the created instance is not returned

## Current Behavior
'null' is stored in the dataSource

#

[2021-07-15 07:11] benjamincburns commented on #1885
@achrinza similar to my comment on another issue - if you agree that this bug is valid, perhaps it should be ignored by stalebot.

[2021-07-28 05:28] #1881 closed

[2021-07-28 05:28] #1873 closed

[2021-07-28 05:28] #1886 closed

[2021-07-28 05:28] #1867 closed

[2021-07-28 05:28] #1868 closed

[2021-07-28 05:28] #1862 closed

[2021-07-28 05:28] #1866 closed

[2021-08-02 01:58] #1891 closed

[2021-08-02 01:58] #1890 closed

[2021-09-03 16:08] achrinza commented on #1885
Apologies for missing the issue; This would be solved with the addition of type definitions to Juggler.

Currently we don't have the resources to implement the typedefs and tests right now but are open to community contributions.

As for stalebot, it acts as a gentle reminder that the issue is still open; So if the issue is still valid, we'll remove the stale tag :)

[2021-09-03 17:15] bmaupin commented on #541
If I'm reading the documentation correctly, `validatesFormatOf` has an `allowNull` property, but when I enable it, validation errors are thrown for blank and `undefined values`:

[code]

However, if I use `allowBlank` instead, it works, even though it doesn't seem to be documented for `validatesFormatOf` 🤔:

[code]

https://apidocs.loopback.io/loopback-datasource-juggler/#validatable-validatesform

[2021-09-13 14:28] achrinza commented on #1885
Currently being worked on by: https://github.com/loopbackio/loopback-datasource-juggler/pull/1902

[2021-11-16 03:30] wangsenyan opened #1905 "concurrent transaction throw deadlock error"
### pm2 start server with two instance ,
### two instance connect one mysql server.
![1637033091(1)](https://user-images.githubusercontent.com/30583832/141890334-01df1944-2366-4e09-aead-bfb3c9e18219.png)

[code]
**i use Jmeter test it , with 50 threads / sec, then throw error
but threads number small for example less than 10, they work well,
mysql deallock**

![1637032830(1)](https://user-images.g

[2021-11-17 07:14] benjamincburns commented on #1885
Closing, as #1902 was merged

[2021-11-17 07:14] #1885 closed

[2021-11-20 03:31] achrinza commented on #1905
Hi @wangsenyan, thanks for opening an issue! Is this an error that occurs only with `loopback-connector-mysql`, or is it a broader issue that affects the base LoopBack Juggler?

[2021-11-25 06:50] wangsenyan commented on #1905
sorry,i don't know,it too odd

[2021-12-02 15:55] sigalor commented on #592
@bajtos I am still experiencing this issue with MongoDB in Loopback 4 as well. Any updates on this in the last few years?

[2021-12-30 04:02] sudhi0092 opened #1907 "shortid dependency uses cluster mode and hence loopback cannot run in Passenger"
## Suggestion
shortid package uses nodes cluster mode. Passenger deployment environment does not support/allow for Nodes cluster mode. This becomes a blocker even when the shortid package feature not being used.

## Use Cases
loopback API to be deployed in Passenger environment.

## Examples
App 5797 output: Trace: You required the Node Cluster module, which is incompatible with Passenger, a non-f

[2022-02-15 20:06] fidgi opened #1908 "transitive dependency of a moderatly vulnerable version of nanoid"

[2022-02-21 05:52] Anu1601CS opened #1909 "Type issue"
## Steps to reproduce

Builds are failing it was working perfect sudden this issue came.

## Current Behavior

![image](https://user-images.githubusercontent.com/30978328/154896903-775998e7-3ef0-4600-9eea-2fba33e085d6.png)

## Expected Behavior

No errors

## Link to reproduction sandbox

## Additional information

## Related Issues
No

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Rep

[2022-02-21 06:57] achrinza commented on #1909
Thanks for the report, currently verifying the issue at my end.

[2022-02-21 07:05] achrinza commented on #1909
As an immediate, temporary solution, add the following to your `package.json`:

[code]

See https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides for more information on overrides.

[2022-02-21 07:16] achrinza commented on #1909
Hi @Anu1601CS, I've just tested this at my end with the `todo` example (via `lb4 example`) and was not able to replicate the issue (i.e. was able to build and start the application).

I've verified that `loopback-datasource-juggler@4.27.0` was in the dependency tree:

[code]

I'm currently using Node.js v16.14.0.

[2022-02-21 08:54] Anu1601CS commented on #1909
Hi @achrinza

[code]

`Node  14x`

[2022-02-21 13:06] achrinza commented on #1909
Thanks for the additional info. It looks the `node_modules` you're testing against is still on `loopback-datasource-juggler@4.26.0`, which does not contain `geo.d.ts`, which means it should not be affected by the latest release (v4.27.0).

See:

- v4.27.0: https://github.com/loopbackio/loopback-datasource-juggler/tree/74d429d52d00f4c957c586112cb1257b1f01d0e2/types
- v4.26.0: https://github.com/loo

[2022-02-21 13:11] Anu1601CS commented on #1909
i  am looking into it

[2022-02-21 19:38] amortega commented on #1909
I am having the same problem, did you manage to solve it?

[2022-02-22 07:31] dhivyapriya1998 commented on #1909
Hi,

I'm also facing the similar issue same as @Anu1601CS
Before it was working fine before.

This is my project dependencies
 "dependencies": {
    "@highcharts/map-collection": "^2.0.0",
    "@loopback/authentication": "^4.1.3",
    "@loopback/boot": "^1.7.4",
    "@loopback/context": "^1.25.1",
    "@loopback/core": "^1.12.4",
    "@loopback/openapi-v3": "^1.13.0",
    "@loopback/repository": "

[2022-02-22 07:32] dhivyapriya1998 commented on #1909
@achrinza could you pls help on it

[2022-02-22 07:56] achrinza commented on #1909
Thanks for the additional information, @dhivyapriya1998. Could you provide the OS, Node.js version, and package manager (i.e. NPM) version? It also seems like you're using an older set of LB4 packages; If feasible, could you attempt to upgrade them to the latest versions? The update steps can be found in my previous comment: https://github.com/loopbackio/loopback-datasource-juggler/issues/1909#iss

[2022-02-22 08:03] achrinza commented on #1909
Please also provide the error that you're experiencing as well.

[2022-02-22 08:17] achrinza commented on #1909
I suspect that this may be caused by incompatibility between TypeScript versions. If possible, please update these packages:

- `typescript`
- `tslib`
- `@loopback/build` (Optional)

I'll continue to investigate and try to identify the root cause from my end.

[2022-02-22 08:39] Winnetu commented on #1909
for me just changing to typescript version 4.0.3 solved issue

[2022-02-22 08:54] dhivyapriya1998 commented on #1909
@achrinza
node - v14.17.0
npm - 6.14.13

[2022-02-22 09:01] achrinza commented on #1909
Thanks for all the information. I was able to confirm that the issue is with the use of Template Literal Types, which was [introduced in TypeScript 4.1](https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/#template-literal-types).

The offending `geo.d.ts` typedef file isn't actually usable as-is and it was only introduced in the latest release. So removing it should not have any p

[2022-02-22 09:14] #1909 closed

[2022-02-22 09:32] achrinza commented on #1909
`loopback-datasource-juggler@4.27.1` has been published:

- https://github.com/loopbackio/loopback-datasource-juggler/commit/92e05e6537e661094d1e4ebf206784ab2e6b2f34
- https://www.npmjs.com/package/loopback-datasource-juggler/v/4.27.1

[2022-02-22 15:38] Anu1601CS commented on #1909
@achrinza Thanks

[2022-03-20 09:55] BostjanPisler commented on #779
For anyone having this issue with a mounted lb3 app inside an lb4 app, this error can happen for a model that has scope.include defined in the model definition json file.

[2022-03-29 09:44] renovate[bot] opened #1917 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore: update dependency debug to ^4.3.4
 - [ ] chore: update dependency inflection to ^1.13.2
 - [ ] chore: update dependency lodash to

[2022-07-27 04:21] sachinibm2 opened #1968 "[BUG] create helper function ignores the id property when it's equal to 0."
**Description** :
Create function( dao.js line no 378) which gets the id as a callback on the create call in the loopback, does not accepts 0 as an id.
We have a scenario where the id starts from 0, and this is causing the id property for our indexed 0th element to be removed from the response.

Steps to reproduce :
* Model which has a property id which starts from 0.
* Call the api to create whic

[2022-08-06 13:34] matmoi opened #1971 "`Model._forDB` is not invoked in `update` function"
## Steps to reproduce

There's an inconsistency when calling `update` and `save` with the same `data` parameter.

## Current Behavior

In [update](https://github.com/loopbackio/loopback-datasource-juggler/blob/251ced811b80177f47efb6a3270ed6d279263c46/lib/dao.js#L2211), [invokeConnectorMethod](https://github.com/loopbackio/loopback-datasource-juggler/blob/251ced811b80177f47efb6a3270ed6d279263c46/li

[2022-08-22 08:08] #1971 closed

[2022-11-04 13:20] #899 closed