[2016-05-17 21:17] Amir-61 commented on #932
Thanks @jkvim for helping us to improve the documentation; right now I see the doc for 'created' in `callback`says: "True if the instance matching the where filter was created.". which could be correct, but may be better to say 'True if the instance does not exist and gets created'. @crandmck you are an expert and have a better idea...

@crandmck I just wanted to update JSdoc, however I don’t see

[2016-05-17 21:22] 0candy commented on #617
Thank you for pointing out the bug. Would you like to contribute by submitting a PR?

[2016-05-17 21:24] 0candy commented on #675
Could you please fork the loopback-sandbox with a sample app to reproduce this issue? Thanks!
https://github.com/strongloop/loopback-sandbox

[2016-05-17 21:24] 0candy commented on #931
Could you please fork the loopback-sandbox with a sample app to reproduce this issue? Thanks!
https://github.com/strongloop/loopback-sandbox

[2016-05-17 21:31] 0candy commented on #684
Could you please fork the loopback-sandbox with a sample app to reproduce this issue? Thanks!
https://github.com/strongloop/loopback-sandbox

[2016-05-17 21:33] crandmck commented on #932
So, just to be clear, the `created` argument to the callback _should be_ true if the method does not find an existing instance that matches the filter, and therefore the method creates a new instance.  @jkvim Are you saying that's not the case?

@Amir-61 Assuming that the method does behave as described above, then your suggested change to the wording is fine--feel free to go ahead and make it.  I

[2016-05-17 21:34] Amir-61 commented on #662
I just tried your example with memory connector and it seems it works now. So I'm closing it now.

I tried the following code for my `customers` model and I got the expected result:
[code]

Thanks!

[2016-05-17 21:34] #662 closed

[2016-05-17 21:53] Amir-61 commented on #932
Thanks I sent a [PR](https://github.com/strongloop/loopback/pull/2349) to make it clearer.

[2016-05-17 21:59] Amir-61 commented on #914
Thanks @harshu108,

Thats an easy fix could you please contribute a patch and please ping me in the PR you send so I'll make sure it gets landed ASAP.

Also please add test case reproducing the issue in our test suite.

Thanks

[2016-05-18 05:10] jkvim commented on #932
@crandmck yes that‘s what i say.

@Amir-61 thanks for answer.

[2016-05-18 11:49] Amir-61 commented on #932
@jkvim Thanks!

But [based on the code](https://github.com/clarkorz/loopback-datasource-juggler/blob/master/lib/dao.js#L664-L681) it should work as expected; it should return `true` if the instance does not exist and gets created and `false` if it finds an existing instance. Could you please provide a sample repo reproducing the issue; you can use memory connector with `file` option which saves th

[2016-05-19 02:15] EvanWillms commented on #166
+1

[2016-05-19 07:54] pantaluna opened #936 "Using model.create([]) with Promise.all() results in TypeError: this.getDataSource is not a function"
##I want to add a batch of rows to a model using (Bluebird) promises.

I found this pattern at https://github.com/strongloop/loopback/issues/2164#issuecomment-215645590 for using Promise.all() in combination with model.create([]):
[code]

I applied that pattern in the project as follows:
[code]

##But the following error comes back consistently at the line <Promise.all(inputDataSet.map(cl.create))

[2016-05-19 07:57] pantaluna commented on #936
Maybe it should be moved to repo strongloop/loopback? But I cannot do that (no auth).

[2016-05-19 14:43] laurentdesmet commented on #466
+1 for this feature because now autoupdate can lead to dataloss because columns can be removed as mentioned above (issue strongloop/loopback#1942). Maybe the documentation should be updated because now this [page](https://docs.strongloop.com/display/public/LB/Creating+a+database+schema+from+models) states

which is a dangerous statement to make because autoupdate can actually remove data.

[2016-05-19 20:54] rus0000 commented on #617
Sorry, no. I don't work with the juggler right now.

[2016-05-20 03:48] jannyHou commented on #936
@pantaluna That's fine let's keep you issue here since it's related to build-in  method `create`.
Could you fork https://github.com/strongloop/loopback-sandbox and replace with your code? That would be much easier for me to debug. Thanks.
I will take a look as soon as possible and if it's caused by the same issue in https://github.com/strongloop/loopback/issues/2164#issuecomment-215645590 we can k

[2016-05-20 07:35] pantaluna commented on #936
@jannyHou Thanks for the follow-up.

I already used the loopback-sandbox to report this reproducible case. See https://github.com/pantaluna/loopback-sandbox-this-getdatasource Or do you mean something else?

[2016-05-20 14:10] bajtos commented on #923
Makes sense to me. Would you like to contribute this change yourself, @mitsos1os?

[2016-05-20 14:26] jannyHou commented on #936
@pantaluna Looks great! this is what I need. Thanks.

[2016-05-20 15:59] 0candy commented on #906
Could you please fork the loopback-sandbox with a sample app to reproduce this issue? Thanks!
https://github.com/strongloop/loopback-sandbox

[2016-05-20 16:02] 0candy commented on #883
Could you please fork the loopback-sandbox with a sample app to reproduce this issue? Thanks!
https://github.com/strongloop/loopback-sandbox

[2016-05-20 16:09] 0candy commented on #811
Could you please fork the loopback-sandbox with a sample app to reproduce this issue? Thanks!
https://github.com/strongloop/loopback-sandbox

[2016-05-20 16:28] mitsos1os commented on #923
@bajtos Happy to see we are on the same page! Will do so yes

[2016-05-20 16:29] mitsos1os commented on #923
Should I do it generally or only for mongoDB?

[2016-05-20 18:06] 0candy commented on #793
Could you please fork the loopback-sandbox with a sample app to reproduce this issue? Thanks!
https://github.com/strongloop/loopback-sandbox

Please contribute by submitting  a PR. =)

[2016-05-20 18:06] 0candy commented on #892
Could you please fork the loopback-sandbox with a sample app to reproduce this issue? Thanks!
https://github.com/strongloop/loopback-sandbox

[2016-05-20 18:07] 0candy commented on #858
Could you please fork the loopback-sandbox with a sample app to reproduce this issue? Thanks!
https://github.com/strongloop/loopback-sandbox

[2016-05-20 19:06] jannyHou commented on #936
@pantaluna it also doesn't work for the example in  strongloop/loopback#2164 , same error. Thanks for notifying us this.
Let's close this issue and keep discussion under the parent issue to get more feedback from communities.

[2016-05-20 19:06] #936 closed

[2016-05-20 19:36] pantaluna commented on #936
OK

[2016-05-20 19:50] jannyHou commented on #551
I am closing it since it's not reproducible, maybe the bug is fixed already. If anyone able to reproduce it, Please fork this [sandbox](https://github.com/strongloop/loopback-sandbox) and replace with your code, and feel free to reopen it!
Appreciate your suggestions and help.

[2016-05-20 19:50] #551 closed

[2016-05-20 21:27] Amir-61 commented on #867
Hey @Valko54,

Please keep in mind context of the file keeps changing and line numbers are not valid; the better way is to add the link to the line of code you are referring to; however for this question I suggest you send a PR and discuss the changes in your patch... if they make sense we land the PR, or we can discuss further there...

Thanks... Please let me know if you agree and we can close t

[2016-05-21 06:24] peek4y commented on #883
I can reproduce it, I'm using postgres connector btw.

[2016-05-21 06:24] peek4y commented on #883
FYI The query - ```{"where":{"location":{"near":[180,231],"maxDistance":100,"unit":"kilometeres"}}}```

[2016-05-21 22:23] joeauty commented on #658
According to this ticket https://github.com/strongloop/loopback-boot/issues/4 datasources now support dynamic variables (${SOME_STRING}). What Loopback version is this feature available in, and where are these variables set?

[2016-05-22 15:46] mitsos1os commented on #923
Created pull request for this change here: https://github.com/strongloop/loopback-datasource-juggler/pull/940

[2016-05-23 08:00] windyinwind opened #941 "Is it possible to add conditions on "through" model in "hasManyThrough" relation?"
I'm using mysql, relation of teachers and students is many-to-many.
I want to select all students of one teacher, below is my table definition:
Teacher table:

| id | name |
| --- | --- |
| 1 | Tom |
| 2 | Jerry |
| ... | ... |

Student table:

| id | name |
| --- | --- |
| 1 | Sam |
| 2 | Hank |
| ... | ... |

and relation table (teacher_student):

| teacher_id | student_id | **deleted** |
| ---

[2016-05-23 21:14] Amir-61 commented on #658
Hey @davidcheung ,

Is https://github.com/strongloop/loopback-boot/issues/4 ^ what you implemented?

[2016-05-24 06:16] sebastianhaas commented on #750
Do you confirm this as a bug? I can see if I can contribute a patch then.

[2016-05-24 13:46] Amir-61 commented on #912
It seems this is an issue for all static methods; I believe this is a bug for `replaceById` and `replaceOrCreate` as well.

[2016-05-24 13:53] bajtos commented on #912
I think the methods has access to an instance, because they create a new instance inside. An instance needed e.g. to run validations.

Having wrote that, I agree it's a good idea to investigate this further and build better understanding on what exactly is happening under the hood.

[2016-05-24 14:03] davidcheung commented on #658
@Amir-61 the feature for dynamic datasources currently only supports string, so for something that requires parsing thru js (eg `var vcapServices = JSON.parse(process.env.VCAP_SERVICES)`) it probably wouldn't work.

but it might work on `datasource.local.js` as follow:
[code]

[2016-05-24 14:25] Amir-61 commented on #658
@joeauty @sebfindling  Please see ^

Thanks @davidcheung!

[2016-05-24 15:39] Amir-61 commented on #894
Hey @FreakTheMighty,

I believe I already saw this bug... But could you please give me the steps to reproduce it.

Thanks a lot!

[2016-05-24 16:16] Amir-61 commented on #750
@sebastianhaas

I just doubled check [your app](https://github.com/sebastianhaas/embeds-many-string-id) and on my second thought it may not be a bug and it can be an expected behaviour; IIRC for embeds relation the child's data is stored in the parent model and not in a separate child model so thats why we are getting the embedded instances ID's as type String instead of ObjectId like in any other

[2016-05-24 16:33] Amir-61 commented on #750
@raymondfeng Could toy please take a look and let us know if this is a bug? Also your explanation can clarify lots of things...

Thanks

[2016-05-24 21:01] 0candy commented on #941
You can try defining a scope method on the model or a custom method.

https://docs.strongloop.com/display/APIC/Querying+related+models#Queryingrelatedmodels-Scope

[2016-05-24 22:12] jannyHou commented on #927
@beaglez when you create relation `hasAndBelongsToMany`, the default relationship name for both directions are in plural.
So you need to call `Picture.find( { include: 'Authors' }, cb);`
Please update info here if you still have problems.

[2016-05-25 14:37] bajtos commented on #185
We should take into consideration https://github.com/strongloop/loopback/issues/397.

[2016-05-25 15:06] mitsos1os opened #945 "EmbedsOne save does not call parent save to update parent model with changes"
see https://github.com/strongloop/loopback/issues/2376 ...

[2016-05-25 16:53] 0candy commented on #945
The .trigger function is deprecated and will be removed in LB 3.0.
Please use operation hooks for replacement.

https://docs.strongloop.com/display/APIC/Operation+hooks

[2016-05-25 17:57] mitsos1os commented on #945
OK so how will nestRemoting work? Since I do not see any other reference of `prepareEmbeddedInstance` which is how the parent model gets notified for the child changes right???
It overrides the .trigger to first call the action on the embedded's model parent

[2016-05-26 15:23] Amir-61 opened #946 "`replaceOrCreate` does not convert types properly"
`replaceOrCreate` does not convert types properly; the mentioned methods is static method and not prototype methods, and therefore no access to instance which is required to call [convertSubsetOfPropertiesByType](https://github.com/strongloop/loopback-datasource-juggler/blob/7247b6637e098047daf8d73d4d864455d80a9566/lib/dao.js#L65-L77)

Relate to https://github.com/strongloop/loopback-datasource-ju

[2016-05-26 15:50] jannyHou commented on #903
@ebarault I fail to reproduce your error, mongodb works fine on my local.
I have a model attached to mongodb datasource:
[code]

Result without filter:
[code]

Result with filter `{"fields": {"name" : false}}`:
[code]

If I did anything wrong here or you still have problem with it, please fork https://github.com/strongloop/loopback-sandbox and replace with your code.
Thanks.

[2016-05-26 16:02] jannyHou commented on #676
/Physicians/{id}/patients/rel/{fk}
http://localhost:3000/api/Physicians/1/patients/rel/1
is failing with the following error

Could anyone having this problem explain why there is a `rel` after `patients` in the endpoint path?
I could not find it in doc and confused where is it defined?

[2016-05-26 16:37] ebarault commented on #903
Please test:
-without defining name and/or name2 in your model
-with nested properties in your data: name.subname1, name.subname2

Neither of those 2 test cases works

[2016-05-26 16:49] jannyHou commented on #615
@ainesophaur
How did you

?
If I do it from explorer with endpoint `PUT /Ausers/{id}/busers/{fk}`, it works fine:
[code]
response:
[code]

[2016-05-26 19:46] joeauty commented on #658
Okay, I'm having some problems here...

I upgraded to Loopback 2.28.0, put a file in my home directory called .env:

`MY_HOST=127.0.0.1`

Made sure these environment variables were loaded:

`source ~/.env`

Indeed they are:

[code]

The API can be started, but when I try to access some data using this datasource I get:

`Cannot GET /$/path/to/endpoint`

So, obviously my environment variable isn't

[2016-05-26 20:20] davidcheung commented on #658
@joeauty right now we only support the whole parameter being dynamic, not partially

so what i would assume you have two options
- use dynamic variables for `datasource.json`
- use `datasource.local.js`

If you use dynamic variables for `datasource.json`
you will need to do
[code]
if it is a dynamic variable, it replaces the whole variable ([see implementation](https://github.com/strongloop/loopba

[2016-05-26 20:43] joeauty commented on #658
Hmmm... it doesn't appear that this technique works with URLs like:

`http://127.0.0.1:3000/api/core/info?id={id}`

I get:

[code]

[2016-05-26 20:47] joeauty commented on #658
Does this technique work with GET methods that use query strings? I have several far more complex than this... For example:

`?filter[where][accountType]=myAccount&filter[where][something]=somethingElse`

[2016-05-26 20:54] davidcheung commented on #658
all the dynamic configuration does is it replaces that specific parameter in the `datasources.json`
then it registers the datasource with those variables

perhaps you can try something like
`DEBUG=loopback:boot:executor MY_HOST=http://127.0.0.1:3000/path/to/endpoint/{p} node .`
to see if you get some useful debug information

[2016-05-26 21:10] 0candy commented on #855
Thank you for pointing out the bug. Actually it looks like your model property is being set hence it overrides the internal `inst.trigger` function that we had defined causing the error `is not a function`. Loopback should throw an error when the user tries to define a model property with the name `trigger` and any other `reserved names` that we may have.

Would you be interested in submitting a P

[2016-05-26 21:13] 0candy commented on #830
Could you please fork the loopback-sandbox with a sample app to reproduce this issue? Thanks!
https://github.com/strongloop/loopback-sandbox

[2016-05-26 21:42] jannyHou commented on #903
@ebarault thank you i see.
So for " -without defining name and/or name2 in your model" I will regard it as a bug, we'd better add a check for it, maybe give a warning/throw an error when users includes non-existed property in filter.

"-with nested properties in your data: name.subname1, name.subname2" looks more like a feature. I think we don't support it now. I will dig into it then.

[2016-05-26 21:43] 0candy commented on #945
nestRemoting is done here:
https://github.com/strongloop/loopback/blob/6964914bab64496c789c434fec39d2914231ee23/lib/model.js#L685

The `prepareEmbeddedInstance` was added so that a separate `save` call was not needed when updating a relation.
https://github.com/strongloop/loopback-datasource-juggler/commit/96a276a12b4a75a85b1092ccbd4ad0b31c5fd056

I think you're right, I don't think the EmbedOne h

[2016-05-26 22:16] joeauty commented on #658
[code]

[2016-05-27 04:25] windyinwind commented on #941
@0candy I defined  a custom method as a workaround, but I do think loopback should have this feature.

[2016-05-27 09:52] cspeer commented on #610
I'm also struggling with this. I'm running on:
[code]

Is there a roadmap as to when this fix will be released?

[2016-05-27 09:55] mitsos1os commented on #945
@0candy I am sorry but I made a mistake. nestRemoting has nothing to do with it, I was trying it like that and I was too tired, and thought the issue was related.... nestRemoting works correctly at exposing inner model relationships... The problem is as you mentioned that embedsOne does not call the parent save when you call save on the embedded model. In contrast, embedsMany does this correctly t

[2016-05-27 13:57] 0candy commented on #945
Thank you for creating the repository. We will definitely look for a replacement if we remove the deprecated code. I will label this as a feature to add it to embedsOne.

[2016-05-27 14:37] Amir-61 commented on #941
@0candy @windyinwind I believe the easier solution would be querying `teacher_student` model and then  include `teacher` and `student` models for more info.

[2016-05-27 23:34] davidcheung commented on #658
@joeauty  hmm thats weird, maybe your loopback-boot is outdated,
you will need your loopback-boot to be [2.18.0](https://github.com/strongloop/loopback-boot/commit/cc551b0c0fd307f85a28a356f37ae3a61c6c5fca)+
you could probably find out by doing `npm ls --depth=1`

[2016-05-29 03:04] joeauty commented on #658
Thanks @davidcheung that was indeed the issue!

[2016-05-29 13:22] janober commented on #442
Had now another look and made the following change:
https://github.com/janober/loopback-datasource-juggler/commit/459988695d4ed657f062c024e538e4368f27f36e

Did not create tests yet because wanted to see first if the change would be ok and accepted like that.

[2016-05-30 08:36] mitsos1os commented on #945
@0candy This right now isn't working correctly, and it is actually a bug and not a feature, because updating the embedded model (in embedsOne relationship) does not update the parent..
Would you like me to issue a pull request on the 2.x branch so that is it fixed in this version, and when later trigger hooks are deprecated you should update the functionality in both embesMany and embedsOne relati

[2016-05-30 17:29] 0candy commented on #945
I put it as a feature because it wasn't something that was originally working and stopped working. That would be a bug. Last time someone contributed a PR for embedsMany which is why it works for that. Please feel free to submit a PR for embedsOne. Thank you!

[2016-05-31 06:08] iam-merlin opened #948 "Model.embedsOne undefined"
Hi,

Following the duck, I can define relation in code (`model/customer.js`) like that :

[code]

The problem `embedsOne` is `undefined`. Am I missing something?

[2016-05-31 07:54] mitsos1os commented on #945
I have just issued a pull request for what we talked about here: https://github.com/strongloop/loopback-datasource-juggler/pull/949

[2016-05-31 13:16] AndersonZacharyT commented on #166
+1

[2016-05-31 14:38] bajtos commented on #916
The discussion continues here: https://github.com/strongloop/loopback/issues/2393

[2016-05-31 17:57] Amir-61 commented on #759
Yes this is a bug; closing in favour of https://github.com/strongloop/loopback-datasource-juggler/issues/771

[2016-05-31 18:03] Amir-61 commented on #832
Hey @shSina ,

So is your problem solved and can it be closed now?

Thanks!

[2016-05-31 18:27] Amir-61 commented on #946
I saw that `update`/`updateAll` do not convert types properly and I created [a ticket](https://github.com/strongloop/loopback-datasource-juggler/issues/912) for it , I thought that could be a problem for static method `replaceOrCreate` method as well and put both of them in `replaceOrCreate` milestone; I tested and apparently my assumption was wrong and `replaceOrCreate` converts type properly, al

[2016-05-31 18:28] #946 closed

[2016-05-31 18:51] loay commented on #682
Hi @thefinnomenon
Not sure if I follow. Are you talking about a model that you created or it is only related to geo?
Did you try to set your parameter is to `true`?
something like:
[code]
can you clarify a bit more if that doesn't address your issue. Regards

[2016-05-31 19:13] loay commented on #708
Hi @ekussberg
Are you still having the same issue?
Thanks

[2016-05-31 19:33] alexpit commented on #566
issue solved via #944, closing

[2016-05-31 19:39] alexpit commented on #566
reopen to include in test

[2016-05-31 19:46] loay commented on #717
Taking the discussion within the PR. Closing the issue. Thanks.

[2016-05-31 19:47] loay commented on #727
Thanks. I am having a look.

[2016-05-31 21:44] jgpacheco opened #951 "Using an incorrect 'include' filter kill my loopback app."
Passing a wrong 'include' filter to one of the generated find services, shutdown the app with the given error:

[code]

I know that the filter structure that i'm using is wrong but, should the app shutdown in that manner? Or return an error similar to the error returned when relation name is wrong. Something like that:

[code]

Here is my wrong 'include' filter:

[code]

[2016-05-31 21:51] raymondfeng commented on #951
It's a bug. Can you contribute a patch?

[2016-05-31 22:41] jgpacheco commented on #951
Sure, if i can help, tell me what to do. I'm a newbie developer BTW.

[2016-05-31 22:55] Amir-61 commented on #848
Hey @leolannenmaki,

Would you like to send a patch fixing this? Also in your patch please add a test case which fails with the current implementation and it passes with your fix.

Thanks!

[2016-06-01 02:19] Amir-61 commented on #914
@harshu108,

On the second thought since it is an obvious bug, we may not need any test case for that. I just sent [a PR](https://github.com/strongloop/loopback-datasource-juggler/issues/914) to fix this.

Thanks for reporting this issue :-)

[2016-06-01 02:19] Amir-61 commented on #914
Connect to https://github.com/strongloop/loopback-datasource-juggler/issues/914

[2016-06-01 04:12] shSina commented on #832
I should have open new issue about that , yes this problem solved.

[2016-06-01 11:39] #923 closed

[2016-06-01 13:40] Amir-61 commented on #832
Hey Sina,

I'm glad that this problem got solved. Thanks for letting us know :-)

[2016-06-01 13:40] #832 closed

[2016-06-01 14:46] 0candy commented on #948
Did you create a `Customer` model?

[2016-06-01 14:53] loay commented on #782
Hi @mariohmol and @geekguy
Are you guys still having the same issue? I thought that was already fixed as per this comment:
https://github.com/strongloop/loopback-sdk-angular/issues/44#issuecomment-43093894

I will have a look but is there a public repo I can use to reproduce? Thanks.

[2016-06-01 16:13] iam-merlin commented on #948
hi @0candy , yes, with SLC in the sandbox.

FYI, my file is `model/customer.js`

thank u for the answer ;)

[2016-06-01 16:22] 0candy commented on #948
Would you mind sharing the sandbox you have so that I can reproduce the error you're seeing? Thanks!

[2016-06-01 16:23] iam-merlin commented on #948
my pleasure, wait a minute :D

On Jun 1 2016, at 6:22 pm, Candy &lt;notifications@github.com&gt; wrote:

error you're seeing? Thanks!

You are receiving this because you authored the thread.
Reply to this email directly, [view it on
GitHub](https://github.com/strongloop/loopback-datasource-
juggler/issues/948#issuecomment-223046783), or [mute the
thread](https://github.com/notifications/unsubscrib

[2016-06-01 16:26] iam-merlin commented on #948
here it is : https://github.com/iam-merlin/loopback-sandbox
I hope it's not a dumb problem :/.
You can see a `console.log(Mail.embedsOne);` in `server/models/mail.js`

[2016-06-01 16:31] mariohmol commented on #782
I cant remember now.. but i could fix it... i think that it was related to same validation (a field missing or somethin).. i dont know about @geekguy but to me you can close it

[2016-06-01 16:39] mitsos1os opened #956 "embedsMany relationship publishes count on swagger, but it does not exist or work"
When implementing an **embedsMany** relationship, the endpoints automatically created, expose a count method. Also in code, the `relationName` has a **count** property - method.

The problem is that neither of them works. This can also be verified in the official [loopback-example-relations](https://github.com/strongloop/loopback-example-relations)
ex:
[code]

Also issuing a `GET /api/Customers/7/

[2016-06-01 16:43] 0candy commented on #948
Thank you for sharing your repo. The model itself should have been created in `common/models/mail.js`. The same way it should be created if you use `slc loopback:model`. Then you can call  `console.log(Mail.embedsOne);` in `server/boot/mail.js`. The file in boot can be called anything. I just left it as `mail.js`

Please see the example here:
https://github.com/0candy/embedRelation

Hope that help

[2016-06-01 17:16] iam-merlin commented on #948
Ok, this is a way :D, thank you!

I can read in the duck that the relation can be set in the code and more exactly in model : "common/models/customer.js"

https://docs.strongloop.com/display/APIC/Embedded+models+and+relations#Embeddedmodelsandrelations-Definetherelationincode

I think the duck should be fix no?

Just a last comment, the model can be in server or common, no difference in my point o

[2016-06-01 17:41] loay commented on #782
Thanks @mariohmol
@geekguy if you are having the same issue, please leave a comment and I will re-open the issue. Thanks.

[2016-06-01 17:41] #782 closed

[2016-06-01 18:24] 0candy commented on #948
You are right, the documentation should be updated. The embedded code should be in `server/boot`.
The model can be in server or common depending on which you choose.

[2016-06-01 19:58] loay commented on #841
@barocsi
I will test and get back to you. Thanks.

[2016-06-01 20:20] iam-merlin commented on #948
<3, thx for all.

[2016-06-01 21:12] 0candy commented on #765
Correct me if I'm wrong, but you're trying to set up a relation between a Vet and Patients? That should work.
[code]
https://docs.strongloop.com/display/APIC/Polymorphic+relations#Polymorphicrelations-HasManypolymorphicrelations

[2016-06-02 04:33] loay commented on #871
Hi @dakotahNorth
Are you still experiencing the same issue? Thanks.

[2016-06-02 11:54] bajtos commented on #730
I think this is not exactly a duplicate of  strongloop/loopback#517, let's keep it open.

[2016-06-02 11:55] bajtos commented on #730
Actually let's use https://github.com/strongloop/loopback/issues/683 to keep track of this feature request.

[2016-06-02 11:55] #730 closed

[2016-06-02 12:39] Amir-61 commented on #914
Landed https://github.com/strongloop/loopback-datasource-juggler/pull/954.

Closing the ticket now!

Thanks for reporting the error!

[2016-06-02 12:39] #914 closed

[2016-06-02 12:54] janober commented on #442
ping

[2016-06-02 14:20] loay commented on #688
hi @doublemarked
I will take a look at your gist for testing and get back to you

[2016-06-02 14:22] loay commented on #741
Hi @SynerG
I am having a look. Do you have a sample repo I can use to reproduce? Thanks

[2016-06-02 14:23] doublemarked commented on #688
@loay thank you. To be honest, I have no recollection of even creating this Issue. Here's hoping that my snippet is useful... :)

[2016-06-02 15:16] SynerG commented on #741
Thanks for having a look. I don't have a specific sample repo, but it should be easy to reproduce. Just take any Loopback app that uses a Mongo datasource (or a different database), and stop the database while the app is still running.

You should find the issue described above (the callback is not called and no error provided) when you call any method of the model that requires the database.

If

[2016-06-03 03:19] loay commented on #802
Hi @yassine-khachlek
That is the correct behavior. Here is how it works:
Validatable.validatesLengthOf(propertyName, Options)

Validate length. Require a property length to be within a specified range. Three kinds of validations: min, max, is.

Default error messages:

min: too short
max: too long
is: length is wrong
Example: length validations
[code]

You can find more info here:
https://apidocs.

[2016-06-03 15:21] loay commented on #802
if you are still experiencing the same issue, please feel free to leave a comment and I will re-open the case. Thanks.

[2016-06-03 15:21] #802 closed

[2016-06-03 15:25] loay commented on #865
Hi @schitransh
Did you try @ebarault suggestion with the replica set configuration?

[2016-06-03 16:40] denkan commented on #731
I too am looking for a way to deny a loaded object to proceed to a potential array result (as find() generates).

My use-case is similar to [#issuecomment-148072721](#issuecomment-148072721), except that the logic to grant/deny is even more dynamic and not based on any static property but rather on a external calculation of its properties.

Illustrated as such:
[code]

I'm able to pass an error to

[2016-06-03 16:47] vroudge opened #963 "Model included in other model through operation hook is not updated on PUT"
Hello,

I've just started using loopback, and I'm really amazed by the framework. Thanks a lot!

Here's my issue. I've got a _Cart_ model and an _Address_ model.
When using PUT on Cart to update the addressId it references, Cart gets updated, the addressId gets updated, but the Address iobject ncluded in the result of the request is not updated.

I'm using the following to include it via the `acce

[2016-06-03 17:37] loay commented on #799
Hi @mbouclas
I see you had few answers here: http://stackoverflow.com/questions/34412908/loopback-relational-database-hasmanythrough-pivot-table

Also, I am not sure which db are you using but if you are using mongoDB, you can extend the built-in models and configure your settings. Let me know if you require further assistance. Thanks.

[2016-06-03 17:37] #799 closed

[2016-06-03 18:29] loay commented on #841
Hi @barocsi @NelsonBrandao
That's an interesting issue !
There was a commit to fix some mongoDB incompatibilities  that was landed 2 or 3 months after this issue was opened. Can you please retry and let me know if that has fixed the issue?
If not, do you have any available repo to reproduce?
Thanks.

[2016-06-03 18:53] loay commented on #863
Hi @drywolf
I have read that there are issues with IE11 for debugging purpose and I quote from here: https://www.npmjs.com/package/tsify

I am not sure if that is applicable to your case or that's different but thought that might help. AFAIT, there is not anything about IE11 support but I will keep you posted if I get some news.

[2016-06-03 19:03] #863 closed

[2016-06-03 19:32] loay commented on #849
There are few solutions for that:

1) set ``` "forceId": true ```
2) as suggested on a previous issue here a solution that works:

You can add an attribute  "_id"
[code]
update the modelfile: `yourmodel.js`
[code]
Documents to be updated: https://github.com/strongloop/loopback/issues/2068

[2016-06-03 19:46] loay commented on #865
Closing the issue for now. If it is still persisting, please feel free to leave a comment and I will re-open. Thanks.

[2016-06-03 19:46] #865 closed

[2016-06-03 19:53] jannyHou commented on #742
@amok Model definition also contains functions I think.
I am trying to answer your question but I have something to confirm:

What do you mean by available validators?

Could you give me the link of the 'required prop' you refered?

And for a better debugging, could you provide a code to explain what's your concern?
To upload the code, please fork https://github.com/strongloop/loopback-sandbox and

[2016-06-03 20:14] jannyHou commented on #749
@bowfeng I am trying to reproduce your error, could you fork https://github.com/strongloop/loopback-sandbox and provide a sandbox that reproduce it?
Thanks!

[2016-06-03 21:26] jannyHou commented on #760
@barocsi I believe it's already fixed.
I have an app with a model called `Post`, it has property `questions` with type array:
[code]

My code in `common/models/Post.js`
[code]

And the result of console.log:
[code]

So it only returns the array, even it's in an object.
Could you confirm this is what your expected result?
Thanks!

[2016-06-03 22:01] jannyHou commented on #779
I think you mean `B.id` is not included here right?

But anyway I reproduced it and I think a proper way to handle it is throwing an error in response body.
Thought?

[2016-06-03 23:33] barocsi commented on #760
I will test. I have solved it by using .toObject() method first.

[2016-06-03 23:33] #760 closed

[2016-06-05 03:23] Amir-61 commented on #758
Hey @iblazevic,

It helps me a lot to triage this ticket if you can please provide me with a sample repo using our [loopback-sandpox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue.

Thanks a lot!

[2016-06-05 14:51] Amir-61 commented on #808
This has been fixed by [this PR](https://github.com/strongloop/loopback-datasource-juggler/pull/877)

Thanks a lot!

[2016-06-05 14:51] #808 closed

[2016-06-05 14:53] Amir-61 commented on #925
Closing this issue since it does seem an expected behaviour. Please feel free to open the issue if you see nay other problems.

Thanks!

[2016-06-05 14:56] Amir-61 commented on #932
This does not seem a bug; Closing it now; however if you see any issues please use our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue and re-open the ticket.

Thanks!

[2016-06-05 14:56] #932 closed

[2016-06-05 14:58] Amir-61 commented on #867
Closing this ticket now.  As suggested please send a PR and discuss the changes in your patch...

Thanks!

[2016-06-05 14:58] #867 closed

[2016-06-05 15:07] Amir-61 commented on #933
Is this just an issue with Postgres or all SQL connectors?
Could you please provide a sample repo reproducing the issue; you can use our [loopback-sandbox](https://github.com/sebastianhaas/loopback-sandbox) to reproduce the issue.

Thanks

[2016-06-05 15:14] Amir-61 commented on #899
Hey @devotis,

I believe it would be much clear if you sent a PR and started the discussion on your PR; also please note when you mention the line number in this issue, they will not be valid after a while; in other words, code keeps changing and the line number you are referring to would not be valid after changes. Please send a PR to discuss the changes there.

Thanks a lot :-)

[2016-06-05 15:41] sharok commented on #925
Nobody confirmed that it's expected behavior. If I create nested object
then it's okay. But when I use relation Id has to be generated. I think
it's logical way.

On Sun, Jun 5, 2016, 20:54 Amir-61 <notifications@github.com> wrote:

[2016-06-05 15:53] Amir-61 commented on #925
Ok I'm re-opening the issue then. @bajtos @superkhau Could you clarify this please?

Thanks!

[2016-06-05 17:14] kaktus42 commented on #933
[kaktus42/loopback-sandbox](https://github.com/kaktus42/loopback-sandbox)

[2016-06-06 09:07] janober commented on #442
ping pong

[2016-06-06 10:16] iblazevic commented on #758
Hi @Amir-61,

I'm glad you are taking a look at this, its been some time since this happened and I did create that repo thats linked up there to illustrate the problem better, if thats not enough I'll try to make it more clear when I get more time.

Thanks

[2016-06-06 14:59] loay commented on #442
@janober
Having a look. Thanks

[2016-06-06 15:05] janober commented on #442
Great thanks!

Is simply an additional parameter that can be used for the create-callback and an additional property for the already existing result for the save. Do not like that it would be inconsistent but they are already anyway. To not break any existing code something like that would probably be the best & easiest.

[2016-06-06 15:30] loay commented on #442
The code is to add to the function the way to get the property for the existing results. I don't see code for save or create, unless there is something I am missing here.
Also, to give you the bigger picture, the whole thing has to be there, because I can tell you that this function modification are acceptable, but when we try to implement the whole thing, it may fail our tests then we cannot impl

[2016-06-06 19:15] Amir-61 commented on #758
Hey @iblazevic,

I believe this ticket possibly a duplicate of https://github.com/strongloop/loopback-datasource-juggler/issues/88

Thanks!

[2016-06-06 19:33] janober commented on #442
Hi,

tried to write a test but to be honest really have no clue where it is supposed to go.

Ah yes did run the tests after making my changes and everything still worked fine. It got implemented in a way that nothing should break.

The changes make something like the following possible:

[code]

The changes in "create" L332 & L355 simply make sure that any data returned as forth parameter in the p

[2016-06-06 22:08] jannyHou commented on #854
A second level data query is also suggested in issue https://github.com/strongloop/loopback-datasource-juggler/issues/903

Thanks for your suggestion and solution, i label it as a feature.

[2016-06-06 22:22] jannyHou commented on #821
@ebarault Thank you for your suggestion. Could you explain more about "support for belongsTo relation inclusion to embedsOne "? It's better if you can link where is the similar implementation in `embedsMany`.

@bajtos i remember you are working on some improvement of `embedsOne` and `embedsMany` relationship, do you have any plan to support the feature that @ebarault mentioned above? Thanks.

[2016-06-07 12:30] bajtos commented on #821
We don't have plans to implement this feature (as I understand it) in the near future. We accept community contributions though and are happy to help you @ebarault along the way, if you decide to implement this feature yourself.

[2016-06-07 14:01] ebarault commented on #821
hi @bajtos,

ok, i'll not be able in the very near feature to provide a contribution, but i'll do my best. Mostly i didn't want to breach into somebody else's work in progress here.

as a fallback we're using "embedsMany with belongsTo" anytime we need a belongsTo relation to be resolved nested inside an embedOne relation. The drawback though is that we need to handle arrays of unique objects (`[0

[2016-06-07 16:12] mitsos1os commented on #945
https://github.com/strongloop/loopback-datasource-juggler/pull/949 was accepted so closing issue

[2016-06-07 16:12] #945 closed

[2016-06-07 17:48] loay commented on #849
Hi @sochka
the above mentioned comment is a temp solution. We are getting it fixed soon.

[2016-06-07 18:42] loay commented on #442
Thanks @janober
I will give it a deeper look. I will ping you here again as soon as I am done.

[2016-06-07 21:16] jannyHou commented on #780
Reproduced the error.
Any update on pr https://github.com/strongloop/loopback-datasource-juggler/pull/781 ?

Could you take a look? @raymondfeng @fabien

[2016-06-08 05:33] Nagarjuna-S opened #966 "Implement static patchById and replaceById methods in PersistedModel"
The associated connector method for updating the existing record(PUT /model/{id}) is “updateAttributes” method. How ever I noticed that when ever we invoke PUT with ID operation, 'all' method is invoked first and on successful response of all method control is going to 'updateAttributes' method. I am thinking this is intentional. I have few concerns here.
1. There are many endpoints charged based

[2016-06-08 10:32] leolannenmaki opened #967 "Mongo specific operator data stored in Model instances when using updateAttributes"
I have a call like: `myModel.updateAttributes({'$inc': {'myProperty': 10}})`
That goes just fine through datasource-juggler and mongo-connector and get's persisted as it should to the database as per https://docs.strongloop.com/display/public/LB/MongoDB+connector#MongoDBconnector-UsingMongoDBoperatorsinupdateoperations

The only problem is that if I inspect `myModel` after the operation it has a p

[2016-06-08 12:36] vroudge commented on #963
No feedback ? :(

[2016-06-08 14:31] bajtos commented on #925
I agree the current behaviour is expected. For `embedsOne` relation, there is at most one embedded model instance and the only way how to access it is via the parent (owning) instance, thus there is no need for an id.

@sharok if you want a unique `id` field for embedded addresses, then you can generate a property that's set to a new UUID by default:

[code]

[2016-06-08 14:31] #925 closed

[2016-06-08 14:36] bajtos commented on #849
In my understanding, this issue is specific to databases that use numeric auto-incrementing ids. I think it makes sense to set `forceId` to true in such case.

There are situation where we want the client to provide the id value, for example in offline sync scenario the client is generating UUID string as the id. Therefore we cannot automatically deny clients to provide their own `id` value.

[2016-06-08 14:37] 0candy commented on #824
After discussion with Miroslav, we decided not to include this change for 3.0 as this change is more than just removing deprecated code. There is a feature for `inst.triggerParent` in embedsMany that needs more consideration and possibly a rewrite for embedded relations to continue work. It is for updating the parent model if any changes are made to the relation. Also, embedsOne does not have this

[2016-06-08 14:40] jannyHou commented on #963
@vroudge I am trying to reproduce your problem, could you fork https://github.com/strongloop/loopback-sandbox and upload your code? Thanks!

[2016-06-08 14:46] Amir-61 commented on #966
Hey @Nagarjuna-S ,

I'm afraid we decided to put implementation of `patchById` out of scope for now for some difficulties we noticed.
For more info Please see:
https://github.com/strongloop/loopback-datasource-juggler/pull/910/files#r61268157
and https://github.com/strongloop-internal/scrum-loopback/issues/752#issuecomment-215112749

Connect to https://github.com/strongloop/loopback-datasource-jug

[2016-06-08 15:12] bajtos commented on #966
*Cross-posting from strongloop-internal/scrum-loopback#752*

Let me elaborate a bit more on my last comment.

Ideally, patchById should have these two features:

    It provides the updated model instance to the callback
    It validates the subset of model properties which is being updated.

The first feature require connectors to return data of the updated instance, which is not the case in the

[2016-06-08 21:07] raymondfeng commented on #966
1. It provides the updated model instance to the callback
2. It validates the subset of model properties which is being updated.

Why does patchById need to return the updated model instance? For most cases, the client already has the existing instance and tries to update a few attributes, for example, changing email for user profile. If my assumption is true, the response can be a flag or count t

[2016-06-09 01:46] jameslk opened #969 "Error trying to define relationships in mixins"
I'm trying to define a polymorphic relationship in a mixin like so:

[code]

but I keep running into this error:

[code]

I think this may be related to https://github.com/strongloop/loopback/issues/476.

I tried wrapping the entire code in a `Model.on('dataSourceAttached', function() { ... });` event handler, but that never gets fired (I'm guessing it has already been fired).

Then I tried doing

[2016-06-09 12:13] mitsos1os opened #970 "Wrong setting of allowExtendedOperators in MongoDB connector"
As mentioned in the doc, in order to use updated operators such as $set in mongoDb models, you have to set the option as mentioned in https://docs.strongloop.com/display/APIC/MongoDB+connector#MongoDBconnector-UsingMongoDBoperatorsinupdateoperations:

I do not know if this has to change in mongodb connector, or just the doc to show the JSON configuration document properly configured as:

[code]

O

[2016-06-09 17:31] daankets opened #971 "Exposure of information"
Upon certain datasource errors (connector specific), the datasource juggler forwards error details to the calling layer, that should not be exposed. For example, when using mongoDB, and executing <model>.create({...}) with data that violates a unique index, the datasource juggler will forward the data structure that was supposed to be inserted. This way, certain (for example hidden) fields that mu

[2016-06-09 22:10] ShaharHD commented on #166
+1

[2016-06-10 14:08] bajtos commented on #566
We usually don't verify stories that affect code API only.

[2016-06-10 17:14] jamesobd commented on #111
+1
I verified that a database entry that has an object { } instead of an expected array [ ] does indeed crash loopback.  Malformed data in the database is not at all desirable, but it should NOT crash a loopback.  Loopback should send an HTTP error message instead of crashing.

[2016-06-10 21:59] jameslk opened #972 "Scopes should be able to accept arguments"
In other frameworks such as Ruby on Rails or Laravel, scopes can take arguments to build their query (i.e. dynamic scopes). In Loopback, it seems they cannot take any arguments because those arguments go straight to the finder instead of the scope function:

https://github.com/strongloop/loopback-datasource-juggler/blob/v3.0.0-alpha.4/lib/scope.js#L176

Instead, if the scope is a function, I sugge

[2016-06-13 14:02] belgacea commented on #84
Is there any news about this feature?
BTW +1

[2016-06-13 15:09] #566 closed

[2016-06-13 20:50] jannyHou commented on #849
I think we can add some check here to make default `forcdId: true` for id auto-incrementing datasources
https://github.com/strongloop/loopback-datasource-juggler/blob/1e8fe6a0d7b5c84a3f67ad4d6a05ddaa8d1229ba/lib/datasource.js#L516

[2016-06-13 20:55] thanickel commented on #166
+1

[2016-06-13 21:00] thanickel commented on #166
@jannyHou If you can guide me where to look in the loopback-datasource-juggler code, I will fix this.

[2016-06-14 10:06] dongmai opened #973 "Relations endpoints are not exposed on explorer."
Hi,
I'm setting relations in code but the relations endpoints are not exposed on explorer. Docs preference : https://docs.strongloop.com/display/APIC/Creating+model+relations.

For example, I set `A.hasMany(B)` but the endpoint `/api/A/:id/B` is not appeared on explorer.

Is there any additional configurations  to get it exposed ?

Many thanks.

[2016-06-14 14:41] Amir-61 commented on #971
Hey @daankets,

Thanks for bringing this to our attention. I believe this is debatable; I agree It may be a security leak in some scenarios. I propose that we introduce a flag by which we can mute the error which returns from the connector and instead we show an appropriate error message. @bajtos @superkhau any thought?

Thanks

[2016-06-14 14:54] Amir-61 commented on #972
Hey @jameslk,

Thanks for proposing this feature. It seems interesting; I decided to put a `feature` label for this ticket. Also please note that we welcome community controbution. So please feel free to send a patch for this feature.

Thnaks

[2016-06-14 16:22] superkhau commented on #971
Sounds like we need something like log levels to limit the verbosity of the returned results. It's a feature request, but a very broad one that may not be so actionable (until we get an exhaustive list of which connectors and which methods to fix, etc). @bajtos Thoughts?

[2016-06-14 17:03] daankets commented on #971
I have (for now) implemented a global afterRemoteError component that will
capture errors that have either status 500 or no status, and that will
'sanitise' them - and log them to the error log with a reference. The error
that is then propagated to the client refers to the log reference.
On Tue, 14 Jun 2016 at 18:22, Simon Ho <notifications@github.com> wrote:

--
*Disclaimer*
This message is *conf

[2016-06-14 17:34] jameslk commented on #972
@Amir-61 Thanks for considering it. I'll see if I have some bandwidth to iterate on it here in the coming week or so.

[2016-06-14 17:39] Amir-61 commented on #972
@jameslk Please ping me in the PR so I make sure it gets reviewed and landed ASAP.

[2016-06-14 20:38] jameslk commented on #972
Will do, thanks @Amir-61!

[2016-06-15 11:03] vanthome opened #974 "Memory Backend is very Slow when Writing"
I have a dataset of 2MiB with data like this:

[code]

The corresponding model looks like this:

[code]

whether I try to create each object individually or supply an array of all objects to `ModelClass.create()` it takes ages to write this data.
It would be great if this could be enhanced to be more efficient.
I also don't understand why this is so slow as the backend seems to have a queueing mec

[2016-06-15 11:21] bajtos commented on #971
Hello, we are already working on a fix for this problem. The solution we have in mind is to use a different error handling middleware that will not leak any sensitive information when running in production, but providing a configuration option that allows the user to enable detailed debug responses containing all sensitive information. See https://github.com/strongloop/loopback/issues/1650.

I am

[2016-06-15 15:01] Amir-61 commented on #758
Closing this issue in favour of https://github.com/strongloop/loopback-datasource-juggler/issues/88

Thanks!

[2016-06-15 15:01] #758 closed

[2016-06-15 15:03] Amir-61 commented on #845
I believe this has already been resolved, so closing this ticket. If you still encounter the same issue, please feel free to re-open the ticket.

Thanks!

[2016-06-15 15:03] #845 closed

[2016-06-15 15:04] Amir-61 commented on #840
I believe this issue has been resolved, so closing the ticket now. If you still encounter the same issue please feel free to re-open the ticket.

Thanks!

[2016-06-15 15:04] #840 closed

[2016-06-15 15:18] Amir-61 commented on #971
Great... closing this ticket in favour of WIP https://github.com/strongloop/loopback/issues/1650

[2016-06-15 15:18] #971 closed

[2016-06-15 21:15] superkhau commented on #974
Can you provide the sample data set so we can reproduce this issue on our end?

[2016-06-16 00:33] pulkitsinghal opened #977 "Adopt a fail-fast approach for findOrCreate"
I would like to propose a usecase where validating the query passed to `findOrCreate` in loopback would serve the greater interest (I hope). cc @bajtos and @doublemarked and @aquid

The following are all valid ways to invoke:

[code]

I recently had to suffer the horror of point-C because the code just flows naturally and if an application's end-2-end tests don't catch it (mine only tested the sam

[2016-06-16 00:35] pulkitsinghal commented on #977
Oh and it would serve as self-correcting by telling the developer what's wrong, wouldn't it be nice to avoid threads like: https://github.com/strongloop/loopback-connector-postgresql/issues/107

[2016-06-16 05:34] doublemarked commented on #977
We've also encountered problems stemming from lack of validation of filter and other arguments. This is not limited to findOrCreate. You'll need a config directive to implement validation without breaking existing code, but perhaps it's something acceptable to enable by default for future versions. I know a similar discussion took place in an Issue regarding `undefined`. Perhaps some of the decisi

[2016-06-16 09:13] dmellonch commented on #830
Hi @0candy!
The problem has already been fixed in release  2.x-latest.
For me the issue may be closed.

[2016-06-16 09:13] #830 closed

[2016-06-16 13:09] vanthome commented on #974
Well it's really as simple as I wrote in the original issue. Just repeat the object 35000 times then you have roughty my data set.

[2016-06-16 16:46] superkhau commented on #974
More specifically, can you provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2016-06-16 17:39] pulkitsinghal commented on #977
@doublemarked - I haven't been able to narrow down the search and find the `undefined` issue in question. If you ever happen to come across the issue number or link in your notes, please do share.

[2016-06-17 04:16] loay commented on #682
closing issue for inactivity. If you are still facing the same problem, please leave a comment and I will re-open the issue. Thanks

[2016-06-17 04:16] #682 closed

[2016-06-17 04:24] loay commented on #871
Closing this issue. If you are still experiencing the same problem, please feel free to leave a comment and I will re-open the issue.

[2016-06-17 04:24] #871 closed

[2016-06-17 04:45] loay commented on #178
There is that validator: `Post.validatesPresenceOf('');`
Does that work for you?

[2016-06-17 04:51] loay commented on #496
Closing this issue. Also, this issue is currently being fixed: https://github.com/strongloop/loopback-datasource-juggler/issues/849
If you are still running into similar problems after the fix is being landed, please feel free to leave a comment and I will re-open the issue. Thanks.

[2016-06-17 04:51] #496 closed

[2016-06-17 04:54] #567 closed

[2016-06-17 19:22] Amir-61 commented on #973
Hey @dongmai,

If you generate the relation via `slc loopback:relation` you do get the relation endpoints in your explorer... but if you do it programatically like `foo.hasMany(bar)` you don't get the relation endpoint in your explorer and the reason is that explorer is booted before your boot script which is designed this way on purpose I believe... @superkhau by any chance could you confirm that

[2016-06-17 19:49] 0candy commented on #816
What couch connector are you using?

[2016-06-17 20:14] Amir-61 commented on #967
Hey @leolannenmaki

Would you like to submit a patch fixing this? Also in the patch please call `myModel.save()` to see the extra fields cause problems.

Thanks

[2016-06-20 13:18] bajtos commented on #849
https://github.com/strongloop/loopback-datasource-juggler/blob/1e8fe6a0d7b5c84a3f67ad4d6a05ddaa8d1229ba/lib/datasource.js#L516

@jannyHou your proposal looks reasonable to me. @Amir-61 @raymondfeng @superkhau you are more familiar with this part of the codebase than I am, could you PTAL too?

[2016-06-20 13:26] bajtos commented on #821
I *think* we started with embedsX relations becase that's what the original juggler module provided. Embedded relations were contributed only later by the community contributor & maintainer @fabien and they are mostly improved by community since then.

[2016-06-20 13:27] bajtos commented on #463
@jannyHou what modules are remaining to release to make this feature widely available?

[2016-06-20 13:40] bajtos commented on #966
Here are my thoughts:

 1. Backwards compatibility. Many applications built on LoopBack 2.x use `updateAttributes` to update data of a single instance, since that's the easiest way. I would expect there are quite few clients of those apps that rely on `updateAttributes` to return the updated instance. If we suddenly stop returning full instance data, the upgrade path would be much more difficult f

[2016-06-20 14:18] jannyHou commented on #463
**CHECKLIST**

- [ ] (Released 2.0.0) Add flag in apiconnect-cli-loopback https://github.ibm.com/apimesh/apiconnect-cli-loopback/pull/60
- [x] Read flag in loopback-boot https://github.com/strongloop/loopback-boot/pull/185

Only trigger connect phase in connectors
- [ ] (Released 1.0.16) db2 https://github.com/strongloop/loopback-connector-db2/pull/31
- [ ] (Released 1.0.10) cloudant https://githu

[2016-06-20 14:55] bajtos commented on #977
I think this is a great idea! Can we push it a bit more and validate the `filter` argument in all methods, not only in `findOrCreate`? I am looking at the `find` method in particular.

It's ok to work on this incrementally, start by improving `findOrCreate` and then contribute other improvements as time & will allows.

My main concern is about backwards compatibility, for example with applications

[2016-06-20 14:58] loay commented on #835
Hi @Resonance1584
Thanks for reporting the issue. I will check the boot script and get back to you ASAP. Thanks.

[2016-06-20 15:20] bajtos commented on #463
Released loopback-boot@2.19.0

[2016-06-20 15:21] bajtos commented on #463
@jannyHou could you please work with @raymondfeng and/or @superkhau to get the remaining connectors released?

[2016-06-20 15:21] 0candy commented on #627
@ekussberg Has your issue been resolved? Can we close this issue?

[2016-06-20 15:25] 0candy commented on #675
Hi @esco, I am closing this issue due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-06-20 15:25] #675 closed

[2016-06-20 21:29] Amir-61 commented on #966
Just to add up: the validation for static `update*` methods is a real problem. Currently we have [update](https://github.com/strongloop/loopback-datasource-juggler/blob/73bb41871992ab8a122e6b5e94b49809b80d82c4/lib/dao.js#L2285-L2405) method which literally does not have any validation and I'm surprised why I have not seen GH issues for this problem. Probably most users use `prototype.updateAttribu

[2016-06-20 23:54] superkhau commented on #849
I'm fine with @jannyHou's proposal for auto configuring `forceId` based on data source type.

[2016-06-21 00:34] Amir-61 commented on #849
@bajtos @raymondfeng

Maybe off topic: instead of auto increment IDs I would like us start using [flake-idgen module](https://www.npmjs.com/package/flake-idgen), whose description says: "Flake ID generator yields k-ordered, conflict-free ids in a distributed environment ", although I believe there is no guarantee to have conflict-free ids; however, the possibility to have conflict ids is almost ze

[2016-06-21 08:18] bajtos commented on #849
Let's keep this story focused on providing a stop-gap solution to the problem outlined in the issue description please. There are situations where flake-idgen's 64bit ids may not be feasible, for example when connecting to an existing database that uses 32bit auto-incremented ids (for example MySQL's `int` type).

@Amir-61 please open a new GH issue to discuss a better way of generating unique num

[2016-06-21 17:51] 0candy commented on #690
Hi @jrschumacher, not sure if the above comments resolved your issue. I am closing this issue due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue. Thanks!

[2016-06-21 17:51] #690 closed

[2016-06-22 11:25] crandmck commented on #948
@0Candy Are you saying that to define model relations with JS code, you have to do it in a boot script? I thought you could do it in the model JS file (eg. `common/models/foo.js`)?
@superkhau Is that true?

[2016-06-22 14:32] jannyHou commented on #948
@crandmck I discussed the same problem with chandrika before and Candy's explanation is right. In our doc I think there are a few places where we modify relations in a `.js` code but we didn't mention that it should not be in `common/models/modelName.js`:
eg. the end of the nestremoting doc: https://docs.strongloop.com/display/public/LB/Nested+queries
and the doc related in this issue.

I suggest

[2016-06-22 18:50] superkhau commented on #948
@crandmck Yes, I believe that is true since the models are not loaded yet. The recommended case is to define them beforehand in the `common/models/*.json` files. This is something that probably needs addressing.

[2016-06-23 03:03] pulkitsinghal commented on #977
@bajtos and @doublemarked given:

I think that it is perhaps perfect to add a:

... because when that is turned on, there will be an option for the developer to specify `their own top-level keys` and hopefully the documentation will stress that they think about this seriously rather than hand-waive the optional configuration and then face-palm due to test failures later.

[2016-06-23 08:10] leventgunay opened #983 "Relation Definition lookupModelTo"
Hey there,

Could you look into following code snippet and see if you can improve any better?

https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/relation-definition.js#L532

[code]

Thank you and looking forward to stronger v3!

[2016-06-23 21:13] 0candy commented on #983
Do you have something in mind? Would you like to submit a PR?

[2016-06-23 21:55] fabien commented on #969
Actually, your mixin itself seems fine. Make sure you apply it like this:

`Model.on('attached', function() { Model.mixin('YourMixin', { ... }) })`

[2016-06-24 11:51] robinbiondi opened #984 "No options passed in validation causes big concurency problems with postgres"
Validation problems because no options given:
=====================================

Facts:
-------
When I want to update an object which needs a validation, the validation is called in the datasource-juggler but the options of my request are not given to the validation function.

The validation function makes a query without my eventual current transaction which should be in the options.

Big con

[2016-06-24 21:38] superkhau commented on #974
@vanthome Are you still working on this?

[2016-06-28 19:04] tetter36 opened #988 "3 Level Nested hasMany Query Returning Empty Array"
I'm trying to do a nested query as per the instructions and examples here:
https://docs.strongloop.com/display/public/LB/Include+filter
https://github.com/strongloop/loopback/issues/735

but it is not working like I expected it to. I have an Account, that can have many Branches, that can have many Incidents, Risk Assessments and Claims. I have created a custom endpoint for the Branch to query the

[2016-06-28 23:44] crandmck commented on #948
OK, I added a note to https://docs.strongloop.com/display/APIC/Creating+models#Creatingmodels-InmodelJavaScriptfile as @jannyHou suggested.

However, there are MANY places that have examples of setting up--virtually every page in the relations section of the docs.

Before I change them, I want to confirm what I'm doing....
@super @jannyHou **Please confirm:**

For example, [BelongsTo relations](ht

[2016-06-29 07:03] jannyHou commented on #948
Thank you @crandmck I think the problem in this issue is different from the `belongsTo` example you mentioned.

So this issue is caused by "Using/loading relationship in common/models/modelName.js"
But the `belongsTo` doc you mentioned is "Setting up relationship in common/models/modelName.js"

In your case, I think you are able to setup relation in modelName.js file but not sure are we deprecatin

[2016-06-29 11:30] alemhnan commented on #474
It appears that the documentation is still misleading. [Here](https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-beforedelete) still says this:

That is in fact not correct, should be something like: `However, when deleting a single model instance the hook receives ctx.where that contains the id of the instance being deleted`

The table fixed by @crandmck is instead corre

[2016-06-29 15:09] belgacea commented on #365
+1

Don't know how to build persistent models..

[2016-06-29 15:59] janober commented on #442
Any updates?

[2016-06-29 18:42] crandmck commented on #948
OK, thanks @jannyHou

I was confused by @0candy's [comment above](#issuecomment-223081823)

The code in [the doc being discussed](https://docs.strongloop.com/display/APIC/Embedded+models+and+relations#Embeddedmodelsandrelations-Definetherelationincode) _defines_ the `embedsOne` relationship, right?
[code]

So, please clarify, thanks!

[2016-06-29 20:50] jannyHou commented on #948
@crandmck Sorry I misunderstood the original issue. So this issue should be a bug. **Setup relations** in either model.js or boot script is fine.

So those docs are correct. Please keep them.

[2016-06-29 22:10] crandmck commented on #948
OK, thanks ... _whew_! :-)

[2016-06-30 20:17] 0candy commented on #948
Based on the current code implementation, the embedded relation doesn't work in model.js file as the model has not been attached to the data source yet. As a workaround, please define the relation in model.json or in the boot script.

[2016-06-30 20:44] crandmck commented on #948
@0candy Is that wording ^ you want me to add to the docs?

[2016-06-30 20:48] crandmck commented on #474
Good catch @alemhnan. I made the suggested change in https://docs.strongloop.com/display/APIC/Operation+hooks#Operationhooks-beforedelete.

[2016-07-01 06:20] gauthamacharya commented on #84
Yes.. Waiting for this +1

[2016-07-02 17:39] josephlaw commented on #258
LB always return 0 for Count on embedded models

[2016-07-04 07:21] peeter-tomberg opened #991 "Loaded hook triggered multiple times for a single PUT REST api call."
I've created a simple mixin in the hopes to get the models original state and log all changes made to the model in the after save hook. The problem is, the "loaded" hook is triggered 3 times for a simple PUT request made to the REST API, with inconsistent payloads.

Example code:

[code]

Result:

"loaded" triggered 3 times with inconsistent contexts:
- first time the context.instance is defined (

[2016-07-04 17:25] loay commented on #442
Hi @janober
Not yet. I will get back to you ASAP. Thanks.

[2016-07-04 17:27] janober commented on #442
@loay Thanks have a nice week!

[2016-07-05 13:54] 0candy commented on #948
I was just adding a comment so we know the situation for this issue.

[2016-07-05 19:38] AThilenius commented on #811
I apologize in advance if I goofed something up, but I forked the loopback-sandbox https://github.com/AThilenius/loopback-sandbox and created the models `Foo - hasOne Bar`, `Bar - hasMany Baz` and `Baz`. I'm a big fan of creative naming, clearly. Models will be created in server.js for you.

The following
```curl -X GET --header "Accept: application/json" "http://localhost:3000/api/Foos/1/bar?filt

[2016-07-06 09:27] rimvydas-urbonas opened #992 "promise is not rejected after database exception"
Hello,
I found a bug in transaction.rollback function. I'm using promises and if database throws exception when using model.create method because of database constraint, then transaction.rollback promise is not rejected nor resolved.

[2016-07-06 16:56] superkhau commented on #992
Can you provide a sample repo for us to reproduce the issue?

[2016-07-06 18:15] dktan opened #994 "need to update async dependency"
There is a bug in async@~1.0.0 that cause include user model fail. update to 2.0.0-rc.6 will fix this issue.

[2016-07-07 00:03] AThilenius commented on #811
## To expand
This is a problem in other places as well. For example, I have my ACL set up to only allow access to $owner, meaning that models must be accessed via the relationship API like `/parent/:id/child`. No problem, that works great. But what if I have a few thousand hasMany children and I only want to get one of them? No problem again, just use the `/parent/:id/child/:fk` API. However, you

[2016-07-08 14:55] tetter36 commented on #988
Closing as this is related to the issue that can be found here: https://github.com/strongloop/loopback/issues/2356

[2016-07-08 14:55] #988 closed

[2016-07-12 18:38] tsanjoto commented on #592
any new updates on this issue?

[2016-07-12 21:35] tsanjoto opened #997 "query using where filter with exists"
Hi, I have an issue on trying checking on particular model if it have a specific property for mongoDB

Say I have a model 'Task', it only have 2 properties. Title and Description. where the description is optional.
and the auto-generate model files from slc loopback:model generated task.json

`

[code]

`

I want to use the StrongLoop explorer 'where' filter to fetch on all Tasks that have the "ta

[2016-07-13 13:15] #800 closed

[2016-07-14 12:08] bajtos commented on #800
Fixed in `loopback-datasource-juggler@2.47.0`

[2016-07-14 16:35] jannyHou opened #1003 "hasManyThrough doesn't return related instances when foreignId begin with Upper Case Letter"
Reproduce app: https://github.com/jannyHou/loopback-sandbox/tree/fixOrder

The relationship:
`Space` hasManyThrough `Customer`, through model: `SpaceCustomer`
`SpaceCustomer` belongsTo `Space` and `Customer`

Sample creation script:
https://github.com/jannyHou/loopback-sandbox/blob/fixOrder/server/boot/sample.js

The problem:
 when query by `Space.find()` and include `customers`, the related custo

[2016-07-14 16:43] jannyHou commented on #1003
@Amir-61  In case I miss any config, could you help me confirm that `hasManyThrough` fails to return the related result? Thanks. I am sure it worked before :( Or do you have any idea which pr could probably break it?

[2016-07-14 19:51] jannyHou commented on #1003
With wrong foreignId :(
Close it now. Thank you @Amir-61 !

[2016-07-14 19:51] Amir-61 commented on #1003
No problem :-)

[2016-07-15 10:59] mrfelton commented on #994
This should be done with extreme care given we know that later versions of async cause loopbackCurrentContext to break (even more consistently that it breaks anyway). see https://github.com/strongloop/loopback-datasource-juggler/issues/613 for history.

[2016-07-15 19:35] jannyHou commented on #1003
I reopened it since the filter in the first scenario still fail.

A brief description of the bug:

Endpoint `GET/ Spaces/{id}/customers` work fine, returns all related customers
Endpoint `GET/Spaces` and `GET/Spaces/{id}` with filter {"include": "customers"} doesn't work.

[2016-07-16 01:40] RackyRose commented on #166
+1

[2016-07-17 21:17] holbora commented on #342
Hi,

For mongoDb there isn't any chance to apply a filter as requested above?

[2016-07-18 06:52] holbora commented on #94
+1
updates on this issue?

[2016-07-18 20:21] Amir-61 commented on #991
Could you please provide a sample repo using out [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) reproducing the issue.

Thanks!

[2016-07-18 20:27] Amir-61 commented on #994
What is the fail? Could you please provide a sample repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue?

[2016-07-18 20:30] Amir-61 commented on #984
Hi @robinbiondi,

It seems the [PR#986](https://github.com/strongloop/loopback-datasource-juggler/pull/986) has been landed. Is the problem solved? Can we close the issue?

Thanks!

[2016-07-19 07:39] robinbiondi commented on #984
Hi @Amir-61 . Yes the problem is solved. I close the issue.
Cheers!

[2016-07-19 07:39] #984 closed

[2016-07-19 16:17] mitai commented on #121
+1

[2016-07-19 16:50] FernandoMorais opened #1004 "Proposal: Change all "console." to "debug(""
Hi all!

I've made a pr in debug project that permits the using of custom loggers (winston) loaded in domain, so now the next step is evolve other modules in our project (based on loopback) to just output messages using debug module (or other logging libraries).

I think this is a good way to do that, so if you considere these changes aligned with the project's roadmap I could do a pr right now.

[2016-07-20 04:21] loay opened #1005 "Support Cadcading delete"
Implement support for cascading delete in LoopBack relations.
Please review: https://github.com/strongloop/loopback/pull/2492
More specifically: https://github.com/strongloop/loopback/pull/2492#discussion_r71343624

[2016-07-20 09:54] RLTmultimedia commented on #166
+1

[2016-07-21 05:58] horiaradu opened #1006 "Useless query being generated when including relations + buggy behaviour in conjunction with remote models"
In [include.js](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/include.js), in various places, the following code occurs:

[code]

The problem is that, if ```uniq(targetIds)``` is an empty array, the query is useless since it will not return any results. If the model is a remote model and thus the query requires a remote call, this call becomes expensive since you pay th

[2016-07-21 06:17] jjhesk commented on #481
what is the proper way or the best practice to do update operation?

[2016-07-21 08:38] e-part commented on #466
+1 - It would be great if I can see a SQL which shows only the changes made to the DB
before deciding whether it's safe to run it.

[2016-07-21 09:48] tspoke commented on #88
+1

[2016-07-22 18:18] crandmck opened #1008 "Glitch in API docs"
Similar to https://github.com/strongloop/loopback/issues/2534 we have http://apidocs.strongloop.com/loopback-datasource-juggler/#if.  In this case, I think we just need to change https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/include.js#L336 to be plain comment `/*` rather than doc comment `/**` .

@superkhau Sound right?

[2016-07-22 19:26] jannyHou commented on #726
I am afraid the error still exist.
[code]

Tried with both mongodb and memory. I label it as a bug.

[2016-07-22 19:31] jannyHou commented on #720
Thank you @mdartic I am working on issue https://github.com/strongloop/loopback-datasource-juggler/issues/166 to fix it.
To keep issues easy to track let's move discussion under that issue, I also put a workaround in https://github.com/strongloop/loopback-datasource-juggler/issues/166#issuecomment-213163882

Closing it.

[2016-07-22 19:31] #720 closed

[2016-07-22 19:52] jannyHou commented on #698
Since pr https://github.com/strongloop/loopback-datasource-juggler/pull/704 merged. I am closing it. Please feel free to reopen it or have other suggestions to discuss :)

[2016-07-22 19:52] #698 closed

[2016-07-22 20:09] jannyHou commented on #693
Thanks @beeman good catch. Really appreciate your sample code. I reproduced it and label it as a bug.

[2016-07-22 20:52] jannyHou commented on #320
I think even the error msg starting with `Warning` but it eventually throws error and crashes the app if connector module not found.
See:
[code]

I am closing it since the error is handled properly to force user installing a connector.

[2016-07-22 20:52] #320 closed

[2016-07-22 23:22] superkhau commented on #1008
@crandmck Correct. Just use `//` and that should fix the problem.

[2016-07-23 09:18] manojkumar71 opened #1014 "EMFILE error on bulk data insert"
Hi all,
I'm developing an loopback application to get data using oracledb npm module from ORACLE and convert it to JSON format to be stored in MONGODB.
MONGODB is accessed using "loopback-connector-mongodb".
The data to be stored would be around for 100 collections as of for 100 tables from ORACLE.
I'm pushing data with http request row by row for the entire collection list from node server from m

[2016-07-23 17:37] bekl commented on #915
I'm facing the same issue, but could get it temporarily solved by including the foreign key field of the declaring model.

[2016-07-24 10:04] quarkboy opened #1015 "Async Operation hooks triggered from 'loaded' change order of find results"
When using the "Computed" mixin I noticed that "order" was no longer working correctly with async functions as the computed callback functions.

As all computed mixin does is add in an observer to "loaded", it shouldn't be able to affect the order of the objects returned from find, therefor this has to be some issue with dao.js or observer.js...

[2016-07-24 10:17] quarkboy commented on #1015
I've managed to reproduce the issue without the Computed mixin, with just a simple 'loaded' observe hook:

[code]
Setting the observer causes the return order of results for find to return incorrect order, both from scopes and from direct order queries.

[2016-07-24 16:38] Amir-61 commented on #1015
I believe this is fixed in `loopback-datasource-juggler@2.47.0`

https://github.com/strongloop/loopback-datasource-juggler/pull/999

[2016-07-24 16:55] quarkboy commented on #1015
Yup, that's exactly where I was looking.  fixed 10 days ago?  I'll look to upgrading versions then.

[2016-07-24 18:06] #248 closed

[2016-07-24 18:12] Amir-61 commented on #734
Any update on this issue @cleas ?

[2016-07-24 18:18] Amir-61 commented on #816
It seems [loopback-connector-couch](https://github.com/mattange/loopback-connector-couch) is a connector implemented by community; please open the issue in that repo.

Thanks

[2016-07-24 18:18] #816 closed

[2016-07-24 18:20] Amir-61 commented on #754
Closing this ticket since the problem is solved

Please send a PR to write the test case and we will review it and land it. Thanks again for contribution :-)

[2016-07-24 18:20] #754 closed

[2016-07-25 03:20] rlloyd2001 commented on #610
This is not working for me. I'm using MySQL and the limit on an include isn't working right. tested with loopback-datasource-juggler: 2.47.0

[2016-07-25 12:13] mdartic commented on #720
thanks !

[2016-07-25 14:29] azatoth opened #1020 "DateType throws Error on invalid date"
If getting an invalid date from mysql for example, DateType function in model-builder.js throws an error: "Error: Invalid date: Invalid Date" which is not easy to handle.
why not just return null instead and call it a day?

[2016-07-25 15:49] crandmck commented on #1008
Fixed by f1ed1ee023d06edf9acd1ad3c8b56a22834abe63 but I'm going to wait til republish to npm to close this.

[2016-07-25 16:46] superkhau commented on #610
@rlloyd2001 Can you open a new PR with a sample repo to reproduce your situation? We don't usually respond to closed issues.

[2016-07-25 17:47] rlloyd2001 commented on #610
@superkhau I'll add it to my todo list, but I don't know when I'll be able to make an example. Solving using a remote method with two loopback finds on the backend for now.

[2016-07-25 17:51] Amir-61 commented on #1015
Yes

I'm going to close this ticket now. Please feel free to re-open it if you see any more issues.

Thanks

[2016-07-25 17:51] #1015 closed

[2016-07-26 19:07] azatoth commented on #1020
https://github.com/strongloop/loopback-connector-mysql/pull/179 could be a solution to the cause of this error; still exists though is the question regarding the thrown of exception.

[2016-08-01 14:20] ataraxus commented on #88
+1 No changes on the status?

[2016-08-01 14:22] ataraxus commented on #1005
related to #88  ?

[2016-08-01 23:28] etsuo commented on #931
Hi, I just discovered this ticket when working through the problem over on the loopback-connector-mongodb project: https://github.com/strongloop/loopback-connector-mongodb/issues/271

I believe I have identified the source of the problem to be that the [`nearFilter`](https://github.com/strongloop/loopback-datasource-juggler/blob/27c6279d6ce84d624457658d843967edbfd4ba61/lib/geo.js#L12) in geo.js is

[2016-08-02 18:21] etsuo commented on #931
@0candy, I have pushed a commit onto my fork of the `loopback-sandbox` project here: https://github.com/etsuo/loopback-sandbox

When you run the project, you should see a series of outputs:
[code]

If you set mongodb for profiling right before running this with `db.setProfilingLevel(2)`, you should see three entries, the latter two being the interesting ones (truncated):
[code]
As mentioned in my

[2016-08-03 17:17] alexjoverm opened #1025 "Validatable.validatesFormatOf incorrect example on the docs"
On the [docs](https://apidocs.strongloop.com/loopback-datasource-juggler/#validatable-validatesformatof) you see the example is:

[code]

Is missing the *`Of`* part, it should be:

[code]

Not a big deal, but seems it needs a fix.

[2016-08-03 20:24] #1006 closed

[2016-08-03 20:52] 0candy commented on #931
@etsuo Thanks for creating the sample sandbox. I was able to verify the problem. Looks like in `geo.js` we only look for a simple expression or the term `near` for filter and ignore everything else ie. `and/or`.

Please submit the PR if you would like to have someone reviews the changes and give feedback. Thanks!

[2016-08-04 15:31] lukewendling commented on #766
```findOrCreate``` also returns a collection, while the docs say it will return an object. Anyone else see this? loopback@2.27.0, loopback-connector-mongodb@1.13.3

[2016-08-04 17:56] superkhau commented on #766
@crandmck ^

[2016-08-04 18:05] crandmck commented on #766
@superkhau @doublemarked Can you confirm this?

@lukewendling I confess I don't know anything about JS collections, do you mean an [indexed collection](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Keyed_collections), i.e. a `Map` or `WeakMap`? MDN says these are introduced in ES6, which (AFAIK) we don't support yet?
It would be helpful if you could provide an example or "steps to

[2016-08-04 19:44] superkhau commented on #766
@crandmck I think @lukewendling meant collection as in it returns an Array of Objects if there is more than one. @lukewendling Please confirm.

[2016-08-05 00:32] lukewendling commented on #766
@superkhau yes an array of model objects.

[2016-08-05 01:28] superkhau commented on #766
@crandmck ^

[2016-08-05 05:20] etsuo commented on #931
@0candy opened PR #1028 to address this issue - I'll also opened the corresponding PR in the mongo project shortly.

[2016-08-05 14:56] jannyHou commented on #983
@leventgunay We are always glad to improve our code :) I assume you might run into some issue regarding that function `loopupModelTo`, could you explain it here? and also any suggestions about how to improve it?

[2016-08-05 15:05] jannyHou commented on #973
@Amir-61 @dongmai Yes if you want to see endpoint in explorer you have to define it in `common/models/modelName.json` instead of in boot script.

Please check code in loopback-boot about the booting sequence of a loopback app:
https://github.com/strongloop/loopback-boot/blob/master/lib/executor.js#L38

The relationdefinition builder is triggered during `setupModels`, it will wrap relation methods

[2016-08-05 15:19] Amir-61 commented on #973
Thanks @jannyHou
I believe this is good to be closed now. @dongmai  Please feel free to open it if you have any more questions in this area.

[2016-08-05 15:19] #973 closed

[2016-08-05 16:08] jannyHou commented on #915
confirmed as a bug. Thanks @bekl and @Ascarbek ,really appreciate your sandbox!

[2016-08-05 18:43] crandmck commented on #766
ok i'll try to address that.

[2016-08-05 19:13] jannyHou commented on #794
Thank you for the suggestion @dpundir But I think in our relation definition, `keyFrom` means the primary key of modelFrom, I am confused why we need another keyFrom in your implementation?

And also, for example i create a relation: Customer hasMany Address, then Address has a foreign key 'customerId', not customer has a foreign id `addressid` :)

[2016-08-05 19:35] jannyHou commented on #765
@gausie @0candy I think the doc is a little confusing:

Actually even though we has headline like
[code]
, they are describing a same relation as "Comment belongsTo a Medialtem - Video or Picture".
I could not find a reverse example like "a Vet hasMany Patients - Dog or Cat".

The documentation is depicting the same relation from different perspective, like when you define a polymorphic relation,

[2016-08-05 21:05] jannyHou commented on #750
@sebastianhaas @Amir-61 Since you attach `Chapter` to transient datasource, according to idType definition in transient connector:
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/connectors/transient.js#L30
, the default idType is `String`, i think that's why you get a string type.

But what confuses me is, you set `idInject` as `false` and don't define an id property for

[2016-08-05 21:22] jannyHou commented on #734
`hasMany.prototype.findById` actually calls `modelTo.findOne()` to find the instance.
@Amir-61 Do you know is there any validation function in `DataAccessObject.findOne` or the function it eventually called `DataAccessObject.find` to check invalid(or undefined/null) fk in query? Thanks!

[2016-08-05 21:47] jannyHou commented on #635
@jdrouet any update about this issue? Are you going to use api in a script or from endpoint?
If from endpoint, this doc about nestRemoting could be helpful:
https://docs.strongloop.com/display/public/LB/Nested+queries
But since you don't expose Profile and Computer you probably could not use nestRemoting in this case.

But you can define a custom remote method(see [doc](https://docs.strongloop.com

[2016-08-05 21:47] #635 closed

[2016-08-06 05:55] dpundir commented on #794
Thank you for looking into this suggestion.
Right, _keyFrom_ means the primary key in model definition.
It depends on database design where we want to place the foreign key and how we want to retrieve the data using relations.

In your example too, you need to tell the logic that relation is from 'customerId' in Address model mapped to 'id' in Customer Model.
Below logic will try to extract foreig

[2016-08-07 07:51] PowerP commented on #580
Hi,

I have the same Problem. I do same cascading deletes in main modeI don't want to have in the extended model.
Do you have a tip for me, how to overcome this problem?

thx

[2016-08-08 14:49] Amir-61 commented on #1025
Fixed in this PR: https://github.com/strongloop/loopback-datasource-juggler/pull/1032

Thanks!

[2016-08-08 14:51] #1025 closed

[2016-08-08 15:26] altais commented on #94
+1

[2016-08-08 21:25] etsuo commented on #931
Opened new PR #1036

[2016-08-09 11:48] angfal opened #1038 "Incorrect processing of the zero filter.limit parameter"
The dao.js code:

[code]

The filter limit can be both string (if we received the filter from HTTP request) and integer (if we execute find() request mannually).

If limit is 0, in the first case its ok, we receive 'The limit parameter is not valid' error, but in the second case we have no error. It's because 'filter.limit' in the first 'if' in the first case returns 'true' (boolean value of strin

[2016-08-09 20:23] superkhau commented on #1038
Would you like to submit a PR with some test cases instead?

[2016-08-10 20:15] dmitru commented on #771
Any updates on the issue?

[2016-08-10 20:27] Amir-61 commented on #771
@dmitru IIRC `updateAll/update` do not have validation; would you like to submit a patch?

[2016-08-10 23:42] zbarbuto commented on #941
I believe this is possible, but you would have to define relations between student -> teacher_student and teacher_student -> student

That way you can do something like this:

[code]

[2016-08-11 00:06] zbarbuto opened #1042 "Query on Included Model Properties"
This is a follow-on from my comment in https://github.com/strongloop/loopback/issues/517. It would be great if there was some way to perform queries on models through related model properties easily through the default query parameters.

The closest issues I could find were:
https://github.com/strongloop/loopback-datasource-juggler/issues/94
https://github.com/strongloop/loopback-datasource-juggle

[2016-08-11 01:12] jeff3yan commented on #1042
The `required` property seems appropriate, particularly as it's already an established feature using ORMs such as sequelize.

[2016-08-11 21:34] jannyHou commented on #1042
@zbarbuto I am trying to help you figure out what's the proper queries for your requirements, could you fork this repo https://github.com/strongloop/loopback-sandbox and replace with your code to reproduce your problem? The sample app with some sample data would be enough for debug. Thanks!

[2016-08-12 03:26] jannyHou commented on #890
This is a duplicate issue of https://github.com/strongloop/loopback-datasource-juggler/issues/779
To keep it easy to track, I will update the fix and move all discussion to that issue :)
I am closing this one, thanks for understanding.

[2016-08-12 03:26] #890 closed

[2016-08-12 03:26] jannyHou commented on #779
Same error reported here: https://github.com/strongloop/loopback-datasource-juggler/issues/890

[2016-08-12 03:37] jannyHou commented on #362
@fabien could you help confirm does this bug still exist? Thanks! It was opened 2 years ago.

[2016-08-12 03:42] jannyHou commented on #258
Same as issue https://github.com/strongloop/loopback-datasource-juggler/issues/956

[2016-08-12 03:43] jannyHou commented on #956
A duplidate bug as https://github.com/strongloop/loopback-datasource-juggler/issues/258
To keep it easy to track, let's keep the update of fix and further discussion under that one.
I am closing this issue. Thanks for understanding :)

[2016-08-12 03:43] #956 closed

[2016-08-12 03:51] jannyHou commented on #251
I am closing it since it's a duplidate of https://github.com/strongloop/loopback-datasource-juggler/issues/258
To keep it easy to track, let's keep updating fix and discussion under that one. Thanks for understanding!

[2016-08-12 03:55] jannyHou commented on #251
I am closing it since duplicate bug already reported here: https://github.com/strongloop/loopback-datasource-juggler/issues/258

To keep it easy to track let's keep updating fix and discussion under that one. Thanks for understanding :)

[2016-08-12 03:55] #251 closed

[2016-08-12 18:01] rijkaardorisme commented on #84
+1

[2016-08-12 18:32] jannyHou commented on #743
I am closing this issue since https://github.com/strongloop/loopback-datasource-juggler/pull/400 merged 👍

[2016-08-12 18:32] #743 closed

[2016-08-13 12:11] jesperbruunhansen commented on #263
Hey guys, I struggled with this as well, but made it work with ENV vars by setting the config as @raymondfeng mentioned!

(Note, I could not make this work by setting the middleware as @franher mentioned - I'm note sure why, since it is obviously stated in the Loopback documentation)

This is my working solution:
- Leave `config.json` as default made when application was made
- Create `config.{env

[2016-08-16 10:46] mrfelton opened #1050 "Default value reapplied when updating existing model via remote relationship"
Lets say you have 2 models:
- Program
- Person

A Program hasMany People and a Person belongs to a Program.

Each one has a created date property like so:

[code]

After creating a new person `POST /api/Programs/{id}/People`, the person has a created date set as the current date.

Now, attempting to update this person `PUT /api/Programs/{id}/People/{fk}` results in the created date being reset to

[2016-08-16 10:47] mrfelton commented on #1050
Here are some test cases that highlight the issue:

https://github.com/fullcube/loopback-sandbox/tree/default-value-on-related-object-updates

Run with `npm test`

[2016-08-16 10:47] mrfelton commented on #1050
See https://github.com/fullcube/loopback-sandbox/blob/default-value-on-related-object-updates/test/test.js for details.

[2016-08-16 11:25] mrfelton commented on #1050
The issue is essentially similar to https://github.com/strongloop/loopback-datasource-juggler/pull/616 although this is specific to working via relationships.

[2016-08-17 10:10] mamartins commented on #592
yeah news on this PR would be great

[2016-08-17 13:54] sebastianhaas commented on #750
@jannyHou I don't know where the ID property is coming from and I also don't know whether it is created by MongoDB or loopback.
It's just that MongoDB natively supports embedded models with ids so I don't see any reason why the return type would be a plain string?

[2016-08-17 18:23] jannyHou commented on #849
I am closing it since related prs are merged.

[2016-08-17 18:23] #849 closed

[2016-08-18 00:45] dancingshell commented on #88
@raymondfeng it seems like foreign key indexes are still not being created, did that ever get merged in? Thanks!

[2016-08-18 08:36] ernie58 opened #1059 "beforeSave gets triggered in findOrCreate, even when no new model gets created"
I have a model with a beforeSave operation hook.
When I use findOrCreate on the model, the beforeSave hook is always triggered, even when a record is found and no new instance is created.

To me this looks like a bug, because nothing is actually saved

I've made a repro case here:
https://github.com/ernie58/loopback-sandbox/blob/master/server/boot/booktest.js

when you run it, you'll see the hook

[2016-08-23 21:57] superkhau commented on #385
Fixed at strongloop/loopback#963

[2016-08-23 21:57] #385 closed

[2016-08-24 09:18] windyinwind commented on #941
@zbarbuto Thanks for your solution, but it won't be the right, cuz teacher and students is many-to-many relation. According to what you suggest, teacher_student will have use has-many relation to find student. has-many relation need to use id of teacher_student(not student_id) table to find students. You can not define relation to your solution work in loopback.

[2016-08-24 22:01] jamesobd commented on #372
WHY is allowNull not documented?  Can someone add it to the documentation for the validatesInclusionOf options here: https://apidocs.strongloop.com/loopback-datasource-juggler/#validatable-validatesinclusionof

[2016-08-25 02:43] zbarbuto commented on #941
@windyinwind It does work (I've done it before) but it is a bit of a workaround rather than a solution. You just have to ensure that there is actually a teacher_student model define and in the teacher_student's model.json you define `belongsTo` relations out to the other models:

[code]

You would also need to define the relationship between teacher and teacher_student

[code]

So even though it i

[2016-08-25 07:54] ernie58 commented on #1059
Anyone?

[2016-08-26 03:33] windyinwind commented on #941
@zbarbuto I tried your model definition and it works like a charm.　Though it's not a perfect solution, it still the best workaround I ever met. I will your solution till loopback support it officially. Thanks a lot.

[2016-08-26 11:08] PhilippeCorreges opened #1066 "Package dependency error"
Hello,
When npm install loopback-datasource-juggle, the following warning is thrown :

deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue

[2016-08-26 11:30] jainisenough opened #1067 "loopback-datasource-juggler 3.0.0-alpha.7 not full compatible with loopback-datasource-juggler 3.0.0-alpha.3, it throws error during $save"
loopback-datasource-juggler 3.0.0-alpha.7 with loopback 3.0.0-alpha.3 throwing error when we try to call $save method from angular, where `id` passes in query params. eg: `/api/v1/Languages?id=123124234234`, but it works fine when `/api/v1/Languages/123124234234`.
Request type: PATCH,

Solution: use loopback-datasource-juggler 3.0.0-alpha.5

[2016-08-27 15:52] mysterlune commented on #805
joining this issue from https://github.com/strongloop/loopback/issues/1186 (along with @loay). wondering if there is a fix like @loay's being considered. i didn't try that fix, but got past the problem in that linked issue by doing:

[code]
... that is code i placed within my project. however, it'd be preferable to remove that in favor of a lower level fix in the `SQLConnector` module (as @loay su

[2016-08-29 15:01] blackvirus18 commented on #372
allowNull really should be added to the doc.

[2016-08-29 22:45] superkhau commented on #372
@crandmck ^

[2016-08-30 03:41] gdeckert commented on #474
After delete dcoumentation still incorrectly states that ctx.instance is set, as pointed out by @alexmhan.

https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-afterdelete

Also @bajtos comment from 3/11/2016 suggests ctx.instance *should* be defined in this case.

[2016-08-31 19:55] benkroeger opened #1071 "operation hook `loaded` has wrong context for `find()` in 2.x"
the context object provided to `loaded` operation hook includes an `instance` property but no `data` property.
https://github.com/strongloop/loopback-datasource-juggler/blob/2.x-latest/lib/dao.js#L1723

All other `loaded` hooks provide `data` with the `context` object so that one could manipulate the raw data before a model instance is created.

the current master (3.x alpha) has this fixed alread

[2016-09-01 11:40] bajtos commented on #474
@crandmck PTAL :point_up:

[2016-09-02 18:22] jannyHou commented on #1003
It turns out the `foreignId` cannot begin with a Upper Case Letter.

Change them from `SpaceId` `CustomerId` to `spaceId` and `customerId` would solve the problem. But I still consider it as a bug since the custom foreignId is not working properly.

[2016-09-02 18:40] davidcheung commented on #1066
@PhilippeCorreges Looks like this is from `fs-sync`, if you dont mind could you perhaps make a pull request against https://github.com/kaelzhang/node-fs-sync to use a newer version of `glob`
[code]

[2016-09-04 05:23] janober commented on #442
Hi, wanted to check back again because I really need it. Any chance that it get merged? Thanks!

[2016-09-05 03:41] alexpls opened #1079 "Polymorphic hasMany inverse relation doesn't work on include filter"
Using an include filter where the included relation is a polymorphic hasMany with invert set to true does not correctly take into account the invert option when figuring out which model to query, causing no records for the relation to return.

Given these model definitions:

[code]

When running the below code snippet an empty array will always return for pictures, even if it actually contains val

[2016-09-05 09:36] gandola opened #1081 "Create() vs Insert() performance"
Hi Guys,

After some digging in my application a came across a significant difference between inserting data using the `juggler create()` or using the`mongodb` `native driver insert()`. Thus, I developed a very small benchmark to show you and understand if this difference is expected or if something is wrong with my code or with some of the libraries that I'm using.

This is the code that I'm usin

[2016-09-06 22:45] superkhau commented on #1081
@gandola Thanks for the clear benchmarks. It seems there is much room for improvement.

@raymondfeng Thoughts? The results are significant.

[2016-09-07 08:50] jjhesk opened #1082 "attacked formatting"
juggler failed from accepted invalid json. It is listed as below:
[code]
Does it have anything to do with #148 ?

[2016-09-07 10:02] jainisenough commented on #1067
Fixed: In loopback@3.0.0-alpha.4.

[2016-09-07 10:02] #1067 closed

[2016-09-07 16:56] peterholcomb commented on #863
@drywolf Did you ever get this resolved?  I'm getting the same issue even though I've got exorcist included in the build as recommended by @loay

[2016-09-07 17:49] drywolf commented on #863
@peterholcomb I fixed this by adding a proper polyfill for `function.prototype.name` to my project.

The code that causes the above error is located in [remote-objects.js](https://github.com/strongloop/strong-remoting/blob/5b3f5bd559f0d8cc8d4975953d32443ef44ca8e6/lib/remote-objects.js#L200)
And as you can see the error happens also because this code depends on `constructor.name` returning the actu

[2016-09-08 01:39] zbarbuto commented on #1042
Apologies haven't had a chance to get to the sandbox yet. Will be doing so tomorrow hopefully.

[2016-09-08 01:43] charlie-s commented on #474
What should be done in instances where multiple items were deleted?

[2016-09-08 07:34] F3L1X79 commented on #931
@etsuo Any chance for this update to be finally merged since it looks like it's quite ready?

[2016-09-08 18:15] etsuo commented on #931
Thanks @F3L1X79 - I haven't had time to review the comments made by the Loopback team. I believe there are things they want improved, which I'm happy to do (some of the stuff commented on was actually from the prior committer).

I just need to find the time :) My travel and project schedule should settle down soon. @0candy, if I free up time to work on this, can you give me some idea of how close

[2016-09-08 19:01] 0candy commented on #931
@etsuo I think you're getting there. Just need to fix up the comments from @Amir-61 and @bajtos .

[2016-09-08 21:51] Amir-61 commented on #1071
@jannyHou
The Pull request links you provided are not the ones which change `loaded` hook for `DAO.find`; [PR#796](https://github.com/strongloop/loopback-datasource-juggler/pull/796) is the one which changes `loaded` hook for `DAO.find` to use `data` and not `instance`; I'm pretty sure @bajtos did not back port it to `loopback-datasource-juggler@2.x` on purpose because it was a breaking change; he

[2016-09-08 22:09] jannyHou commented on #1071
@Amir-61 ok thank you lol, git blame directs me to a wrong pr.
Looks like we replaced `instance` with `data` in 3.x. @bajtos could you help confirm it? Thanks!

[2016-09-08 22:19] jannyHou commented on #1082
Thank you @jjhesk you are right and this is the issue to keep track of this bug:
https://github.com/strongloop/loopback-datasource-juggler/issues/111

I am closing this one to keep git issues clean. Let's move discussion there to get more people involved.

Thanks for understanding!

[2016-09-08 22:19] #1082 closed

[2016-09-09 12:47] bajtos commented on #1071
Yes, I have intentionally not back-ported the fix, as I consider it a breaking change.

[2016-09-09 12:48] #1071 closed

[2016-09-09 20:43] soyacz commented on #759
Hello,
I understand that bug #771 is regarding ignoring validation for updateAll method. But still issue with validation of fields out of scope in updateAttribute method occurs. I suggest to reopen this bug.

[2016-09-15 16:04] jmls commented on #972
@jameslk : did you get anywhere with this ? I was needing similar functionality

[2016-09-15 17:28] jameslk commented on #972
@jmls We switched to using GraphQL over REST which largely made the querying more simple, and consequently our needs for more thorough scopes less important, so unfortunately I have not worked on this

[2016-09-15 20:44] duffn commented on #633
I'd like to have this opened back up. I'm working on a Redshift connector and as Redshift does not support case insensitive regexp, `ilike` and `nilike` are necessary.

[2016-09-15 21:20] Amir-61 commented on #633
`Redshift connector` is a community connector; please create an issue in their GH repository.

[2016-09-15 21:44] duffn commented on #633
@Amir-61 I understand that. However, if `ilike` and `nilike` are not in juggler's `dao.js` then they won't work in the connector.

https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L1404

[2016-09-16 00:02] superkhau commented on #633
@duffn Would you like to submit a PR with your proposal? We can chat more there. Please reference this issue when you do that so we can follow the conversation.

[2016-09-16 08:21] zbarbuto commented on #1042
I have setup a sandbox with the test case here:
https://github.com/zbarbuto/1042-loopback-query-included-properties

There is a boot script that seeds some random stores as well as customers for each store and purchases for some customers.

Cheers

[2016-09-16 10:55] #742 closed

[2016-09-16 19:30] jannyHou opened #1092 "Support JOIN when using relational databases."
I create this issue for public discussion of supporting "JOIN" among related models.

[2016-09-16 19:31] jannyHou commented on #1042
@zbarbuto Thanks for the sandbox really appreciate it.
We can not realize your scenario by one query now since we **don't** support **JOIN**. We are planning to add this feature but it requires a lot of refactor.
If I understand correctly, the two cases you mentioned, one using `require` and the other one using `as`, are suggestions of the signature of JOIN. Very valuable ideas!

we are using issu

[2016-09-16 19:48] jannyHou commented on #1092
Related issue:
- Design the query signature: https://github.com/strongloop/loopback-datasource-juggler/issues/1042

- Apply filters on property: https://github.com/strongloop/loopback/issues/683

[2016-09-17 00:26] zbarbuto commented on #1042
Thanks for the prompt responses @jannyHou . I didn't find loopback 683 in my searching because I assumed it was a datasource juggler issue. It's a shame that this is still an issue given that that ticket was created two years ago as I know these types of queries come up all the time. Hopefully https://github.com/strongloop/loopback-connector/pull/42 can be merged soon..

Given you have created #10

[2016-09-17 00:26] #1042 closed

[2016-09-17 13:39] jaydeep17 commented on #95
Any updates ??

[2016-09-19 12:09] bajtos opened #1097 "Use operation hooks instead of deprecated model hooks"
See the discussion in #824. We were not able to remove deprecated model hooks because embedded relations are still relying on them.

We should rewrite `inst.triggerParent` to not depend on deprecated hooks, for example using the approach outlined in  https://github.com/strongloop/loopback-datasource-juggler/commit/d0cc791bc65e5ee7d2447698539da1d1ca0591ee

[2016-09-20 15:18] rptally opened #1102 "lost ability to perform a geo search filter[where][loc][near]="
A simple query that works correctly in the loopback-datasource-juggler 2.49.0

    https://[server]/api/stores?filter[where][loc][near]=32.816024,-96.770074

has the following error when executed with in loopback-datasource-juggler 2.50.0

    fred-api-dev-0 (err): Error: Callback was already called.
    fred-api-dev-0 (err):     at /var/www/fred-api/develop/source/fred-api/node_modules/loopback/n

[2016-09-20 19:35] Amir-61 commented on #1102
@rptally
Thanks for bringing this up; it seems this is a regression from a recent work. Could you please provide a sample repo using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) so I can reproduce it on my local machine and then I can escalate it?

Thanks!

[2016-09-20 20:14] Amir-61 commented on #1102
@rptally Are you using `loopback-connector-mongodb`? If so, I suspect this is a regression from a recent community [PR#259](https://github.com/strongloop/loopback-connector-mongodb/pull/259); @superkhau since you are reviewed that PR, you may have a better insight.

[2016-09-20 20:36] Amir-61 commented on #1102
Closing in favour of https://github.com/strongloop/loopback-connector-mongodb/issues/285

[2016-09-20 20:36] #1102 closed

[2016-09-22 16:11] C3realGuy opened #1106 "validateNumericality does nullCheck and therefore limits utility"
Because validateNumericality checks if an attribute is set, and if not, fails, it limits the way you can use this validator.
For example you have an attribute which is optional, but, if it's set, it should be a number. You can't use validatesNumericalityOf because it flags err() even if the attribute is not set.
I think it would be better to stick to the concept, one validator checks one thing and

[2016-09-22 20:12] Amir-61 commented on #992
Any update on this?

[2016-09-22 20:59] Amir-61 commented on #1106
@C3realGuy

I see your point... Would you like to send a PR and we discuss there?

[2016-09-22 21:03] Amir-61 commented on #1038
@angfal It would be perfect to send a PR and discuss the issue there with adding test cases which fail with current implementation. Also please link the issue to the PR in case if you make one.

Thanks!

[2016-09-22 21:15] Amir-61 commented on #785
IIRC this is solved as part of [PR#1061](https://github.com/strongloop/loopback-datasource-juggler/pull/1061).

[2016-09-22 22:55] superkhau commented on #992
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-09-22 22:55] #992 closed

[2016-09-23 09:34] C3realGuy commented on #1106
I will give it a try.
https://github.com/strongloop/loopback-datasource-juggler/pull/1109

[2016-09-23 16:31] smumu commented on #230
Any news about this feature (planned, milestone, abandoned ...) ?

[2016-09-23 17:16] ASVBPREAUBV commented on #951
Have the same issue. Even with simpler include.
    `filter: {
                limit: 30,
                //offset: 5,
                include: [{
                    relation: 'person', // include the owner object
                }]
      }
`

[2016-09-25 09:57] C3realGuy commented on #1106
@Amir-61
i figured out, this is actually not a bug. This is well expected behaviour. See https://github.com/strongloop/loopback-datasource-juggler/issues/541
But still i discovered some fishy things:

`  describe('numericality', function() {
    it('dummmy should test', function() {
      var t = true;
      t.should.be.false; // does not fail?!
    });
...`

[2016-09-25 10:29] C3realGuy opened #1111 "nullCheck checks first for null, later if attribute is defined"
in the moment [nullCheck](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/validations.js#L629) checks first if attribute == null and after that if it's blank (undefined).

There are 2 Problems:
1. Using two equals with an null check (if foo == null) means it's false if foo is undefined or foo is null. So this already fails for undefined attributes even before we check for

[2016-09-25 10:51] #1106 closed

[2016-09-25 13:30] C3realGuy commented on #1111
See https://github.com/strongloop/loopback-datasource-juggler/pull/1109 for tests which fail on the current commit due to this issue. Wrong errors are raised.

[2016-09-25 13:32] C3realGuy opened #1112 "validateNumericality not checking for isNaN and no tests"
validateNumericality is only checking for the type of the attribute, which is not enough. It's also needed to check if it's not NaN.
Also there were no tests for this validator.
See this PR: https://github.com/strongloop/loopback-datasource-juggler/pull/1109

[2016-09-26 15:10] Amir-61 commented on #541
Interesting... I ran into this GH issue while reviewing some community PRs and issues.

👍

I believe this causes lots of confusion, if it is not documented and the intention of this missing feature. I propose to at least document these `allowNull`, `allowBlank `, `if `, `unless` in our doc to avoid more confusion. @bajtos thought?

I'll assign it to myself.

[2016-09-26 15:17] Amir-61 commented on #1106
Thanks for clarification @C3realGuy. I'll work with our doc expert to document `allowNull`, `allowBlank`, `if` and`unless` which are explained in https://github.com/strongloop/loopback-datasource-juggler/issues/541  to avoid more confusion.

[2016-09-26 16:04] Amir-61 commented on #1111
Not sure what you mean; please see:
[code]
Are you fixing what you are proposing in https://github.com/strongloop/loopback-datasource-juggler/pull/1109 ?

[2016-09-26 16:42] C3realGuy commented on #1111
true
Could you please clarify that?

[code]

nullCheck basically distinguishs between "is null" and "is blank/undefined". But because it first checks for "is null" with two equals it already fails here for for undefined attributes.
So if you have an undefined attribute, you will never get to the "is blank" check, because it fails already on the wrong implemented "is null" check. Therefore you need

[2016-09-28 08:01] Paulmolin commented on #121
+1

[2016-09-28 23:46] crandmck commented on #372
Added to http://loopback.io/doc/en/lb2/Validating-model-data.html#options-object and also added to the API docs.

[2016-09-29 01:47] Amir-61 opened #1120 "Add test coverage for `validatesNumericalityOf `"

[2016-09-29 01:47] Amir-61 opened #1121 "Add test coverage for `validatesExclusionOf`"

[2016-09-29 12:23] C3realGuy commented on #1120
Do you miss anything in https://github.com/strongloop/loopback-datasource-juggler/pull/1109 ? I don't use should.js framework because it's simply not working for me. Please tell me if 'dummy for should framework which should fail' fails for you. If so, something's wrong with mit install.

[2016-09-29 13:21] yagobski commented on #230
the hasAndBelongsToMany has no interest to be used if we can't customize the name of the table junction. Please take this request. Junctions tables are not models and adding them to modeles folder have no sense.

[2016-09-29 16:46] loay commented on #103
re-opening issue

[2016-09-29 22:58] crandmck commented on #474
Changed in http://loopback.io/doc/en/lb2/Operation-hooks.html#after-delete and
http://loopback.io/doc/en/lb3/Operation-hooks-version-3.0.html#after-delete

[2016-09-30 08:51] bajtos commented on #541
I think that's a great idea, let's do it!

[2016-09-30 16:06] crandmck opened #1124 "Update links to documentation"
There are links to `docs.strongloop.com` in various places in the code that we should replace with links to the new doc site `loopback.io/doc`.

https://github.com/strongloop/loopback-datasource-juggler/search?utf8=%E2%9C%93&q=%22docs.strongloop.com%22&type=Code

NOTE: The new site will remain around for a while, but it is deprecated for LoopBack, so we _should_ update the links.

**This issue is

[2016-10-01 05:00] peek4y commented on #883
Any updates?

[2016-10-02 15:20] hussainak commented on #88
Just in case people still want this, The code below walks through the tree of relations and destroy them, use at your own risk. I hope loopback doesn't die the same way as IBM Lotus Notes.
`
/**
 * Created by ali on 30/09/2016.
 */
var _ = require('lodash');
var async = require('async');
function DeleteDeepMixin(Model) {
  Model.deleteDeep = function (modelId, cb) {
    console.log("Model", Model.

[2016-10-05 16:58] ludicruz opened #1127 "add getAsync to documentation and clarify others"
I only found the Promise getAsync function from reading the juggler tests, could this be added to the documentation?

also the documentation says customer orders takes a where clause but it should be a filter correct?

in the documentation

[code]

should this be:

[code]

and for the Promise interface

[code]

???

found on this test:
https://github.com/strongloop/loopback-datasource-juggler/blob

[2016-10-06 20:55] fabien commented on #657
@wprater could you please elaborate on the performance issue and possible fix? I'm about to head for the `1495` hack, but I'd like to know if I'm in for more trouble then.

[2016-10-06 21:45] wprater commented on #657
@fabien you can see my notes here for a possible work around to fix these issues.  but you might also start to read up on the discussions here too https://github.com/strongloop/loopback-context/pull/2

[2016-10-06 22:05] fabien commented on #657
@wprater which notes? Thanks in advance!

[2016-10-06 22:12] wprater commented on #657
updated the comment above

[2016-10-07 02:02] jeff3yan commented on #1092
Was this previous pull request related? https://github.com/strongloop/loopback-connector/pull/40

[2016-10-07 12:02] cojack opened #1132 "upsertWithWhere bug in JSDoc"
There is:

[code]

should be:

[code]

Because of this in generated documentation (http://apidocs.strongloop.com/loopback/#persistedmodel-upsertwithwhere), first argument `where` doesn't apear.

Regards.

[2016-10-07 23:15] HanDaber commented on #121
+1

[2016-10-08 00:12] superkhau commented on #1132
Would you like to submit a PR for the fix? See https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js#L121

[2016-10-08 03:21] duongtinh commented on #84
+1

[2016-10-11 12:38] duongtinh commented on #84
Hi brunocarneiro ,

The first, thanks for solution workarounds from you.
I've been able to connector into cassandra and performed GET, PUT, DELETE but I can't CREATE any models.

My Error is :

 Unhandled error for request PATCH /projects?access_token=vdIfG39WkLL0V7jCaCZe8xZLXZ30iBBNqyeDBcqctHMNcwtuhl7LEkbZQnRKpx8K: Error: Some partition key parts are missing: id
    at ResponseError.DriverError (

[2016-10-11 12:46] brunocarneiro commented on #84
Hi @duongtinh,

It seems to be a Cassandra error. Can you send the query the connector is doing and also your table DDL?

You can get the query debugging this line: https://github.com/brunocarneiro/loopback-connector-cassandra/blob/master/lib/cassandra.js#L163

[2016-10-11 12:55] duongtinh commented on #84
Hi brunocarneiro,

Yes, you right,
This is sql query:

"data" is undefined,
and
INSERT INTO "loopback"."project"("balance","name","ownerid") VALUES(?,?,?) ;

I think it can not get data from request, have you any idea ?

[2016-10-11 13:02] brunocarneiro commented on #84
I saw that you are doing a PATCH request.

To create new model instances I usually make a POST request. Can you try
making a POST?

2016-10-11 9:55 GMT-03:00 Jack47 <notifications@github.com>:

[2016-10-11 13:03] duongtinh commented on #84
Hi brunocarneiro,

Yes, you right,
My table look like :
{
  "id": int,
  "balance": int,
  "name": "string",
  "ownerId": int
}

This is sql query that I debug:

"data" is undefined,
and
INSERT INTO "loopback"."project"("balance","name","ownerid") VALUES(?,?,?) ;

When I create a new row with id
{
  "id": 10,
  "balance": 220,
  "name": "project",
  "ownerId": 1
}
=> that show error :
"The `projec

[2016-10-11 13:09] duongtinh commented on #84
making a POST?

Thanks for rely,
I tried but also happen this error.

[2016-10-11 13:18] brunocarneiro commented on #84
This error below is related to your loopback model:

Can you send you loopback model declaration (json file)?

2016-10-11 10:09 GMT-03:00 Jack47 <notifications@github.com>:

[2016-10-11 13:20] duongtinh commented on #84
Hi  brunocarneiro,
This is my .json file:

{
  "name": "project",
  "base": "PersistedModel",
  "idInjection": true,
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "id": {
      "type": "number",
      "required": true
    },
    "balance": {
      "type": "number"
    },
    "name": {
      "type": "string"
    },
    "ownerId": {
      "type": "number"
    }
  },
  "validat

[2016-10-11 13:31] brunocarneiro commented on #84
Seems it's correct.
Just to be sure, I would use:

"id": {
"type": "number",
"required": true,
"id": true
},
...

[2016-10-11 13:32] brunocarneiro commented on #84
Oh...I just saw now. Please remove the relation and give a try.

[2016-10-11 14:15] Amir-61 commented on #1127
That's right; this is a documentation issue; Please see code [here](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/scope.js#L177-L205) which shows we support`filter`.

Yes you are right; it needs to be added in documentation.

@crandmck

[2016-10-11 16:17] Amir-61 commented on #1132
Fixed by https://github.com/strongloop/loopback-datasource-juggler/pull/1133

[2016-10-11 16:56] #1132 closed

[2016-10-11 19:43] Amir-61 opened #1135 "There is no `loaded` hook if `near` filter is used for `DAO.find()`"
There is no `loaded` hook if `near` filter is used for `DAO.find()`

[2016-10-12 02:12] Amir-61 commented on #1112
Connect to: https://github.com/strongloop/loopback-datasource-juggler/pull/1109

[2016-10-12 02:13] duongtinh commented on #84
Hi brunocarneiro,

"type": "number",
"required": true,
"id": true
},

I've been able to CREATE successful. Thanks for your support.

Beside, I also have a problem with models generated when create an application loopback.
Example: User, Role...
When I try to create tables following structure User, Roel... models using cqlsh tool then using API to Create new User or Role, but I always met  error:

[2016-10-13 01:09] #633 closed

[2016-10-13 01:22] superkhau opened #1137 "Backport latest ESLint conventions"
Use `eslint: ^2.13.1` and `eslint-config-loopback: ^4.0.0` to make backporting easier.

[2016-10-13 04:43] duongtinh commented on #84
Hi all,

How are you?
I've issue when filter hasMany in loopback and cassandra:

Model Customer:
[code]
Model Project:

[code]

In Project API I can get customer belongTo project but when I get all projects of a customer then it show error:

Error: Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the

[2016-10-14 05:26] #463 closed

[2016-10-14 23:19] crandmck commented on #1127
I updated http://loopback.io/doc/en/lb2/HasMany-relations.html#methods-added-to-the-model to change it to `filter`.

Re `getAsync`:
- Is this just for HasMany relations, or also for others?
- Is it only when using Promises?  In general, we haven't really documented the Promises API because it's incompletely implemented....

[2016-10-17 18:30] Nautigsam opened #1139 "strong-globalize breaks the tests"
When I run the tests, I get plenty of errors because the exceptions messages are translated (in french in my case), and that doesn't match the tests which are hard-written in english. Do you have an idea about how to fix this?

[2016-10-19 15:56] Amir-61 commented on #1139
Hey @Nautigsam,

I need more clarification on this please... how do you run tests? If you try `npm test` it should pas since the expected and actual messages are by default are in English; however if you run tests with lets say `LANG=ja npm test` it obviously fails because the actual messages are in Japanese in this case , whereas the expected messages in English... @0candy @superkhau @Setogit can

[2016-10-19 17:48] jannyHou opened #1145 "EmbedsOne doesn't support filter"
Scenario:

`parentModel` embedsOne `childModel`, we want to support filter as:

[code]

Related story:
- Support filter for `hasOne`: see https://github.com/strongloop/loopback/issues/2304#issuecomment-254732892

[2016-10-20 14:23] Amir-61 commented on #1137
Connect to https://github.com/strongloop/loopback-datasource-juggler/pull/1146

[2016-10-20 14:23] #1137 closed

[2016-10-22 07:40] BoLaMN opened #1148 "embeds and forceId issues"
Hey guys,

Since forceId dropped it seems to be having huge impacts on embedded relations around validation errors with creates\updates.

Since forceId is too disallow id's being submitted through http is there any reason why it cant be added to strong-remoting instead?

Seems odd to have this forced restriction on the dao layer and not as a remoting hook.

Furthermore it would be nice to see thes

[2016-10-23 13:45] hussainak commented on #1020
This happens when date in my db is 0000-00-00 00:00:00

[2016-10-24 22:35] Amir-61 commented on #1148
Could you elaborate that? AFAIC the default is set to true for relational databases.

@jannyHou could you provide more info?

[2016-10-24 22:47] Amir-61 commented on #1112
Closing this issue since it is fixed now by #1109

[2016-10-24 22:47] #1112 closed

[2016-10-25 08:34] C3realGuy commented on #1111
Fixed in https://github.com/strongloop/loopback-datasource-juggler/commit/662458dc2c78c0066ae9b122e189270ec9513470

[2016-10-25 08:34] #1111 closed

[2016-10-25 13:29] F3L1X79 commented on #931
For other people's information, I tried to implement @etsuo 's fix in my own project because requests take too long if you cannot combine geolocation and other filters.
With "loopback-connector-mongodb": "^1.17.0", and "loopback-datasource-juggler": "^2.53.0" - this fix is not working, sadly.
Seems also related to https://github.com/strongloop/loopback-connector-mongodb/issues/49 but I wasn't able

[2016-10-25 13:57] Amir-61 commented on #1111
Thanks @C3realGuy

[2016-10-26 01:52] #658 closed

[2016-10-26 06:28] superkhau commented on #1020
Can you provide a sample for us to reproduce the issue? See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2016-10-26 11:21] ahmed-abdulmoniem commented on #771
This is still not implemented?

Also, updateAttributes the same?

[2016-10-26 15:48] hussainak commented on #1020
Yeah the only think you need to do is, setup a model with date type
property and go into the fb and set the date manually as given above. And
when you try to access that date it will throw the invalid date error.
Hope it helps.

On Wednesday, 26 October 2016, Simon Ho <notifications@github.com> wrote:

[2016-10-26 19:23] Amir-61 opened #1152 "Refactor DAO.find()"
`DataAccessObject.find` is long spaghetti code we need to refactor this method and split it into smaller chunks.

[2016-10-27 15:16] jannyHou commented on #1148
hey @BoLaMN , really appreciate your suggestion and feedback to make loopback more flexible and easier to use.

---

From my understanding embeded relations are more suitable for NoSQL dbs like mongodb, and you can simply set `forceId: false` in config file `model.json` to remove the restriction.

Or did you run into any setId restriction with embeded relation even after you set `forceId: false`?

[2016-10-27 15:26] Amir-61 opened #1154 "Add test coverage for `validatesInclusionOf`"
Add test coverage for `validatesInclusionOf`

[2016-10-27 15:27] Amir-61 opened #1155 "Add test coverage for `validatesLengthOf`"
Add test coverage for `validatesLengthOf`

[2016-10-28 15:41] Amir-61 commented on #1135
Connect to https://github.com/strongloop/loopback-datasource-juggler/pull/1108

[2016-10-28 16:58] BoLaMN commented on #1148
Hey @jannyHou

Thanks for the response, it's more around the embedded items.

The rough flow is

Create Order (parent)
Create Content (embed of Order)
Create File (embed of Content)
Update Order (receive id error)

I'll try put together a sandbox application to make it easier to see in the next few days.

Reason I suggested moving it to strong-remoting and my use case is I have 3 loopback servers

[2016-10-28 19:34] #1135 closed

[2016-10-29 13:00] KingsDevelopment commented on #931
Any updates on this?

[2016-10-29 17:21] jjhesk commented on #750
I have the same issue once i upgrade to the latest version of the juggler. I have issued a [ticket](https://github.com/strongloop/loopback/issues/2907) and it seems this thread is the source of the cause. Now what is the fix for having query the objectid from the rest api?

[2016-10-29 17:38] dpasqualin commented on #727
I'm having a hard time trying to understand the "embeds" feature through the official documentation. I believe @vanraizen contributio can help with that. I intend to use loopback in production, but I saw many old issues like this, still with no solution. What should I expected for the future of loopback? Thanks.

[2016-10-29 19:03] sebastianhaas commented on #750
I still think this is an issue. It's a shame that this is open for almost a year now, and its not even clarified if this weird and flawed behavior is expected for whatever reason. I still would be more than willing to help on this @Amir-61 @jannyHou @raymondfeng

[2016-10-30 02:26] jjhesk commented on #750
nope, this issue actually resurfaced recently and I am still able to find out the cause of it. I updated the recently versions of one of the component. If there is a fix, how or where do I turn on to accept string as in uuid format via http rest from the input and able to query the key as string in the db. This wasnt as issue like a month ago until I did `npm update`. =( It is very disappointing.

[2016-10-30 02:38] jjhesk opened #1159 "code breaks - failed to query over id"
I have previously mentioned from [this ticket](https://github.com/strongloop/loopback/issues/2907) regarding to failure to query over and id. Now this is an issue from making query from a string that is using the same format from id.  for example: 57b6ac3c51b75e0300fe4fee
#935 similar issues

This is urgent.

[2016-11-01 03:04] #1159 closed

[2016-11-02 09:08] vvatelot commented on #931
Stuck with this issue too.
Is there a workaround? How could we do to help on this subject?

[2016-11-02 21:46] bajtos commented on #931
@vvatelot You can take over #1036 (it looks abandoned), address code review comments and send a new pull request.

[2016-11-03 08:02] F3L1X79 commented on #931
It sounds like https://github.com/strongloop/loopback-datasource-juggler/pull/993 address the same issue.

[2016-11-04 12:01] vvatelot commented on #931
Yes, #993 address the same issue.
There are 2 opened PR: #993 and #1036...

Not sure what to do with this...?

[2016-11-04 15:54] jannyHou commented on #750
@sebastianhaas @jjhesk Let's clarify what's going wrong in mongdb:

From the sandbox provided by @sebastianhaas , if I understand correctly, you expect to see `ObjectId()` in chapter instance but get `string`.
  - The reason is you are using **transient** connector
  - If you use mongodb as connector chapter will have an `Objected()` type id in mongo database

For @jjhesk I believe your bug is a d

[2016-11-04 16:34] sebastianhaas commented on #750
Thanks for your clarification. But is it even possible to define an embedded relation using any other connector but `transient` and still have the embedded data inside the parent mongodb object?

[2016-11-04 19:48] jannyHou commented on #750
While @sebastianhaas I just tried to attach embedded model to mongodb, the embedded instances stored in mongodb database have `ObjectId` type id, but when you return the parent instance, the embedded children are still using `string` type id.
And you are right, embedded models are supposed to attach to transient only.

There is a config property called `defaultIdType` you can use to specify the id

[2016-11-05 10:47] janober commented on #442
Hi, has now almost been 6 months. Can I expected that to get merged? Thanks!

[2016-11-06 20:51] GEEKIAM commented on #258
@fabien hi. any news?

[2016-11-07 22:20] #1008 closed

[2016-11-08 19:31] jannyHou commented on #1020
@azatoth @hussainak do you still run into this issue? If I understand correctly it only happens when you talk to mysql with native SQL query, in loopback you could not even create instance with invalid date.

And please provide us a sandbox as Simon said in https://github.com/strongloop/loopback-datasource-juggler/issues/1020#issuecomment-256260530 if you think it a bug. Thanks.

[2016-11-08 20:38] superkhau commented on #1020
@jannyHou We can probably try to reproduce this based on https://github.com/strongloop/loopback-datasource-juggler/issues/1020#issuecomment-256391168

@azatoth @hussainak We would appreciate it if one of you could provide a link to a sample repo so @jannyHou can try to reproduce it by simplying cloning.

[2016-11-10 05:00] beeman commented on #793
I just found out about this issue and created this branch to reproduce it https://github.com/beeman/loopback-sandbox/tree/validate-uniqueness-of-issue

Another issue mentioning this is https://github.com/strongloop/loopback/issues/1452

[2016-11-10 12:47] tfsamaral opened #1161 "Be able to order data with case-insensitive option"
Hey guys,

So I am in need to order some results independent of the letter case.
I want **aA->zZ** and not **A->Z | a->z**, in this case ASC.

Is there anyway I can do this?
As far as I can tell loopback doesn't support it and I couldn't find any help online.

Thanks!

[2016-11-11 21:59] CNSKnight opened #1164 "idInjector: false seemingly ignored w/mongodb connector"
[code]
YAML Sample:
[code]
Sample PUT Request:
[code]
Response _always_ returns eg:
[code]
And stores eg:
[code]

Additionally, I've tried _id as an integer with same results (likely a mongo reserved thing)
Also, API Designer reports **Additional properties not allowed: idInjection** but saves the YAML
(I typically ``$ slc deploy...``)

[2016-11-12 23:00] bradwbradw commented on #111
Any news on the status of this bug? Seems pretty bad

[2016-11-14 14:40] hoangtrongphuc commented on #166
Any update on this issues ?

[2016-11-15 13:31] bajtos opened #1166 "Support Node.js 7.x"
`npm test` is failing on Node v7.1.0 right now:

[code]

We need to identify & fix the problem and add Node v7 to `.travis.yml`.

[2016-11-16 17:58] jannyHou commented on #166
@hoangtrongphuc I am working on a pr fixing it: https://github.com/strongloop/loopback-datasource-juggler/pull/1153

[2016-11-17 03:32] hoangtrongphuc opened #1167 "includeOneToOne crash server !"
I have user model, user model has many transaction and transaction belongTo user model.
When I query owner of transaction with include filter (scope, fields) my server crash and show error:

`TypeError: Cannot read property 'toString' of undefined
0|server   |     at linkOneToMany (/home/node_modules/loopback-datasource-juggler/lib/include.js:811:50)
0|server   |     at /home/node_modules/loopback

[2016-11-17 21:29] jannyHou opened #1168 "Include more context in `collect`"
An extended solution of issue https://github.com/strongloop/loopback-datasource-juggler/issues/166

---
We use a var `collect` in hasManyThrough relation to tell function `find` to only return the collect model instances(child instances without their parent).

Currently `collect` is only a string that represents the relation name.
In the future we can add more context to it, eg:filters, conditions

[2016-11-21 19:34] Amir-61 commented on #1167
To make the triage process easier and more efficient please follow this [guidelines for reporting issues](http://loopback.io/doc/en/contrib/Reporting-issues.html).

Please provide a sample repo using [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) to reproduce the issue.

[2016-11-21 20:00] Amir-61 commented on #1164
This issue was moved to strongloop/strongloop#332

[2016-11-21 20:03] Amir-61 commented on #1164
This issue was moved to strongloop/loopback-connector-mongodb#311

[2016-11-21 20:03] #1164 closed

[2016-11-21 21:00] Amir-61 commented on #1161
Hey @tfsamaral,

I believe this feature is not supported by LoopBack; however you may go a head and use native sql queries if you are using relational database; please see: http://loopback.io/doc/en/lb2/Executing-native-SQL.html

[2016-11-22 19:34] ludicruz commented on #1127
I have been using the getAsync consistently for a while now.
I looked through where I've been using it and it's being used with `BelongsTo` and `HasMany`
FWIW: the `HasMany` relationships I've been using are normal (whatever that means...), through, and polymorphic.

This is in a few others as well.

Hope this helps.. I would have been using this sooner if I saw it in the documentation! 😃

[2016-11-25 19:38] rptally commented on #931
@etsuo I just ran into this issue on my projects.  It looks like it's stuck on #1036 pending a test case and an update to this PR.

Are you no longer pursuing these set of patches? (asks someone who really needs you to :-) )

[2016-11-25 20:02] etsuo commented on #931
Hi @rptally - sorry, I still haven't been able to spend any time on this... work travel, projects, trying to have a personal life... etc. etc... same stuff that most trying to contribute are having to juggle. :)

Rather than using the explicit $and operator, I fell back on just relying on the implicit AND behavior of a standard query... there are circumstances when you want to use an explicit $and

[2016-11-26 15:31] rptally commented on #931
Thanks @etsuo for the quick reply…

I’d tried the approach you recommended and couldn’t get it to work as needed. Your approach of the implied AND had two issues… one is I needed an OR and the other was it only returned 1 row / document.  After reading through this, I upgraded my loopback 2.X and related components to current, as follows:

    "loopback": "^2.36.0",
    "loopback-datasource-juggle

[2016-11-27 14:54] rocknrolla777 commented on #88
I have created npm package
https://www.npmjs.com/package/loopback-cascade-delete-mixin

[2016-11-28 07:50] joostdebruijn opened #1171 "Having forceId set to true by default breaks replace method"
When I try to replace an existing model instance via the replaceOrCreate-method (both internal as remote), I receive an error like:  `ValidationError: The 'Model' instance is not valid. Details: 'id' can't be set (value: 9)`. In the model settings, forceId = true, when I disable it I can use the replaceOrCreate-method without an error. So it seems that the forceId-check is triggered because I subm

[2016-11-28 15:47] Amir-61 commented on #1171
Hey @joostdebruijn,

Yes `forceId = true` contradicts with the goal of `replaceOrCreate`; I expect this error for replace operation of`replaceOrCreate` when `forceId = true`; let me explain, `replaceOrCreate` uses the PK; for `replace` operation of `replaceOrCreate` you always need to provide the PK; that means if you pass the PK and the PK exists in the backing datasource, it replaces that instan

[2016-11-28 19:26] jannyHou commented on #1171
Hmm, I agree that we should not set default `forceId` to `true` on connectors that not using Integer ID, like mongodb and cloudant.

[2016-11-28 19:46] Amir-61 commented on #1171
Well my point is the end goal of `replaceOrCreate` contradicts with having `forceId` as True, not only for the databases you mebtioned (Mongodb and Cloudant), but also other databases... IMO by default having it set to true is debatable for any connectors.

[2016-11-28 21:35] jannyHou commented on #1171
I am confused whether `updateOrCreate` also fails? If it can pass, then we should be possible to do `replaceOrCreate` with `forceId: true` as well.

And if update methods also fail, from my understanding, we need to refactor replace/update method to satisfy the goal:
[code]
It doesn't make sense to me that `replace/update` and `create` have to share same validation rules.
Thoughts?

[2016-11-28 21:45] Amir-61 commented on #1171
Yes if `forceId` is set, it breaks `updateOrCreate` as well... for `updateOrCreate` you need to pass the PK if you want to update a pre-existing instance and if `forceId` is set to true you will get similar to the following validation error:

[code]

[2016-11-28 22:11] jannyHou commented on #1171
Then any idea on fixing https://github.com/strongloop/loopback-datasource-juggler/issues/849?

[2016-11-28 22:22] jannyHou commented on #1171
Forget forceId thing, I think the conflict here is:
- replaceOrCreate/updateOrCreate need to allow users provide PK
- security issue need to forbid users provide PK

And my opinion is replace/update an existing instance with any PK is reasonable, but create instance with any PK is pretty dangerous.

[2016-11-28 22:53] Amir-61 commented on #1171
Yes I agree that `forceId` enforcement should be valid for create operation (NOT update/replace operation) of `replaceOrCreate`, `updateOrCreate` and possibly `findOrCreate`...

[2016-11-28 23:47] sebastianhaas opened #1173 "Concurrency-induced data loss with embedded models"
I just found that posting to an `embedsMany` relation might result in a loss of data if requests are sent with little time in between.

I set up a [test environment to demonstrate this](https://github.com/sebastianhaas/loopback-sandbox/tree/embedsMany) based on `loopback-sandbox`.

### Setup
[code]
[code]
[code]
### Steps to reproduce
(For an automated demo see [my test scenario](https://github.co

[2016-11-29 11:25] sebastianhaas commented on #1173
I was actually able to narrow this done a bit while writing a unit test that covers this scenario- the `memory` connector seems to work fine.

[2016-11-29 12:53] sebastianhaas commented on #1173
A test that would cover this scenario could probably look something like

[code]

Note that this will work using the memory connector, but not with (at least) mongo or postgres.

[2016-11-29 12:58] sebastianhaas opened #1174 "Misleading documentation on embedsMany"
At https://loopback.io/doc/en/lb2/Embedded-models-and-relations.html#embedsmany :

As far as I can tell, loopback doesn't support posting arrays to embedded model relations, so this is maybe a bit misleading?

@crandmck I saw you working on documentation a lot, so maybe you can help out?

[2016-11-29 13:03] sebastianhaas commented on #750
I think this can be closed if everyone agrees that this is expected behavior. It might be good to add some documentation though to explain where ids in embedded models come from and why they're different from models attached to a persistent data source directly.

[2016-11-29 21:13] jannyHou commented on #750
@sebastianhaas make sense. I created a pr to add it in doc: https://github.com/strongloop/loopback.io/pull/183

[2016-11-29 22:06] Amir-61 commented on #1174
Thanks for brining this to our attention. @crandmck could you please rephrase the sentence to avoid the confusion here. Thanks 🙇

[2016-11-29 22:22] ritch commented on #482
Closing this as we've created other issues to track the work.

[2016-11-29 22:22] #482 closed

[2016-11-29 22:25] ritch commented on #397
@bajtos - reopen if this shouldn't be closed.

[2016-11-29 22:25] #397 closed

[2016-11-29 22:29] Amir-61 commented on #991
There are already tests which confirm `loaded` hook gets triggered just once; please see https://github.com/strongloop/loopback-datasource-juggler/blob/c8ade9e9d00737e8c4be266168b579ca9d72573e/test/persistence-hooks.suite.js#L1812-L1823

Since there are tests which confirm the `loaded` hook gets triggered once and inactivity of this ticket, I'm closing this issue now.

Please feel free to open an

[2016-11-29 22:29] #991 closed

[2016-11-29 22:30] Amir-61 commented on #994
Closing this issue due to inactivity.

[2016-11-29 22:30] #994 closed

[2016-11-29 22:38] Amir-61 commented on #1004
A simple search through the repository shows the `console.log`s are not used in `/lib` folder; they are mostly used under `/docs`, `/test` and `/examples` folders; I'm closing this issue now since it does not receive enough interest from the community either... however please feel free to send PRs to fix them...

Thanks!

[2016-11-29 22:38] #1004 closed

[2016-11-29 22:41] Amir-61 commented on #1139
I'm closing this issue due to inactivity... please feel free to leave a comment here with more info asked in https://github.com/strongloop/loopback-datasource-juggler/issues/1139#issuecomment-254856980 and we will re-open the issue for you...

Thanks!

[2016-11-29 22:41] #1139 closed

[2016-11-29 22:43] Amir-61 commented on #1161
I hope https://github.com/strongloop/loopback-datasource-juggler/issues/1161#issuecomment-262065523 helps you; I'm closing this issue now...

[2016-11-29 22:43] #1161 closed

[2016-11-29 22:55] #392 closed

[2016-11-30 09:16] sebastianhaas commented on #1174
Thanks!

Should actually be more like "doesn't support posting arrays of objects without ids", it is fine to post an array of objects that already have unique ids assigned. You probably know what I mean.

Maybe it's more about

in the end.

[2016-11-30 15:59] #750 closed

[2016-12-01 08:52] janober commented on #442
Hello...

[2016-12-02 02:19] sanori commented on #111
When using not only the mongoDB, even memory DB, PUT operation with simple string on array object make server CRASH!
Is there any way to make server not to crash?
This is a severe defect on API server.

I may change the array type in the model to `hasMany` relation. But, it requires many POST operations for simple strings.
I have tried `EmbedsMany` relation. But, PUT operation on EmbedsMany proper

[2016-12-02 08:47] sanori commented on #111
I found a workaround to avoid server crash. In, for example, doc-model.js:
[code]
This code make server not crash, but returns error.
I guess that 'before save' hook runs before loopback-datasource-juggler converting data.

It would not be the part of loopback-datasource-juggler.
But, it would be helpful for the people like me, so I leave this comment.

[2016-12-02 19:08] mrjrdnthms commented on #835
This bug seems to have gotten me. I see intermittent missing includes when the relationship is a hasmany with a through model for the find/findone apis. Adding arious filters did not resolve the problem. In the end I was forced to use a second api call to return the related items. bummer.

[2016-12-03 00:02] crandmck commented on #1174
OK, I reworded the note as follows:

So the example above in which a Customer has multiple email addresses, adding an instance would require two POST operations, one for the Customer record and one for the multiple email address data.

Does that clear it up?  If not, please suggest other specific changes.  Thanks!

[2016-12-03 13:26] sebastianhaas commented on #1174
For me, it wouldn't have made it clearer I guess.
I think that

made me start to think, "ok I can just put an array of address data, just as in any other `create`", but that doesn't really work because ids won't be generated and so you have to handle it quite differently from any other `create` in the end.

Sorry I can't put it in any better words because frankly speaking I don't really get how th

[2016-12-05 13:20] bajtos commented on #1171
Hi, I think this is a major usability bug, I am re-labelling it as such.

Here are my thoughts on how to approach this issue:

As I understand the idea behind `replaceOrCreate` and `replaceOrUpdate`, it allows the client to use a single HTTP endpoint for both creating a new instance and updating an existing one, so that it's easy to implement a generic `$save` method:

[code]

Now with `forceId` s

[2016-12-05 20:01] jannyHou commented on #835
two test cases are passing in juggler:
https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/relations.test.js#L666-L716

I manually test another scenario:
[code]
Also pass.
@Resonance1584 @mrjrdnthms can you double check the three scenario I mentioned above and see if following them can solve your issue?

[2016-12-05 20:51] loay opened #1182 "Uid Generator Library"
Verify autoinc/autoinc reset support in underlying driver so we can use instead of the helper uid lib.
copy:  @superkhau @jannyHou

ref: https://github.com/strongloop/loopback-datasource-juggler/pull/1181

[2016-12-05 22:41] mrjrdnthms commented on #835
I have different models, of course, but in the context of the tests you have:

physician.patients(... works fine
physician.find({where{id:1},include:["patients"]}... I get no patients back most of time even if related patients exist.

[2016-12-06 03:38] Amir-61 commented on #1171
@bajtos

DAO.updateOrCreate = function(data, options, cb) {
  if (dataHasIdField) {
    return this.create(data, options, cb);
  }
  if (modelHasForceId) {
    return this.replaceById(data.id, data, options, cb);
  }
  // continue with the current implementation
}

ummm... I got your idea...However, I guess you meant something like:
[code]

Are you also proposing we should get rid of implementatio

[2016-12-06 04:27] jannyHou commented on #1171
Agreed 👍

My understanding is since the current implementation is designed with the condition "forceId:  false", maybe we can check `modelHasForceId` first and decide returning `create()` or `replaceById()` if it's `true`,  then go on with current code:
[code]
BTW, I guess @bajtos means `replaceOrCreate` in his code, `updateOrCreate` is a typo? :P

[2016-12-06 15:25] bajtos commented on #1171
Sorry for the confusion.

1) Yes, you are right @Amir-61, my code snippet contained a bug, your version is correct.

2) Yes, I think we should fix `updateOrCreate` similarly.

3) No, I am not proposing to remove `connector.replaceOrCreate` (and the other connector method of `updateOrCreate`). We need these two connector APIs to correctly support the case where the clients are allowed to provide cu

[2016-12-06 15:31] bajtos commented on #1166
I consider this as a major bug because most likely these failures are caused by existing errors that haven't been surfaced yet.

I see this as being similar to adding `use strict` and then discovering that certain tests suddenly start failing. (Which is the case in juggler too, there are several files that don't have "use strict" at the top, because such change fails many tests.)

[2016-12-06 15:53] Amir-61 opened #1185 "`updateOrCreate` does not work with default value of forceId: true"
`forceId` is set to true by default by https://github.com/strongloop/loopback-datasource-juggler/pull/982 . `updateOrCreate` does not work with default value of forceId set to true when we want to update an instance and provide the PK of instance in data object.

Failure: `ValidationError: The 'Model' instance is not valid. Details: 'id' can't be set (value: 9)`

/cc: @jannyHou @bajtos

[2016-12-06 16:50] jannyHou commented on #1185
👍  Thanks.

[2016-12-06 18:08] superkhau opened #1186 "Do not use globals in tests"
See https://github.com/strongloop/loopback-datasource-juggler/pull/1179#discussion_r90923057

[2016-12-06 20:50] superkhau commented on #1166
While on the topic, is this time to add Node 7 on CI?

[2016-12-07 12:29] bajtos commented on #1166
That's off topic, please discuss this elsewhere. (Perhaps open a new issue in one of our internal boards?)

[2016-12-07 23:22] crandmck commented on #1174
Hm, OK... @Amir-61 can you please comment and/or clarify?  I don't want to spend any more time on this until I  I (we) understand better how it's supposed to work and I confirm that it's actually working as it should...

[2016-12-08 03:21] wenkun-tonghui opened #1189 "loopback memory connector cached model issue"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
There are two models in my application. I am using loopback memory connector and the model relation is that, model A belongs to model B, while the foreign key is 'fid'.

1.
[code]

2.
[code]

3.
[code]

### Link to sample repo to reproduce issue (if bug)

### Expected result

Exce

[2016-12-08 03:21] wenkun-tonghui commented on #1189
@superkhau , Could you take a look at this issue?

[2016-12-08 12:34] bajtos commented on #717
@loay we should not close issues until they are fixed. I.e. land the pull request first, back-port it if needed, and only then close the issue.

#724 was not finished, I am reopening this issue.

@hiddestokvis could you please provide us with a sample app reproducing the issue? I am not sure if the description will be enough.

[2016-12-08 12:38] hiddestokvis commented on #717
@bajtos I kind of fixed this for myself in #724. It's been a while but I can probably take the time to rebase and add tests for my solution and resubmit a merge request.

[2016-12-08 12:47] bajtos commented on #717
@hiddestokvis

That would be awesome!

[2016-12-08 17:00] jannyHou commented on #835
@mrjrdnthms hmm weird. test case https://github.com/strongloop/loopback-datasource-juggler/blob/master/test/relations.test.js#L3555 also passes.

Can you make sure you are using the latest 2.x version loopback-datasource-juggler@2.53.0? Or the new 3.x version loopback-datasource-juggler@3.1.0.

[2016-12-08 20:48] jannyHou commented on #166
Hi @raymondfeng, the fix is published in 3.x and I am not sure should I backport it to 2.x?
I feel the filter would be good to have consistent behaviour in 2.x and 3.x, but the change itself is a bit breaking lol.
Any idea?

[2016-12-09 00:25] siddhipai opened #1190 "Ci failure for downstream dependency on loopback-connector-mssql/oracle"
see [#1184](https://github.com/strongloop/loopback-datasource-juggler/pull/1184)

[2016-12-09 01:11] jhonasn commented on #727
I'm having the same "count" problem. The filter is not working either. I think that we need to use just the standard old relational relations to continue using strongloop without problems. That's what i'm going to do for now...

[2016-12-09 02:43] superkhau commented on #1189
@wenkun-tonghui Looks like a bug, reassign to @ritch to get it prioritized.

[2016-12-13 16:56] javadib opened #1192 "unhandled exception in add new item via hasManyThrough relation"
In hasManyThrough relation raise a unhanded exception when i tried to add new item in middle collection that has date property with default value("created" : "$now").

I hava 3 collection in mongodb: Student, Course, StudentCourse. And there is "created" property with default value ("$now") in StudentCourse. I added new item via "Student_prototype_link_Courses" remote method. It was ok, but raise

[2016-12-13 19:31] ritch commented on #920
@Amir-61 can you look at this - this sprint?

@pthieu ??

[2016-12-13 19:40] pthieu commented on #920
@ritch: sorry we've already planned our sprint, we'll throw it into the next one.

[2016-12-13 21:46] sarkiroka opened #1193 "Upgrade dependencies"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

npm WARN deprecated node-uuid@1.4.7: use uuid module instead

### Expected result

no warning

### Actual result (if bug)

warning showed

### Additional information (Node.js version, LoopBack version, etc)

node 6.7.0
loopback-datasource-juggler 2.53.0

[2016-12-14 02:08] Resonance1584 commented on #835
@jannyHou I'm no longer using Loopback. The issue I reported was almost one year ago - I'm unsure if the current codebase still behaves in this way. The issue I had was that there were two different code paths resolving through relations: one where the definition of keyThrough is significant, and one where the type, and throughModel relation name is significant.

[2016-12-15 02:47] smith64fx commented on #442
This is really important! Why does nobody care about it? =/

I have the same issue. When my ArangoDB Connector creates a model, i want to add an "_id" attribute aswell. But it doesn't work =(

@janober I like your solution. Gotta take it :) Thank you

And @loay We should really implement it cause it won't break any tests and is just *better* for any current and future connectors! Must have!!

[2016-12-15 06:23] janober commented on #442
@smith64fx great to see that I am not the only one in the big wide world who did run into this issue ;-) Would also love if that would finally get merged. Is a very small and simple change which has a big impact.

[2016-12-15 11:17] smith64fx commented on #442
@janober This issue can be closed.

Just use add this to your model
[code]
and the data will be saved:

This is from the dao.js
![image](https://cloud.githubusercontent.com/assets/3246782/21222020/21ff5654-c2c0-11e6-9102-43a827152bd4.png)

Example
[code]

Very funny that nobody of us saw it :D
@loay this issue can be closed!

[2016-12-16 17:45] janober commented on #442
Ehm stop. I wait since 6.5 months for it to get merged and did not get an answer since over 4 and then another person says it can be closed and within a few hours (without waiting for any confirmation or thought if it even makes any sense) it gets closed.

Sorry but I dont think it can get closed. I can not believe that setting "updateOnLoad" on the model will allow the datasource-juggler to set d

[2016-12-16 23:04] superkhau commented on #442
@janober Sorry for the quick close, we can always reopen quickly though. ;) Thanks for chiming in again and clarifying. To be more clear -- we reserve issues for bugs/feature requests. You'll probably have better luck in determining whether your use case fits on our [Google Groups](https://groups.google.com/forum/#!forum/loopbackjs) or [Gitter](https://gitter.im/strongloop/loopback) since it's mor

[2016-12-17 03:28] superkhau commented on #974
Closing as abandoned, please feel free to ping if you're still interested in working on this @vanthome. We can reopen the issue then.

[2016-12-17 03:28] #974 closed

[2016-12-19 18:30] janober commented on #442
@superkhau Thanks for the fast answer. I would say this issue is something between a bug(its something what really has to work) and a feature (which is currently not possible). Some databases like Couchbase add additional properties to easily determine if the document changed in the meantime. Like you can imagine this is a very important piece of information (if you do not simply want to overwrite

[2016-12-20 01:22] superkhau commented on #442
@janober Can you submit a PR against this repo and link to it here? There is too much noise above. Let's continue this conversation in the actual PR review (the changes above LGTM, but I want to make sure via our CI and you'll need to add some tests to prevent regressions).

[2016-12-20 18:26] Amir-61 commented on #1171
Since the issue is due to changes of forceId by your [PR](https://github.com/strongloop/loopback-datasource-juggler/pull/982) and apex own juggler and connectors I assign this issue to apex.

[2016-12-21 14:13] ernie58 opened #1202 "Cannot read property '_receiver' of null"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I have some tests which ran fine on 2.53.0. One of them fails on 2.53.1
I have a model Task with some related models. In a before delete hook I delete the related models:

[code]
### Link to sample repo to reproduce issue (if bug)

### Expected result
Related models should be dele

[2016-12-21 15:53] Amir-61 commented on #1171
Assigning this issue and https://github.com/strongloop/loopback-datasource-juggler/issues/1185 to team-apex since the bug is related to changes of https://github.com/strongloop/loopback-datasource-juggler/pull/982 from Janny and Apex owns `loopback-datasource-juggler` and connectors. @0candy Please prioritize this in your team.

[2016-12-21 16:00] bosco-li commented on #450
Assigning to Apex since the team will be owning the FA in 2017

/cc @0candy @kjdelisle @pthieu

[2016-12-21 22:31] nelsonec87 commented on #121
+1

[2016-12-23 23:13] bloadvenro opened #1203 "Error: could not create List from JSON string: "{value_1,value_2, ...}""
Hello! I faced with some problem. I cannot GET data, containing array structures using postgresql.

My partial schema is

...
create type oauth2_grant_type as enum(
'authorization_code',
'password',
'client_credentials',
'implicit',
'refresh_token'
);
...
create table clientapplication(
id serial not null primary key,
alt_id varchar(22) not null unique,
"name" varchar(15) not null,
grant_type oaut

[2016-12-26 13:48] bloadvenro commented on #1203
Decided my problem with postgresql VIEWs and TRIGGERs.

View transforms postgresql column with array type to json array when I do SELECT query. This view is also assumed as loopback model table. When I do INSERT or UPDATE operations, I apply them to directly to my view. Two special view triggers (insert and update accordingly) transform json array into postgresql array, and apply changes to the re

[2016-12-26 22:52] raulmt opened #1205 "Embedded object prevents further container validations to pass"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

1. Clone https://github.com/strongloop/loopback-example-relations
2. Add a file named `zz-customer-address.js` to `server/boot` directory so it's the last boot script to be executed, with the following content:
[code]
3. Run the app with `node .`

### Link to sample repo to repro

[2016-12-27 06:17] dehypnosis commented on #759
I thinks certainly a bug too

[2016-12-30 15:04] dpundir commented on #794
What is the plan for this suggestion?

[2016-12-30 15:13] dpundir commented on #903
Regarding the second part '"-with nested properties in your data: name.subname1, name.subname2" looks more like a feature'.
Are we looking to provide this feature?

[2017-01-01 14:35] steventranjs commented on #714
@dopeddude @amiashraf I had the same issue too, How you guys fix this? Thanks.

[2017-01-03 10:37] ernie58 commented on #1202
Anyone?

[2017-01-03 21:19] jannyHou commented on #903
@dpundir There is a community pr related to this feature: https://github.com/strongloop/loopback-connector-mongodb/pull/301
And there is a story in loopback to track the feature: https://github.com/strongloop/loopback/issues/517

[2017-01-04 20:38] 0candy commented on #1203
Has your issue been resolved? Can this issue be closed?

[2017-01-04 21:49] 0candy commented on #1192
Thank you for pointing out the issue. It looks like in the code, it is looking for type `Date` case sensitive.
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model.js#L285
As a workaround, if you change your code to
[code]
or
[code]
then it should work.
I am labelling this as a bug as that should be fixed.
Would you be interested in submitting a patch?

[2017-01-05 03:54] superkhau opened #1212 "Use KVAO connector supported deleteAll or fall back to non-atomic deleteAll"
KVAO should use connector-defined `deleteAll` implementation or fall back to non-atomic `deleteAll` (ie. loop and call connector-defined `delete`).

# Prerequisites

- [ ] [Renaming `flush` to deleteAll` in Juggler](https://github.com/strongloop/loopback-datasource-juggler/pull/1211)

# Prerequisite of

- [Configurable mapname in KV Extreme Scale connector](https://github.com/strongloop/loopback-c

[2017-01-05 16:23] javadib commented on #1192
thanks for consider.
Yes, of course.

[2017-01-06 02:24] taoyuan commented on #969
@jameslk
I have done and it works like this:

[code]

[2017-01-06 02:43] superkhau commented on #1212
Closing in favour of #1214

[2017-01-06 02:43] #1212 closed

[2017-01-09 14:25] dylandechant commented on #336
yes thanks @FELS-Rohit this blocked me for a couple of days 👍

[2017-01-09 15:25] bajtos opened #1217 "Batch create() via relation should not support Promise mode"
See the discussion in https://github.com/strongloop/loopback/issues/2164 for the rationale why it's difficult to correctly report the result of a batch create operation via a promise.

[2017-01-09 16:06] gunjpan commented on #1127
@ludicruz : `getAsync()` was added in this commit: https://github.com/strongloop/loopback-datasource-juggler/commit/29eb3434c764903562e68f135826560649361700

A new method "getAsync()" has been added to all relations except
EmbedsMany, which always fetches from the datasource rather than from
the cache.  It takes an optional "where" condition (except for HasOne
and BelongsTo) and an optional callba

[2017-01-09 19:04] jdhrivas commented on #754
@mrfelton  @Amir-61
 I'm having this problem using: "loopback-datasource-juggler": "^2.53.1".
I'm performing an updateAll operation passing the original model with some updated properties, but my first query needs to include a related model for some computations like this:

`  Charge.findById(data.id)
      .then(function (charge) {
        return Promise.all([
          Charge.updateAll({id: char

[2017-01-10 20:55] pthieu commented on #920
sending to apex since they own the FA /cc @0candy @kjdelisle

[2017-01-13 14:58] jamesjjk opened #1223 "FindOrCreate does not return errors on connector error"
### Bug or feature request
- [x] Bug

### Description of feature (or steps to reproduce if bug)
There is a bug in dao.js that does not produce an error when it should on a connector issue. This yields issues for mongodb in particular.

Reference as to fix:
https://github.com/strongloop/loopback-connector-mongodb/issues/296

Errors are overwritten by Model.notifyObserversOf should insert conditiona

[2017-01-16 10:37] jamesjjk commented on #1223
Added PR https://github.com/strongloop/loopback-datasource-juggler/pull/1226

[2017-01-17 19:15] BoLaMN commented on #903
i had to remove this functionality in my fork as it basically breaks all of mongos projection querys

eg.

[code]

or

[code]

might need some allowExtendedOperators code added to it

[2017-01-18 12:02] mitsos1os opened #1230 "coerceArray in dao.js also converts simple objects"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
When declaring a property in model definition JSON as simple object with the following declaration
[code]
and create a model instance with this property empty or an empty object, it gets converted through [coerceArray](https://github.com/strongloop/loopback-datasource-juggler/blob

[2017-01-19 20:34] aquid opened #1233 "Persisted Model save method expected behaviour"
Right now loopback says that it doesn't support partial update, but while going through the MongoDB connector docs I see that models save method supports partial updates or at least the tests do. By partial updates, I mean that I just pass particular fields of the model instance in save method and it overrides or creates those fields in existing JSON data and doesn't hamper other fields of the doc

[2017-01-20 12:56] barocsi commented on #841
PREVAILS.

[2017-01-20 13:00] barocsi commented on #841
[code]
yields a query in mongodb
[code]

BUT when I want to NARROW down further the users as follows:
Post.findById(id, {
							include: [
								{
									relation: 'campaign', // include the campaign this post belongs to, with posts this
									// user added to that campaign
									scope: {
										include: [
											{
												relation: 'moderator',
												scope: {

[2017-01-20 15:19] loay opened #1235 "forceId set to true by default breaks replace method"
When I try to replace an existing model instance via the replaceOrCreate-method (both internal as remote), I receive an error like:  `ValidationError: The 'Model' instance is not valid. Details: 'id' can't be set (value: 9)`. In the model settings, forceId = true, when I disable it I can use the replaceOrCreate-method without an error. So it seems that the forceId-check is triggered because I subm

[2017-01-23 10:00] fabien opened #1237 "Relation through: as string not coerced to Model object"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

For some reason, updating from 2.53.0 to 2.53.1 caused the following declaration to fail:

[code]

This used to work before, although I cannot seem to find any trace of changes in this regard. Internally, the string `'RestaurantReview'` should be looked-up, just like `model` is d

[2017-01-23 16:06] bajtos commented on #1233
Hi @aquid, thank you for posting this query. I am afraid this is one of the gray undocumented areas where we have to follow the code to find out the answer.

AFAICT:
 - SQL-based connectors perform a partial update on `save()`, see [loopback-connector:lib/sql.js](https://github.com/strongloop/loopback-connector/blob/e384aa53ee639c35e01f9f9f9faf03ca2427271e/lib/sql.js#L473)
 - MongoDB connector cal

[2017-01-24 17:13] FelipeAguayo commented on #793
Any progress on this?

[2017-01-24 19:18] simenko commented on #759
I'v got the same bug. updateAttributes() method attempts to validate fields of existing instance instead of only validating changed fields from request body. If one of existing fields must be unique, updating any other fields becomes impossible: validator compares existing field to itself and interpret this as uniqueness constraint violation.

[2017-01-24 19:44] simenko commented on #759
[ deleted ]

[2017-01-25 09:20] ernie58 commented on #1202
ping ^^^^

[2017-01-25 16:23] crandmck opened #1238 "Document connector version / LB version compatibility"
Document which connector version to use with each LoopBack version; cf https://github.com/strongloop/loopback-connector-mongodb/issues/296.

We could do this either with a note for each connector or with a table that lists all connectors (TBD).

[2017-01-26 21:07] jannyHou commented on #1233
@bajtos Sorry I could not think of a partial/full update discussion regarding `save` :(
There is a similar discussion of `updateAll` about "will it do a partial/full udpate of an array property": http://stackoverflow.com/questions/40111147/updateall-loopback-datasource-does-not-delete-deletions-inside-updated-data/40117755#40117755
But not seems like the same topic raised in this issue.

[2017-01-27 05:10] #1235 closed

[2017-01-27 05:12] #1171 closed

[2017-01-30 09:23] ron137 commented on #103
It is happen to me too, when I'm trying to enter wrong GeoPoint.
For example: { "lng": 180, "lat": 34}

[2017-01-31 16:35] jannyHou commented on #969
Thank you @taoyuan , @jameslk is the solution working for you?

[2017-02-01 10:43] bajtos commented on #1166
Probably related: when applying browserify + babel in loopback's Karma tests, the tests fail in recent Chrome with the following error:

[code]

Link to the source code line causing the problem: https://github.com/strongloop/loopback-datasource-juggler/blob/b781dae3398b94858833fb4afa2d419ae2ea9a94/lib/datasource.js#L2100-L2101

[2017-02-01 12:17] Amir-61 commented on #1233
@bajtos Please see: https://github.com/strongloop/loopback-datasource-juggler/issues/916 and https://github.com/strongloop/loopback/issues/2393

[2017-02-01 16:35] loay opened #1244 "Ensure replaceById returns 404 when id not found"
### Description

Add a test case to ensure that replaceById will return error 404 when id does not exist in db.
#### Related issues

- reference:
https://github.com/strongloop/loopback-connector/pull/73#issuecomment-275041949

[2017-02-01 18:11] #1244 closed

[2017-02-04 23:54] tvdstaaij commented on #771
Would like to note that this is a very serious issue, this makes it very easy to corrupt instances through the API. These instances will then fail to validate when they are partially updated with a different set of properties than the one(s) that were corrupted. It's even worse with NoSQL backends: I strongly suspect this issue prevents strict mode from being enforced with updateAll, and adding ra

[2017-02-05 19:03] Overdrivr commented on #1121
I am interested in implementing this, let me know if that's ok.

[2017-02-06 16:10] kjdelisle commented on #833
@davidcheung What exactly needs updating here? Are we updating the doc descriptions, or just the method signatures to ensure that they say `@returns Promise`?

[2017-02-06 16:12] kjdelisle commented on #1174
@raymondfeng Should this behave in this way, or should it not allow the posting of arrays?

[2017-02-06 16:20] kjdelisle commented on #1238
Todo: Go through CI and make a matrix that lists each connector and which versions are being tested.

[2017-02-06 18:33] joostdebruijn opened #1247 "Server crashes when entering invalid date"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

1. Add a model with a property of the type date;
2. Make a custom function (e.g. with Async) which updates the date property;
3. Call this function with an invalid date as a string.
4. The server crashes.

Remark: It does not happen when you update the model via a non-wrapped fun

[2017-02-07 08:22] superkhau commented on #1121
@Overdrivr PRs are always welcome. ;)

[2017-02-09 10:36] Overdrivr commented on #1121
Cool ! Made a PR ;) Let me know if changes need to be made.

[2017-02-09 10:40] Overdrivr commented on #1120
@C3realGuy It's because you forgot the parentheses, the syntax is `false.should.be.true()`.

[2017-02-12 23:27] DaGaMs opened #1250 "Mixed and/or queries only work when set explicitly"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I'm using version 3.2.0 of the juggler with loopback 3.1.1.

I have a mixin that restricts results to the currently logged in user:

[code]

I send the following query:

[code]

which gets correctly transformed into

[code]

But loopback returns **all entities that match the `or`*

[2017-02-13 14:59] davidcheung commented on #833
@kjdelisle hmm i actually dont remember, i dont think i started it tho, perhaps @jannyHou might remember. I would assume it is to add jsdoc to the methods similar to https://github.com/strongloop/loopback/pull/2040

[2017-02-13 21:35] smartmouse commented on #1238
where in CI can we get the information? Does not seem to be obvious. Each connector is different and has different info.

https://cis-jenkins.swg-devops.com/ and
http://ci.strongloop.com/

<img width="1072" alt="screen shot 2017-02-13 at 4 19 37 pm" src="https://cloud.githubusercontent.com/assets/4519627/22904206/878b401e-f209-11e6-87c2-cab82ba1392c.png">

<img width="1204" alt="screen shot 2017-0

[2017-02-13 22:07] smartmouse commented on #1238
@crandmck  where should this information be created? Please send me the URL and the format you have in mind . Thank you.

[2017-02-14 18:46] jannyHou commented on #833
Follow the discussion in issue https://github.com/strongloop/strong-docs/issues/63 I believe we already support promise in jsdoc, but not sure why it doesn't show up in website.

I remember I tested the implementation before and it works. I need to investigate how to display promise annotation properly.

[2017-02-15 03:21] smartmouse commented on #1238
After second thought, I think documenting this is time consuming and versions keep updated, I wonder if we can generate the contents from the package.json of the connectors dynamically to reduce our work. Can't keep up with the version changes.

[2017-02-15 14:26] mitsos1os opened #1252 "Saving a model retrieved from find operation that uses include filter for hasMany relation, also saves the related model as property in the database"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
When you have two models **modelA** with `hasMany` relationship to **modelB** and query for **modelA** documents with `include` filter for **modelB** it will return model instances that will have a property with the relation name inside their data and the included document. The pr

[2017-02-15 16:58] ssh24 commented on #920
Closing this. Please follow here: https://github.com/strongloop-internal/scrum-apex/issues/40

[2017-02-15 16:58] #920 closed

[2017-02-15 19:32] ssh24 commented on #1185
Closing this. Please follow here: https://github.com/strongloop-internal/scrum-apex/issues/82

[2017-02-15 19:44] crandmck commented on #1238
Sorry, I missed this earlier...  I think generating it programmatically is a great idea.

I suggest creating a new .md file in this repo, something like `Compatibility.md`.
The documentation can then use the script that we have to "pull down" this file and include it into the docs.

I'm not entirely sure what the best format would be, perhaps something like this:

| Juggler version  | loopback-con

[2017-02-16 12:10] azatoth opened #1253 "DataAccessObject.upsert doesn't pass options to Model.findOne"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

On [lib/dao.js#L638](https://github.com/strongloop/loopback-datasource-juggler/blob/0cf863a483090b8927c76290da218817718b278c/lib/dao.js#L638), `upsert` creates a new `opts` object with a 'notify: false' and optionally with the transaction object.

### Expected result

`Model.find

[2017-02-16 12:48] bajtos commented on #1253
@azatoth As I said on Gitter, this is a bug and I am pretty sure there will be more places like this one where are not passing the options through.

I am proposing to use the following approach in places where we need to modify the `options` object before it's passed down:

[code]

[2017-02-16 14:26] mitsos1os opened #1256 "Using non existent properties in fields filter, removes last property of actual documents"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
When a model has properties **A** and **B** but you make a find request using:

[code]
it will remove the last property of the model (`B`) from the result document

### Link to sample repo to reproduce issue (if bug)

### Expected result
It should ignore the non existent property

[2017-02-16 16:00] McAronDev opened #1258 "Transaction is not used while performing modelInstance.destroy()"
### Bug or feature request

- [ x] Bug
- [ ] Feature request

When performing `modelInstance.destroy({transaction: tx})` transaction is not used. [Here](https://github.com/strongloop/loopback-datasource-juggler/blob/d8092607999b66c369c08e99b8974bf311e14958/lib/dao.js#L2769), where actually deleting performed, specified options object is not used.

[2017-02-17 19:11] raymondfeng commented on #166
@jannyHou What are the breaking changes? How much effort is needed to backport to 2.x?

[2017-02-22 13:34] alexmac131 opened #1260 "timeout on connection startup fails - does not get caught and crashes"
### Bug or feature request

- [x ] Bug

### Description of feature (or steps to reproduce if bug)
Using the coffee shop learning demo, create an extra mysql  connector to a non-existing database or first up the example as is without a network connect.  The app will time out and crash attempting to get to the database in question.  The specific issue: it does not bubble up to be caught and handled

[2017-02-24 06:20] masterclock opened #1261 "Property name "constructor" is not allowed in 'Model' data"
### Bug or feature request

- [ ] Bug
- [x ] Feature request

### Description of feature (or steps to reproduce if bug)
I'm using loopback with Apollostack's graphql server.
`ModelBaseClass.prototype._initProperties` function requires input `data` be `undefined` or `data.constructor` be a function.
I hope and it's reasonable that it accepts with `data.constructor` being 'undefined', as graphql's r

[2017-02-27 13:37] langxiong commented on #1261
I got `data = null`,
then `data.constructor` would cause the program exit with
[code]

## Additional information (Node.js version, LoopBack version, etc)

loopback-datasource-juggler: 3.2.0

[2017-03-01 10:49] ebarault commented on #779
For the track record, same error reported here: https://github.com/strongloop/loopback/issues/3233

[2017-03-01 15:39] vkruoso commented on #759
I think this is a separate but related issue considering #771. Here we are concerned that we always need to send a valid object to the API even if we want to update a single field. Over there, the validation not being triggered is the problem.

There is any updates related to this? I'm trying to update an user record, but it is asking me to send its password because it is a required field when cre

[2017-03-01 15:41] vkruoso commented on #771
This is really a consistency problem that will actually allow a malicious user to overcome the developer assertions about its data. Is there any update on this?

[2017-03-01 15:51] Amir-61 commented on #771
@kjdelisle PTAL ☝️

[2017-03-03 16:56] CaptainMM commented on #793
Felipe. I find the validatesUniquenessOf works as expected as long as you define unique at the property level.

[code]

[2017-03-06 05:13] skyserpent commented on #111
why is this still open and not resolved?

[2017-03-06 18:03] superkhau commented on #111
Would one of you guys like to submit a PR to fix or provide a sample project for us to clone/reproduce on our end?

[2017-03-10 03:13] codejie commented on #58
please check Role-Mapping model, I can not insert the principalId with ObjectId. And if it was not ObjectId, ACLs will not find this mapping between user and role.

{
    "_id" : ObjectId("58c2185a6024ee2f1705d1ec"),
    "principalType" : "USER",
    "principalId" : "58c1380699220526baa9477b",
    "roleId" : ObjectId("58c21117df1db02b1425882c")
}

[2017-03-15 09:40] mitsos1os commented on #1230
Any news on this bug?

[2017-03-15 18:04] kjdelisle commented on #1260
This is not a bug; if you add a datasource that does not exist, then it will crash your application.

Datasources are evaluated as a part of the boot process and are not handled in application logic outside of the typical `server/server.js` (or wherever you have your boot scripts if you've customized them).

[2017-03-15 18:04] #1260 closed

[2017-03-15 18:28] dhmlau commented on #1258
@McAronDev , you might want to use `destroyall` which takes in the option as the first parameter.
http://apidocs.strongloop.com/loopback/#persistedmodel-destroyall

If I understand correctly, you're using the `destroy` method which does not support a filter
http://apidocs.strongloop.com/loopback/#persistedmodel-prototype-destroy

I'm closing this issue.  If you find `destoryall` doesn't fit your n

[2017-03-15 18:28] #1258 closed

[2017-03-15 18:34] jannyHou commented on #1261
@masterclock @langxiong "constructor" is a reserved word in loopback,  please check doc to see more details: http://loopback.io/doc/en/lb3/Valid-names-in-LoopBack.html#general-rules details

And define a property called "constructor" would cause error in loopback code, that's why we decide to throw error when model has it as property. There is a discussion in issue https://github.com/strongloop/lo

[2017-03-15 18:41] jannyHou commented on #1261
UPDATE:
@masterclock If you still want to make it work in loopback, can you elaborate more about the step to reproduce your error? Maybe fork https://github.com/strongloop/loopback-sandbox and replace with the code how you use https://github.com/apollographql/graphql-server in loopback, we will investigate if it's a feasible feature. Thanks!

[2017-03-15 18:51] 0candy commented on #883
@peek4y I am unable to reproduce the issue. Could you please provide a sample app? Thanks.

[2017-03-15 18:52] 0candy commented on #684
Closing this issue due to inactivity.

[2017-03-15 18:52] #684 closed

[2017-03-15 18:54] 0candy commented on #629
Closing this issue due to inactivity.

[2017-03-15 18:54] #629 closed

[2017-03-15 18:55] 0candy commented on #651
Closing this issue due to inactivity.

[2017-03-15 18:55] #651 closed

[2017-03-15 18:58] 0candy commented on #858
Closing this issue due to inactivity.

[2017-03-15 18:58] #858 closed

[2017-03-15 18:59] 0candy commented on #892
Closing this issue due to inactivity.

[2017-03-15 18:59] #892 closed

[2017-03-15 18:59] 0candy commented on #906
Closing this issue due to inactivity.

[2017-03-15 18:59] #906 closed

[2017-03-15 19:00] 0candy commented on #930
Closing this issue due to inactivity.

[2017-03-15 19:00] #930 closed

[2017-03-15 19:07] 0candy commented on #811
Thank you for pointing out the issue. `hasOne` currently does not take a filter parameter.
I am closing this issue as its being tracked here:
https://github.com/strongloop/loopback/issues/2304

[2017-03-15 19:07] #811 closed

[2017-03-15 19:11] kjdelisle commented on #1247
Confirmed. Taking this for our backlog, thanks for the report, and for the detailed reproduction.

[2017-03-15 20:06] dhmlau commented on #1237
@fabien , I'm trying to reproduce your problem.  Wanna make sure I'm doing the same thing as yours.  Are you calling the snippet above in Restaurant.js ?

[2017-03-15 20:31] jannyHou commented on #1205
@raulmt In LB3.x we change `forceId: true` by default due to security issue. Please check doc https://loopback.io/doc/en/lb3/Migrating-to-3.0.html#use-forceid-to-explicitly-set-model-ids for details.

And in your case, if you want to save a customer with an embedded address instance which has id value, you need to add `forceId: false` in `common/models/address.json`.
So the fix depends on your req

[2017-03-15 20:43] dhmlau commented on #1066
It's been updated to minimatch 3.0.2.  Closing this issue.

[2017-03-15 20:43] #1066 closed

[2017-03-15 20:47] 0candy commented on #103
Hi All, I would like to clarify this issue. Is everyone saying that the app is crashing or that its not giving a user friendly error message?
I am unable to reproduce this error. My app does not crash and I get a user error message.
[code]
Could someone share a sample repo that reproduces this issue? Also, which version of juggler are you using?

[2017-03-15 21:00] loay commented on #899
- [x] MySQL https://github.com/strongloop/loopback-connector-mysql/pull/198
- [ ] MsSQL https://github.com/strongloop/loopback-connector-mssql/pull/100
- [ ] loopback-datasource-juggler https://github.com/strongloop/loopback-datasource-juggler/pull/1116

[2017-03-15 21:04] loay commented on #927
Closing issue. Please feel free to leave a comment if you are still experiencing the same problem.

[2017-03-15 21:04] #927 closed

[2017-03-15 21:17] loay commented on #1202
Hi @ernie58
Can you please provide a sample repo so I can reproduce and debug the issue? Thanks
http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report

[2017-03-15 21:22] loay commented on #615
Closing for inactivity. If you are still experiencing the same issue, please feel free to leave a comment and I will re-open the issue

CC @jannyHou

[2017-03-15 21:22] #615 closed

[2017-03-15 21:25] loay commented on #676
Hi all, is this still ongoing? If so, can someone, who has the issue still occurring, fork a sandbox sample repo so we can reproduce and debug? Thanks.

cc @jannyHou

[2017-03-15 21:29] loay commented on #627
Closing issue for now. If you are still experiencing the same problem, please feel free to leave a comment and I will re-open. Also, please review Bajtos's [comment] (https://github.com/strongloop/loopback-datasource-juggler/issues/627#issuecomment-113563762  )above and/or provide a sample repo with steps to reproduce. Thanks.

[2017-03-15 21:29] #627 closed

[2017-03-15 21:34] #1182 closed

[2017-03-15 21:49] crandmck commented on #269
I believe the model events are documented fully and this can be closed.

If you have a moment, please confirm:
- https://loopback.io/doc/en/lb3/Events.html#model-events
- http://loopback.io/doc/en/lb3/Basic-model-object.html

[2017-03-16 09:12] ariskemper opened #1268 "discoverSchema makes table lower camel case columns to be completely lowercase"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
1. Mysql table with camel case columns
2. Use discoverSchema to make json model

if table column name is for example zipCode, it will be named zipcode

### Link to sample repo to reproduce issue (if bug)

### Expected result

Properties part of json model schema

    "emailVerifie

[2017-03-16 10:24] fabien commented on #1237
@dhmlau thanks for getting in touch. Yes, this is in `common/models/restaurant.js`.

[2017-03-16 11:37] masterclock commented on #1261
I'm not using `constructor` as a property name, but creating model instance with some data whose `constructor` is `null` or `undefined`.

say:
[code]

you may see repo as a test:
`https://github.com/masterclock/test-loopback-no-constructor/tree/master`

[2017-03-16 13:26] dhmlau commented on #1237
@fabien, I actually got an error saying something like `Restaurant.hasMany is not a function`.  Switching from 2.35.1 to 2.35.0 doesn't help either.
Better yet, could you please provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2017-03-16 16:55] FreakTheMighty commented on #894
@loay I did find a work around, but I'm not working on the project anymore - and I don't recall the specific solution.

[2017-03-16 19:02] loay commented on #894
Thanks. If you require further assistance concerning the same issue, please let me know.

[2017-03-16 19:02] #894 closed

[2017-03-16 19:47] raulmt commented on #1205
@jannyHou setting `forceId: false` inside `common/models/address.json` is the same "solution" I found, described in the original message. But the thing is the example (and myself in my project) was already specifying `forceId: false` in the relationship options: https://github.com/strongloop/loopback-example-relations/blob/master/common/models/customer.json#L21

That `forceId` inside `options` is

[2017-03-17 01:37] rmg commented on #1223
@jamesjjk I couldn't find your name in the CLA db, but given how busy you seem to be and how trivial the fix is I just went ahead and "fixed this myself" in e9baea77e028b63fce2d0ce3ee405a5eebf8132e.

[2017-03-17 01:37] #1223 closed

[2017-03-17 08:39] jamesjjk commented on #1223
@rmg Defo signed the CLA, but thanks!  I'm happy to PR other fixes. I have a critical fix for the MongoDB atomic upsert issue - mongodb is currently not atomic and may require a client to retry an upsert event multiple times (for another ticket) https://jira.mongodb.org/browse/SERVER-14322 let me know.

[2017-03-17 08:59] Tallyb commented on #1261
I am having the same problem in my loopback-graphql package.
You can run the mutation tests here: https://github.com/Tallyb/loopback-graphql
The problem occurs on resolvers, line 36.

[2017-03-17 11:37] Tallyb commented on #1261
@masterclock  Here is a workaround I used (not a very pleasant one, but it works):
JSON.parse(JSON.stringify(obj)));

[2017-03-17 21:00] jannyHou commented on #1205
@raulmt True it sounds like a bug of the option. We will take a look asap.

[2017-03-18 03:35] dhmlau commented on #1223
@jamesjjk , thanks for letting us know.  Please open a separate ticket for the requirements above.  In this case, you'd know about the progress.  Thanks.

[2017-03-18 10:54] ssh24 commented on #1154
Closing this in favour of the community landed PR https://github.com/strongloop/loopback-datasource-juggler/pull/1249

[2017-03-18 10:54] #1154 closed

[2017-03-18 11:49] bugdanov commented on #931
Hi !

Same issue here, and cannot use near with an implicit "and" neither, eg
[code]

I cannot get it working with @etsuo patches, and trying to use mongodb connector enableGeoIndexing options looks problematic too after reading a few issues and trying the solutions proposed (rebuilding index, using geojson)

Will also check @zakuapps patch for this old related (duplicate?) issue: https://github.c

[2017-03-19 01:25] alexmac131 commented on #1260
The error does not leave the node module to be handled in boot or server.  This is the issue. So if you have more than 1 data source and the service happens to be done and you have adaptive code to not offer that one service it should not kill entire server.

[2017-03-20 12:55] b-admike commented on #1250
Hi @DaGaMs, I tried to reproduce this issue as close to your case as possible but was not able to. Here are the steps I took:

create a LB3.x app with notes template
create 3 properties (label, message, fileName) for notes model with default values "my<propertyname>"
create another property called clientId to be used with relation
create a client model with base class User
create a client hasMany

[2017-03-20 14:05] #1230 closed

[2017-03-20 18:33] jannyHou commented on #1268
Hi @ariskemper the dependency version has `loopback-connector-mysql` while your `model.json` file is using `mssql` as db specific config. I assume it's a typo but please make sure the config name is the identified to your connector.

@raymondfeng when user discovers a lower camel case property in mssql (e.g. `emailVerified`), loopback generates an all lowercase property in model (e.g. `emailverifi

[2017-03-20 18:42] jannyHou commented on #1268
@raymondfeng Also users are interested in providing a custom naming convention in migration/discovery. details see issue: https://github.com/strongloop/loopback-connector-mysql/issues/57

Does loopback has its naming convention documented somewhere? Or any link of the strategy we can follow?
If not I am thinking of document it, therefore confirm the strategy with you first :)
And any thought about

[2017-03-20 18:53] mohebifar commented on #1237
@fabien Try passing the models instead of their names:

[code]

[2017-03-20 19:36] fabien commented on #1237
@mohebifar yes, this has been my workaround since I discovered this issue. Thanks for chiming in!

[2017-03-20 19:50] mohebifar commented on #1237
Oops, I actually didn't read the second paragraph. Sorry.

[2017-03-20 20:50] jannyHou commented on #1261
Thank you @masterclock I appreciate your example repo
And @Tallyb your repo looks cool :)
We will look into the problem soon.

[2017-03-20 21:10] jannyHou commented on #722
^^ @raymondfeng PTAL :) Thanks.

[2017-03-20 21:17] jannyHou commented on #1173
@sebastianhaas Thank you for the repo, I still could not reproduce the problem but seems it's the same issue filed in https://github.com/strongloop/loopback-datasource-juggler/issues/737

I am closing this issue as a dup to keep git clean, let's discuss under the earlier issue. Thanks for understanding.

[2017-03-20 21:17] #1173 closed

[2017-03-20 21:19] jannyHou commented on #737
A sample from @sebastianhaas also run into same problem
https://github.com/strongloop/loopback-datasource-juggler/issues/1173
For some reason I could not reproduce the error from his repo but will dig into it more since so many users have the same problem.

[2017-03-20 21:23] jannyHou commented on #1121
Closing since the fix pr checked in. :+1:

[2017-03-20 21:23] #1121 closed

[2017-03-20 21:27] jannyHou commented on #749
I am closing this issue due to missing details to reproduce it. Please feel free to reopen it if anyone still run into the problem with more details. Thanks.

[2017-03-20 21:27] #749 closed

[2017-03-20 21:44] jannyHou commented on #794
@dpundir Sorry for the late response, I think the feature you suggest is more like `referenceOne`.
loopback now has `referenceMany`: see doc https://loopback.io/doc/en/lb2/Embedded-models-and-relations.html#referencesmany
while hasn't implemented referenceOne yet.

cc @raymondfeng any idea on the suggestion?

[2017-03-20 23:20] dhmlau commented on #1247
Verified with latest code.  For the example given above, it will give error code `500` and not crashing the server.

[2017-03-20 23:27] dhmlau commented on #870
Seems like @0candy has provided the answer.  Closing this issue.  If you have more questions related to this issue, please reopen.  Thanks.

[2017-03-20 23:27] #870 closed

[2017-03-20 23:39] dhmlau commented on #756
Currently, in package.json, `"async": "~2.1.4"`.
Closing this issue.

[2017-03-20 23:39] #756 closed

[2017-03-20 23:49] #1252 closed

[2017-03-21 06:51] mitsos1os commented on #1256
Should this be closed since Pull request [1257](https://github.com/strongloop/loopback-datasource-juggler/pull/1257) was merged???

[2017-03-21 10:34] ssh24 commented on #1256
Closing this as PR #1257 is merged with the fix.

[2017-03-21 10:34] #1256 closed

[2017-03-21 10:35] nikooiko opened #1275 "Issue with incorrect include on HasManyThrough relation."
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
There is a bug when someone sends a request with incorrect `include` filter containing "fields" equal to a String instead of an Object/Array on a model that has a relation HasManyThrough.

eg:
[code]

### Link to sample repo to reproduce issue (if bug)
https://github.com/nikooiko/

[2017-03-21 10:46] mitsos1os commented on #1275
This is indeed a bug, as not only it does not return the proper results by properly filtering the returned db data, but it also crashes the server when the code tries to access the `toString` function of an undefined object at `lib/include.js` [line](https://github.com/strongloop/loopback-datasource-juggler/blob/77c4cd7b01fd43140175b53f60e62390f88b3b32/lib/include.js#L484)

When user input crashes

[2017-03-21 12:29] sebastianhaas commented on #737
@jannyHou is there any way I could help you any further with this? I hope you guys understand that this is a major, critical and horrible issue. It renders embedded models de-facto unusable, and the worst part about it is, that there is not the slightest clue in the docs about these very serious limitations of the framework (ID generation, concurrency problems, no way to push single instances but

[2017-03-22 14:03] #1275 closed

[2017-03-22 17:15] b-admike commented on #1250
@DaGaMs FYI, I will consider this issue resolved and close it within a week unless it doesn't work for you after upgrading your versions. We can still open it after if you are hitting the issue with the latest versions.

[2017-03-22 19:35] ariskemper commented on #1268
@jannyHou its not connector specific, because code in loopback-datasource-juggler does this.

[2017-03-23 19:19] ritch opened #1281 "Should process the fromColumnValue / toColumnValues (not taken into account)"
Converting /coerce types fail in dao.js line [lib/dao.js#L1741](https://github.com/strongloop/loopback-datasource-juggler/blob/68b93e1074cd8a6759f5898a91b537a76b40eae5/lib/dao.js#L1741)

@tatemz
and
@kurtiscc
(from walmart)

@bajtos @raymondfeng @kjdelisle

[2017-03-23 19:46] jannyHou commented on #1281
@ritch Do we have a ticket filed with details? Or any steps to reproduce the error? Thanks.

[2017-03-24 00:11] loay commented on #676
Closing this for inactivity. Please feel free to leave a comment and I will re-open the issue. Please make sure to provide a sample repo for reproducing and debugging.

[2017-03-24 00:11] #676 closed

[2017-03-24 08:45] bajtos commented on #1281
I think this may have been already fixed by https://github.com/strongloop/loopback-datasource-juggler/pull/1266

[2017-03-24 20:20] ebarault opened #1282 "Add a new property to model to store user-desired relations config"
### Bug or feature request

- [x] Feature request

### Related issues
https://github.com/strongloop/loopback/issues/3308
https://github.com/strongloop/loopback/issues/3307

### Description of feature (or steps to reproduce if bug)

In https://github.com/strongloop/loopback/pull/3265 we are implementing a health check function called along with `app.enableAuth()`.
This was started by @bajtos in htt

[2017-03-25 09:20] kethan opened #1283 "How to create array of reference Question"
How do i refer array of reference? Can anybody please help.
[code]

Output :
user [{"name":"some","bio":"developer","id":1,"posts":[]}]

Here i am getting an empty array i don't know why. :(

[2017-03-25 14:39] thaerlabs commented on #1261
looking at the code:
[code]

What if we pass an object like:
[code]

Plain objects will make the condition be **falsey** as there's no `constructor` prop.

My approach is to check before, if the `data` object has a `constructor` property in the first place.

@jannyHou I opened a PR for this, can you please check it.
https://github.com/strongloop/loopback-datasource-juggler/pull/1284

[2017-03-25 17:07] jonathanfoster commented on #1261
I'm upgrading from LoopBack 2x to 3x and I ran into this same problem. The `typeof(data.constructor) !== 'function'` returns true because data.constructor is undefined. I tried @thaerlabs' fix in https://github.com/strongloop/loopback-datasource-juggler/pull/1284 and it solved the issue for me.

[2017-03-25 19:42] frankorama opened #1285 "Can not set query property with new object in operational hook ACCESS"
### Bug or feature request
- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I have a model "Document".  The model has 2 relations:
- team (belongsTo)
- revisions (embedsMany)

I have observed the following behavior when setting the query property in the operational hook Access:

When creating a new query object and setting it to the query property of the c

[2017-03-25 22:45] ssh24 commented on #1283
@kethan Could you please specify the `loopback` version you used to create this app? I did a reproduction of your steps (using v3) and I got back an array of posts:
[code]

[2017-03-26 00:54] kethan commented on #1283
@ssh24
I am using "loopback-datasource-juggler": "^3.2.0".
If you see your output i see only 1 posts and not two.

[2017-03-27 11:24] bajtos commented on #1282
How I see the problem, there are two ways how to define relations:
 - via JSON config (`MyModel.settings.relations`)
 - by calling API like `MyModel.hasMany`

The latter does not update `settings.relations`, which is probably correct. Even if it was not, changing that behaviour would be very likely to break existing code - consider the difference between calling `MyModel.hasMany` from inside `MyMo

[2017-03-27 11:46] ebarault commented on #1282
Inputs are expected to:
- Build a common understanding
- Validate the requirement as a requisite to build an efficient health check system for LoopBack, and rank its priority
- Ensure the requirement is not already covered
- Gather insights on best options to cover the requirement

[2017-03-27 11:55] ebarault commented on #1282
according to my experience, `someModel.relations.someRelation` is only defined if the relation itself can be set up. Passing wrong config to build `someRelation` between `someModel` and `someOtherModel` will result in `someModel.relations.someRelation`being undefined. Otherwise we have there the expression of the relation as desired by the developper

[2017-03-27 13:44] tatemz commented on #1281
@bajtos - I will test the current setup we have against #1266.

[2017-03-27 15:28] raymondfeng commented on #1282
Model relations are set up lazily upon the attachment of datasources that support CRUD operations as most of the relation based methods assume `PersistedModel`. We can probably change how it works as follows:

1. Validate if all involved models for a relation (source/through/target) are persisted models
2. If one of the models is not attached to a data source, the runtime exception will throw the